/* TODO: FIX once revamped left/top panes are merged */
.affiliate-program#fmholder {
    min-width: 600px;
}
.affiliate-program .fm-left-panel {
    display: none;
}
.affiliate-program .nw-fm-left-icons-panel {
    border-right: 2px solid var(--stroke-grey-1);
}
.fm-affiliate .breadcrumbs {
    --mask-color: var(--text-color-medium);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 48px;
    padding: 8px 24px;
    background: var(--surface-main);
}
.fm-affiliate .breadcrumbs .item {
    color: var(--text-color-medium);
    cursor: default;
    display: inline-flex;
    font: var(--text-body1);
}
.fm-affiliate .breadcrumbs .item.active {
    cursor: pointer;
}
.fm-affiliate .breadcrumbs .item.active:hover {
    color: var(--text-color-high);
}
.fm-affiliate .breadcrumbs i {
    display: inline-flex;
    --icon-size: 16px;
    margin: 0 8px;
}
.rtl .fm-affiliate .breadcrumbs {
    direction: rtl;
}
.rtl .fm-affiliate .breadcrumbs i {
    transform: rotate(180deg);
}
.fm-affiliate.body {
    background-color: var(--stroke-grey-1);
    display: none;
    height: calc(100% - 48px);
    overflow: hidden;
}
.affiliate-program .fm-affiliate.body {
    display: block;
}
.fm-affiliate.scroll-block {
    height: calc(100% - 48px);
    position: relative;
    overflow: hidden;
    width: 100%;
}
.rtl .fm-affiliate.scroll-block {
    direction: rtl;
}
.fm-affiliate.content {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: auto;
    max-width: 1008px;
    padding: 15px 24px 50px;
}
.fm-affiliate.guide-block {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 18px 0;
}

/* Common styles */
.fm-affiliate .mega-data-box {
    margin: 0 0 28px 0;
}
.fm-affiliate .columns-wrapper {
    display: flex;
    overflow: hidden;
}
.fm-affiliate .boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fm-affiliate .boxes-wrapper .mega-data-box {
    min-height: 450px;
    width: calc(50% - 14px);
}

/* Refer users */
.fm-affiliate .refer-users-block {
    margin: 0 0 36px 0;
}
.fm-affiliate .refer-block {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 12px 12px 12px;
    position: relative;
    text-align: center;
    transition: var(--transition-shadow);
}
.fm-affiliate .refer-block:hover {
    box-shadow: 1px 1px 10px 1px var(--button-hover);
}
.fm-affiliate .refer-block i {
    margin: 16px auto 8px auto;
    --icon-size: 80px;
}
.fm-affiliate .refer-block .info {
    color: var(--text-color-medium);
    flex: 1 1 auto;
    font: var(--text-body1);
}
.fm-affiliate .refer-block .info strong {
    color: var(--text-color-high);
    display: block;
    font: var(--text-h3);
    font-weight: normal;
    padding: 0 0 4px 0;
}
.fm-affiliate .refer-block a {
    color: var(--secondary-green);
    display: block;
    font: var(--text-body1);
    padding: 8px 0 10px 0;
}

/* Comission block */
.fm-affiliate .commission-block {
    color: var(--text-color-high);
    display: flex;
    flex: 1;
    flex-direction: column;
    font: var(--text-body1);
    padding: 16px;
    text-align: center;
}
.fm-affiliate .commission-block .title {
    flex: 1;
}
.fm-affiliate .commission-block .price {
    flex: 1;
    font: var(--text-data);
    margin: 8px 0 -5px 0;
}
.fm-affiliate .commission-block .euro-price {
    color: var(--text-color-medium);
    font: var(--text-body1);
}
.fm-affiliate .commission-block .currency {
    font: var(--text-h3);
    line-height: inherit;
}
.fm-affiliate .commission-block.active {
    background: var(--button-fill-positive);
    color: var(--text-color-white-high);
}
.fm-affiliate .commission-block.active .euro-price {
    color: var(--text-color-white-medium);
}
.fm-affiliate .commission-block sup {
    font: var(--text-caption);
    padding: 0 0 0 4px;
    position: relative;
    vertical-align: top;
}
.fm-affiliate .commission-block .price sup {
    line-height: inherit;
}
.fm-affiliate .commission-body {
    border-top: 1px solid var(--stroke-grey-2);
    color: var(--text-color-medium);
    font: var(--text-body2);
    position: relative;
    padding: 16px 24px;
}
.fm-affiliate .commission-body .note {
    font: var(--text-caption);
    line-height: inherit;
}
.fm-affiliate .commission-body a {
    color: var(--text-color-high);
    text-decoration: underline;
}
.fm-affiliate .commission-body a:hover {
    text-decoration: none;
}

/*  Redemption history dropdown */
.fm-affiliate .mega-input-dropdown .option.label::after {
    background-color: var(--label-green);
    border-radius: 100%;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
}
.fm-affiliate .mega-input-dropdown .option.label.orange::after {
    background-color: var(--label-orange);
}
.fm-affiliate .mega-input-dropdown .option.label.red::after {
    background-color: var(--label-red);
}

/*  Redemption history */
.fm-affiliate.no-redemption {
    color: var(--text-color-medium);
    font: var(--text-body2);
    padding: 12px 0;
    text-align: center;
}
.fm-affiliate.redeem-scroll {
    max-height: 409px;
    overflow: hidden;
    position: relative;
}
.fm-affiliate.redeem-scroll.expanded-item {
    max-height: 590px;
}
.fm-affiliate.redeem-summary {
    transition: var(--transition-bg-color);
}
.fm-affiliate.redeem-details {
    display: none;
}
.fm-affiliate.redeem-details,
.fm-affiliate.redeem-details:hover td::before {
    background: var(--surface-grey-1);
    border-color: var(--stroke-grey-1);
}
.fm-affiliate.redeem-details td:last-child::after,
.rtl .fm-affiliate.redeem-details td:last-child::after {
    left: 22px;
    right: auto;
    width: calc(100% - 44px);
}
.fm-affiliate.redeem-details td {
    font-size: 0;
}
.fm-affiliate.redeem-table .expanded + .fm-affiliate.redeem-details {
    display: table-row;
}
.fm-affiliate.redeem-table .expanded .link.open,
.fm-affiliate.redeem-table .redeem-summary .link.close {
    display: none;
}
.fm-affiliate.redeem-table .expanded.redeem-summary .link.close {
    display: inline-block;
}
.fm-affiliate.details-bottom {
    --mask-color: var(--text-color-high);
    display: flex;
    justify-content: center;
    padding: 1px 0 16px 0;
}
.fm-affiliate.details-bottom i {
    --icon-size: 24px;
}
.fm-affiliate.details-bottom .link.close {
    align-items: center;
    color: var(--text-color-high);
    display: inline-flex;
    font: var(--text-body1);
    text-decoration: none;
}
.fm-affiliate.redeem-cell {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    width: 50%;
}
.fm-affiliate.redeem-data {
    align-items: baseline;
    border-top: 1px solid var(--stroke-grey-2);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.fm-affiliate.redeem-data:first-child {
    border: 0;
}
.fm-affiliate.redeem-data > span {
    box-sizing: border-box;
    color: var(--text-color-high);
    display: inline-block;
    font: var(--text-body2);
    overflow-wrap: break-word;
    padding: 6px 0;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    vertical-align: top;
    width: 55%;
}
.fm-affiliate.redeem-data span.strong {
    font: var(--text-body1-bold);
    width: 45%;
}
.fm-affiliate.redeem-data span.grey {
    color: var(--text-color-medium);
    width: 45%;
    font: var(--text-body1);
}
.fm-affiliate.redeem-data span.full-size {
    width: 100%;
}
.fm-affiliate.redeem-data span.grey a {
    color: var(--text-color-medium);
    text-decoration: underline;
}
.fm-affiliate.redeem-data span .status {
    color: var(--text-color-success);
    display: inline;
    font: var(--text-body1);
    padding: 0 10px;
}
.fm-affiliate.redeem-data span .status.red {
    color: var(--text-color-error);
}
.fm-affiliate.redeem-data span .status.orange {
    color: var(--text-color-warning);
}
.fm-affiliate.redeem-data span .euro {
    color: var(--text-color-low);
    margin-right: 8px;
    padding: 0 5px;
}
.fm-affiliate.redeem-data span .local {
    padding: 0 5px;
    white-space: nowrap;
}
.fm-affiliate.redeem-data span.bitcoin-address {
    display: block;
    width: 100%;
}

/* Registrations chart */
.fm-affiliate.charts-head {
    align-items: center;
    background-color: var(--stroke-grey-1);
    display: flex;
    margin: -1px 0 0 0;
    padding: 14px 22px;
    position: relative;
}
.fm-affiliate.charts-head .name {
    color: var(--text-color-medium);
    font: var(--text-body1);
}
.fm-affiliate.charts-head .number {
    color: var(--text-color-high);
    font: var(--text-h1);
    padding: 0 16px;
}
.fm-affiliate.charts-head .compare {
    --mask-color: var(--text-color-light-green);
    align-items: center;
    color: var(--text-color-low);
    display: inline-flex;
    font: var(--text-body2);
}
.fm-affiliate.charts-head .compare span {
    color: var(--text-color-light-green);
    padding: 0 4px;
}
.fm-affiliate.charts-head .compare i {
    --icon-size: 16px;
    margin: 0 -4px;
}
.fm-affiliate.chart-body {
    padding: 16px 24px 24px;
    position: relative;
    text-align: center;
}
.fm-affiliate.chart-period {
    border-bottom: 2px solid transparent;
    color: var(--text-color-medium);
    cursor: pointer;
    display: inline-flex;
    font: var(--text-body2);
    margin: 0 10px;
    padding: 0 0 2px;
    transition: var(--transition-border), var(--transition-color);
}
.fm-affiliate.chart-period:hover {
    border-color: var(--secondary-blue);
    color: var(--text-color-high);
}
.fm-affiliate.chart-period.active {
    border-color: var(--secondary-blue);
    color: var(--text-color-high);
    font: var(--text-body1-bold);
}
.fm-affiliate.chart-dates {
    --mask-color: var(--text-color-medium);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
.fm-affiliate.chart-dates i {
    cursor: pointer;
    --icon-size: 16px;
}
.rtl .fm-affiliate.chart-dates .icon-arrow-left,
.rtl .fm-affiliate.chart-dates .icon-arrow-right {
    transform: rotateY(180deg);
}
.fm-affiliate.chart-dates .dates {
    color: var(--text-color-medium);
    display: inline-flex;
    font: var(--text-body2);
    padding: 0 10px;
}

/* Purchases chart */
.fm-affiliate.purchase-chart {
    height: 100px;
    margin: 10px auto;
    width: 100px;
}
.fm-affiliate.register-chart {
    margin: 58px auto 0 auto;
    min-height: 186px;
}
.fm-affiliate.list {
    padding: 0;
    text-align: start;
}
.fm-affiliate.list-item {
    align-items: center;
    box-shadow: 0 -1px 0 0 var(--stroke-grey-2);
    display: flex;
    font: var(--text-body2);
    padding: 7px 0 8px 0;
}
.fm-affiliate.list-item:first-child {
    box-shadow: none;
}
.fm-affiliate.list-item span {
    display: block;
}
.fm-affiliate.list-item .name {
    color: var(--text-color-medium);
    flex: 1;
    padding: 0 10px;
}
.fm-affiliate.list-item .label {
    border-radius: 9px;
    color: var(--text-color-white-high);
    min-width: 48px;
    text-align: center;
}
.fm-affiliate.list-item .label.yellow {
    background-color: var(--label-yellow);
}
.fm-affiliate.list-item .label.orange {
    background-color: var(--label-orange);
}
.fm-affiliate.list-item .label.red {
    background-color: var(--label-red);
}
.fm-affiliate.list-item .label.purple {
    background-color: var(--label-purple);
}
.fm-affiliate.list-item .label.blue {
    background-color: var(--label-blue);
}
.fm-affiliate.list-item .label.green {
    background-color: var(--label-green);
}
.fm-affiliate.list-item.list-item .num {
    color: var(--text-color-high);
}

/* Distridution list */
.fm-affiliate.distribution-head {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 24px 10px;
}
.fm-affiliate.tab-button {
    border-bottom: 2px solid transparent;
    color: var(--text-color-medium);
    cursor: pointer;
    display: inline-flex;
    font: var(--text-body2);
    margin: 0 10px;
    padding: 0 0 2px;
    transition: var(--transition-border), var(--transition-color);
}
.fm-affiliate.tab-button:hover {
    border-color: var(--secondary-blue);
    color: var(--text-color-high);
}
.fm-affiliate.tab-button.active {
    border-color: var(--secondary-blue);
    color: var(--text-color-high);
    font: var(--text-body1-bold);
}
.distribution .fm-affiliate.list-item .img-wrap {
    line-height: 0;
}
.distribution .fm-affiliate.list-item img {
    border-radius: 2px;
    height: 16px;
    width: 24px;
}

@media only screen and (max-width: 783px) {
    .fm-affiliate .refer-block {
        width: 50%;
    }
    .fm-affiliate .boxes-wrapper .mega-data-box {
        width: 100%;
    }
    .fm-affiliate.redeem-cell {
        width: 100%;
    }
}
