.chat-content-block.archived-chats {
	height: 100%;
	position: relative;
}

.archived-chat-view .grid-table-header th {
	margin-top: 12px;
	color: #999;
}

.arc-chat-messages-block tr.arc-chat-list {
	height: 72px;
} 

.arc-chat-messages-block tr.arc-chat-list .nw-contact-avatar {
	margin-top: 18px;
}

.arc-chat-messages-block .fm-chat-user-info {
	margin: 7px 0 0 14px;
	width: calc(100% - 160px);
}

.arc-chat-messages-block .user-card-name.conversation-name {	
	color: #333333;	
	font-size: 14px;		
}
.arc-chat-messages-block .archived-on {
	margin-top: 26px;
	display: inline-block;
}
.arc-chat-messages-block .archived-date-time {
	color: #666;
	font-size: 13px;
	display: inline-block;
}
.arc-chat-messages-block .conversation-message {
	color: #666;
}
.arc-chat-messages-block .archived-badge {
	height: 16px;	
	padding: 0 5px;	
	border-radius: 4px;	
	background-color: #777777;
	display: inline-block;
	float: right;
	font-size: 11px;
	color: #fff;
	line-height: 16px;
	margin-top: 30px;
	margin-right: 10px;
}
.arc-chat-messages-block .arc-chat-list:hover .default-white-button {
	display: inline-block;
}
.arc-chat-messages-block .default-white-button {
	margin-top: -32px;
	display: none;
	margin-right: 6px;
}