.small-rounded-avatar {
	width: 36px;
	height: 36px;
	display: block;
	font-size: 24px;
	line-height: 31px;
	color: white;
	text-align: center;
	font-family: 'source_sans_prolight';
	border: 2px solid white;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    position: relative;
}
.small-rounded-avatar::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    margin: -2px 0 0 -2px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.avatar-letter::before {
    position:absolute;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-user-letter);
}
.small-rounded-avatar img {
	width: 32px;
	height: 32px;
    -moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.medium-avatar {
    width: 160px;
    height: 160px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    font-size: 76px;
    line-height: 160px;
}
.medium-avatar.share {
    width: 120px;
    height: 120px;
}
.medium-avatar.share .user-card-verified {
    display: none;
}
.semi-big-avatar,  .big-avatar {
    display: block;
    width: 184px;
    height: 184px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    position: relative;
}
.semi-big-avatar .avatar-letter, .medium-avatar .avatar-letter, .big-avatar .avatar-letter {
    width: 96px;
    height: 96px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: white;
    position:absolute;
    left:50%;
    top: 50%;
    margin: -48px 0 0 -48px;
    font-size: 60px;
    line-height: 96px;
    font-family: 'source_sans_proextralight';
}
.big-avatar {
    width: 260px;
    height: 260px;
}
.big-avatar .avatar-letter {
    width: 146px;
    height: 146px;
    margin: -73px 0 0 -73px;
    font-size: 90px;
    line-height: 146px;
}
.medium-avatar img, .semi-big-avatar img, .medium-avatar img, .big-avatar img {
    width: 100%;
    height: 100%;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
