.bottom-menu.body {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
    font-family: 'LatoWeb', Arial;
    padding: 90px 0 110px 0;
    font-size: 0;
}
.bottom-menu .mobile-menu {
    display: none;
}
.bottom-menu .desktop-menu {
    display: block;
}
.bottom-menu .column {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: start;
}
.bottom-menu .column.left {
    padding: 0;
}
.bottom-menu .col1-of-6 {
    width: calc(100% / 6);
}
.bottom-menu .col2-of-6 {
    width: calc(100% / 3);
}
.bottom-menu .header {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 0;
    margin: 30px 0 22px 0;
    color: #666;
    font-family: 'LatoWebBlack', Arial;
    text-transform: uppercase;
}
.bottom-menu .link {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    display: block;
    padding: 3px 0;
    margin-bottom: 4px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.bottom-menu .link.hidden {
    display: none;
}
.bottom-menu .link:hover {
    color: #333333;
}
.bottom-menu .logo {
    width: 169px;
    height: 55px;
    border-radius: 0;
    float: none;
    display: block;
    margin: 30px 0 0 0;
    background-position: -12px -1364px;
}
.bottom-menu .company-info {
    font-size: 16px;
    line-height: 20px;
    color: #666;
    padding: 16px 0 6px 0;
}
.bottom-menu .company-info strong {
    font-size: 20px;
    line-height: 24px;
    font-family: 'LatoWebBold', Arial;
    font-weight: normal;
    color: #373737;
    padding: 0 0 22px 0;
    display: block;
}
.bottom-menu .company-info span {
    display: block;
    padding: 0 0 21px 0;
}
.bottom-menu .company-info.clone {
    display: none;
}
.bottom-menu .social {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.bottom-menu .social i {
    transform: scale(0.7);
}
.bottom-social-button {
    cursor: pointer;
    margin-inline-end: 15px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 4px;
    background-color: #F4F4F5;
    display: block;
}
.bottom-menu hr {
    display: none;
}

/* account for long titles */

.fr .bottom-menu .col1-of-6 {
    width: calc(75% / 4);
}

.fr .bottom-menu .col2-of-6 {
    width: 25%;
}

.br .bottom-menu .col2,
.es .bottom-menu .col2 {
    width: calc(100% / 6 - 2%);
}

.br .bottom-menu .col3,
.es .bottom-menu .col3 {
    width: calc(100% / 6 + 2%);
}

@media only screen and (max-width: 1020px) {
    .bottom-menu .header {
        font-family: 'LatoWebBold', Arial, sans-serif;
        font-size: 14px;
    }
    .bottom-menu .link {
        font-size: 12px;
    }
    .bottom-menu .company-info {
        font-size: 15px;
    }
    .bottom-menu .company-info strong {
        font-size: 18px;
    }
}

@media only screen and (max-width: 890px) {
    .bottom-menu.body {
        padding: 22px 0 50px 0;
    }
    .bottom-menu .bottom-page.horizontal-centered-bl.mid-wide {
        max-width: 742px;
    }
    .bottom-menu .column.left {
        width: auto;
        float: none;
        display: block;
        text-align: center;
        border-top: 1px solid #DADADA;
        margin: 75px auto 0 auto;
        padding-top: 27px;
    }
    .bottom-pages a.logo {
        display: none;
    }
    .bottom-menu .desktop-menu .col1-of-6 {
        width: 25%;
    }
    .bottom-menu .col1-of-6:first-child {
        padding-left: 0;
    }
    .bottom-menu .company-info {
        color: #373737;
        padding-bottom: 0;
    }
    .bottom-menu .company-info strong {
        padding: 0 0 13px 0;
    }
    .bottom-menu .company-info span {
        padding: 0;
    }
    .bottom-menu .company-info span.follow-txt,
    .bottom-menu .company-info span.copyright-txt {
        display: none;
    }
    .bottom-menu .company-info.clone {
        font-size: 14px;
        color: #666;
        display: block;
        padding: 0;
    }
    .bottom-menu .social {
        display: flex;
        justify-content: center;
        padding: 14px 0 26px 0;
    }
    .bottom-social-button {
        cursor: pointer;
        margin: 0 10px;
        padding: 9px;
    }
    .bottom-menu .social i {
        transform: none;
    }
}

@media only screen and (max-width: 680px) {
    .bottom-menu .mobile-menu {
        display: block;
    }
    .bottom-menu .desktop-menu {
        display: none;
    }
    .bottom-menu .cols {
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-menu .col1-of-2 {
        width: 50%;
    }
    .bottom-menu .company-info strong {
        font-size: 16px;
    }
    .bottom-menu .company-info span {
        font-size: 14px;
    }
    .bottom-social-button {
        margin: 0 10px;
        padding: 0;
    }
    .bottom-menu .social {
        display: flex;
        padding: 20px 0 13px 0;
        justify-content: center;
    }
    .bottom-menu .social i {
        transform: scale(0.7);
    }
    .bottom-menu .legal {
        width: 100%;
        padding-left: 0;
    }
    .bottom-menu .legal .link {
        float: left;
        width: 50%;
    }
    .bottom-menu .legal .link:nth-of-type(2n) {
        padding-left: 15px;
        width: calc(50% - 15px);
    }
    .bottom-menu .header {
        margin-top: 22px;
    }
    .bottom-menu hr {
        background: #dadada;
        border: 0;
        display: block;
        height: 1px;
        margin: 50px 12px 40px 12px;
        width: calc(100% - 30px);
    }
    .bottom-menu .support-legal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
