/* footer menu */

footer.bottom-menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--spacing-8);
    max-width: 1240px;
    margin: 0 auto;
    padding: var(--spacing-12) var(--default-padding);
}

footer.bottom-menu .heavy {
    font: var(--font-copy-md-bold);
    color: var(--color-copy-primary);
}
footer.bottom-menu .light {
    font: var(--font-copy-sm);
    color: var(--color-copy-secondary)
}

footer.bottom-menu a {
    text-decoration: none;
}

footer.bottom-menu .mobile-links {
    display: none;
}

/* region Info Group */

footer.bottom-menu .info-group {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
}

footer.bottom-menu .info-group .mlogo {
    display: block;
    --width: 144px;
    --height: 48px;
}

footer.bottom-menu .info-group .slogan {
    margin: var(--spacing-7) 0 var(--spacing-5);
}

footer.bottom-menu .info-group .copyright {
    margin-top: var(--spacing-3);
}

footer.bottom-menu .info-group .social-heading {
    margin: var(--spacing-10) 0 var(--spacing-5);
    font: var(--font-copy-sm-bold);
}

footer.bottom-menu .info-group .social {
    display: flex;
    flex-wrap: wrap;
}

footer.bottom-menu .info-group .social .bottom-social-button {
    display: block;
    margin-inline-end: var(--spacing-5);
    -webkit-margin-end: var(--spacing-5);
    margin-bottom: var(--spacing-5);
    border-radius: 6px;
    background-color: var(--color-grey-100);
    cursor: pointer;
}
footer.bottom-menu .info-group .social .bottom-social-button:hover {
    background-color: var(--color-grey-150);
}

footer.bottom-menu .info-group .social .bottom-social-button i {
    --icon-size: 36px;
}

/* endregion */

/* region Link Farm */

footer.bottom-menu .link-farm {
    grid-column: -9 / -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--spacing-8);
}

footer.bottom-menu .link-farm .column {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

footer.bottom-menu .link-farm .block {
    display: flex;
    flex-direction: column;
}
footer.bottom-menu .link-farm .block:not(:last-child) {
    margin-bottom: var(--spacing-8);
}

footer.bottom-menu .link-farm .block span.heavy {
    margin-bottom: var(--spacing-5);
}

footer.bottom-menu .link-farm .block .links {
    display: flex;
    flex-direction: column;
}

footer.bottom-menu .link-farm .block a {
    margin-inline-end: var(--spacing-2);
}
footer.bottom-menu .link-farm .block a:not(:last-child) {
    margin-bottom: var(--spacing-4);
}

/* endregion */

/* Breakpoint M */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    footer.bottom-menu,
    footer.bottom-menu .link-farm {
        column-gap: var(--spacing-7);
    }

    footer.bottom-menu .info-group .slogan {
        margin: var(--spacing-7) 0 var(--spacing-5);
    }
    footer.bottom-menu .info-group .social-heading {
        margin: 48px 0 var(--spacing-5);
    }
}

/* Breakpoints S and XS */
@media screen and (min-width: 0) and (max-width: 768px) {
    footer.bottom-menu {
        grid-template-columns: repeat(4, 1fr);
        row-gap: var(--spacing-10);
    }

    /* region Mobile Links */

    footer.bottom-menu .mobile-links {
        display: block;
        grid-column: 1 / -1;
    }

    footer.bottom-menu .mobile-links hr {
        margin: 0;
        border: 1px solid var(--color-grey-100);
    }

    footer.bottom-menu .accordion .accordion-toggle {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-5) 0;
        cursor: pointer;
    }
    footer.bottom-menu .accordion .accordion-toggle .icon {
        --icon-size: 24px;
        --mask-color: var(--color-copy-primary);
    }
    footer.bottom-menu .accordion .accordion-toggle .minus {
        display: none;
    }

    footer.bottom-menu .accordion .accordion-content {
        display: flex;
        flex-direction: column;
        padding-right: var(--spacing-2);
    }
    footer.bottom-menu .accordion .accordion-content a {
        margin-bottom: var(--spacing-5);
        font: var(--font-caption-lg);
    }

    footer.bottom-menu .accordion.expanded .accordion-content {
        padding-top: var(--spacing-5);
        padding-bottom: var(--spacing-5);
    }
    footer.bottom-menu .accordion.expanded .accordion-toggle .plus {
        display: none;
    }
    footer.bottom-menu .accordion.expanded .accordion-toggle .minus {
        display: block;
    }

    /* endregion */

    footer.bottom-menu .info-group {
        grid-column: 1 / -1;
        align-items: center;
    }

    footer.bottom-menu .info-group strong,
    footer.bottom-menu .info-group span {
        text-align: center;
    }

    footer.bottom-menu .info-group .social {
        justify-content: center;
    }

    footer.bottom-menu .link-farm {
        display: none;
    }
    footer.bottom-menu .info-group .slogan {
        margin: var(--spacing-6) 0 var(--spacing-4);
    }
    footer.bottom-menu .info-group .social-heading {
        margin: var(--spacing-9) 0 var(--spacing-4);
    }

}

/* Breakpoints XS */
@media screen and (min-width: 0) and (max-width: 320px) {
    footer.bottom-menu .info-group .slogan {
        margin: var(--spacing-5) 0 var(--spacing-4);
    }
}
