.bottom-menu {
    --text-color: rgba(102, 102, 102, 1);
    --text-color-hover: rgba(102, 102, 102, 1);
    --text-color-strong: rgba(55, 55, 55, 1);
    --stroke-horizontal: rgba(218, 218, 218, 1);
}

.bottom-menu.body {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: var(--text-color-white-higher);
    font-family: var(--text-font-family);
    padding: 90px 0 110px 0;
    font-size: 0;
}
.ru .bottom-menu.body {
    font-family: "Lucida Grande", var(--text-font-family);
}
.bottom-menu .mobile-menu {
    display: none;
}
.bottom-menu .desktop-menu {
    display: block;
}
.bottom-menu .column {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: start;
}
.bottom-menu .column.left {
    padding-left: 0;
    padding-right: 20px;
}
.bottom-menu .col1-of-6 {
    width: calc(78% / 5);
}
.bottom-menu .col2-of-6 {
    width: calc(22%);
}
.bottom-menu .header {
    font-size: 13px;
    line-height: 16px;
    margin: 40px 0 24px;
    color: var(--text-color);
    font-family: var(--text-font-family-black);
    text-transform: uppercase;
}
.bottom-menu .link {
    font-size: 13px;
    line-height: 17px;
    color: var(--text-color);
    display: block;
    transition: var(--transition-all);
    transition-duration: 200ms;
    padding: 7px 0;
}
.bottom-menu .link:hover {
    color: var(--text-color-hover);
}
.bottom-menu .logo {
    width: 169px;
    height: 55px;
    border-radius: 0;
    float: none;
    display: block;
    margin: 26px 0 20px;
    background-position: -12px -1364px;
}
.bottom-menu .company-info {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    padding: 6px 10px 6px 0;
}
.bottom-menu .company-info strong {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--text-font-family-bold);
    font-weight: normal;
    color: var(--text-color-strong);
    padding: 0 0 9px;
    display: block;
}
.bottom-menu .company-info span {
    display: block;
    padding: 0 0 20px;
    font-size: 14px;
    line-height: 17px;
}

.bottom-menu .company-info span.follow-txt {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 14px;
}

.bottom-menu .company-info.clone {
    display: none;
}
.bottom-menu .social {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.bottom-menu .social i {
    transform: scale(0.6);
}
.bottom-social-button {
    cursor: pointer;
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 6px;
    background-color: rgba(244, 244, 245, 1);
    display: block;
}
.bottom-menu hr {
    display: none;
}

@media only screen and (max-width: 960px) {
    .bottom-menu .desktop-menu .col1-of-6 {
        width: 20%;
    }
    .bottom-menu.body {
        padding: 45px 0 50px;
    }
    .bottom-menu .link {
        font-size: 12px;
    }
    .bottom-menu .bottom-page.horizontal-centered-bl.mid-wide {
        max-width: 742px;
    }
    .bottom-menu .column.left {
        width: auto;
        float: none;
        display: block;
        text-align: center;
        border-top: 1px solid var(--stroke-horizontal);
        margin: 75px auto 0 auto;
        padding-top: 44px;
        font-size: 18px;
        line-height: 22px;
    }
    .bottom-pages .download a.logo {
        display: block;
    }
    .bottom-menu .company-info {
        padding: 0;
    }
    .bottom-menu .company-info strong {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 14px;
    }
    .bottom-menu .company-info span {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 16px;
    }
    .bottom-menu .company-info span.follow-txt {
        display: none;
    }
    .bottom-menu .social {
        display: flex;
        justify-content: center;
    }
    .bottom-social-button {
        cursor: pointer;
        margin: 0 10px;
        padding: 9px;
    }
    .bottom-menu .social i {
        transform: none;
    }
}

@media only screen and (max-width: 750px) {
    .bottom-menu .mobile-menu {
        display: block;
    }
    .bottom-menu .desktop-menu {
        display: none;
    }
    .bottom-menu .cols {
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-menu .col1-of-2 {
        width: 50%;
    }
    .bottom-menu .company-info strong {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .bottom-menu .company-info span {
        font-size: 14px;
        line-height: 17px;
    }
    .bottom-social-button {
        margin: 0 10px;
        padding: 0;
    }
    .bottom-menu .social {
        display: flex;
        padding: 0 0 13px;
        justify-content: center;
    }
    .bottom-menu .social i {
        transform: scale(0.7);
    }
    .bottom-menu .legal {
        width: 100%;
        padding-left: 0;
    }
    .bottom-menu .legal .link {
        float: left;
        width: 50%;
    }
    .bottom-menu .legal .link:nth-of-type(2n) {
        padding-left: 15px;
        width: calc(50% - 15px);
    }
    .bottom-menu .header {
        margin-top: 27px;
        margin-bottom: 14px;
    }
    .bottom-menu hr {
        background: var(--stroke-horizontal);
        border: 0;
        display: block;
        height: 1px;
        margin: 50px auto 38px;
        width: 70%;
    }
    .bottom-menu .support-legal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
