
.business-register .disabled {
    opacity: 0.3;
}

.business-register .main-pad-block {
    position: relative;
    margin:0;
}

.bus-reg-body {
    min-width: 880px;
    max-width: 940px;
    margin:0 auto;
    padding-top: 124px;
    position: relative;
}
.bus-reg-body *,
.card-container.bus-repay * {
    font-family: var(--text-font-family);
}

.bus-reg-header {
    font-size: 40px;
    line-height: 48px;
    text-align: start;
    color: var(--text-color-high);
    margin-left: 10px;
}

.bus-reg-info-block {
    width: 400px;
    margin-left: 10px;
}

.bus-reg-subheader {
    font: var(--text-h1);
    margin-top: 64px;
    color: var(--text-color-high);
}

.bus-reg-icon {
    background-image: url(../images/mega/top-sprite.png);
    width: 24px;
    height: 24px;
}

.bus-reg-body .password-stutus-txt {
    margin-top: 8px;
}

.bus-reg-radio-block {
    margin-top: 32px;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 12px;
}
.card-container.bus-repay .dialog-subtitle {
   font: var(--text-body1);
}
.card-container.bus-repay .bus-reg-radio-block {
    margin: 0;
}
.bus-reg-body .bus-reg-radio-option,
.bus-repay-block .bus-reg-radio-option {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 8px;
    width: 200px;
}
.bus-reg-body .bus-reg-radio.not-first-child,
.card-container.bus-repay .bus-reg-radio.not-first-child {
    -webkit-margin-start: 32px;
    margin-inline-start: 32px;
}
.bus-reg-body .provider,
.card-container.bus-repay .provider {
	font: var(--text-body1);
    display: inline-block;
    vertical-align: middle;
}
.card-container.bus-repay .payment-icon,
.bus-reg-body .payment-icon {
    vertical-align: middle;
    display: inline-block;
    -webkit-margin-start: 4px;
    margin-inline-start: 4px;
    -webkit-margin-end: 32px;
    margin-inline-end: 32px;
}
.card-container.bus-repay .payment-icon i,
.bus-reg-body .payment-icon i {
    --icon-size: 24px;
}
.bus-reg-agreement {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font: var(--text-body1);
    margin-top: 16px;
}
.bus-reg-agreement .checkdiv {
    margin: 2px 0;
    -webkit-margin-end: 14px;
    margin-inline-end: 14px;
    vertical-align: top;
}
.bus-reg-agreement.mega-terms .red {
    margin-left: 4px;
}

.bus-reg-agreement .bus-reg-txt {
    width: 90%;
    font-size: 13px;
    color:#999;
    line-height: 20px;
    display: inline-block;
}

.bus-reg-agreement .terms {
    color: rgba(217,0,7,1);
    display: inline-block;
    cursor: pointer;
}
.bus-reg-btn-2,
.bus-reg-btn {
    margin-top: 64px;
    margin-bottom: 88px;
    float: right;
}

.mega-button.bus-reg-btn-2 {
    display: none;
}

.bus-reg-plan {
    width: 460px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid var(--divider-color);
    position: absolute;
    right: 0;
    top: 240px;
    background-color: var(--stroke-main);
}

.bus-reg-plan .plan-icon {
    margin: 40px auto 0;
}
.bus-reg-plan .plan-icon {
    margin: 16px auto 0;
    width: 64px;
    height: 64px;
}
.bus-reg-info-block .bus-addition-storage-block {
    margin-top: 6px;
    height: 109px;
    margin-left: 3px;
}
.bus-reg-info-block .bus-add-storage-head {
    margin-bottom: 10px;
    height: 18px;
    line-height: 20px;
    font-size: 13px;
}
.bus-reg-info-block .bus-add-storage-body {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-high);
    display: inline-block;
    vertical-align: sub;
}
.bus-reg-info-block .bus-add-storage-icon {
    --icon-size: 24px;
    margin-right: 8px;
}
.bus-reg-info-block .bus-add-storage-foot {
    font-size: 12px;
    line-height: 15px;
    height: 15px;
}
.bus-reg-plan .bus-internal-block {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 13px;
    background-color: var(--surface-grey-1);
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: var(--surface-grey-2);
    padding-bottom: 14px;
}
.bus-reg-plan .bus-internal-block.business-plan-peruse {
    border-radius: 8px 8px 0 0;
}
.bus-reg-plan .bus-user-price-val-cntr {
    display: inline-block;
}
.bus-reg-plan .business-plan-pricing {
    font-size: 0;
}
.bus-reg-plan .bus-user-price-val {
    height: 36px;
    margin-top: 13px;
    margin-left: 18px;
    display: inline-block;
    color: var(--text-color-high);
    font-family: var(--text-font-family-second-regular);
    font-size: 28px;
    line-height: 34px;
}
.bus-reg-plan .bus-user-price-unit {
    vertical-align: text-bottom;
    margin-left: 10px;
    display: inline-block;
    height: 20px;
    font: var(--text-h3);
    color: var(--text-color-high);
    position: absolute;
    margin-top: 19px;
    margin-right: 10px;
}
.bus-reg-plan .bus-user-price-euro {
    text-align: center;
    box-sizing: border-box;
    height: 22px;
    width: 48px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background-color: var(--surface-main);
    color: var(--text-color-medium);
    font-family: var(--text-font-family);
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 24px);
}
.bus-reg-plan .business-plan-quota-note {
    margin: 0 16px auto 16px;
    padding: 16px;
    font-family: var(--text-font-family);
    color: var(--text-color-high);
    background-color: var(--surface-grey-1);
    border-radius: 0 0 8px 8px;
    border: solid;
    border-width: 1px;
    border-color: var(--surface-grey-2);
    border-top-width: 0;
}
.bus-reg-plan .bus-quota-note-head {
    font: var(--text-h3);
}
.bus-reg-plan .bus-quota-note-body {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
    color: var(--text-color-high);
}
.bus-reg-plan .business-plan-breakdown {
    margin-top: 12px;
    color: var(--text-color-high);
}
.bus-reg-plan .bus-breakdown-row {
    margin-top: 8px;
    height: 56px;
    margin-left: 16px;
    margin-right: 16px;
}
.bus-reg-plan .bus-breakdown-col {
    display: inline-block;
    font: var(--text-h3);
    margin: 16px;
}
.bus-reg-plan .business-plan-total {
    margin-top: 20px;
    color: var(--text-color-high);
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bus-reg-plan .bus-total-col {
    display: inline-block;
    font: var(--text-h1);
    margin: 29px 16px 16px 16px;
}
.bus-reg-plan .bus-price-footer-note {
    padding-top: 16px;
    position: absolute;
    font: var(--text-body1);
    line-height: 17px;
    color: var(--text-color-high);
}
.bus-reg-plan .business-plan-title {
    font-family: var(--text-font-family);
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color-high);
    margin: 4px auto 32px;
    width: 100%;
    text-align: center;
}
.mobile.ru .bus-reg-plan .business-plan-price .sub-unit {
    display: block;
}
.bus-reg-plan .business-plan-price .big {
    font: var(--text-data);
    font-family: var(--text-font-family-semibold);
    margin-right: 8px;
}


.bus-reg-plan .business-plan-total {
    position: relative;
}

.bus-reg-plan .business-plan-total::before {
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: var(--divider-color);
    position: absolute;
}

.bus-reg-bottom-page {
    width: 100%;
    position: relative;
}

.bus-reg-bottom-page::before {
    width:100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    content: " ";
}

.bus-reg-bottom-page .page-header {
    padding: 64px 20px 0 20px;
    font-size: 36px;
    font-family: montserrat, open_sans, sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 64px;
    color: #333;
    line-height: 54px;
}

.bus-reg-featureBlock {
    width:32%;
    display: inline-block;
    margin-top: 48px;
    vertical-align: top;
}

.bus-reg-featureImg100 {
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url(../images/mega/big-icons.png);
    background-repeat: no-repeat;
}

.bus-reg-featureTxt {
    width: 80%;
    margin:48px auto 64px auto;
    color: #666;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.bus-reg-featureTxt a {
    color: #F0373B;
}

.bus-reg-featureTxt a:hover {
    text-decoration: underline;
}

.ky-icon {
    background-position: -16px -464px;
}

.forbit-icon {
    background-position: -16px -572px;
}

.extension-icon {
    background-position: -16px -691px;
}


.bus-confirm-body {
    width: 90%;
    max-width:400px;
    margin:88px auto 128px auto;
}

.bus-confirm-body.verfication {
    width: 100%;
    max-width: 600px;
}

.bus-confirm-body .bus-reg-header {
    width: 100%;
    text-align: center;
}

.bus-confirm-body .bus-confirmImg {
    width:160px;
    height: 120px;
    background-image: url(../images/mega/big-icons.png);
    background-repeat: no-repeat;
    background-position: -16px -809px;
    margin:0 auto 48px auto;
}

@media only screen and (max-width: 880px) {
    .bus-reg-body {
        width: 90%;
        min-width: 0;
    }

    .bus-reg-info-block {
        width:100%;
    }

    .bus-reg-plan {
        width:100%;
        top: 48px;
        position: relative;
    }

    .bus-reg-header {
        font-size: 30px;
    }
    .bus-reg-btn {
        display: none !important;
    }

    .bus-confirm-body .bus-reg-btn {
        display: inline-flex;
    }

    .mega-button.bus-reg-btn-2 {
        display: inline-flex;
        margin-top: 115px;
    }

    .bus-reg-featureBlock {
        width:100%;
    }
}
/* For business over due payment page */
.card-container.bus-repay {
    width: 850px;
    height: auto;
    padding: 16px 32px 32px;
    margin: 0 auto 80px;
    box-sizing: border-box;
    background: var(--surface-main);
    border-radius: 24px;
    border: 1px solid var(--divider-color);
}
.rtl .card-container.bus-repay {
    direction: rtl;
}
.bus-repay-block {
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 8px;
}
.bus-repay-block .payment-reminder-logo {
    width: 96px;
    --width: 96px;
    height: 96px;
    display: block;
    margin: 48px auto 24px;
}
.bus-repay-block .dialog-title {
    font: var(--text-h2);
    color: var(--text-color-high);
    margin-bottom: 12px;
}
.bus-repay-block .radio-txt a {
    color: var(--text-color-success);
}
.card-header {
    text-align: center;
}
.main-mid-pad.bus-repay .card-body {
    display: block;
}
.main-mid-pad.bus-repay .main-left-block, .main-mid-pad.bus-repay .main-right-block {
    width: 362px;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 0;
    float: none;
    vertical-align: top;
    padding: 56px 0 0;
}
.main-mid-pad.bus-repay .main-left-block {
    -webkit-padding-end: 48px;
    padding-inline-end: 48px;
}
.main-mid-pad.bus-repay .section-wrapper:not(:first-child) {
    margin-top: 32px;
}
.main-mid-pad.bus-repay .section-wrapper:last-child {
    margin-top: 44px;
	text-align: start;
}
.main-mid-pad.bus-repay .section-title {
    font: var(--text-h3-bold);
    color: var(--text-color-high);
    padding-bottom: 16px;
}
.main-mid-pad.bus-repay .repay-btn.small-view-btn {
    display: none;
}
.main-mid-pad.bus-repay .revert-to-free-btn.small-view-btn {
    display: none;
}
.main-mid-pad.bus-repay .revert-to-free-btn {
    display: block;
    margin-top: 20px;
}
.main-mid-pad.bus-repay .row-wrapper {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}
.card-container.bus-repay .account-info-icon {
    --icon-size: 24px;
    --mask-color: var(--icon-active);
    flex-shrink: 0;
    flex-grow: 0;
}
.main-mid-pad.bus-repay .row-wrapper i {
    flex-shrink: 0;
}
.main-mid-pad.bus-repay .row-wrapper .info-txt {
    font: var(--text-body1);
    color: var(--text-color-medium);
    -webkit-margin-start: 12px;
    margin-inline-start: 12px;
    display: inline-block;
    vertical-align: middle;
}
.main-mid-pad.bus-repay .bus-reg-plan.repay {
    width: 364px;
    position: relative;
    right: 0;
    top:0;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid var(--divider-color);
    background: var(--surface-grey-1);
}
.repay-breakdown-container {
    width: 100%;
    border-radius: 4px;
    background: var(--surface-main);
    border: 1px solid var(--divider-color);
    position: relative;
    display: block;
    overflow: hidden;
}
.main-mid-pad.bus-repay .card-body .card-sub-title {
    font: var(--text-h3);
    color: var(--text-color-high);
    padding: 22px 0;
    display: block;
    position: relative;
}
.main-mid-pad.bus-repay .card-body .card-sub-title::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color:rgba(0,0,0,0.1);
    left: 0;
    bottom: 0;
}
.bus-reg-plan.repay .repay-breakdown-tb {
    width: 100%;
}
.bus-reg-plan.repay .repay-breakdown-tb tr {
    position: relative;
    display: block;
}
.bus-reg-plan.repay .repay-breakdown-tb tr:not(:last-child)::before {
    content: "";
    position: absolute;
    display: block;
    width: 308px;
    height: 1px;
    left: 12px;
    bottom: 0;
    background-color: var(--divider-color);
}
.bus-reg-plan.repay .repay-breakdown-tb tr.expand:not(:last-child)::before {
    width: 100%;
    height: 1px;
    left: 0;
}
.bus-reg-plan.repay .repay-breakdown-tb tr th:first-child,
.bus-reg-plan.repay .repay-breakdown-tb tr td:first-child {
    width: 123px;
    padding: 12px 0 8px;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    box-sizing: border-box;
    display: inline-block;
}
.bus-reg-plan.repay .repay-breakdown-tb tr th:nth-child(2),
.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(2) {
   width: 113px;
    -webkit-padding-end: 4px;
    padding-inline-end: 4px;
    box-sizing: border-box;
    display: inline-block;
}
.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(2) {
    cursor: pointer;
}
.bus-reg-plan.repay .repay-breakdown-tb tr td.repay-td-total {
    cursor: default;
}
.bus-reg-plan.repay .repay-breakdown-tb tr th:last-child,
.bus-reg-plan.repay .repay-breakdown-tb tr td:last-child {
    width: calc(100% - 244px);
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    box-sizing: border-box;
    text-align: end;
    display: inline-block;
    opacity: unset;
}
.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(3) {
    font-family: var(--text-font-family-bold);
}
.bus-reg-plan.repay .repay-breakdown-tb .content-desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 81px;
    display: inline-block;
    overflow: hidden;
}
.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(2):after {
    width: 24px;
    --icon-size: 24px;
}
.bus-reg-plan.repay .repay-breakdown-tb th {
    font: var(--text-body1);
    padding: 12px 0 8px;
    color: var(--text-color-high);
    text-align: start;
}
.main-right-block .repay-breakdown-footer {
    margin-top: 14px;
    opacity: 0.7;
}
.bus-reg-plan.repay .repay-breakdown-tb td {
    font: var(--text-body1);
    color: var(--text-color-high);
    opacity: 0.7;
    text-align: start;
    padding: 12px 0 8px;
    height: 40px;
}
.bus-reg-plan.repay .repay-breakdown-tb tr:last-child td {
    color: var(--text-color-high);
    font: var(--text-h2);
    font-family: var(--text-font-family-bold);
    text-align: start;
    width: 110px;
    height: 50px;
    opacity: unset;
}
.bus-reg-plan.repay .repay-breakdown-tb tr:last-child td:last-child {
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    width: 210px;
    text-align: end;
}
.bus-reg-plan.repay .repay-extra-details {
    background-color: var(--surface-grey-1);
    font: var(--text-body1);
    color: var(--text-color-high);
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}
.bus-reg-plan.repay .repay-extra-details.expand {
   max-height: 40px;
}
.bus-reg-plan.repay .repay-breakdown-tb tr.repay-extra-details::before {
    width: 100%;
    left: 0;
}
.bus-reg-plan.repay .repay-breakdown-tb tr.repay-extra-details td:first-child {
    width: 235px;
}
.bus-reg-plan.repay .repay-breakdown-tb tr.repay-extra-details td:last-child {
    width: calc(100% - 241px);
}
.bus-repay-block .main-left-block .repay-nb-users-info {
    font: var(--text-caption);
    color: var(--text-color-black-high);
    opacity: 0.4;
    margin-top: -10px;
}
@media only screen and (max-width: 800px) {
    .card-container.bus-repay {
        width: 96%;
        min-width: 406px;
        padding: 2%;
    }
    .main-mid-pad.bus-repay .main-left-block,
	.main-mid-pad.bus-repay .main-right-block {
        width: auto;
        display: block;
    }
    .main-mid-pad.bus-repay .main-left-block {
        padding-right: 0;
    }
    .main-mid-pad.bus-repay .bus-reg-plan.repay {
        width: 100%;
    }
    .main-mid-pad.bus-repay .row-wrapper {
        padding-bottom: 8px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr:not(:last-child)::before {
        width: calc(100% - 24px);
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr th:nth-child(1),
	.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(1) {
        width: 25%;
        min-width: 90px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr th:nth-child(2),
	.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(2) {
        width: 40%;
        min-width: 136px;
        white-space: normal;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr th:nth-child(3),
	.bus-reg-plan.repay .repay-breakdown-tb tr td:nth-child(3) {
        width: 30%;
        min-width: 82px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr:last-child td:last-child {
        width: 70%;
        min-width: 210px;
    }
    .main-mid-pad.bus-repay .btn-container {
        text-align: center;
    }
    .main-mid-pad.bus-repay .section-wrapper:last-child {
        display: none;
    }
    .repay-btn.small-view-btn {
        margin: 32px auto;
        display: inline-block;
    }
    .revert-to-free-btn.small-view-btn {
        display: block;
        margin: 0 auto 20px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr.repay-extra-details td:first-child {
        width: 65%;
        min-width: 234px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb tr.repay-extra-details td:last-child {
        width: 30.5%;
        min-width: 82px;
    }
    .bus-repay-block .main-left-block .repay-nb-users-info {
        margin-top: -2px;
    }
    .bus-reg-plan.repay .repay-breakdown-tb .content-desc {
        width: calc(100% - 30px);
    }
}
