.button {
    display: block;
}
.button > i, .button > span {
    cursor: pointer;
}
.button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: 0;
}
.button input[type=file], .button input[type=file]::-webkit-file-upload-button {
 cursor: pointer;
}
.link-button {
    display: block;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    text-align: left;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.link-button:hover {
    color: #555555;
}
.link-button.right {
    margin-left: 27px;
}
.link-button.red {
    color: #E44C51
}
.link-button.red:hover {
    color: #D90007;
}
.link-button i, .button i, .default-white-button i {
    font-size: inherit;
    line-height: inherit;
}
.big-button {
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    padding: 0 10px;
    color: #777777;
    cursor: pointer;
    font-family: 'source_sans_prosemibold';
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.big-button i {
    margin: 0 12px 0 0;
    vertical-align: middle;
}
.big-button.button-with-border {
    border: 2px solid rgba(212,212,212,1);
    line-height: 44px;
}
.big-button.button-with-border:hover {
    background-color: 2px solid rgba(212,212,212,1);
    color: white;
}
.button:hover .grey-medium-plus, .button.active .grey-medium-plus {
    background-position: -2px -1504px;
}
.button:hover .smiling-face, .button.active .smiling-face {
    background-position: -3px -1586px;
}
.big-button:hover .dashed-conversation {
    background-position: 1px -1694px;
}
.default-white-button, .default-grey-button {
    display: block;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 31px;
    color: #333333;
    padding: 0 15px;
    min-width: 102px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255,255,255,1);
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}
.default-grey-button {
    color: white;
    background: rgb(170,170,170);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(153,153,153,1) 100%);
    background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(153,153,153,1) 100%);
    background: linear-gradient(to bottom, rgba(170,170,170,1) 0%, rgba(153,153,153,1) 100%);
}
.button.inline, .default-white-button.inline, .default-grey-button.inline {
    display: inline-block;
    margin: 0 5px;
}
.default-white-button.hidden, .default-grey-button.hidden {
    display: none;
}
.button.disabled, .default-white-button.disabled, .default-grey-button.disabled {
    cursor: default;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.default-white-button.semi-big, .default-grey-button.semi-big {
    line-height: 35px;
    height: 36px;
}
.default-white-button.semi-small, .default-grey-button.semi-small {
    line-height: 27px;
    height: 28px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.default-white-button.small, .default-grey-button.small {
    line-height: 23px;
    height: 24px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.default-grey-button.small::before, .default-grey-button.small::after, .default-white-button.small::before, .default-white-button.small::after {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.default-white-button.grey-txt, .default-white-button.grey-txt span {
    color: #777777;
}
.default-grey-button.semi-small:before, .default-grey-button.semi-small:after, .default-white-button.semi-small::before, .default-white-button.semi-small::after {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.default-grey-button::before, .default-grey-button::after, .default-white-button::before, .default-white-button::after {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.default-white-button.small-text {
    font-size: 13px;
}
.default-white-button::after {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}
.default-white-button:not(.tiny-button):not(.disabled):hover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
}
.default-grey-button:after {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.45);
}
.default-grey-button:not(.disabled):hover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
}
.default-white-button:not(.tiny-button) i {
    margin: 6px 6px 1px -5px;
    vertical-align: top;
}
.default-white-button.small i {
    margin: 3px 3px 1px -5px;
}
.default-white-button.semi-small i {
    margin: 5px 4px 1px -5px;
}
.red.default-white-button:hover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
    -moz-box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
    box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
}
.default-white-button.tiny-button {
    width: 16px;
    height: 16px;
    min-width: 0;
    padding: 0;
    float: right;
    text-align: left;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.icon-dropdown {
    padding: 2px 13px 2px 3px;
    float: right;
    text-align: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.button.icon-dropdown.disabled > i {
    cursor: default;
}
.icon-dropdown.disabled {
    cursor: default;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.icon-dropdown:not(.disabled):hover, .icon-dropdown.active {
    background-image: url(../images/mega/new-chat-sprite-v5.svg);
    background-repeat: no-repeat;
    background-position: -64px -657px;
}
.icon-dropdown:not(.disabled).active {
    background-position: -64px -699px;
}
.icon-dropdown:not(.disabled):hover::before, .icon-dropdown:not(.disabled):hover::after, .icon-dropdown.active::before, .icon-dropdown.active::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}
.icon-dropdown:not(.disabled):hover::before, .icon-dropdown.active::before {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
}
.default-white-button.tiny-button .tiny-icon {
    margin: 0 auto;
    display: block;
}
.contacts-info:hover .tiny-button, .message.content-area:hover > .tiny-button, .default-white-button.tiny-button.active, .shared-link.img-block:hover .tiny-button, .data-block-view:hover .tiny-button {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.button.disabled.visible, .contacts-info:hover .tiny-button.disabled, .message.content-area:hover > .tiny-button.disabled, .default-white-button.tiny-button.active.disabled, .shared-link.img-block:hover .tiny-button.disabled, .data-block-view:hover .tiny-button.disabled {
    cursor: default;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.default-white-button.tiny-button:not(.disabled):hover, .default-white-button.tiny-button.active:not(.disabled) {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.blue.big-button {
    color: #2BA6DE;
    border-color: #2BA6DE;
}
.blue.big-button:hover {
    background-color: #2BA6DE;
}
.default-white-button.left, .default-grey-button.left {
    margin-right: 12px;
}
.default-white-button.right, .default-grey-button.right {
    margin-left: 12px;
}
.red {
    color: #D90007
}
.button.overlay-button {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    webkit-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    -ms-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10;
}
.button.square-button {
    width: 32px;
    height: 32px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    text-align: center;
}
.button.square-button:hover {
    background-color: #EEEEEE;
}
.button.square-button.active {
    background-color: #999999;
}
.default-big-button {
    display: block;
    font-size: 14px;
    line-height: 47px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    color: #333333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.default-big-button span {
    display: block;
    height: 48px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    left: 0;
    top: 0;
    padding: 0 24px;
}
.default-big-button span::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}
.default-big-button:hover, .default-big-button.active {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
}
.default-big-button.button-without-outline {
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #777777;
}
.default-big-button.button-without-outline:hover {
    webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);
}
.default-big-button.grey-gradient {
    color: white;
}
.default-big-button.grey-gradient:hover {
    webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}
.default-big-button.grey-gradient span {
    background: rgb(184,184,184);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4YjhiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmE2YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
    background: -webkit-linear-gradient(top, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
    -moz-text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.default-big-button.grey-gradient span::before {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.35);
}
.default-huge-button {
    display: block;
    font-size: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 63px;
    color: white;
    padding: 0 15px;
    min-width: 228px;
    height: 64px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(217,0,7,0.7);
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}
.default-huge-button:not(.disabled):hover {
    background-color: rgba(217,0,7,1);
}
.default-huge-button i {
    margin: 19px 20px 0 0;
    vertical-align: top;
}
.default-white-button.small-square-button {
    width: 24px;
    height: 24px;
    min-width: 0;
    padding: 0;
}
.default-white-button.small-square-button i {
    margin: 3px 0 0 0;
}
