.nonclickable {
    cursor: not-allowed !important;
}

/* Upload buttons */

    button input {
        border: 0;
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    button input[type=file] {
        cursor: pointer;
    }
    button input[type=file]::-webkit-file-upload-button {
        cursor: pointer;
    }

/* end upload buttons */

/*  TODO: remove old code once all sections are revamped */
button.icon-dropdown {
    padding: 2px 13px 2px 3px;
    float: right;
    text-align: left;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
button.icon-dropdown.disabled > i {
    cursor: default;
}
.icon-dropdown.disabled {
    cursor: default;
    opacity: 0.6;
}
button.icon-dropdown:not(.disabled):hover,
button.icon-dropdown.active {
    background-image: url(../images/mega/new-chat-sprite.png);
    background-repeat: no-repeat;
    background-position: -64px -657px;
}
button.icon-dropdown:not(.disabled).active {
    background-position: -64px -699px;
}
button.icon-dropdown:not(.disabled):hover::before,
button.icon-dropdown:not(.disabled):hover::after,
button.icon-dropdown.active::before,
button.icon-dropdown.active::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}


button.disabled.visible {
    cursor: default;
    opacity: 0.6;
}
.link-button.left {
    margin-left: 5px;
}
.link-button.right {
    margin-right: 5px;
}
.link-button.light {
    font-size: 13px;
    white-space: normal;
    height: 32px;
    color: #333;
    border-radius: 4px;
    margin: 2px 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.link-button.light span,
.dropdown-item.link-button.light span {
    padding-right: 20px;
    /* TODO: validate */
    /*padding-top: 2px;*/ /* to fix the illusion of the text not being centred */
}
.link-button.light:not(.disabled):hover,
.dropdown-item.link-button.light:not(.disabled):hover {
    background-color: var(--stroke-main);
}
/* buttons for business account */
button:not(.mega-button) .icon {
    width: 24px;
    height: 24px;
    margin: 3px 8px 4px 0;
    background-image: url(../images/mega/fm-main-sprite.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    float: left;
}
button.icon-dropdown.disabled > i {
    cursor: default;
}
.icon-dropdown.disabled {
    cursor: default;
    opacity: 0.6;
}
button.icon-dropdown:not(.disabled):hover,
button.icon-dropdown.active {
    background-image: url(../images/mega/new-chat-sprite.png);
    background-repeat: no-repeat;
    background-position: -64px -657px;
}
button.icon-dropdown:not(.disabled).active {
    background-position: -64px -699px;
}
button.icon-dropdown:not(.disabled):hover::before,
button.icon-dropdown:not(.disabled):hover::after,
button.icon-dropdown.active::before,
button.icon-dropdown.active::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}


button.disabled.visible {
    cursor: default;
    opacity: 0.6;
}
.link-button.left {
    margin-left: 5px;
}
.link-button.right {
    margin-right: 5px;
}
.link-button.light {
    font-size: 13px;
    white-space: normal;
    height: 32px;
    color: #333;
    border-radius: 4px;
    margin: 2px 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.link-button.light span,
.dropdown-item.link-button.light span {
    padding-right: 20px;
    /* TODO: validate */
    /*padding-top: 2px;*/ /* to fix the illusion of the text not being centred */
}
.link-button.light:not(.disabled):hover,
.dropdown-item.link-button.light:not(.disabled):hover {
    background-color: var(--surface-main);
}
/* buttons for business account */
button:not(.mega-button) .icon {
    width: 24px;
    height: 24px;
    margin: 3px 8px 4px 0;
    background-image: url(../images/mega/fm-main-sprite.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    float: left;
}
.link-button {
    display: block;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    font-family: var(--text-font-family);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: all 200ms ease-in-out;
}
.link-button.lato {
    font-size: 0;
}
.link-button.lato-semibold span {
    font-size: 14px;
    color: #666666;
}
.link-button.lato-semibold:hover span {
    color: #333333;
}
.link-button.right {
    margin-left: 27px;
}
.link-button.red {
    color: #E44C51
}
.link-button.red:hover {
    color: #D90007;
}
.link-button i, .button i, .default-white-button i {
    font-size: inherit;
    line-height: inherit;
}
.link-button.light, .dropdown-item.link-button.light {
    font-size: 13px;
    line-height: 32px;
    white-space: normal;
    height: 32px;
    color: var(--text-color-high);
    border-radius: 4px;
    margin: 2px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.link-button.light:not(.disabled):hover,
.dropdown-item.link-button.light:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: var(--text-color-high);
}
.link-button.light i {
    float: left;
    margin: 4px 0 0 6px;
    opacity: 1;
}
.dropdown-item.link-button.light i.colorized {
    float: left;
    margin: 1px 0 0 6px;
    opacity: 1;
}
.link-button.light span {
    padding-left: 37px;
    padding-right: 20px;
    display: block;
}
.dropdown-item.link-button.light span {
    padding-left: 35px;
    display: block;
}
.tiny-button {
    width: 25px;
    height: 16px;
    min-width: 0;
    padding: 0;
    float: right;
    text-align: left;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    transition: color .2s ease-in-out,box-shadow .2s ease-in-out,background-color .2s ease-in-out;
}
.tiny-button::before,
.tiny-button::after {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}
.tiny-button::after {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.tiny-button .tiny-icon {
    margin: 0 auto;
    display: block;
}
.contacts-info:hover .tiny-button,
.message.content-area:hover > .right-aligned-msg-buttons > .tiny-button,
.tiny-button.active,
.shared-link.thumb:hover .tiny-button,
.message.shared-data.thumb:hover .tiny-button,
.data-block-view:hover .tiny-button {
    opacity: 1;
}
.contacts-info:hover .tiny-button.disabled,
.message.content-area:hover > .tiny-button.disabled,
.tiny-button.active.disabled,
.shared-link.thumb:hover .tiny-button.disabled,
.data-block-view:hover .tiny-button.disabled {
    cursor: default;
    opacity: 0.6;
}
.tiny-button:not(.disabled):hover,
.tiny-button.active:not(.disabled) {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.tiny-button.call {
    opacity: 1;
    position: absolute;
    z-index: 10;
    right: 4px;
    top: 4px;
}
.conversationsApp .button:not(.disabled) > i,
.conversationsApp .button:not(.disabled) > span {
	cursor: pointer;
}
.top-menu-item.backup i,
.account.left-pane.info-block.backup-button i {
    --mask-color: var(--label-yellow);
}
.link-button.dropdown {
    align-items: center;
    border: none;
    color: var(--text-color-high);
    cursor: pointer;
    font: var(--text-body1);
    overflow: unset;
    padding: 6px;
    position: relative;
}
.link-button.dropdown:not(.hidden) {
    display: inline-flex;
}
.link-button.dropdown::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
.link-button.dropdown + span {
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 8px;
}
.link-button.dropdown i {
    --icon-size: 24px;
    margin: 0;
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    transition: var(--transition-color);
}
.link-button.dropdown span + i {
    margin: 0;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
}

.link-button.dropdown .dropdown-content {
    display: none;
    background: var(--surface-main);
    border: var(--context-menu-border);
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 0;
    min-width: 200px;
    padding: 8px 0;
    position: absolute;
    left: -3px;
    top: 36px;
    transition: var(--transition-opacity);
    z-index: 5;
}
.fm-header-buttons .link-button.dropdown .dropdown-content {
    z-index: 250;
}
.link-button.dropdown:hover .dropdown-content {
    display: block;
}
.link-button.dropdown .dropdown-btn {
    --mask-color: var(--text-color-medium);
    align-items: center;
    background: var(--surface-main);
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    color: var(--text-color-medium);
    cursor: pointer;
    display: flex;
    font: var(--text-body1);
    margin: 0 8px;
    min-height: 32px;
    outline: none;
    padding: 0 8px;
    position: relative;
    text-align: start;
    transition: var(--transition-bg-color), var(--transition-color);
    width: calc(100% - 16px);
}
.link-button.dropdown .dropdown-btn:hover {
    --mask-color: var(--text-color-high);
    background: var(--surface-grey-2);
    color: var(--text-color-high);
}
.link-button.dropdown .separator {
    height: 1px;
    margin: 8px 0;
    display: block;
    background-color: var(--divider-color);
}
.link-button.dropdown .dropdown-btn span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
