.button {
	display: block;
	cursor: pointer;
}
.link-button {
	display: block;
	cursor: pointer;
	font-size: 13px;
	line-height: 19px;
	color: #777777;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.link-button i, .button i, .default-white-button i {
	font-size: inherit;
	line-height: inherit;
}
.big-button {
	height: 48px;
	font-size: 14px;
	line-height: 48px;
	padding: 0 10px;
	color: #777777;
	cursor: pointer;
	font-family: 'source_sans_prosemibold';
	background-color: white;
	text-align: center;
	text-transform: uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.big-button i {
	margin: 0 12px 0 0;
	vertical-align: middle;
}
.big-button.button-with-border {
	border: 2px solid rgba(212,212,212,1);
	line-height: 44px;
}
.big-button.button-with-border:hover {
	background-color: 2px solid rgba(212,212,212,1);
	color: white;
}
.button:hover .grey-medium-plus, .button.active .grey-medium-plus {
	background-position: -2px -1504px;
}
.button:hover .smiling-face, .button.active .smiling-face {
	background-position: -3px -1586px;
}
.big-button:hover .dashed-conversation {
	background-position: 1px -1694px;
}
.default-white-button {
	display: block;
	font-size: 13px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 32px;
	color: #777777;
	padding: 0 15px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(255,255,255,1);
	position: relative;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.default-white-button::before {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.default-white-button:not(.tiny-button):hover {
	-webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.15);
}
.default-white-button:not(.tiny-button) i {
	margin: 0 6px 1px -5px;
	vertical-align: middle;
}
.red.default-white-button:hover {
	-webkit-box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
	-moz-box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
) box-shadow: 0px 0px 0px 4px rgba(217,0,7,0.2);
}
.default-white-button.tiny-button {
	width: 16px;
	height: 16px;
	padding: 0;
	float: right;
	text-align: left;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.default-white-button.tiny-button .tiny-icon {
	margin: 0 auto;
	display: block;
}
.contacts-info:hover .tiny-button, .message.content-area:hover > .tiny-button, .default-white-button.tiny-button.active, .shared-link.img-block:hover .tiny-button, .data-block-view:hover .tiny-button {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.default-white-button.tiny-button:hover, .default-white-button.tiny-button.active {
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.blue.big-button {
	color: #2BA6DE;
	border-color: #2BA6DE;
}
.blue.big-button:hover {
	background-color: #2BA6DE;
}
.default-white-button.left {
	margin-right: 8px;
}
.red {
	color: #D90007
}
.button.overlay-button {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -35px 0 0 -35px;
	webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	-o-transition: opacity 100ms ease-in-out;
	-ms-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index: 10;
}
.button.square-button {
    width: 32px;
    height: 32px;
    float: left;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
    text-align:center;
}
.button.square-button:hover {
    background-color: #EEEEEE;
}
.button.square-button.active {
    background-color: #999999;
}