.conversations .nw-fm-tree-header span, .conversations .nw-fm-tree-header input.chat-quick-search {
    color: #333333;
}

.conversations .nw-fm-tree-header input.chat-quick-search::-webkit-input-placeholder {
    color: #333333;
}
.conversations .nw-fm-tree-header input.chat-quick-search:-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search::-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-ms-input-placeholder {
    color:rgba(255,255,255,0.3);
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus::-webkit-input-placeholder {
    color:rgba(255,255,255,0.3);
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-moz-placeholder {
    color:rgba(255,255,255,0.3);
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus::-moz-placeholder {
    color:rgba(255,255,255,0.3);
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-ms-input-placeholder {
    color:rgba(255,255,255,0.3);
}
.conversations .nw-fm-tree-header .nw-fm-search-icon {
    margin-right: 30px;
}

.fm-left-menu.conversations {
    background-color: #FAFAFA;
}
.conversations-pane {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.section.conversations .fm-left-panel {
    height: -webkit-calc(100% +36px);
    height: -moz-calc(100% + 36px);
    height: calc(100% + 36px);
    margin: -36px 0 0 0;
}
.content-panel.conversations, .archived-chats .archive-chat-list {
    min-height: 100%;
    background-color: #FAFAFA;
    display: block;
}
.archived-chats .archive-chat-list {
    min-height: initial;
    background-color: white;
}
.conversation-reduce-height {
    position: relative;
    height: -webkit-calc(100% - 74px) !important;
    height: -moz-calc(100% - 74px) !important;
    height: calc(100% - 74px) !important;
}
.conversations-pane li {
    padding: 6px 12px;
    display: block;
    position: relative;
    height: 72px;
    margin: 0 0 1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.conversations-pane li::before {
    content: '';
    display: block;
    height: 1px;
    width: 110%;
    margin: -7px 0 6px 0;
    background-color: rgba(0,0,0,0.1);
}
.conversations-pane li.active::before {
    background-color: transparent;
}
.user-card-name.conversation-name {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold';
    color: #333333;
    padding: 0 16px 0 0;
    float: left;
    line-height: 21px;
    max-width: 100%;
    max-width: -webkit-calc(100% - 25px);
    max-width: -moz-calc(100% -25px);
    max-width: calc(100% - 25px);
    letter-spacing: -0.05px;
}
.user-card-name.conversation-name.group {
    padding: 0;
}
.user-card-name.conversation-name .user-card-presence {
    margin: 8px 2px 0 6px;
    position: absolute;
    right: 0;
}
.conversation-message {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold';
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    margin: 0 40px 0 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    clear: both;
}
.conversations-pane li .date-time {
     font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversation-message.unread {
    color: #2BA6DE;
}
.conversations-pane li.active {
    background-color: #65bbe2;
}
.conversations-pane li.active .user-card-name {
    color: white;
}
.conversations-pane li.active .conversation-message {
    color: white;
}
.conversations-pane li.active .date-time {
    color: white;
}
.conversations-pane li.active .user-card-presence {
    -webkit-box-shadow: 0px 0px 0px 2px #FFFFFF;
    -moz-box-shadow: 0px 0px 0px 2px #FFFFFF;
    box-shadow: 0px 0px 0px 2px #FFFFFF;
}
.unread-messages {
    position: absolute;
    right: 12px;
    top: 28px;
    text-align: center;
    min-width: 18px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    padding: 0 6px;
    background-color: #2BA6DE;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.conversations-pane li.active .unread-messages {
    background-color: white;
    color: #2BA6DE;
}
.conversations-pane li .items-2 .tiny-icon.white-handset,
.conversations-pane li .items-2 .tiny-icon.blue-handset {
    margin-right: 4px;
}
.conversations-pane li .unread-messages {
    min-width: 6px;
}
.call-duration {
    position: absolute;
    right: 12px;
    top: 23px;
    font-size: 20px;
    line-height: 25px;
    color: #777777;
    font-family: 'source_sans_prolight';
}
.conversations-pane li.active .call-duration {
    color: white;
}
.call-duration.blue {
    color: #61D2FF;
}
.call-duration.medium {
    font-size: 24px;
    line-height: 31px;
}
.call-duration span, .call-duration i {
    vertical-align: top;
}
.call-duration i {
    vertical-align: top;
    margin: 4px 6px 0 0;
}
.call-duration + .conversation-message {
    margin-right: 120px;
}
.unread-messages + .call-duration {
    margin-right: 30px;
}
.unread-messages + .call-duration + .conversation-message {
    margin-right: 150px;
}

.left-pane-button {
    height: 36px;
    background-color: white;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
    margin-top: 1px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.left-pane-button.archived:hover {
    background-color: rgba(248, 233, 177, 0.05);
}
.left-pane-button.new-link:hover {
    background-color: rgba(173, 234, 251, 0.03);
}
.left-pane-button.archived.active {
    background-color: #66BCE3;
}
.left-pane-button i {
    display: inline-block;
    margin: 8px 12px;
    float:left;
}
.left-pane-button .heading {
    display: inline-block;
    float:left;
    font-size: 13px;
    line-height: 36px;
    color: #333333;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.left-pane-button.archived.active .heading {
    color: #fff;
}
.left-pane-button .indicator {
    float: right;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    color: #333333;
    padding: 0 6px;
    background-color: #F8E9B1;
    border-radius: 4px;
    margin: 10px 12px;
}
.left-pane-button.archived.active .indicator {
    color: #66BCE3;
    background-color: #fff;
}



@keyframes fadein-slow-loop {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}


@keyframes ring {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, -2px, 0);
    }

    40%, 60% {
        transform: translate3d(0, 2px, 0);
    }
}
.have-incoming-ringing-call .unread-messages .tiny-icon,
.new-messages-indicator .tiny-icon {
    -webkit-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Firefox < 16 */
    -ms-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Internet Explorer */
    -o-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Opera < 12.1 */
    animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite;
}

/* Private Chat Styles */
.privateChat + .tiny-icon.blue-key {
    position: absolute;
    right: 12px;
    top: 8px;
}
