.chat-textarea-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 72px;
}
.chat-textarea {
    margin: 0 24px 25px 24px;
    padding: 15px 78px 13px 48px;
    min-height: 48px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.chat-textarea .small-icon.conversations {
    position: absolute;
    left: 13px;
    top: 16px;
}
.chat-textarea-buttons {
    position: absolute;
    right: 14px;
    top: 14px;
}
.chat-textarea .popup-button {
    float: right;
    margin: 0 0 0 20px;
}
.chat-textarea-scroll textarea, .chat-textarea-scroll textarea + div, .message.textarea-scroll textarea,  .message.textarea-block textarea + div {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    color: #777777;
    overflow: hidden;
    word-wrap: break-word;
    height: 20px;
    min-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.chat-textarea-scroll textarea + div,  .message.textarea-block textarea + div {
    position: absolute;
    height: auto;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.message.textarea-block textarea, .message.textarea-block textarea + div {
    font-size: 13px;
    margin: 0 0 2px 0;
}
.chat-textarea-scroll, .message.textarea-scroll, .textarea-scroll .textarea-wrapper {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.chat-textarea-scroll textarea::-webkit-input-placeholder {
 color:#CCCCCC;
}
.chat-textarea-scroll textarea:-moz-placeholder {
 color:#CCCCCC;
 opacity: 1;
}
.chat-textarea-scroll textarea::-moz-placeholder {
 color:#CCCCCC;
 opacity: 1;
}
.chat-textarea-scroll textarea:-ms-input-placeholder {
 color:#CCCCCC;
}
.message.textarea-block {
    border: 1px solid #CCCCCC;
    min-height: 34px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 4px;
    margin: 0 0 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 46px 5px 33px;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 6px;
    top: 6px;
}
.message.textarea-buttons {
    position: absolute;
    right: 13px;
    top: 6px;
}


.textarea-scroll.noscroll .jspVerticalBar {
    display: none;
}

.conversationsApp .fm-tree-panel.manual-tree-panel-scroll-management {
    overflow-x: hidden; /* don't allow child elements to be visible out of this container (happens when left pane is
    resized and the width is not yet updated, because of potential throttling */
}
.chat-textarea-scroll.textarea-scroll.jspScrollable .messages-textarea {
    max-width: 100%; /* don't overlap other elements in case of left pane resize.. */
}

.edit-typing-area {
    border: 1px solid #CCCCCC;
    min-height: 34px;
    position: relative;
    top: 4px;
    margin: 0 0 20px 0;
    padding: 6px 46px 6px 33px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 7px;
}
.edit-typing-area .chat-textarea-buttons {
    top: 6px;
}
