.section, .conversationsApp {
    width: 100%;
    height: 100%;
}
.section.conversations {
    height: 100%;
    height: -webkit-calc(100% - 36px);
    height: -moz-calc(100% - 36px);
    height: calc(100% - 36px);
}
.section.conversations .fm-right-files-block {
    height: 100%;
}
.conversation-panels, .conversation-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
.chat-content-block {
    height: 100%;
    position: relative;
}
.chat-content-block.private-chat .chat-heading-area {
    background-color: #F4F8F9;
    border-bottom: 1px solid #D9E6EB;
}
.chat-content-block.private-chat .chat-right-area {
    background-color: #F4F8F9;
}
.chat-content-block.private-chat .chat-right-area::after {
    background-color: #D9E6EB;
}
.chat-content-block.private-chat .chat-button-seperator {
    background-color: #D9E6EB;
}
.chat-content-block.private-chat .chat-right-area .buttons-block, .chat-content-block.private-chat .public-observer-block {
    border-top: 1px solid #D9E6EB;
}
.chat-content-block.private-chat .chat-right-head-txt, .chat-content-block.private-chat .chat-heading span {
    color: #273B44;
}
.chat-content-block.private-chat .link-button span {
    color: #4E6B78;
}
.chat-right-area {
    width: 256px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    right: 0;
}
.chat-right-area::after {
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e1e1e1;
    position: absolute;
    z-index: 1;
}
.chat-right-area .chat-right-area {
    float: none;
}
.chat-right-pad {
    padding: 16px 0 22px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.chat-right-head {
    clear: both;
    padding: 4px 16px 24px 16px;
}
.chat-right-head-txt {
    font-size: 15px;
    line-height: 22px;
    color: #222;
    font-family: 'source_sans_prosemibold';
    padding: 0 0 0 0;
}
.chat-grey-counter {
    float: right;
    background-color: #777777;
    height: 16px;
    padding: 0 6px;
    margin: 2px 0 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    line-height: 16px;
}
.chat-contacts-list .buttons-block {
    min-height: 192px;
}
.chat-contacts-list-inner .contacts-info.body.right-chat-contact-card {
    min-height: 49px;
}
.chat-right-pad .contacts-info.body {
    padding: 8px 0 8px 22px;
}
.contacts-info.body {
    padding: 6px 0;
    /*position: relative;*/
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-info .tiny-button {
    margin: 1px 0 0 0;
    position: absolute;
    right: 4px;
}
.contacts-info .user-card-data {
    padding-right: 15px;
}
.chat-right-area .buttons-block {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 22px 16px;
    margin: 16px 0px;
}
.chat-right-area .buttons-block .chat-right-head-txt {
    margin-bottom: 14px;
}
.chat-right-area .buttons-block .link-button {
    line-height: 36px;
    white-space: normal;
    height: 36px;
    color: #666;
    padding-left: 4px;
}
.chat-right-area .buttons-block .link-button i {
    float: left;
    margin-top: 8px;
}
.chat-right-area .buttons-block .link-button i.get-link {
    margin-right: 0px;
}
.chat-right-area .buttons-block .link-button span {
    padding-left: 31px;
    display: block;
}
.chat-right-area .big-button {
    margin: 25px 23px 0 23px;
}
.right-chat-contact-card .contact-card-dropdown .dropdown-white-arrow {
    margin-left: 59px;
}
.date-time {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.round-icon-block {
    width: 36px;
    height: 36px;
    display: block;
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.grey-color {
    color: #999999;
}
.buttons-block {
    padding: 11px 0 0 0;
}
.contacts-info .icon-dropdown {
    margin: 5px 4px 0 0;
}
.contacts-info .icon-dropdown i {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=73);
    -moz-opacity: 0.73;
    -khtml-opacity: 0.73;
    opacity: 0.73;
}
.group-chat .contacts-info .user-card-data {
    padding-left: 10px;
    overflow: auto;
    height: 32px;
}
.chat-heading-area {
    height: 36px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.chat-heading-area .chat-heading {
    display: inline-block;
    line-height: 38px;
}
.chat-heading-area .chat-heading span {
    margin: 0 12px 0 24px;
    font-family: 'source_sans_prosemibold';
    font-size: 15px;
}
.chat-heading-area .chat-heading i {
    margin-top: 8px;
}
.add-chat-contact {
    font-size: 14px;
    color: #2BA6DE;
    text-align: left;
    font-family: 'source_sans_prosemibold';
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.chat-button-seperator {
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.public-observer-block {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 20px 0 24px;
    margin: 16px 16px 0 16px;
}
.public-observer-block .chat-white-counter {
    float: right;
    background-color: rgba(0,0,0,0);
    height: 16px;
    padding: 0 6px;
    margin: 2px 0 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    border: 1px solid #777;
    font-size: 12px;
    line-height: 16px;
}
.join-chat-block {
    height: 72px;
    background-color:rgba(43, 166, 222, 0.1);
    border-top: 1px solid rgba(43, 166, 222, 0.3);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.join-chat-block:hover {
    background-color:rgba(43, 166, 222, 0.2);
    border-top: 1px solid rgba(43, 166, 222, 0.4);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.join-chat-block .join-chat-button {
    width: 100%;
    line-height: 71px;
    text-align: center;
    font-size: 20px;
    color: #2BA6DE;
}
.group-chat .chat-right-pad .contacts-info.body {
    padding: 0 1px 0 20px;
    height: 32px;
}
.group-chat .contacts-info .icon-dropdown {
    margin: 2px 5px 0 0;
    padding: 2px 3px 2px 3px;
}
.group-chat .chat-contacts-list-inner .contacts-info.body.right-chat-contact-card {
    max-height: 36px;
    min-height: 32px;
}
.chat-content-block.archived-chats {
    height: 100%;
    position: relative;
}

.archived-chat-view .grid-table-header th {
    margin-top: 12px;
    color: #999;
}

.arc-chat-messages-block tr.arc-chat-list {
    height: 72px;
}

.arc-chat-messages-block tr.arc-chat-list .nw-contact-avatar {
    margin-top: 18px;
}

.arc-chat-messages-block .fm-chat-user-info {
    margin: 7px 0 0 14px;
    width: calc(100% - 160px);
}

.arc-chat-messages-block .user-card-name.conversation-name {
    color: #333333;
    font-size: 14px;
}
.arc-chat-messages-block .archived-on {
    margin-top: 22px;
    display: inline-block;
}
.arc-chat-messages-block .archived-date-time {
    color: #666;
    font-size: 13px;
    display: inline-block;
}
.arc-chat-messages-block .conversation-message {
    color: #666;
}
.arc-chat-messages-block .archived-badge {
    height: 18px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #777777;
    float: right;
    font-size: 11px;
    color: #fff;
    line-height: 18px;
    margin-top: 25px;
    margin-right: 10px;
}
table.arc-chat-messages-block {
    table-layout: fixed;
}
.conversations-pane .active .archived-badge {
    background-color: #fff;
    color: #65bbe2;
}
.conversations-pane .archived-badge {
    height: 18px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #777;
    font-size: 11px;
    color: #fff;
    line-height: 18px;
    margin-top: 21px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}
.conversations-pane .archived-badge + .conversation-message {
    margin: 0 76px 0 0;
}
.archived-badge {
    text-transform: uppercase;
}
.arc-chat-messages-block .arc-chat-list:hover .default-white-button {
   display: inline-block;
}
.arc-chat-messages-block .default-white-button {
    display: none;
    top: 16px;
    position: absolute;
    right: 20px;
}
.arc-chat-messages-block .arc-chat-list.ui-selected .default-white-button {
    display: inline-block;
}
.fm-dialog.archive-conversation .secondary-header, .fm-dialog.unarchive-conversation .secondary-header {
    padding-bottom: 24px;
}
/* Old chat stuff */
.fm-start-chat-dropdown.dropdown.body {
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    left: auto;
    right: -13px;
    z-index: 1000;
}
.fm-start-chat-dropdown.dropdown.body.active {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.fm-chat-popup-button {
    height: 32px;
    line-height: 31px;
    padding: 0 15px 0 50px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    color: #cccccc;
    white-space: nowrap;
    background-color: rgba(255,255,255,0);
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    background-image: url(../images/mega/fm-main-sprite_v7.png);
    background-position: 0 -2516px;
    background-repeat: no-repeat;
}
.fm-chat-popup-button:hover, .fm-chat-popup-button.active {
    background-color: rgba(213,22,0,1);
    color: white;
}
.fm-chat-popup-button.start-chat, .fm-chat-popup-button.disabled.start-chat, .fm-chat-popup-button.disabled.start-chat:hover {
    background-position: 0 -7018px;
}
.fm-chat-popup-button.start-chat:hover, .fm-chat-popup-button.start-chat.active {
    background-position: 0 -7260px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.start-audio, .fm-chat-popup-button.disabled.start-audio, .fm-chat-popup-button.disabled.start-audio:hover {
    background-position: 1px -1799px;
}
.fm-chat-popup-button.start-audio:hover, .fm-chat-popup-button.start-audio.active {
    background-position: 0px -2259px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.start-video, .fm-chat-popup-button.disabled.start-video, .fm-chat-popup-button.disabled.start-video:hover {
    background-position: -1px -1764px;
}
.fm-chat-popup-button.start-video:hover, .fm-chat-popup-button.start-video.active {
    background-position: -1px -2004px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.disabled, .fm-chat-popup-button.disabled:hover {
    opacity: 0.6;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    background-color: transparent !important;
    color: #cccccc;
    cursor: default;
}
.fm-chat-user-info {
    float: left;
    margin: 7px 0 0 12px;
    display: block;
}
.fm-chat-user {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    margin-right: 20px;
    font-family: 'source_sans_prosemibold';
    display: block;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.calculated-width {
    width: -webkit-calc(100% - 330px);
    width:    -moz-calc(100% - 330px);
    width:         calc(100% - 330px);
}
/* End of Old chat stuff */


