.nw-fm-tree-header.conversations {
    /*padding: 5px 36px 0 5px;*/
    padding: 5px 0 0 0;
    box-sizing: border-box;
}
.nw-fm-tree-header.conversations .button {
    right: 7px;
}
.nw-fm-tree-header.conversations input {
    margin: 0;
    padding: 0;
    padding: 0 0 0 32px;
    border-radius: 4px;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}
.nw-fm-tree-header.conversations input:focus, .nw-fm-tree-header.conversations.filled-input input {
    background-color: white;
     -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    font-size: 13px;
    padding: 1px 2px 1px 26px;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversations .nw-fm-tree-header span, .conversations .nw-fm-tree-header input.chat-quick-search {
    color: #333333;
}
.conversations .nw-fm-tree-header input.chat-quick-search::-webkit-input-placeholder {
    color: #333333;
}
.conversations .nw-fm-tree-header input.chat-quick-search:-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search::-moz-placeholder {
    color: #333333;
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-ms-input-placeholder {
    font-size: 13px;
    color: #777777;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus::-webkit-input-placeholder {
    font-size: 13px;
    color: #777777;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-moz-placeholder {
    font-size: 13px;
    color: #777777;
    font-family: 'LatoWeb', 'source_sans_proregular';
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus::-moz-placeholder {
    font-size: 13px;
    color: #777777;
    font-family: 'LatoWeb', 'source_sans_proregular';
    opacity: 1;
}
.conversations .nw-fm-tree-header input.chat-quick-search:not([readonly]):focus:-ms-input-placeholder {
    font-size: 13px;
    color: #777777;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversations .nw-fm-tree-header .thin-search-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: 8px 0 0 8px;
}
.fm-left-menu.conversations {
    background-color: #FAFAFA;
}
.conversations-pane {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.section.conversations .fm-left-panel {
    height: -webkit-calc(100% +36px);
    height: -moz-calc(100% + 36px);
    height: calc(100% + 36px);
    margin: -36px 0 0 0;
}
.content-panel.conversations, .archived-chats .archive-chat-list {
    min-height: 100%;
    background-color: #FAFAFA;
    display: block;
}
.archived-chats .archive-chat-list {
    min-height: initial;
    background-color: white;
}
.conversation-reduce-height {
    position: relative;
    height: -webkit-calc(100% - 74px) !important;
    height: -moz-calc(100% - 74px) !important;
    height: calc(100% - 74px) !important;
}
.conversations-pane li {
    padding: 6px 12px;
    display: block;
    position: relative;
    height: 72px;
    margin: 0 0 1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.conversations-pane li::before {
    content: '';
    display: block;
    height: 1px;
    width: 110%;
    margin: -7px 0 6px 0;
    background-color: rgba(0,0,0,0.1);
}
.conversations-pane li.active::before {
    background-color: transparent;
}
.user-card-name.conversation-name {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold';
    color: #333333;
    padding: 0 16px 0 0;
    float: left;
    line-height: 21px;
    max-width: 100%;
    max-width: -webkit-calc(100% - 25px);
    max-width: -moz-calc(100% -25px);
    max-width: calc(100% - 25px);
    letter-spacing: -0.05px;
}
.user-card-name.conversation-name.group {
    padding: 0;
}
.user-card-name.conversation-name .user-card-presence {
    margin: 8px 2px 0 6px;
    position: absolute;
    right: 0;
}
.conversation-message {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold';
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    margin: 0 40px 0 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    clear: both;
}
.conversations-pane li .date-time {
     font-family: 'LatoWeb', 'source_sans_proregular';
}
.conversation-message.unread {
    color: #2BA6DE;
}
.conversations-pane li.active {
    background-color: #65bbe2;
}
.conversations-pane li.active .user-card-name {
    color: white;
}
.conversations-pane li.active .conversation-message {
    color: white;
}
.conversations-pane li.active .date-time {
    color: white;
}
.conversations-pane li.active .user-card-presence {
    -webkit-box-shadow: 0px 0px 0px 2px #FFFFFF;
    -moz-box-shadow: 0px 0px 0px 2px #FFFFFF;
    box-shadow: 0px 0px 0px 2px #FFFFFF;
}
.unread-messages {
    position: absolute;
    right: 12px;
    top: 28px;
    text-align: center;
    min-width: 18px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    padding: 0 6px;
    background-color: #2BA6DE;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.conversations-pane li.active .unread-messages {
    background-color: white;
    color: #2BA6DE;
}
.conversations-pane li .items-2 .tiny-icon.white-handset,
.conversations-pane li .items-2 .tiny-icon.blue-handset {
    margin-right: 4px;
}
.conversations-pane li .unread-messages {
    min-width: 6px;
}
.call-duration {
    position: absolute;
    right: 12px;
    top: 22px;
    font-size: 20px;
    line-height: 25px;
    color: #777777;
    font-family: 'source_sans_prolight';
}
.conversations-pane li.active .call-duration {
    color: white;
}
.call-duration.blue {
    color: #61D2FF;
}
.call-duration.medium {
    font-size: 24px;
    line-height: 31px;
}
.call-duration span, .call-duration i {
    vertical-align: top;
}
.call-duration i {
    vertical-align: top;
    margin: 4px 6px 0 0;
    opacity: 0.7;
}
li.active .call-duration i {
    opacity: 1;
}
.call-duration + .conversation-message {
    margin-right: 120px;
}
.unread-messages + .call-duration {
    margin-right: 30px;
}
.unread-messages + .call-duration + .conversation-message {
    margin-right: 150px;
}

.left-pane-button {
    height: 36px;
    background-color: white;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
    margin-top: 1px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.left-pane-button.archived:hover {
    background-color: rgba(248, 233, 177, 0.05);
}
.left-pane-button.new-link:hover {
    background-color: rgba(173, 234, 251, 0.03);
}
.left-pane-button.archived.active {
    background-color: #66BCE3;
}
.left-pane-button i {
    display: inline-block;
    margin: 8px 12px;
    float:left;
}
.left-pane-button .heading {
    display: inline-block;
    float:left;
    font-size: 13px;
    line-height: 36px;
    color: #333333;
    font-family: 'LatoWeb', 'source_sans_proregular';
}
.left-pane-button.archived.active .heading {
    color: #fff;
}
.left-pane-button .indicator {
    float: right;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    color: #333333;
    padding: 0 6px;
    background-color: #F8E9B1;
    border-radius: 4px;
    margin: 10px 12px;
}
.left-pane-button.archived.active .indicator {
    color: #66BCE3;
    background-color: #fff;
}



@keyframes fadein-slow-loop {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinout-looped {
    from { opacity: 0.6; }
    to   { opacity: 1; }
}


@keyframes ring {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, -2px, 0);
    }

    40%, 60% {
        transform: translate3d(0, 2px, 0);
    }
}
.have-incoming-ringing-call .unread-messages .tiny-icon,
.new-messages-indicator .tiny-icon {
    -webkit-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Firefox < 16 */
    -ms-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Internet Explorer */
    -o-animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite; /* Opera < 12.1 */
    animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite;
}

/* Private Chat Styles */
.privateChat + .tiny-icon.blue-key {
    position: absolute;
    right: 12px;
    top: 8px;
}

/*
 * Search Panel
 * ------------------------------------------------------------------------------------------------------------------ */

.search-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    padding: 2px 3px 0 2px;
    background: #FAFAFA;
    z-index: 130;
    box-sizing: border-box;
    font-family: 'LatoWeb', 'source_sans_proregular', Arial, sans-serif;
}

.search-panel.expanded {
    height: 100%;
}

.search-heading {
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
}

.search-results-wrapper {
    overflow: hidden;
    height: -webkit-calc(100% - 57px);
    height: -moz-calc(100% - 57px);
    height: calc(100% - 57px);
}

/*
 * Search Field
 * ------------------------------------------------------------------------------------------------------------------ */

.search-field {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.search-field i {
    position: absolute;
    display: block;
    z-index: 10;
}

.search-field i.thin-search-icon {
    top: 8px;
    left: 8px;
}

.search-field i.tiny-reset {
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.search-field input {
    width: 100%;
    height: 32px;
    padding: 3px 30px 3px 30px;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #333333;
    background: #FFF;
    box-sizing: border-box;
    font-family: 'LatoWeb', Arial;
}
.search-field input::-webkit-input-placeholder { color: #CCC; }
.search-field input::-moz-placeholder { color: #CCC; }
.search-field input::-ms-input-placeholder { color: #CCC; }

.search-field input.searching {
    height: 34px;
    padding-bottom: 5px;
}

.search-field .search-field-status {
    position: relative;
    margin: -2px 0 0 0;
    padding: 4px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background: #FAFAFA;
    color: #666;
}

.search-field .search-field-status.searching {
    /* [...] */
}

.search-field .search-field-status.clickable {
    cursor: pointer;
}

.search-field .search-field-status.clickable:hover {
    /* [...] */
}

.search-field .search-field-status i {
    position: absolute;
    top: 2px;
    left: 4px;
    display: block;
}
.search-field .search-field-status.searching i  {
    -webkit-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
}

.search-field .search-field-status.searching:hover i {
    background-position: -110px -896px;
    -webkit-animation: none;
    animation: none;
}

/*
 * Result Table & Result Row
 * ------------------------------------------------------------------------------------------------------------------ */

.result-table {
    margin: 2px 0 5px 0;
}

.result-table .result-table-heading {
    height: 20px;
    background-color: #EEEEEE;
    border-radius: 4px;
    text-transform: uppercase;
    color: #333333;
    padding: 0 8px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 2px;
}

.result-table .result-table-row {
    margin: 10px 0;
    padding: 0 10px;
    cursor: pointer;
}

.result-table .result-table-row .chat-topic-icon {
    width: 36px;
    height: 36px;
    border: 2px solid #FFF;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

/*
 * Result Row: Recent & Members
 * ------------------------------------------------------------------------------------------------------------------ */

.result-table .result-table-row .avatar-wrapper {
    float: left;
    width: 36px;
}

.result-table .result-table-row .user-card {
    position: relative;
    float: left;
    width: -webkit-calc(100% - 46px);
    width: -moz-calc(100% - 46px);
    width: calc(100% - 46px);
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 19px;
}

.result-table .result-table-row .user-card span {
    overflow: hidden;
    float: left;
    min-width: 60px;
    max-width: 100%;
    max-width: -webkit-calc(100% - 25px);
    max-width: -moz-calc(100% - 25px);
    max-width: calc(100% - 25px);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result-table .result-table-row .user-card span {
    /* [...] */
}

.result-table .result-table-row .user-card .graphic {
    overflow: hidden;
    padding: 8px 0 0 0;
}

.result-table .result-table-row .user-card .graphic span {
    /* [...] */
}

.result-table .result-table-row .user-card .graphic span:nth-child(1) {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
    color: #666;
}

.result-table .result-table-row .user-card .graphic strong {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
    color: #000;
}

.result-table .result-table-row .user-card .textual {
    overflow: hidden;
}

.result-table .result-table-row .user-card .textual span {
    display: block;
}

.result-table .result-table-row .user-card .textual span:nth-child(1) {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
    color: #333;
}

.result-table .result-table-row .user-card .textual span:nth-child(2) {
    clear: both;
    font-size: 13px;
    color: #666;
}

.result-table .result-table-row .user-card .user-card-presence {
    margin: 0 0 1px 8px;
}

/* --- Result Row: Messages --- */

.result-table .result-table-row.message {
    margin: 5px 0;
    padding: 5px 3px;
}

.result-table .result-table-row.message:nth-child(odd) {
    background: #FFF;
}

.result-table .result-table-row.message span {
    display: block;
    padding: 3px 0;
}

.result-table .result-table-row.message span.title {
    overflow: hidden;
    float: left;
    max-width: 100%;
    max-width: -webkit-calc(90% - 25px);
    max-width: -moz-calc(90% - 25px);
    max-width: calc(90% - 25px);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result-table .result-table-row.message span.title {
    font-size: 14px;
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
}

.result-table .result-table-row.message .user-card-presence {
    margin-bottom: -2px;
}

.result-table .result-table-row.message .summary {
    clear: both;
    overflow: hidden;
    max-width: 100%;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
}

.result-table .result-table-row.message .summary strong {
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold', Arial, sans-serif;
    color: #000;
}

.result-table .result-table-row.message span.date {
    font-size: 12px;
    color: #999;
}

.result-table .search-messages {
    width: 80%;
    margin: 10px auto;
}


/* --- Result Row: No Results --- */

.result-table.nil {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
}

.result-table.nil .result-table-row {
    display: table-cell;
    cursor: default;
    text-align: center;
    vertical-align: middle;
}

.result-table .result-table-row .nil-container {
    text-align: center;
    cursor: default;
}

.result-table.nil .result-table-row span,
.result-table .result-table-row .nil-container span {
    display: block;
    padding: 10px 0 0 0;
    font-size: 20px;
    color: #333;
}

.result-table.nil .result-table-row .search-messages {
    margin: 15px;
    font-size: 14px;
    color: #666;
}

.result-table.nil .result-table-row .search-messages a {
    text-decoration: underline;
}
