.shared-link.main-link {
	font-size: 14px;
	line-height: 20px;
	color: #2BA6DE;
	font-family: 'source_sans_prosemibold';
	display: block;
	padding: 1px 0 0 0;
}
.shared-link.data-block {
	padding: 4px 0 0 20px;
}
.shared-link.author-name {
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	font-family: 'source_sans_prosemibold';
	padding: 3px 0 0 0;
}
.shared-link.page-link {
	font-size: 16px;
	line-height: 20px;
	color: #2BA6DE;
	display: block;
	margin: 4px 0 0 0;
}
.shared-link.description {
	padding: 4px 0 11px 0;
}
.shared-link.description a {
	color: #2BA6DE;
}
a.shared-link.show-more {
	font-family: 'source_sans_prosemibold';
	white-space: nowrap;
}
.shared-link.thumb {
    box-shadow: inset 0 0 0 1px var(--stroke-grey-4);
	position: relative;
	margin: 0 0 4px 0;
	width: auto;
	height: auto;
    display: inline-block;
    min-width: 33px;
    min-height: 33px;
    font-size: 0;
    line-height: 33px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    overflow: hidden;
}
.shared-link.thumb.no-thumb {
    background: none;
    width: 320px;
    height: 200px;
    line-height: 200px;
    background-color: rgba(0,0,0,0.02);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}
.shared-link.no-thumb:not(.video) img {
    max-height: 140px;
}
.thumb-loading .shared-link.no-thumb:not(.video) img {
    display: none;
}
.thumb-loading .shared-link.no-thumb:not(.video)::before, .thumb-loading .shared-link.no-thumb:not(.video)::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    background-color: white;
}
.thumb-loading .shared-link.no-thumb:not(.video)::after {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    background-image: url(../images/mega/loader-light-small.gif);
    background-position: center;
    background-size: 36px auto;
}
.chat-small-loader, .chat-small-loader::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    background-color: white;
}
.chat-small-loader::after {
    content: '';
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    background-image: url(../images/mega/loader-light-small.gif);
    background-position: center;
    background-size: 36px auto;
}
.shared-link.thumb.video {
    background-color: black;
    background-image: none;
    min-width: 128px;
    min-height: 128px;
    line-height: 128px;
}
.shared-link.thumb > img {
    background: var(--image-background);
	max-width: 500px;
	max-height: 200px;
    vertical-align: middle;
    display: inline-block;
}
.shared-link.thumb .thumb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    cursor: zoom-in;
    z-index: 1;
}
.video.thumb .thumb-overlay {
    cursor: pointer;
}
.video.thumb .thumb-overlay .thumb-overlay-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.video.thumb .thumb-overlay .thumb-overlay-play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --mask-color: var(--icon-rest);
    --icon-size: 54px;
}
.video.thumb .thumb-overlay .thumb-overlay-circle {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 200px;
    background: var(--surface-grey-2);
}
.video.thumb.non-previewable .thumb-overlay {
	cursor: default;
}
.thumb-overlay .video-thumb-details {
    display: flex;
    align-items: center;
    padding: 1px 4px 1px 1px;
    border-radius: 2px;
    color: var(--text-color-high);
    background: var(--surface-grey-2);
}
.rtl .thumb-overlay .video-thumb-details {
    padding: 1px 1px 1px 4px;
    left: unset;
    right: 4px;
}
.thumb-overlay .video-thumb-details i {
    --icon-size: 16px;
    --mask-color: var(--icon-rest);
}
.shared-link.thumb .tiny-button {
    float: none;
    position: absolute;
    z-index: 100;
    bottom: 4px;
    right: 4px;
    margin: 0;
}
.rtl .shared-link.thumb .tiny-button {
    left: 4px;
    right: unset;
}
.message.shared-block .data-title,
.message.shared-block .file-size,
.message.shared-block .data-block-view.medium {
	cursor: pointer;
}
