.typing-block {
	position: absolute;
    padding: 0 0 0 72px;
    bottom: 1px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.typing-text {
	ont-size: 12px;
    line-height: 15px;
    color: #777777;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: -webkit-calc(100% - 66px);
    max-width: -moz-calc(100% - 66px);
    max-width: calc(100% - 66px);
    vertical-align: top;
}
.typing-bounce {
	width: 34px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}
.typing-bounce div {
	width: 4px;
	height: 4px;
	background-color: #777777;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: typing-bounce 1.4s ease-in-out 0s infinite both;
	animation: typing-bounce 1.4s ease-in-out 0s infinite both;
	vertical-align: middle;
    margin: 0 1px;
}
.typing-bounce div.typing-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.typing-bounce div.typing-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
 @-webkit-keyframes typing-bounce {
 0%, 80%, 100% {
 -webkit-transform: scale(0);
 transform: scale(0);
}
 40% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
@keyframes typing-bounce {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
