.chat-textarea-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 66px;
}
.chat-textarea {
    margin: 0 18px 18px 18px;
    padding: 14px 78px 14px 54px;
    min-height: 48px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.chat-textarea::before {
    content:'';
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.chat-textarea .small-icon.conversations {
    position: absolute;
    left: 13px;
    top: 16px;
}
.chat-textarea-buttons {
    position: absolute;
    right: 13px;
    top: 13px;
}
.chat-textarea .popup-button {
    position: absolute;
    right: 13px;
    top: 13px;
    cursor: pointer;
}
.chat-textarea .popup-button.left {
    left: 0px;
    right: auto;
    top: 0px;
    height: 100%;
    width: 44px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(95,172,207,0);
    -moz-box-shadow: 0 0 0 1px rgba(95,172,207,0);
    box-shadow: 0 0 0 1px rgba(95,172,207,0);
}
.chat-textarea .popup-button.left:hover {
    background: #6ac0e7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhYzBlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NWI4ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #6ac0e7 0%, #55b8e5 100%);
    background: -webkit-linear-gradient(top, #6ac0e7 0%,#55b8e5 100%);
    background: linear-gradient(to bottom, #6ac0e7 0%,#55b8e5 100%);
    -webkit-box-shadow: 0 0 0 1px rgba(95,172,207,0.7);
    -moz-box-shadow: 0 0 0 1px rgba(95,172,207,0.7);
    box-shadow: 0 0 0 1px rgba(95,172,207,0.7);
}
.chat-textarea .popup-button.left i {
    position: absolute;
    left: 12px;
    top: 50%;
    margin: -10px 0 0 0;
}
.chat-textarea hr {
    content:'';
    display: block;
    position: absolute;
    width: 1px;
    left: 44px;
    top:0;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: rgba(0,0,0,0.1);
}
.chat-textarea .grey-small-plus {
    -moz-opacity: 0.73;
    -khtml-opacity: 0.73;
    opacity: 0.73;
}
.chat-textarea .popup-button.left:hover .grey-small-plus {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background-position: -82px -1474px;
}
.chat-textarea-scroll textarea, .chat-textarea-scroll textarea + div, .message.textarea-scroll textarea,  .message.textarea-block textarea + div {
    font-size: 14px;
    line-height: 20px;
    font-family: 'LatoWeb', 'source_sans_proregular';
    width: calc(100% - 14px);
    border: 0;
    padding: 0;
    margin: 0;
    color: #373737;
    overflow: hidden;
    word-wrap: break-word;
    height: 20px;
    min-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    white-space: pre-wrap;
}
.chat-textarea-scroll textarea[disabled="disabled"], .disabled .chat-textarea-scroll textarea {
    background-color: white;
}
.chat-textarea-scroll textarea + div,  .message.textarea-block textarea + div {
    position: absolute;
    height: auto;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.message.textarea-block textarea, .message.textarea-block textarea + div {
    font-size: 13px;
    margin: 0 0 2px 0;
}
.chat-textarea-scroll, .message.textarea-scroll, .textarea-scroll .textarea-wrapper {
    font-size: 0;
    line-height: 0;
    position: relative;
    min-height: 20px;
    /* otherwise, JScrollPane may set width to 0! */
    width: 100% !important;
}
.chat-textarea-scroll .jspPane, .message.textarea-scroll .jspPane, .textarea-scroll .textarea-wrapper .jspPane {
	margin-left:  0 !important;
}
.chat-textarea-scroll textarea::-webkit-input-placeholder {
 color:#999999;
}
.chat-textarea-scroll textarea:-moz-placeholder {
 color:#999999;
 opacity: 1;
}
.chat-textarea-scroll textarea::-moz-placeholder {
 color:#999999;
 opacity: 1;
}
.chat-textarea-scroll textarea:-ms-input-placeholder {
 color:#999999;
}
.message.textarea-block {
    border: 1px solid #CCCCCC;
    min-height: 34px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 4px;
    margin: 0 0 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 46px 5px 33px;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 6px;
    top: 6px;
}
.chat-textarea.edit-typing-area .button.popup-button {
    right: 12px;
    top: 5px;
}
.textarea-scroll.noscroll .jspVerticalBar {
    display: none;
}
.conversationsApp .fm-tree-panel.manual-tree-panel-scroll-management {
    overflow-x: hidden; /* don't allow child elements to be visible out of this container (happens when left pane is
    resized and the width is not yet updated, because of potential throttling */
}
.chat-textarea-scroll.textarea-scroll.jspScrollable .messages-textarea {
    max-width: 100%; /* don't overlap other elements in case of left pane resize.. */
}

.edit-typing-area {
    border: 1px solid #CCCCCC;
    min-height: 34px;
    position: relative;
    top: 4px;
    margin: 0 0 20px 0;
    padding: 6px 46px 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.chat-textarea.edit-typing-area hr {
    display:  none;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 7px;
}
.edit-typing-area .chat-textarea-buttons {
    top: 5px;
}

.textarea-autofill-bl {
    position:absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    margin: 0 0 -4px 0;
    z-index: 10;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
     -webkit-box-shadow: 0 0 0 1px #CCCCCC;
    -moz-box-shadow: 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #CCCCCC;
}
.textarea-autofill-info {
    text-align: center;
    padding: 10px 0 0 0;
    font-size:13px;
    line-height: 18px;
    color: #777777;
    min-height: 36px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.textarea-autofill-info strong {
    color: #666666;
    padding-right: 4px;
}
.textarea-autofill-info i {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    vertical-align: top;
    margin: -1px 2px 0 2px;

}
.textarea-autofill-info .left-pad {
    margin-left:21px;

}
.textarea-autofill-emoji {
    text-align: center;
    background-color: #FAFAFA;
    border-top: 1px solid #CCCCCC;
    min-height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px 6px 2px;
}
.emoji-preview.shadow {
    margin: 5px 0 0 4px;
    border-radius: 1px;
    position: relative;
    padding: 0 0 0 0;
    float: left;
    cursor: pointer;
    -webkit-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}
.emoji-preview.shadow.active, .emoji-preview.shadow:hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    background-color: white;
}
.emoji-preview.shadow::before {
    position:absolute;
    width: 100%;
    height: 100%;
    content:'';
    display: block;
    border-radius: inherit;
    -webkit-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
}
.emoji-preview.shadow.active::before, .emoji-preview.shadow:hover::before {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.textarea-autofill-emoji::after {
    clear: both;
    content: '';
    display: block;
}
.emoji-preview.shadow img {
    margin: 4px 0px 4px 6px !important;
}
.emoji-preview.shadow .emoji.title {
    margin: 5px 6px 0px 8px;
    font-size: 13px;
    color: #777777;
}
