.chat-topic-block {
    align-items: center;
    background-color: var(--stroke-main);
    box-sizing: content-box;
    display: flex;
    padding: 0 20px 0 12px;
    position: relative;
    line-height: 20px;
    height: 48px;
    z-index: 3;
    overflow: hidden;
    border-bottom: 1px solid var(--divider-color);
}
.chat-topic-block .emoji {
    width: 18px;
    height: 18px;
    margin: 0 2px;
}
.chat-topic-block .emoji:first-child {
    margin-left: 0;
}
.chat-topic-block.in-call {
    margin-right: 255px;
    border-right: 1px solid var(--divider-color);
}
.chat-topic-buttons {
    flex: 0 0 auto;
    order: 1;
}
.chat-topic-buttons .share-meeting-button,
.chat-topic-buttons .share-meeting-button:hover {
    background: transparent;
    box-shadow: none;
    border: 1px solid var(--stroke-grey-2);
}
.chat-topic-info {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}
.chat-topic-info .chat-topic-icon {
    margin: 8px 0;
}
.chat-topic-icon {
    align-items: center;
    background: #2ba6de;
    background: linear-gradient(45deg, #2ba6de 0%,#55d2f0 100%);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    height: 32px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 32px;
}
.chat-topic-icon.meeting-icon {
    background: #00BDB2;
    background: linear-gradient(225deg, #00BDB2 0%, #00897B 100%);
}
.chat-topic-icon i {
    --icon-size: 24px;
}
.chat-topic-icon.meeting-icon i {
    --mask-color: var(--secondary-white);
}
.chat-topic-text {
    color: var(--text-color-high);
    font: var(--text-body1);
    line-height: 16px;
    margin: 0 0 0 12px;
    overflow: hidden;
}
.chat-topic-text .txt {
    display: block;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chat-topic-text i.recurring-meeting {
    margin: 0 0 0 8px;
    --mask-color: var(--icon-rest);
}
.chat-topic-text span.small {
    font: var(--text-body2);
    color: var(--text-color-medium);
}
.chat-topic-text span.small span {
    margin-right: 4px;
}

/* Empty messages block */
.fm-empty-section.empty-messages {
    position: absolute;
    width: calc(100% - 256px);
}
.fm-empty-section.empty-conversations {
    position: absolute;
    width: 100%;
}

.messages-block {
    --messages-block-bg: var(--stroke-main);
    overflow: hidden;
    height: calc(100% - 49px);
    position: relative;
    background-color: var(--messages-block-bg);
    margin-right: 256px;
}
.messages-block.small-block {
    overflow: visible;
    height: 240px;
}
.messages.scroll-area {
    position: relative;
    height: calc(100% - 68px);
    overflow: hidden;
    z-index: 1;
}
.rtl .messages.scroll-area {
    direction: rtl;
}
.messages.error.scroll-area {
    height: 100%;
}
.messages.scroll-area .messages-toast {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 36px;
    height: 36px;
    border-radius: 200px;
    background: var(--surface-mid-grey);
    z-index: -1;
    transition: all 50ms ease-in-out;
    opacity: 0;
}
.rtl .messages.scroll-area .messages-toast {
    left: 20px;
    right: unset;
}
.messages.scroll-area .messages-toast.active {
    bottom: 10px;
    opacity: 1;
    cursor: pointer;
    z-index: 100;
}
.messages.scroll-area .messages-toast i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --mask-color: var(--icon-active);
}
.messages.scroll-area .messages-toast span {
    display: block;
    position: absolute;
    top: -4px;
    left: -3px;
    width: 16px;
    height: 16px;
    border-radius: 200px;
    font: var(--text-caption);
    text-align: center;
    line-height: 14px;
    color: var(--secondary-white);
    background: var(--secondary-blue);
}
.messages.main-pad {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
}
.chat-content-block.private-chat .messages.content-area {
    background-color: #FBFCFD;
}
.messages.content-area {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 24px 0;
}
.error.scroll-area .messages.content-area {
    padding: 0 0 25px 0;
}
.messages.notification .header {
    color: var(--text-color-high);
    font: var(--text-h1);
}
.messages.notification .header span {
    color: var(--text-color-medium);
}
.messages.notification .info {
    font: var(--text-body1);
    color: var(--text-color-medium);
}
.messages.notification .info > span {
    padding: 0 0 16px 0;
    display: block;
}
.messages.notification .info p {
    position: relative;
    margin: 0;
    padding-top: 24px;
    padding-inline-start: 48px;
    -webkit-padding-start: 48px;
    font: var(--text-body1);
}
.messages.notification .info p i {
    position: absolute;
    left: 0;
    --icon-size: 36px;
    margin: 2px 0 0 0;
    --mask-color: var(--icon-rest);
}
.rtl .messages.notification .info p i {
    left: unset;
    right: 0;
}
.messages.notification .info p strong {
    display: block;
    font: var(--text-body1-bold);
    color: var(--text-color-high);
}
.message.body {
    padding: 3px 24px 0 24px;
    margin: 14px 0 0 0;
    position: relative;
    clear: both;
}
.message.content-area {
    margin-inline-start: 48px;
    -webkit-margin-start: 48px;
    font-size: 0;
    line-height: 0;
    color: #666666;
}
.message.content-area::after, .typingarea-componentedit-typing-area::after {
    content: '';
    display: block;
    clear: both;
}
.message.content-area::before {
    content: '';
    display: block;
    position:absolute;
    left: 2px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 200ms ease-in-out;
}
.message.content-area:hover::before {
    background-color: var(--stroke-grey-3);
}
.message.small-rounded-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 6px 0;
    border-radius: 4px;
    z-index: 1;
    font: var(--text-body1);
}
.message.small-rounded-avatar img {
    width: 100%;
    height: 100%;
}
.message.text-block {
    font: var(--text-body1);
    color: var(--text-color-higher);
    margin-inline-end: 30px;
    -webkit-margin-end: 30px;
    word-wrap: break-word;
    min-height: 20px;
    position: relative;
    user-select: text;
    white-space: pre-wrap;
}
.message.text-block a {
    user-select: text;
}
.message.text-block.scroll {
    max-height: 60px;
}
.message.with-border {
    padding-bottom: 10px;
}
.message.with-border .message.text-block {
    border-radius: 8px;
    padding: 19px 22px;
    margin-top: 4px;
    position: relative;
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-grey-2);
}
.message.with-border .message.text-block::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}
.message .call-info {
    display: flex;
    justify-content: space-between;
}
.in-call .message .call-info {
    display: block;
    justify-content: unset;
}
.in-call .message .call-info-avatars {
    margin: 10px 0 0 0;
}
.message .call-info-container,
.message .call-info-container .info-wrapper {
    min-width: 151px;
    display: flex;
    align-items: center;
    white-space: normal;
}
.message .call-info-content {
    min-width: 100px;
    position: relative;
    font: var(--text-body2);
    color: var(--text-color-medium);
}
.message .call-info-content .emoji {
    width: 14px;
    height: 14px;
}
.message .call-info-content .bold {
    font-family: var(--text-font-family-semibold);
}
.message i.call-info-icon {
    display: block;
    float: left;
    margin-inline-end: 20px;
    -webkit-margin-end: 20px;
    --icon-size: 32px;
    --mask-color: var(--icon-rest);
}
.rtl .message i.call-info-icon {
    float: right;
}
.message .call-info-message {
    display: block;
    font: var(--text-body1-bold);
    color: var(--text-color-high);
}
.not-sent.retrying .message.text-block {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.message.text-block em.edited {
    font: var(--text-body2);
    font-style: italic;
    color: var(--text-color-info);
}
.message.text-block a {
    color: var(--secondary-blue);
    text-decoration: underline;
}
.message.text-block a.red {
    color: var(--secondary-red);
}
.message.text-block a:hover {
    text-decoration: none;
}
.small-info-txt .message.text-block {
    color: var(--text-color-medium);
}
.message .dark-grey-txt {
    color: var(--text-color-low);
}
.message .giphy-block {
    position: relative;
    display: block;
    margin: 8px 0;
    background: var(--surface-grey-2);
    border-radius: 6px;
}
.message.dialog-wrapper .giphy-block {
    max-width: 100%;
    height: 100%;
}
.message.date-time {
    display: inline-block;
    position: relative;
    padding-top: 1px;
    height: 19px;
    box-sizing: border-box;
    font: var(--text-body2);
    color: var(--text-color-medium);
    vertical-align: top;
}
.message.content-area button.message:first-child {
    display: inline-flex;
    vertical-align: top;
}
.message.user-card-name {
    display: inline-block;
    max-width: calc(100% - 60px);
    height: 19px;
    padding-inline-end: 10px;
    -webkit-padding-end: 10px;
    font: var(--text-body1-bold);
    vertical-align: top;
    color: var(--text-color-high);
}
.message.user-card-name .emoji {
    width: 18px;
    height: 18px;
}
.message.date-divider {
    font: var(--text-h3);
    color: var(--text-color-info);
    padding-top: 47px;
    padding-bottom: 9px;
    padding-inline-start: 71px;
    -webkit-padding-start: 71px;
}
.message.shared-block {
    position: relative;
}
.message.shared-block .data-block-view,
.message.shared-block .data-block-view .avatar-wrapper {
    cursor: pointer;
}
.message.shared-block .user-card-presence {
    z-index: 1;
}
.message.shared-block.contact-link {
    padding: 2px 10px;
    cursor: pointer;
}
.message.shared-info {
    white-space: nowrap;
    padding: 17px 0 4px 0;
}
.message.shared-info:first-child {
    padding: 1px 0 8px 0;
}
.message.shared-info .user-card-email {
    padding: 0 0 4px 0;
}
.user-card-verified.right-align {
    display: inline-block;
    margin: 3px 0 0 -58px;
    float: none;
    position: absolute;
}
.message.data-title {
    display: inline-block;
    font: var(--text-body1);
    color: var(--text-color-info);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-inline-end: 70px;
    -webkit-padding-end: 70px;
    box-sizing: border-box;
    max-width: 100%;
}
.message.data-title .emoji {
    width: 18px;
    height: 18px;
}
.message.data-title .file-name {
    color: var(--text-color-high);
    padding-inline-start: 5px;
    -webkit-padding-start: 5px;
}
.message.data-title.red {
    color: var(--text-color-error);
}
.message.file-size {
    display: inline-block;
    margin-top: 3px;
    margin-inline-start: -60px;
    -webkit-margin-start: -60px;
    vertical-align: top;
    font: var(--text-body2);
    color: var(--text-color-low);
}
.message.shared-data, .typingarea-componentedit-typing-area {
    padding-bottom: 6px;
}
.message.shared-data, .typingarea-componentedit-typing-area button {
    margin: 0 0 0 5px;
}
.message.shared-data .data-block-view.medium {
    width: 124px;
}
.message.shared-data .data-block-bg {
    border-radius: 8px;
}
.message.shared-data .item-type-icon-90 {
    --icon-size: 96px;
    margin: calc(50% - var(--icon-size) / 2);
}
.not-sent.message.body:not(.retrying) {
    background-color: var(--stroke-error);
    padding: 12px 24px 12px 24px;
}
.not-sent:not(.retrying) .message.user-card-name, .not-sent:not(.retrying) .message.text-block {
    color: var(--text-color-low);
}
.not-sent:not(.retrying) .message.date-time {
    color: var(--text-color-low);
}
.not-sent:not(.retrying) .red {
    color: var(--text-color-error);
}
.not-sent-indicator {
    position: absolute;
    z-index: 1;
    right: 22px;
    margin: 5px 0 0 0;
    transition: all 100ms ease-in-out;
}
.message.content-area:hover .not-sent-indicator,
.message.content-area:hover .small-blue-spinner {
    opacity: 0;
}
.message.circuit-label {
    display: block;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    border: 1px solid white;
    color: white;
    font-family: 'Open Sans Italic';
    padding: 0 10px;
    height: 32px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.messages.notification {
    padding: 24px 24px 0 24px;
}
.message.body.grouped {
    margin: 0;
}
.message.body.grouped {
    margin: 0;
    padding-top: 0;
}
.message.content-area > .tiny-button {
    position: absolute;
    top: 2px;
    right: 16px;
    float: none;
    margin: 2px 0 0 0;
    z-index: 100;
}
.message.content-area .small-blue-spinner {
    position: absolute;
    right: 24px;
    margin-top: -15px;
    transition: all 100ms ease-in-out;
}
.message.warning-text {
    font: var(--text-code1);
    color: var(--text-color-low);
    padding: 11px 0 0 7px;
    margin: 0 0 -1px 0;
}
.message.warning-text i {
    margin: 0 5px 0 0;
}
.message.body.dialog-wrapper .not-sent-indicator {
    display: none;
}
.not-sent.retrying .tiny-button {
    right: 0;
}
.not-sent-indicator i {
    cursor: pointer;
}
.message em.rtf-italic {
    position: static;
}
.message pre.rtf-multi {
    margin: 0;
    display: inline-block;
    padding: 0 4px;
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-grey-2);
    border-radius: 3px;
    font: var(--text-code1);
}
.message pre.rtf-multi {
    display: block;
    width: auto;
}
.message pre.rtf-multi:last-child {
    content: '';
    display: block;
    margin-bottom: 2px;
}
.message pre.rtf-multi {
    white-space: pre-wrap;
}

.message pre.rtf-quote, .message pre.rtf-single {
    margin: 0;
    display: inline;
    padding: 0 4px;
    background-color: var(--stroke-grey-1);
    border-radius: 3px;
    font: var(--text-code1);
    white-space: normal;
}
.message pre.rtf-single {
    color: var(--secondary-red);
}

.message.content-area .buttons-block {
    padding: 10px 0 0 0;
}
.message.content-area .buttons-block button:not(:last-of-type) {
    margin-inline-end: 8px;
    -webkit-margin-end: 8px;
}

.shared-link.thumb.video.no-thumb img {
    opacity: 0;
}

.message.richpreview.previews-container {
    padding-right: 27px;
}
.message.richpreview .title {
    font-size: 15px;
    line-height: 24px;
}
.confirmation .message.richpreview.title {
    margin-top: 4px;
}
.message.richpreview .url-container {
    font: var(--text-body1);
    padding-bottom: 2px;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.message.richpreview .desc {
    overflow: hidden;
    margin-top: 2px;
    text-overflow: ellipsis;
    font: var(--text-body1);
    color: var(--text-color-medium);
}
.confirmation .message.richpreview .desc {
    min-height: 36px;
    margin-top: 3px;
    line-height: 20px;
    color: var(--text-color-medium);
}
.message.richpreview .desc span span:last-child {
    padding-top: 6px;
    display: inline-block;
}
.message.richpreview.container {
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 8px;
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
}
.rtl .message.richpreview.container {
    float: right;
}
.message.richpreview.container.done-loading:hover {
    z-index: 100;
}
.message.richpreview.have-description {
    min-height: 80px;
}
.message.richpreview.no-description {
    min-height: 80px;
}
.message.richpreview.container.is-loading {
    cursor: wait;
}
.message.richpreview.container .loading-spinner {
    position: absolute;
}

.message.richpreview.container::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}


.message.richpreview.container.done-loading,
.message.richpreview.container.is-loading {
    /*-webkit-transition: color 0.5s linear, opacity 0.5s linear, -webkit-box-shadow 200ms linear;*/
    /*-moz-transition: color 0.5s linear, opacity 0.5s linear, -moz-box-shadow 200ms linear;*/
    /*-o-transition: color 0.5s linear, opacity 0.5s linear, box-shadow 200ms linear;*/
    /*transition: color 0.5s linear, opacity 0.5s linear, box-shadow 200ms linear;*/

    width: 402px;
}

.message.richpreview.preview {
    width: 112px;
    height: 112px;
    background-position: center middle;
    background-size: contain;
    border-radius: 4px;
    opacity: 0.9;
}
.message.richpreview .data-title {
    display: block;
    padding: 0;
}
.message.richpreview.done-loading .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}
.message.richpreview .data-title img {
    margin-top: 4px;
    float: left;
    margin-right: 4px;
    opacity: 0.9;
}
.message.richpreview.title {
    float: left;
    margin-top: 2px;
    padding-top: 2px;
    font: var(--text-body1-bold);
    color: var(--text-color-high);
}
.rtl .message.richpreview.title {
    float: right;
}
.message.richpreview.body {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.message.richpreview.img-wrapper, .message.richpreview.inner-wrapper {
    padding: 0 16px;
}
.confirmation .message.richpreview.img-wrapper {
    width: 128px;
}
.message.richpreview.img-wrapper {
    width: 112px;
    padding: 0;
    float: left;
}
.rtl .message.richpreview.img-wrapper {
    float: right;
}
.message.richpreview.inner-wrapper {
    float: right;
    width: calc(100% - 166px);
}
.rtl .message.richpreview.inner-wrapper {
    float: left;
}
.message.richpreview.url {
    text-decoration: none;
}
.message.richpreview.url:hover {
    text-decoration: underline;
}
.message.richpreview.url-favicon {
    margin-top: 2px;
    padding-inline-end: 8px;
    -webkit-padding-end: 8px;
    float: left;
}
.rtl .message.richpreview.url-favicon {
    float: right;
}
.message.richpreview.loading-message {
    text-align: center;
}

.richpreview.no-preview.container {
    min-height: 80px;
}
.richpreview.no-description.no-preview.container {
    min-height: 60px;
}

.message.richpreview.container.is-loading {
    min-height: 110px !important;
    background-color: rgba(250, 250, 250, 1);
}
.message.richpreview.previews-container > :not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.message.richpreview.previews-container > :not(:first-child) {
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -8px;
}

.message.richpreview.preview-confirmation {
    width: 130px;
    --width: 130px;
    height: 130px;
    margin: -10px 0 0 0;
}
.message.richpreview.container {
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-grey-2);
}
.message.richpreview.container.confirmation {
    cursor: default;
    max-width: 620px;
}
.preview-requires-confirmation-container .message.content-area:hover::before {
    background-color: rgba(43,166,222,0.02);
}
.message.richpreview.have-preview  .message.richpreview.url-container {
    left: 124px;
    line-height: 18px;
    color: var(--text-color-low);
}
.message.richpreview.confirmation .buttons-block {
    padding: 10px 0 8px 0;
    float: right;
}
.message.richpreview.confirmation .buttons-block > * {
    margin: 0 4px;
    height: 34px;
    padding: 0 17px;
}
.message.richpreview.confirmation .buttons-block span {
    line-height: 34px;
    white-space: nowrap;
}
.richpreview.icon.item-type-icon-90 {
    --icon-size: 96px;
    float: left;
    margin: 0;
    margin-right: 14px;
    left: auto;
    top: auto;
    position: static;
    transform: none;
}

.richpreview.have-icon .item-type-icon-90 {
    --icon-size: 96px;
    margin: 8px 14px;
}

.richpreview .main-loader {
    margin-top: -16px;
    margin-left: -16px;
}
.message.richpreview.container.is-loading::before,
.message.richpreview.container.is-loading::after,
.message.richpreview.container.is-loading {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.message.richpreview.container.is-loading {
    border-color: rgba(237, 237, 237, 1);
}

/* Private Chat styles */
.chat-topic-block.privateChat .privateChatDiv {
    width: 16px;
    height: 16px;
    background-image: url(../images/mega/new-chat-sprite.png);
    background-size: 237px auto;
    background-repeat: no-repeat;
    background-position: 0px -4137px;
    display: inline-block;
    margin-left: 5px;
}

.message.call-inner-block > .small-rounded-avatar {
    position: relative;
    z-index: 1;
}
.message.call-inner-block .avatar-wrapper {
    float: right;
    margin: 0 0 0 -12px;
}
.in-call .message.call-inner-block .avatar-wrapper {
    margin: 0 0 3px -14px;
}

.message .audio-player {
    display: flex;
    align-items: center;
    height: 50px;
    width: 402px;
    border-radius: 8px;
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-grey-2);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
body.theme-dark .message .audio-player {
    background-color: var(--stroke-main);
}

.message .audio-player i {
    --mask-color: var(--icon-rest);
    --icon-size: 24px;
    padding-inline-start: 12px;
}

.message .audio-player i {
    --mask-color: var(--icon-rest);
    --icon-size: 24px;
    padding-inline-start: 12px;
}

.message .audio-player i {
    --mask-color: var(--icon-rest);
    --icon-size: 24px;
    padding-inline-start: 12px;
}

.message .audio-player .audio-player__play-btn {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #666;
    top: 33%;
}

.message .audio-player .audio-player__play-btn,
.message .audio-player .audio-player__pause-btn {
    display: inline-block;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.message .audio-player .audio-player__pause-btn {
    top: 33%;
    width: 10px;
    height: 16px;
    border-color: #666;
    border-right: solid 2px;
    border-left: solid 2px;
}

.message .audio-player .slider {
    height: 2px;
    background-color: #DDD;
    display: inline-block;
    width: 284px;
    position: absolute;
    top: 50%;
    left: 55px;
}

.message .audio-player .slider__progress {
    background-color: var(--secondary-red);
    height: 2px;
    transition: 0s;
    display: inline-block;
}

.message .audio-player .slider__progress__pin {
    height: 14px;
    width: 14px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    background: linear-gradient(180deg, #FFFFFF 0%, #FAFAFA 100%);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -7px;
}

.message .audio-player .audio-player__time {
    color: var(--text-color-medium);
    font: var(--text-body1);
    position: absolute;
    right: 20px;
}

.message .audio-player .audio-player__spinner {
    position: absolute;
    top: 70%;
    left: 20px;
}
.reactions-bar {
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    clear: both;
    margin: 2px 0 4px 0;
}
.reactions-bar > div {
    display: inline-block;
    position: relative;
}
.reactions-bar > div span.message.text-block {
    margin: 0;
    margin-right: 4px;
}
.reactions-bar img.emoji {
    cursor: pointer;
}
.reactions-bar em {
    font-size: 16px;
    font-style: normal;
    display: inline;
    margin-right: 3px;
    line-height: 12px;
    position: relative;
    top: 1px;
}
.reactions-bar .emoji-loading-error {
    position: relative;
    top: 2px;
}
.reactions-bar .emoji-loading-error span.text-block {
    position: relative;
    top: -2px;
}
.reactions-bar .disabled {
    cursor: default !important;
}

.reactions-bar .disabled * {
    cursor: default !important;
}

.reactions-bar > div {
    display: flex;
    align-items: center;
    padding-inline: 4px;
    margin: 4px 0 0 2px;
    width: auto;
    height: 23px;
    border-radius: 11px;
    box-sizing: border-box;
    background-color: var(--stroke-grey-2);
    border: 1px solid var(--stroke-grey-1);
    cursor: pointer;
    z-index: 1;
}

.reactions-bar > .disabled {
    opacity: 1;
}

.reactions-bar > div:hover {
    background-color: var(--stroke-grey-1);
    border-color: var(--stroke-grey-2);
}

.reactions-bar > div.reactions-button {
    position: relative;
    height: 24px;
    border-radius: 11px;
    background-color: var(--stroke-grey-2);
    border: 1px solid var(--stroke-grey-1);
    cursor: pointer;
    z-index: 1;
}
.reactions-bar > div.reactions-button:hover {
    background-color: var(--stroke-grey-1);
    border-color: var(--stroke-grey-2);
}
.reactions-bar > div.reactions-button i {
    --icon-size: 24px;
}

.reactions-bar > div > img.emoji {
    width: 15px;
    height: 15px;
    margin: 0 3px 0 0;
}
.reactions-bar > div > span.message.text-block {
    height: 11px;
    font-family: var(--text-font-family-black);
    font-size: 9px;
    color: var(--text-color-medium);
}
.reactions-bar > div.reactions-button > img.emoji {
    margin-top: 1px;
}
.reactions-bar > div.user-reacted {
    border: 1px solid var(--banner-border-info);
    background-color: var(--banner-background-info);
}

.message.content-area > .right-aligned-msg-buttons {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    float: right;
    position: relative;
    z-index: 1;
    margin-top: -16px;
}
.rtl .message.content-area > .right-aligned-msg-buttons {
    float: left;
}
.message.content-area:hover > .right-aligned-msg-buttons,
.force-show-message-action-buttons .message.content-area > .right-aligned-msg-buttons,
.force-show-message-action-buttons .message.content-area > .right-aligned-msg-buttons > * {
    opacity: 1;
}
.message.content-area > .right-aligned-msg-buttons > * {
    display: flex;
    height: 27px;
    align-items: center;
    justify-content: center;
    background: var(--surface-grey-3);
}
.message.content-area > .right-aligned-msg-buttons.total-2 > .reactions-button,
.message.content-area > .right-aligned-msg-buttons.total-3 > .reactions-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -2px;
}
.message.content-area > .right-aligned-msg-buttons.total-2 > .tiny-button:not(.reactions-button),
.message.content-area > .right-aligned-msg-buttons.total-3 > .tiny-button:not(.reactions-button) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: transparent;
}
.message.content-area > .right-aligned-msg-buttons.total-2 > .tiny-button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
}
.message.content-area > .right-aligned-msg-buttons.total-3 > .tiny-button.copy-txt-block {
    border-radius: 0;
}
.right-aligned-msg-buttons.total-1 .reactions-button,
.right-aligned-msg-buttons.total-1 .reactions-button::before,
.right-aligned-msg-buttons.total-1 .reactions-button::after,
.right-aligned-msg-buttons.total-1 .reactions-button:hover,
.right-aligned-msg-buttons.total-1 .reactions-button:hover::before,
.right-aligned-msg-buttons.total-1 .reactions-button:hover::after {
    border: 0px !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0  rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0  rgba(0, 0, 0, 0);
    background-color: transparent;
}
.right-aligned-msg-buttons i {
    --icon-size: 24px;
    --mask-color: var(--icon-rest);
}
.right-aligned-msg-buttons i.icon-copy {
    --icon-size: 16px;
}


.message .geolocation {
    height: 122px;
    width: 402px;
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-grey-2);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message .geolocation .geolocation__coordinates {
    font: var(--text-body1);
    color: var(--text-color-medium);
}

.message .geolocation .geolocation__icon {
    position: relative;
    width: 112px;
    height: 112px;
    margin: 5px;
    border-radius: 4px;
    background: #E2574C;
}

.message .geolocation .geolocation__icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    --mask-color: var(--secondary-white);
    --icon-size: 64px;

}

.message .geolocation .geolocation__data-list {
    position: absolute;
    left: 95px;
    top: 50%;
    transform: translateY(-50%);
}

.message .geolocation ul li:nth-child(3) {
   padding-left: 20px;
}

.message .geolocation ul li {
    margin: 0 0 10px 0;
}

.message .geolocation .geolocation__title {
    color: var(--text-color-high);
    font: var(--text-h3);
}

.message .geolocation .geolocation__text-md {
    font-size: 15px;
}

.message .geolocation .geolocation__coordinates-icon {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    margin: 2px 4px 0 0;
    background-image: url(../images/mega/google-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.geolocation-icon,
.voice-message-icon {
    display: block;
    float: left;
    margin: -2px 0 0 -4px;
    --icon-size: 20px;
    --mask-color: var(--icon-rest);
}

.message.schedule-message .body-block {
    color: var(--text-color-medium);
    font: var(--text-body2);
    position: relative;
}

.message.schedule-message .schedule-detail-block {
    background: var(--surface-grey-1);
    border: solid 1px var(--surface-grey-2);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding: 20px 24px;
    position: relative;
}

.message.schedule-message .schedule-detail-block div {
    flex: 1;
}

.message.schedule-message .schedule-detail-block .schedule-meeting-title {
    color: var(--text-color-high);
    font: var(--text-body1-bold);
    max-width: 50%;
}

.message.schedule-message .schedule-detail-block .schedule-calendar-icon {
    background: var(--surface-main);
    border-top: solid 6px var(--secondary-red);
    border-radius: 7px;
    box-sizing: border-box;
    color: var(--text-color-high);
    flex: 0 0 52px;
    height: 52px;
    margin-inline-end: 24px;
    -webkit-margin-end: 24px;
    text-align: center;
}

.message.schedule-message .schedule-calendar-icon .schedule-date {
    font: var(--text-h2);
    line-height: 20px;
    margin-top: 6px;
}

.message.schedule-message .schedule-calendar-icon .schedule-month {
    font: var(--text-body2);
}

.message.schedule-message .schedule-detail-block .schedule-detail-main {
    flex: 1;
}

.message.schedule-message .schedule-detail-block .schedule-timing-block {
    max-width: 45%;
}

.message.schedule-message .schedule-timing-block s {
    display: block;
}

.message.schedule-message .schedule-detail-block button {
    align-self: flex-end;
    margin: auto 0;
}

.message.schedule-message .schedule-description {
    margin-top: 8px;
}

.message.schedule-message .schedule-link-instruction {
    color: var(--text-color-high);
    font: var(--text-body1-bold);
    padding-top: 8px;
}

.message.schedule-message .schedule-meeting-link {
    background: var(--surface-grey-2);
    border-radius: 4px;
    margin-top: 8px;
    overflow: hidden;
    padding: 10px 0 10px 16px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message.schedule-message .schedule-meeting-link span {
    color: var(--text-color-high);
    font: var(--text-body1);
}

.message.schedule-message .schedule-meeting-link button {
    --height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.message.schedule-message .schedule-meeting-link button span {
    color: var(--text-green);
}

.message.schedule-message .schedule-meeting-link + span {
    color: var(--text-color-low);
    display: block;
    margin-top: 8px;
}

