.chat-textarea-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 66px;
    z-index: 1;
}
.chat-textarea {
    margin: 0 18px 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-inline-start: 54px;
    -webkit-padding-start: 54px;
    padding-inline-end: 78px;
    -webkit-padding-end: 78px;
    min-height: 48px;
    background-color: var(--stroke-main);
    border-radius: 4px;
    border: 1px solid var(--stroke-mid-grey);
    box-sizing: border-box;
    position: relative;
}
.rtl .chat-textarea {
    direction: rtl;
}
.chat-textarea::before {
    content:'';
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.chat-textarea .small-icon.conversations {
    position: absolute;
    left: 13px;
    top: 16px;
}
.chat-textarea-buttons {
    position: absolute;
    right: 13px;
    top: 13px;
}
.chat-textarea .popup-button {
    position: absolute;
    top: 13px;
    cursor: pointer;
}
.chat-textarea .popup-button.emoji-button {
    right: 13px;
}
.rtl .chat-textarea .popup-button.emoji-button {
    left: 13px;
    right: unset;
}
.chat-textarea .popup-button.emoji-button i {
    --icon-size: 24px;
}
.chat-textarea .popup-button.gif-button {
    right: 48px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background: #999;
}
.rtl .chat-textarea .popup-button.gif-button {
    left: 48px;
    right: unset;
}
.chat-textarea .popup-button.gif-button.active,
.chat-textarea .popup-button.gif-button:hover {
    background: rgb(153,51,255);
    background: linear-gradient(45deg, rgba(153,51,255,1) 0%,rgba(230,70,182,1) 100%);
}
.chat-textarea .popup-button.gif-button i {
    display: block;
}
.chat-textarea .popup-button.left {
    left: 0px;
    right: auto;
    top: 0px;
    height: 100%;
    width: 44px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(95,172,207,0);
    -moz-box-shadow: 0 0 0 1px rgba(95,172,207,0);
    box-shadow: 0 0 0 1px rgba(95,172,207,0);
}
.rtl .chat-textarea .popup-button.left {
    right: 0;
    left: unset;
}
.chat-textarea .popup-button.left:hover {
    background: var(--surface-grey-2);
}
.chat-textarea .popup-button.left i {
    position: absolute;
    top: 50%;
    left: 50%;
    --icon-size: 24px;
    transform: translate(-50%, -50%);
    --mask-color: var(--icon-rest);
}
.chat-textarea hr {
    content:'';
    display: block;
    position: absolute;
    width: 1px;
    left: 44px;
    top:0;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: var(--stroke-mid-grey);
}
.rtl .chat-textarea hr {
    left: unset;
    right: 44px;
}
.chat-textarea .grey-small-plus {
    -moz-opacity: 0.73;
    -khtml-opacity: 0.73;
    opacity: 0.73;
}
.chat-textarea .popup-button.left:hover i {
    --mask-color: var(--icon-active);
}
.chat-textarea .messages-textarea-placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    font: var(--text-body1);
    color: var(--text-color-medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: -1;
}
.rtl .chat-textarea .messages-textarea-placeholder {
    left: unset;
    right: 0;
}
.chat-textarea-scroll {
    z-index: 0;
}
.chat-textarea-scroll textarea,
.message.textarea-scroll textarea,
.chat-textarea-scroll .message-preview,
.message.textarea-scroll .message-preview {
    font: var(--text-body1);
    width: calc(100% - 14px);
    border: 0;
    padding: 0;
    margin: 0;
    color: var(--text-color-high);
    overflow: hidden;
    word-wrap: break-word;
    height: 20px;
    min-height: 20px;
    box-sizing: border-box;
    display: block;
    white-space: pre-wrap;
    background-color: var(--stroke-main);
}
.chat-textarea-scroll.textarea-scroll .messages-textarea {
    background-color: transparent;
}
.chat-textarea-scroll .message-preview,
.message.textarea-scroll .message-preview {
    height: auto;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    top: 0;
}
.chat-textarea-scroll textarea[disabled="disabled"],
.disabled .chat-textarea-scroll textarea {
    opacity: 0.7;
}
.chat-textarea-scroll,
.message.textarea-scroll,
.textarea-scroll .textarea-wrapper {
    font-size: 0;
    line-height: 0;
    position: relative;
    min-height: 20px;
}
.chat-textarea-scroll textarea::-webkit-input-placeholder {
 color:#999999;
}
.chat-textarea-scroll textarea:-moz-placeholder {
 color:#999999;
 opacity: 1;
}
.chat-textarea-scroll textarea::-moz-placeholder {
 color:#999999;
 opacity: 1;
}
.chat-textarea-scroll textarea:-ms-input-placeholder {
 color:#999999;
}
.message.textarea-block {
    border: 1px solid #CCCCCC;
    min-height: 34px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 4px;
    margin: 0 0 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 46px 5px 33px;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 6px;
    top: 6px;
}
.chat-textarea.edit-typing-area .button.popup-button {
    right: 12px;
    top: 5px;
}
.conversationsApp .fm-tree-panel.manual-tree-panel-scroll-management {
    overflow-x: hidden; /* don't allow child elements to be visible out of this container (happens when left pane is
    resized and the width is not yet updated, because of potential throttling */
}

.edit-typing-area {
    min-height: 34px;
    position: relative;
    top: 4px;
    margin: 0;
    padding: 6px 46px 6px 6px;
    box-shadow: none;
}
.edit-typing-area button {
    margin: 11px 0 8px 8px;
}
.chat-textarea.edit-typing-area hr {
    display:  none;
}
.textarea-icon.small-icon {
    position: absolute;
    left: 7px;
}
.edit-typing-area .chat-textarea-buttons {
    top: 5px;
}

.textarea-autofill-bl {
    position:absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    margin: 0 0 -4px 0;
    z-index: 10;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
     -webkit-box-shadow: 0 0 0 1px #CCCCCC;
    -moz-box-shadow: 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #CCCCCC;
}
.textarea-autofill-info {
    text-align: center;
    padding: 10px 0 0 0;
    font-size:13px;
    line-height: 18px;
    color: #777777;
    min-height: 36px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.textarea-autofill-info strong {
    color: #666666;
    padding-right: 4px;
}
.textarea-autofill-info i {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    vertical-align: top;
    margin: -1px 2px 0 2px;

}
.textarea-autofill-info .left-pad {
    margin-left:21px;

}
.textarea-autofill-emoji {
    text-align: center;
    background-color: #FAFAFA;
    border-top: 1px solid #CCCCCC;
    min-height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px 6px 2px;
}
.emoji-preview.shadow {
    margin: 5px 0 0 4px;
    border-radius: 1px;
    position: relative;
    padding: 0 0 0 0;
    float: left;
    cursor: pointer;
    -webkit-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}
.emoji-preview.shadow.active, .emoji-preview.shadow:hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    background-color: white;
}
.emoji-preview.shadow::before {
    position:absolute;
    width: 100%;
    height: 100%;
    content:'';
    display: block;
    border-radius: inherit;
    -webkit-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
}
.emoji-preview.shadow.active::before, .emoji-preview.shadow:hover::before {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.textarea-autofill-emoji::after {
    clear: both;
    content: '';
    display: block;
}
.emoji-preview.shadow img {
    margin: 4px 0px 4px 6px !important;
}
.emoji-preview.shadow .emoji.title {
    margin: 5px 6px 0px 8px;
    font-size: 13px;
    color: #777777;
}
