.shared-link.main-link {
	font-size: 14px;
	line-height: 20px;
	color: #2BA6DE;
	font-family: 'source_sans_prosemibold';
	display: block;
	padding: 1px 0 0 0;
}
.shared-link.data-block {
	padding: 4px 0 0 20px;
}
.shared-link.author-name {
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	font-family: 'source_sans_prosemibold';
	padding: 3px 0 0 0;
}
.shared-link.page-link {
	font-size: 16px;
	line-height: 20px;
	color: #2BA6DE;
	display: block;
	margin: 4px 0 0 0;
}
.shared-link.description {
	padding: 4px 0 11px 0;
}
.shared-link.description a {
	color: #2BA6DE;
}
a.shared-link.show-more {
	font-family: 'source_sans_prosemibold';
	white-space: nowrap;
}
.shared-link.img-block {
	position: relative;
	display: inline-block;
	margin: 0 0 4px 0;
	width: 120px;
	height: 120px;
}
.shared-link.img-block img {
	max-width: 360px;
	max-height: 240px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.shared-link.img-block .img-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	display: block;
	background-color: rgba(0,0,0,0.3);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	-o-transition: opacity 100ms ease-in-out;
	-ms-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.shared-link.img-block:hover .img-overlay, .shared-link.img-block:hover .overlay-button {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.shared-link.img-block .default-white-button.tiny-button {
	float: none;
	position: absolute;
	z-index: 100;
	top: 8px;
	right: 8px;
	margin: 0;
}
