.disabled {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.section, .conversationsApp {
    width: 100%;
    height: 100%;
}
.section.conversations {
    height: 100%;
    height: -webkit-calc(100% -36px);
    height: -moz-calc(100% - 36px);
    height: calc(100% - 36px);
}
.section.conversations .fm-right-files-block {
    height: 100%;
}
.nw-fm-tree-header.conversations .button {
    position: absolute;
    right: 12px;
    top: 6px;
    padding: 2px;
}
.conversation-panels, .conversation-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
.chat-content-block {
    height: 100%;
    position: relative;
}
.chat-right-area {
    width: 256px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    right: 0;
}
.chat-right-area::after {
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e1e1e1;
    position: absolute;
    z-index: 1;
}
.chat-right-area .chat-right-area {
    float: none;
}
.chat-right-pad {
    padding: 16px 0 22px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.chat-right-head {
    clear: both;
    padding: 4px 18px 16px 22px;
}
.chat-right-head-txt {
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    padding: 0 0 0 0;
}
.chat-grey-counter {
    float: right;
    background-color: #777777;
    height: 16px;
    padding: 0 6px;
    margin: 2px 0 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    line-height: 16px;
}
.chat-contacts-list .buttons-block {
    min-height: 192px;
}
.chat-contacts-list-inner .contacts-info.body.right-chat-contact-card {
    min-height: 49px;
}
.chat-contacts-list-inner {
    padding: 0 0 0 22px;
}
.chat-right-pad .contacts-info.body {
    padding: 8px 0;
}
.contacts-info.body {
    padding: 6px 0;
    /*position: relative;*/
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-info .tiny-button {
    margin: 10px 22px 0 0;
}
.contacts-info .tiny-button + .user-card-data {
    padding-right: 40px;
}
.chat-right-area .buttons-block {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 12px 22px;
    margin: 16px 0 16px 0;
}
.chat-right-area .buttons-block .link-button {
    margin: 6px 0;
    padding: 5px 0;
}
.chat-right-area .big-button {
    margin: 25px 23px 0 23px;
}
.right-chat-contact-card .contact-card-dropdown .dropdown-white-arrow {
    margin-left: 59px;
}
.date-time {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.round-icon-block {
    width: 36px;
    height: 36px;
    display: block;
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.grey-color {
    color: #999999;
}
.buttons-block {
    padding: 11px 0 0 0;
}
.contacts-info .icon-dropdown {
    margin: 5px 4px 0 0;
}
.contacts-info .icon-dropdown + .user-card-data {
    padding-right: 46px;
}
/* Old chat stuff */
.fm-start-chat-dropdown {
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    left: auto;
    right: -13px;
}
.fm-start-chat-dropdown.active {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.fm-chat-popup-button {
    height: 32px;
    line-height: 31px;
    padding: 0 15px 0 50px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    color: #cccccc;
    white-space: nowrap;
    background-color: rgba(255,255,255,0);
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    background-image: url(../images/mega/nw-fm-sprite_v12.svg);
    background-position: 0 -2516px;
    background-repeat: no-repeat;
}
.fm-chat-popup-button:hover, .fm-chat-popup-button.active {
    background-color: rgba(213,22,0,1);
    color: white;
}
.fm-chat-popup-button.start-chat, .fm-chat-popup-button.disabled.start-chat, .fm-chat-popup-button.disabled.start-chat:hover {
    background-position: 0 -7018px;
}
.fm-chat-popup-button.start-chat:hover, .fm-chat-popup-button.start-chat.active {
    background-position: 0 -7260px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.start-audio, .fm-chat-popup-button.disabled.start-audio, .fm-chat-popup-button.disabled.start-audio:hover {
    background-position: 1px -1799px;
}
.fm-chat-popup-button.start-audio:hover, .fm-chat-popup-button.start-audio.active {
    background-position: 0px -2259px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.start-video, .fm-chat-popup-button.disabled.start-video, .fm-chat-popup-button.disabled.start-video:hover {
    background-position: -1px -1764px;
}
.fm-chat-popup-button.start-video:hover, .fm-chat-popup-button.start-video.active {
    background-position: -1px -2004px;
    background-color: rgba(29,161,233,1);
}
.fm-chat-popup-button.disabled, .fm-chat-popup-button.disabled:hover {
    opacity: 0.6;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    background-color: transparent !important;
    color: #cccccc;
    cursor: default;
}
.fm-chat-user-info {
    float: left;
    margin: 7px 0 0 12px;
    display: block;
}
.fm-chat-user {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    margin-right: 20px;
    font-family: 'source_sans_prosemibold';
    display: block;
}
/* End of Old chat stuff */


