/* =============================== *\
        selection-status-bar
\* =============================== */
.selection-status-bar {
    background-color: var(--stroke-grey-2);
    height: 64px;
    padding: 6px 12px;
    box-sizing: border-box;
    cursor: default;
    flex-shrink: 0;
    border-left: 2px solid var(--stroke-main);
    transition: 200ms linear;
}
.rtl .selection-status-bar {
    display: rtl;
}
.fm-right-files-block.item-selected .selection-status-bar {
    margin-bottom: 0;
    -khtml-toast-notification: 1;
    opacity: 1;
    visibility: visible;
    z-index: 11;
}

.selection-status-bar .selection-bar-col .sel-notif-size-total {
    display: inline-block;
    color: var(--stroke-main-inverted);
    background-color: var(--stroke-main);
    height: 28px;
    text-align: center;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    border-radius: 50px;
    line-height: 28px;
    padding: 0 14px;
}

.mega-lite-mode .selection-status-bar .selection-bar-col .sel-notif-size-total,
.selection-status-bar .selection-bar-col .sel-notif-size-total:empty {
    display: none;
}

.selection-status-bar .selection-bar-col {
    font: var(--text-body1);
    color: var(--text-color-high);
    margin-top: 13px;
    line-height: 28px;
    float: left;
}

.rtl .selection-status-bar .selection-bar-col {
    float: right;
}

.selection-links-wrapper {
    float: right;
    top: 12px;
    position: relative;
}
.rtl .selection-links-wrapper {
    float: left;
}

.selection-status-bar .mega-button {
    -webkit-margin-start: 18px;
    margin-inline-start: 18px;
}

.selection-status-bar .mega-button.small > div i {
    --icon-size: 24px;
    --mask-color: var(--icon-rest);
}

/* =============================== *\
        Temp Buttons
\* =============================== */
.btn-myfiles,
.btn-galleries {
    background: transparent;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--stroke-main-inverted);
    cursor: pointer;
    font: var(--text-body1);
    height: 32px;
    line-height: 32px;
    margin: 2px 0;
    opacity: 0.7;
    outline: 0;
    overflow: hidden;
    padding: 0 6px;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.btn-galleries {
    -webkit-padding-start: 4px;
    padding-inline-start: 4px;
}
.btn-myfiles i,
.btn-galleries i {
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    margin-top: 4px;
    --icon-size: 24px;
    line-height: 32px;
    float: left;
    --mask-color: var(--stroke-main-inverted);
}
.btn-myfiles.active,
.btn-galleries.active {
    opacity: 1;
}
.btn-myfiles.active i:not(.icon-dropdown),
.btn-galleries.active i:not(.icon-dropdown):not(.icon-link-small) {
    --mask-color: var(--secondary-blue);
}
.btn-myfiles.active i.icon-dropdown,
.btn-galleries.active i.icon-dropdown {
    --mask-color: var(--icon-active);
}
.rtl .btn-myfiles i,
.rtl .btn-galleries i {
    float: right;
}

.btn-myfiles:hover,
.btn-myfiles.active,
.btn-galleries:hover,
.btn-galleries.active {
    cursor: pointer;
    color: var(--stroke-main-inverted);
    background-color: var(--stroke-grey-1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.btn-myfiles span,
.btn-galleries span {
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
}
.lp-gallery .btn-galleries span {
    width: calc(100% - 40px);
}

.btn-galleries.subalbum-btn::after {
    content: "";
    vertical-align: middle;
    position: sticky;
    display: inline-block;
    right: -1px;
    background: var(--surface-tree-iconwrap);
    padding: 16px 16px 16px 4px;
}

.fm-other-tree-panel .btn-galleries.subalbum-btn::after {
    right: -7px;
}

.rtl .btn-galleries.subalbum-btn::after {
    left: -1px;
    background: var(--surface-tree-iconwrap-rtl);
}

.btn-galleries.subalbum-btn.active::after,
.btn-galleries.subalbum-btn:hover::after,
.btn-galleries.subalbum-btn.selected::after {
    background: var(--surface-tree-iconwrap-active);
}

.rtl .btn-galleries.subalbum-btn.active::after,
.rtl .btn-galleries.subalbum-btn:hover::after,
.rtl .btn-galleries.subalbum-btn.selected::after {
    background: var(--surface-tree-iconwrap-active-rtl);
}

.btn-icon {
    cursor: pointer;
    margin: 2px 0;
    border: none;
    text-align: start;
    font-family: inherit;
    outline: 0;
    background: transparent;
    padding: 0;
    border-radius: 4px;
}

.btn-icon:hover {
    background: var(--button-hover);
}

.btn-link {
    cursor: pointer;
    color: var(--text-color-success);
    border: none;
    background: transparent;
    text-align: start;
    font: var(--text-body2);
    padding: 0;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
