.context-menu {
    background: var(--mobile-page-background);
    border: 1px solid var(--mobile-border-strong);
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: var(--mobile-shadow-medium);
    display: none;
    left: 0;
    min-width: 220px;
    opacity: 0;
    padding: 8px 0;
    position: absolute;
    top: 0;
    transition: opacity 150ms, left 150ms, right 150ms, top 150ms, margin 150ms;
    -webkit-user-select: none;
    user-select: none;
}
.context-menu.file-menu {
    left: 0;
}
.context-menu .context-menu {
    top: -8px;
}
.context-menu .header {
    margin-bottom: 0;
}
.context-menu .context-menu.open-right {
    left: 80%;
    right: auto;
}
.context-menu .context-menu.open-left {
    left: auto;
    right: 80%;
}
.context-menu .context-menu.open-right.open-above,
.context-menu .context-menu.open-left.open-above {
    bottom: -8px;
    top: auto;
}
.context-menu.open-vertical {
    margin-top: -24px;
    top: 100%;
}
.context-menu.open-vertical.visible {
    margin-top: 0;
}
.context-menu.open-vertical.open-above {
    bottom: 100%;
    margin-bottom: -24px;
    margin-top: auto;
    top: auto;
}
.context-menu.open-vertical.open-above.visible {
    margin-bottom: 0;
    margin-top: auto;
}
.context-menu hr {
    background: var(--mobile-border-strong);
    border: none;
    height: 1px;
    margin: 4px 0;
    width: 100%;
}
.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu li {
    position: relative;
}
.context-menu li button {
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--mobile-text-primary);
    cursor: pointer;
    display: flex;
    font: var(--mobile-font-caption-large-regular);
    overflow: hidden;
    max-width: calc(100% - 16px);
    min-height: 36px;
    margin: 0 8px;
    padding: 0 8px;
    position: relative;
    text-align: start;
    text-overflow: ellipsis;
    transition: var(--transition-bg-color), var(--transition-color);
    white-space: nowrap;
    width: 100%;
}
.context-menu li button:hover {
    --mask-color: var(--mobile-button-primary-pressed);
    background: var(--mobile-button-outline-background-hover);
    color: var(--mobile-button-primary-pressed);
}
.context-menu li i {
    --icon-size: 24px;
    flex: 0 0 auto;
    margin-inline-end: 18px;
    transition: var(--transition-color);
}
.context-menu li span ~ i {
    margin-inline-end: 0;
    margin-inline-start: 18px;
}
.context-menu span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.context-menu .shortcut {
    color: var(--text-color-low);
    flex-shrink: 0;
    margin-inline-start: 8px;
    min-width: 50px;
    text-align: end;
}
.context-menu[aria-expanded="true"] {
    display: block;
}
.context-menu.visible {
    opacity: 1;
}
.context-menu .context-menu.open-right.visible {
    left: 100%;
    right: auto;
}
.context-menu .context-menu.open-left.visible {
    left: auto;
    right: 100%;
}
.context-menu.opening,
.context-menu.closing {
    pointer-events: none;
}
.context-menu .options-menu {
    width: 220px;
}
