.new-bottom-pages.credits {
    overflow: hidden;
}
.credits-main-pad {
    margin: -3px -47px -3px -3px;
}
.credits-block {
    margin: 50px 47px 3px 3px;
    width: 280px;
    min-height: 201px;
    -webkit-box-shadow: 0px 0px 0px 2px #d9d9d9;
    -moz-box-shadow: 0px 0px 0px 2px #d9d9d9;
    box-shadow: 0px 0px 0px 2px #d9d9d9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    -webkit-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
}
.credits-block:hover {
    -webkit-box-shadow: 0px 0px 0px 5px #d42400;
    -moz-box-shadow: 0px 0px 0px 5px #d42400;
    box-shadow: 0px 0px 0px 5px #d42400;
}
.credits-logo-block {
    height: 83px;
    display: block;
}
.credits-logo-block img {
    width: 235px;
}
.credits-logo-block.icon-scale-h img {
    height: 45px;
    width: auto;
    float: left;
    padding: 9px 7px 9px 0;
}
.credits-description {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    display: block;
}
.credits-title {
    display: block;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.1px;
    color: #666666;
    font-family: 'Open Sans Semibold Italic', Arial;
    padding: 5px 0 0 0;
}
.credits-info {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #D82D00;
    font-family: 'Open Sans Semibold Italic', Arial;
    padding-top: 2px;
}
.nihilogics.credits-logo-block img {
    margin: -10px 0 0 0;
}
.nihilogics.credits-logo-block .credits-info {
    margin: -20px 0 0 0;
}
.standford img {
    float: left;
    margin: -3px -180px 0 0;
}
.to-full-list {
    float: right;
    margin-top: 20px;
    border: none;
    background-image: linear-gradient(#eee, #ccc);
    padding: 9px 12px;
    border-radius: 4px;
    color: #666;
    font-family: 'source_sans_prosemibold';
    font-size: 14px;
}
