.search .file-block-scrolling,
.select .file-block-scrolling,
.select .shared-blocks-scrolling,
.select .out-shared-blocks-scrolling {
    height: 100%;
}

.fm-blocks-view,
.fm-blocks-view.shared-view,
.shared-details-block,
.shared-blocks-view,
.out-shared-blocks-view,
.fm-blocks-view.out-shares-view,
.fm-blocks-view.public-links-view,
.files-grid-view {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    min-height: 280px;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid var(--surface-grey-2);
    flex-grow: 1;
}

.fm-right-files-block.emptied .fm-blocks-view:not(.shared-folder-content),
.fm-right-files-block.emptied .fm-blocks-view.shared-view,
.fm-right-files-block.emptied .shared-blocks-view,
.fm-right-files-block.emptied .out-shared-blocks-view,
.fm-right-files-block.emptied .fm-blocks-view.out-shares-view,
.fm-right-files-block.emptied .fm-blocks-view.public-links-view {
    display: none;
}
.file-block-scrolling,
.shared-blocks-scrolling,
.out-shared-blocks-scrolling {
    height: 100%;
    padding-right: 14px;
    box-sizing: border-box;
}
.file-block-scrolling .megaList-content {
    margin-bottom: 24px;
}
.rtl .file-block-scrolling .megaList-content {
    direction: rtl;
}
.data-block-view {
    width: 192px;
    display: inline-block;
    line-height: 0;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    cursor: default;
    text-align: center;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    padding: 0;
    overflow: hidden;
}
.data-block-view.semi-big {
    width: 170px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
}
.data-block-view.medium {
    width: 128px;
}
.fm-blocks-view .data-block-view,
.shared-blocks-view .data-block-view,
.out-shared-blocks-view .data-block-view {
    margin: 24px 0 0 24px;
}

.data-block-view:hover {
    box-shadow: 0 0 0 4px var(--stroke-grey-2);
}
.data-block-view.ui-selected,
.data-block-view.ui-selecting,
.data-block-view.dragover {
    box-shadow: 0 0 0 4px var(--secondary-blue);
}
.data-block-bg {
    height: 192px;
    width: 192px;
    display: block;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    text-align: center;
    position: static;
    background: var(--surface-grey-1);
    border: 1px solid var(--stroke-grey-4);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.data-block-view.medium .data-block-bg {
    height: 124px;
    width: 124px;
}
.data-block-view .data-block-bg img {
    background: var(--image-background);
    width: 192px;
    height: 192px;
    vertical-align: middle;
    position: relative;
}
.data-block-view.medium .data-block-bg img {
    height: 124px;
    width: 124px;
    vertical-align: top;
}
.data-block-view .thumb.video img {
    height: auto;
}

.data-block-view.active .data-block-bg,
.data-block-view:hover .data-block-bg,
.data-block-view.ui-selected .data-block-bg,
.data-block-view.ui-selecting .data-block-bg,
.data-block-view.dragover .data-block-bg {
    background-color: var(--stroke-grey-1);
    border: 1px solid var(--stroke-main);
}

.data-block-view.active .thumb .indicator {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}
.data-block-view .tiny-button {
    float: none;
    position: absolute;
    z-index: 100;
    bottom: 8px;
    right: 8px;
    margin: 0;
}
.data-block-view .user-card-presence.small {
    right: 10px;
    top: 10px;
    margin: 0;
}

.data-block-view .file-status-icon.icon-favourite-filled,
.data-block-view .file-status-icon.icon-versions-previous,
.data-block-view .file-status-icon.icon-takedown,
.data-block-view .file-status-icon.icon-info,
.data-block-view.linked .icon-link {
    --icon-size: 16px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: none;
}
.data-block-view .file-status-icon.icon-favourite-filled {
    --mask-color: var(--icon-rest);
}
.data-block-view .file-status-icon.icon-versions-previous {
    --mask-color: var(--icon-rest);
}
.data-block-view .file-status-icon.icon-takedown {
    --mask-color: var(--secondary-red);
}
.data-block-view .file-status-icon.icon-info {
    --mask-color: var(--secondary-orange);
}
.data-block-view:not(.linked) .icon-link {
    display: none;
}
.data-block-view.linked .icon-link {
    --mask-color: var(--icon-rest);
}
.data-block-view .file-status-icon.sprite-fm-mono:not(.icon-favourite-filled),
.data-block-view .file-status-icon.sprite-fm-mono:not(.icon-versions-previous),
.data-block-view .file-status-icon.sprite-fm-mono:not(.icon-takedown),
.data-block-view .file-status-icon.sprite-fm-mono:not(.icon-info),
.data-block-view.linked .sprite-fm-mono:not(.icon-link) {
    height: 0;
}
.data-block-view .file-status-icon.sprite-fm-mono.icon-favourite-filled,
.data-block-view .file-status-icon.sprite-fm-mono.icon-versions-previous,
.data-block-view .file-status-icon.sprite-fm-mono.icon-takedown,
.data-block-view .file-status-icon.sprite-fm-mono.icon-info,
.data-block-view.linked .sprite-fm-mono.icon-link {
    height: 16px;
}

.shared-folder-info-block {
    padding: 0 0 0 51px;
    font: var(--text-body1);
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: left;
}

.shared-blocks-view .shared-folder-info-block,
.out-shared-blocks-view .shared-folder-info-block {
    padding: 8px 6px 6px 50px;
    background: var(--surface-grey-2);
}
.data-block-view .shared-folder-access {
    width: 16px;
    height: 16px;
    float: left;
    padding: 0;
    --mask-color: var(--icon-rest);
    margin-top: 4px;
    margin-right: 4px;
    background-image: none;
}
.data-block-view .shared-folder-info {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-medium);
}
.data-block-view:hover .file-settings-icon,
.data-block-view.ui-selected .file-settings-icon,
.properties-name-block:hover .file-settings-icon {
    opacity: 1;
    background: var(--surface-highlight-2);
    height: 26px;
    width: 26px;
    border-radius: 50%;
}
.megaList-content .data-block-view:hover .file-settings-icon,
.megaList-content .data-block-view.ui-selected .file-settings-icon {
    background: var(--checkbox-fill-inactive);
}
.data-block-view:hover .file-settings-icon i,
.data-block-view.ui-selected .file-settings-icon i {
    --icon-size: 24px;
    --mask-color: var(--icon-rest);
    height: 24px;
    position: relative;
    top: 1px;
    opacity: 1;
}
.data-block-view .file-settings-icon i::before {
    line-height: 24px;
    transition: color 100ms ease-in-out;
}
.data-block-view .file-settings-icon:hover i,
.data-block-view.ui-selected .file-settings-icon.active i {
    --mask-color: var(--icon-active);
}

.data-block-indicators {
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    right: 1px;
    top: 1px;
    left: 1px;
    height: auto;
    z-index: 2;
    background: var(--surface-highlight-2);
    border-radius: 10px 10px 0 0;
    float: right;
}

.data-block-bg.thumb .data-block-indicators {
    border-radius: 8px 8px 0 0;
}
.data-block-bg.video .data-block-indicators {
    height: 24px;
}

.video-thumb-details {
    font: var(--text-body2);
    color: var(--stroke-main-inverted);
    top: 4px;
    position: absolute;
    text-align: left;
    display: none;
    left: 4px;
    z-index: 2;
}

.data-block-bg.video .video-thumb-details {
    display: block;
}
.data-block-bg.video .video-thumb-details i {
    width: 16px;
    float: left;
    margin-top: 1px;
    --mask-color: var(--icon-rest);
}
.shared-blocks-view .data-block-view .data-block-bg,
.out-shared-blocks-view .data-block-view .data-block-bg {
    border-radius: 10px 10px 0 0;
}
.shared-blocks-view .data-block-view .file-settings-icon,
.out-shared-blocks-view .data-block-view .file-settings-icon {
    right: 8px;
    bottom: 64px;
}

.block-view-file-type {
    width: 82px;
    height: 84px;
    display: block;
    background-position: 0 -3234px;
    background-image: url("../images/mega/files-icons.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
.fm-recents .data-block-bg:not(.thumb) .block-view-file-type {
    top: 50%;
}
.block-view-file-type.thumb {
    width: 156px;
    height: 156px;
    margin: -78px 0 0 -78px;
    background: none;
}
.block-view-file-type.word {
    background-position: 0 6px;
}
.block-view-file-type.web-lang {
    background-position: 0 -114px;
}
.block-view-file-type.web-data {
    background-position: 0 -234px;
}
.block-view-file-type.video {
    background-position: 0 -354px;
}
.block-view-file-type.openoffice {
    background-position: 0 -474px;
}
.block-view-file-type.keynote {
    background-position: 0 -594px;
}
.block-view-file-type.numbers {
    background-position: 0 -714px;
}
.block-view-file-type.vcard {
    background-position: 0 -834px;
}
.block-view-file-type.torrent {
    background-position: 0 -954px;
}
.block-view-file-type.text {
    background-position: 0 -1074px;
}
.block-view-file-type.pages {
    background-position: 0 -1194px;
}
.block-view-file-type.spreadsheet {
    background-position: 0 -1314px;
}
.block-view-file-type.recovery {
    background-position: 0 -1434px;
}
.block-view-file-type.dmg {
    background-position: 0 -1554px;
}
.block-view-file-type.raw {
    background-position: 0 -1674px;
}
.block-view-file-type.premiere {
    background-position: 0 -1794px;
}
.block-view-file-type.powerpoint {
    background-position: 0 -1914px;
}
.block-view-file-type.megasync {
    background-position: 0 -2034px;
}
.block-view-file-type.megasync-mac {
    background-position: 0 -2154px;
}
.block-view-file-type.photoshop {
    background-position: 0 -2274px;
}
.block-view-file-type.pdf {
    background-position: 0 -2394px;
}
.block-view-file-type.experience {
    background-position: 0 -2514px;
}
.block-view-file-type.indesign {
    background-position: 0 -2634px;
}
.block-view-file-type.image {
    background-position: 0 -2754px;
}
.block-view-file-type.illustrator {
    background-position: 0 -2874px;
}
.block-view-file-type.sketch-alt {
    background-position: 0 -2994px;
}
.block-view-file-type.sketch {
    background-position: 0 -3114px;
}
.block-view-file-type.generic {
    background-position: 0 -3234px;
}
.block-view-file-type.font {
    background-position: 0 -3354px;
}
.block-view-file-type.executable {
    background-position: 0 -3474px;
}
.block-view-file-type.excel {
    background-position: 0 -3594px;
}
.block-view-file-type.compressed {
    background-position: 0 -3714px;
}
.block-view-file-type.cad {
    background-position: 0 -3834px;
}
.block-view-file-type.audio {
    background-position: 0 -3954px;
}
.block-view-file-type.aftereffects {
    background-position: 0 -4074px;
}
.block-view-file-type.threed {
    background-position: 0 -4194px;
}
.block-view-file-type.folder {
    background-position: 0 -4314px;
}
.block-view-file-type.rubbish-folder {
    background-position: 0 -4434px;
}

.fm-blocks-view.shared-view .block-view-file-type.folder,
.shared-blocks-view .block-view-file-type.folder,
.block-view-file-type.folder.inbound-share {
    background-position: 0 -4794px;
}
.block-view-file-type.folder-sync {
    background-position: 0 -5874px;
}
.block-view-file-type.rubbish-folder-sync {
    background-position: 0 -5994px;
}
.block-view-file-type.folder-backup {
    background-position: 0 -6114px;
}
.block-view-file-type.rubbish-folder-backup {
    background-position: 0 -6234px;
}
.block-view-file-type.folder-chat {
    background-position: 0 -5634px;
}
.block-view-file-type.rubbish-folder-chat {
    background-position: 0 -5754px;
}
.block-view-file-type.folder-camera {
    background-position: 0 -4554px;
}
.block-view-file-type.rubbish-folder-camera {
    background-position: 0 -4674px;
}

.block-view-file-type.backup {
    background-position: -5px -6354px;
}
.block-view-file-type.pc {
    background-position: -5px -6474px;
}
.block-view-file-type.pc-mac {
    background-position: -5px -6714px;
}
.block-view-file-type.pc-win {
    background-position: -5px -6594px;
}
.block-view-file-type.pc-linux {
    background-position: -5px -6834px;
}
.block-view-file-type.mobile {
    background-position: -5px -6954px;
}
.block-view-file-type.mobile-ios {
    background-position: -5px -7074px;
}
.block-view-file-type.mobile-android {
    background-position: -5px -7194px;
}
.block-view-file-type.ex-device {
    background-position: -5px -7314px;
}

.block-view-file-type.folder-shared,
.out-shared-blocks-view .block-view-file-type.folder {
    background-position: 0 -5034px;
}
.block-view-file-type.rubbish-folder-shared {
    background-position: 0 -5154px;
}
.block-view-file-type.puf-folder {
    background-position: 0 -5274px;
}
.block-view-file-type.rubbish-puf-folder {
    background-position: 0 -5394px;
}
 .block-view-file-type.inbound-share {
    background-position: 0 -4794px;
}
