.data-block-view {
    width: 160px;
    display: block;
    font-size: 0;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    position: relative;
    cursor: default;
    text-align: center;
    background-color: white;
    -webkit-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    padding: 2px;
}
.data-block-view.semi-big {
    width: 170px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
}
.contacts-view .data-block-view {
    height: 220px;
}
.data-block-view.medium {
    width: 128px;
}
.fm-blocks-view .data-block-view, .shared-blocks-view .data-block-view, .out-shared-blocks-view .data-block-view {
    margin: 12px 0 0 12px;
}
.data-block-view::before, .data-block-view::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    background-color: white;
}
.data-block-view::after {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    background-color: transparent;
}
.data-block-view.ui-selected, .data-block-view.ui-selecting, .data-block-view.dragover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
}
.data-block-bg {
    height: 156px;
    width: 156px;
    display: block;
    font-size: 0;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    -webkit-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.data-block-view.medium .data-block-bg {
    height: 124px;
    width: 124px;
}
.data-block-view .data-block-bg img {
    width: 156px;
    height: 156px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
}
.data-block-view.medium .data-block-bg img {
    height: 124px;
    width: 124px;
    vertical-align: top;
}
.data-block-view .thumb.video img {
    height: auto;
}

.data-block-view.active .data-block-bg, .data-block-view:hover .data-block-bg, .data-block-view.ui-selected .data-block-bg, .data-block-view.ui-selecting .data-block-bg, .data-block-view.dragover .data-block-bg {
    background-color: rgba(0,0,0,0.05);
}
.data-block-view.active .thumb .indicator {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}
.data-block-view .default-white-button.tiny-button {
    float: none;
    position: absolute;
    z-index: 100;
    bottom: 8px;
    right: 8px;
    margin: 0;
}
.data-block-view .user-card-presence.small {
    right: 10px;
    top: 10px;
    margin: 0;
}
.shared-blocks-view .shared-folder-info-block, .out-shared-blocks-view .shared-folder-info-block {
    padding: 8px 6px 6px 50px;
}
.data-block-view .shared-folder-access {
    width: 28px;
    height: 24px;
    float: left;
    padding: 0;
    background-position: -11px -4289px;
}
.data-block-view .shared-folder-access.read-and-write {
    background-position: -9px -4327px;
}
.data-block-view .shared-folder-access.full-access {
    background-position: -11px -4251px;
}
.contacts-blocks-scrolling .nw-contact-status {
    float: none;
    position: absolute;
    width: 6px;
    height: 6px;
    display: block;
    margin: 0;
    z-index: 10;
    right: 0;
    margin: 6px 0 0 0;
    top: 0;
}
.data-block-view:hover .file-settings-icon, .data-block-view.ui-selected .file-settings-icon, tr:hover .grid-url-arrow, tr.ui-selected .grid-url-arrow, .properties-name-block:hover .file-settings-icon, tr:hover .clear-transfer-icon, tr.ui-selected .clear-transfer-icon {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.data-block-indicators {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    z-index: 10;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}
.thumb .data-block-indicators {
    background-color: rgba(255,255,255,0.4);
}

.video-thumb-details {
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    width: 100%;
    bottom: 0;
    padding: 2px 0;
    position: absolute;
    text-align: left;
    display: none;
    background-color: rgba(255,255,255,0.4);
}
.data-block-bg.video .video-thumb-details {
    display: block;
}
.video-thumb-details i {
    margin: 0 0 0 2px;
}
.video.thumb .data-block-indicators, .video.thumb .video-thumb-details {
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.video.thumb .data-block-indicators i {
    opacity: 0.8;
}
