.fm-dialog-footer {
    height: 56px;
    background-color: #F6F6F6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
    padding: 12px 12px 0 12px;
}
/* Send Contact Dialog */
.fm-dialog.send-contact {
    width: 644px;
    margin: -246px 0 0 -322px;
}
.fm-dialog .contacts-search-scroll {
    height: 336px !important;
}
.fm-dialog .contacts-search-scroll, .fm-dialog .contacts-search-scroll .jspPane {
    background-position: 0 -48px;
}
.fm-dialog .contacts-info.body.contacts-search {
    height: 48px;
    padding: 6px 0;
    cursor: pointer;
    background-color: #fafafa;
}
.fm-dialog .contacts-info.body.contacts-search:nth-child(odd) {
    background-color: white;
}
.contacts-info.body.contacts-search.selected {
    background-color: #2ba6de;
    color: white;
}
.contacts-info.body.contacts-search.selected:nth-child(odd) {
    background-color: #2ba6de;
}
.contacts-info.body.contacts-search.selected span, .contacts-info.body.contacts-search.selected .user-card-email {
    color: white;
}
.contacts-info.body.contacts-search.selected .user-card-presence {
    background-color: white;
}
.fm-dialog .contacts-search-header {
    padding-top: 10px;
}
.contacts-search .user-card-name span {
    margin-top: -4px;
    color: #666666;
}
.contacts-search-footer {
    height: 46px;
    display: block;
}
.contacts-search-footer em {
    display: block;
    color: #2ba6de;
    font-style: normal;
    text-align: center;
    line-height: 46px;
    vertical-align: middle;
}
/* End of Send Contact Dialog */

/* Add From Cloud Dialog */
.fm-dialog.add-from-cloud {
    width: 644px;
    margin: -246px 0 0 -322px;
}
.fm-dialog .fm-breadcrumbs-block {
    float: none;
    height: 40px;
    margin: 0 0 19px 0;
    padding: 22px 0 0 16px;
}
.fm-dialog .fm-breadcrumbs-block:not(.long-path) .cloud-drive .right-arrow-bg {
    padding: 0 7px 0 8px;
    background-image: none;
}
.fm-dialog .fm-breadcrumbs .right-arrow-bg {
    font-size: 13px;
}
.fm-dialog .fm-breadcrumbs:first-child .right-arrow-bg span {
    display: block;
}
.fm-dialog .long-path .fm-breadcrumbs .right-arrow-bg span {
    display: none;
}
.fm-dialog-table.grid-table tr:nth-child(odd) td {
    background-color: rgba(255,255,255,1);
}
.fm-dialog-table.grid-table tr:nth-child(even) td {
    background-color: rgba(250,250,250,1);
}
.fm-dialog-table.grid-table-header th:nth-child(1), .fm-dialog-table.grid-table td:nth-child(1) {
    width: 50px;
    padding: 0 0 0 3px;
}
.fm-dialog-table.grid-table-header th:nth-child(2), .fm-dialog-table.grid-table td:nth-child(2) {
    width: 476px;
}
.fm-dialog-table.grid-table-header th:nth-child(3), .fm-dialog-table.grid-table td:nth-child(3) {
    width: 114px;
    background-image: none;
}
.fm-dialog-grid-scroll {
    height: 312px !important;
}
.fm-dialog-grid-scroll, .fm-dialog-grid-scroll .jspPane {
    background-image: url(../images/mega/grid-bg.svg);
    background-position: 0 -24px;
}
.fm-dialog-table.grid-table tr.ui-selected td {
    background-color: rgba(233,233,233,1);
}
/* End of Add From Cloud Dialog */


/* Delete message dialog */
.fm-dialog.delete-message {
    width: 484px;
    margin: -134px 0 0 -242px;
}
.dialog.secondary-header {
    text-align: center;
    padding: 16px 24px 0 24px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}
.message.body.dialog-wrapper {
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.02);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 24px 12px;
    padding: 13px 15px 13px 15px;
}
.dialog-wrapper .message.text-block {
    margin-right: 0;
    font-size: 14px;
    color: #666666;
}
.footer-checkbox {
    float: left;
    margin: -12px 0 0 0;
}
/* End of Delete message dialog */

/* Confirm truncate dialog */
.fm-dialog.truncate-conversation .fm-dialog-content {
    margin-bottom: 24px;
}
/* End of confirm truncate dialog */

/* Limited available bandwidth dialog */
.fm-dialog.limited-bandwidth-dialog {
    min-width: 484px;
    margin: -196px 0 0 -242px;
}
.dialog-top-icon {
    margin: 34px 0 17px 0;
}
.dialog.header-after-icon {
    font-size: 20px;
    line-height: 25px;
    color: #666666;
    font-family: 'source_sans_prolight';
    padding: 15px 0 8px 0;
}
.dialog.p-after-icon {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding: 15px 0 0 0;
    margin: 0 0 0 0;
}
.dialog.p-after-icon span {
    color: #FF333A;
}
.dialog.big-buttons-block {
    font-size: 0;
    padding: 24px 0 4px 0;
    white-space: nowrap;
}
.dialog.big-buttons-block .default-big-button {
    display: inline-block;
    margin: 0 6px;
}
.fm-dialog-body .centered-checkbox {
    padding: 0 0 10px 0;
}
/* End of Limited available bandwidth dialog */

/* Achivement dialog */
.fm-dialog.achivement-dialog {
    width: 484px;
    margin: -242px 0 0 -242px;
    background-color: #FAFAFA;
    font-size: 0;
}
.achivement-dialog.top-icon {
    padding: 5px 0 21px 0;
}
.achivement-dialog.fm-dialog-body {
    padding: 12px 48px 24px 48px;
}
.fm-dialog-body.centered-content {
    font-size: 0;
}
.achivement-dialog.header {
    font-size: 20px;
    line-height: 30px;
    color: #666666;
    padding: 0;
    height: 60px;
    display: table-cell;
    width: 544px;
}
.achivement-dialog.header span {
    color: #FF333A;
    border-bottom: 2px solid #FF333A;
}
.achivement-dialog.reward {
    display: inline-block;
    margin: 15px 21px 0 21px;
    text-align: left;
}
.achivement-dialog.reward.hidden {
    display: none;
}
.achivement-dialog.reward i {
    vertical-align: top;
}
.achivement-dialog.reward-txt {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    vertical-align: top;
    margin: 6px 0 0 15px;
}
.achivement-dialog.reward-txt span {
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-transform: uppercase;
    color: #2BA6DE;
}
.achivement-dialog.reward.storage span {
    color: #2BA6DE;
}
.achivement-dialog.reward.bandwidth span {
    color: #31B500;
}
.achivement-dialog.description {
    padding: 18px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.achivement-dialog.expires-txt {
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    padding: 15px 0 24px 0;
}
.achivement-dialog.expires-txt.red {
    color: #FF333A;
}
.achivement-dialog .default-white-button {
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #777777;
    min-width: 102px;
}
/* End of Achivement dialog */


/* Achivements list dialog */
.fm-dialog.achivements-list-dialog {
    width: 964px;
    margin: -354px 0 0 -482px;
    background-color: #f7f7f7;
}
.achivements-scroll .achivements-cell {
    display: table;
    width: auto;
    margin: 0 0 12px 0;
}
.achivements-scroll .achivements-cell.hidden {
    display: none;
}
.achivements-cell-body {
    display: table-row;
}
.achivements-list-dialog .achivement-full.info {
    margin: 0;
    padding: 0 36px 0 0;
}
.achivement-dialog.left-icon {
    display: table-cell;
    width: 200px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 18px;
}
.achivement-dialog.left-icon i {
    margin: -5px 0;
}
.achivement-dialog.right-block {
    display: table-cell;
    width: 223px;
    border-left: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    vertical-align: top;
    text-align: center;
    padding: 0 15px;
}
.achivements-scroll {
    max-height: 666px;
    margin-top: 8px;
    overflow: hidden;
}
.achivements-list-dialog .acivements-content {
    padding: 2px 24px 12px 24px;
}
.achivement-full.expires-txt {
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    padding: 10px 0 0 0;
}
.achivement-full.expires-txt.red {
    color: #333333;
}
.achivement-dialog.right-block .reward {
    margin: 0px 0 17px 0;
}
.achivement-dialog.right-block .reward i {
    margin: -2px 0 0 0;
}
.achivement-dialog.right-block .reward-txt {
    margin: -4px 0 0 13px;
}
.achivements-cell-body .expires-txt {
    padding: 12px 0 0 0;
}
.achivement-dialog.status-block {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.achivement-dialog.status-block .button {
    display: inline-block;
    min-width: 126px;
}
.achived .achivement-dialog.status-block .button {
    display: none;
}
.achivement-dialog.status-txt {
    font-size: 18px;
    color: #31B500;
    line-height: 26px;
    text-transform: uppercase;
    display: none;
}
.achived .achivement-dialog.status-txt {
    display: block;
}
.one-reward .achivement-dialog.right-block {
    vertical-align: middle;
}
.one-reward .achivement-dialog.right-block .reward {
    margin: 0px 0 4px 0;
}
.one-reward .right-block .reward.bandwidth {
    display: none;
}
.achived .achivement-dialog.right-block .reward {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
/* End of Achivements list dialog */

/* Invite a friend dialog */
.fm-dialog.invite-dialog {
    width: 644px;
    margin: -327px 0 0 -322px;
    background-color: #FAFAFA;
}
.invite-dialog .header {
    margin-top: -5px;
}
.invite-dialog .fm-dialog-body {
    padding-bottom: 36px;
}
.achivement-dialog.green-header {
    font-size: 16px;
    line-height: 20px;
    color: #54BCA9;
    display: inline-block;
    position: relative;
    background-color: #FAFAFA;
    padding: 21px 10px 0 10px;
}
.achivement-dialog.info-block {
    display: table;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: -12px 0 0 0;
}
.achivement-dialog.info-icon {
    display: table-cell;
    width: 88px;
    vertical-align: middle;
    text-align: left;
}
.achivement-dialog.info-icon i {
    margin-left: -2px;
}
.achivement-dialog.info-body {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 18px 0;
}
.achivement-dialog.info-body p {
    padding: 6px 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.achivement-dialog.info-body p strong {
    color: #333333;
}
.achivement-dialog.info-body p.italic {
    font-style: italic;
    color: #999999;
}
.achivement-dialog.info-body p .red {
    color: #FF333A;
}
.achivement-dialog.input-header {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    padding: 16px 0 16px 0;
}
.achivement-dialog.input-field {
    max-height: 64px;
    min-height: 32px;
    background-color: rgba(0,0,0,0.05);
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    height: auto !important;
    cursor: text;
    text-align: center;
    overflow: hidden;
}
.active .achivement-dialog.input-field {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
}
.achivement-dialog.input-field ul {
    padding: 0 10px 0 10px;
    font-size: 0;
    line-height: 0;
}
.achivement-dialog.input-field li {
    overflow: hidden;
    height: 30px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    cursor: default;
    font-size: 14px;
    color: #333333;
    padding: 6px 0 0 4px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.achivement-dialog.input-field input {
    border: 0;
    width: 100px;
    padding: 0;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin: 0;
    padding: 0;
    -webkit-appearance: caret;
    font-family: 'source_sans_proregular', Arial;
}
.achivement-dialog.input-field input.tiny {
    width: 0 !important;
}
.achivement-dialog.input-info.red, .achivement-dialog.input-field input.red {
    color: #E54C51;
}
.achivement-dialog.input-info, .achivement-dialog.success-info {
    font-size: 12px;
    line-height: 15px;
    color: #999999;
    padding: 12px 0 15px 0;
}
.achivement-dialog.success-info {
    padding: 23px 0 26px 0;
}
.achivement-dialog.success-content, .success .achivement-dialog.default-content, .invite-dialog .default-grey-button.back, .invite-dialog.success .default-grey-button.send {
    display: none;
}
.success .achivement-dialog.success-content {
    display: block;
}
.invite-dialog.success .default-grey-button.back {
    display: inline-block;
}
.achivement-dialog .default-white-button.hidden {
    display: none;
}
.achivement-dialog.links-block {
    float: left;
    width: 50%;
    padding: 14px 12px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.achivement-dialog.links-block.inputs {
    float: left;
    width: 50%;
    padding: 14px 0 2px 12px;
}
.achivement-dialog.links-block input {
    width: 100%;
    margin-top: 6px;
}
.achivement-dialog.links-block .input-field {
    margin: 16px 0;
    padding: 0 14px 0 14px;
}
.achivement-dialog.links-block .input-label {
    margin: 16px 0;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    text-align: right;
    color: #333333;
    font-family: 'source_sans_prosemibold', Arial;
}
/* End of Invite a friend dialog */

/* Invitation status dialog */
.fm-dialog.invitation-dialog {
    width: 724px;
    margin: -303px 0 0 -362px;
    background-color: #FAFAFA;
}
.fm-dialog-body.invitation-dialog {
    padding: 14px 0 36px 0;
    text-align: center;
}
.invitation-dialog.table {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}
.invitation-dialog.table-row {
    display: table-row;
}
.invitation-dialog.table-row:not(.header):nth-child(odd) .table-cell {
    background-color: white;
}
.invitation-dialog.table-row:not(.header):nth-child(even) .table-cell {
    background-color: #f5f5f5;
}
.invitation-dialog.table-cell {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    height: 48px;
    border-left: 1px dashed rgba(0,0,0,0.1);
    padding: 0 12px 0 12px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.invitation-dialog.table-cell *:not(.button) {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.invitation-dialog.table-cell span {
    display: block;
}
.invitation-dialog.table-cell:first-child {
    border-left: 0;
    width: 35px;
    padding: 0 9px;
}
.invitation-dialog.table-cell:nth-child(3) {
    width: 170px;
}
.invitation-dialog.table-cell:nth-child(4) {
    width: 190px;
}
.invitation-dialog.table-row.header .table-cell {
    font-size: 13px;
    line-height: 16px;
    height: 25px;
    color: #666666;
    height: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    padding: 0 12px 4px 12px;
    display: table-cell;
}
.invitation-dialog.table-cell strong {
    font-size: 14px;
}
.invitation-dialog.table-cell .dark-grey {
    color: #333333;
}
.invitation-dialog.table-cell .light-grey {
    color: #999999;
}
.invitation-dialog.table-cell .green {
    color: #31B500;
    font-size: 13px;
}
.invitation-dialog.table-cell .green {
    color: #31B500;
    font-size: 13px;
}
.invitation-dialog.table-cell .orange {
    color: #FFA500;
    font-size: 13px;
}
.invitation-dialog.table-cell.small {
    color: #999999;
}
.invitation-dialog.table-cell span {
    display: block;
    cursor: pointer;
    margin-right: 8px;
}
.invitation-dialog.table-cell span.desc {
    background-image: url(../images/mega/nw-fm-sprite_v19.svg);
    background-position: right -11445px;
    background-repeat: no-repeat;
}
.invitation-dialog.table-cell span.asc {
    background-image: url(../images/mega/nw-fm-sprite_v19.svg);
    background-position: right -11475px;
    background-repeat: no-repeat;
}
.invitation-dialog.table-scroll {
    height: 385px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.invitation-dialog.table-bg {
    min-height: 100%;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MCIgaGVpZ2h0PSI5NiI+CjxyZWN0IHdpZHRoPSI5MCIgaGVpZ2h0PSI0OCIgZmlsbD0iI2Y1ZjVmNSI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iOTAiIGhlaWdodD0iNDgiIGZpbGw9IndoaXRlIj48L3JlY3Q+Cjwvc3ZnPg==");
}
.invitation-dialog.table-info {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding: 24px 48px 23px 48px;
    text-align: left;
}
.invitation-dialog.table-info span {
    color: #FF333A;
}
.invitation-dialog .default-grey-button, .invitation-dialog .default-white-button:not(.small-square-button) {
    padding: 0 24px;
}
.invitation-dialog.table-cell .small-square-button {
    position: absolute;
    right: 12px;
    top: 50%;
    margin: -12px 0 0 0;
}
.invitation-dialog.table-cell .small-square-button span {
    margin-right: 30px;
}
/* End of Invitation status dialog */
.fm-dialog.create-folder-dialog {
    width: 360px;
    margin:-67px 0 0 -180px;
}