/* Main structure */

.download-page {
    background: var(--mobile-page-background);
    height: 100%;
    overflow: hidden;
}

.rtl .download-page {
    direction: rtl;
}

.download-page .download-content {
    height: 100%;
}

.download-page .download-grid {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    grid-template: auto 1fr auto / 1fr auto;
    padding: 0 24px 40px;
    position: relative;
}

.download-page .main-pad {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    overflow: hidden;
}

.download-page .transfer-wrapper {
    border-radius: var(--mobile-border-radius-medium);
    height: 100%;
    overflow: hidden;
}
    
.download-page .transfer-wrapper > * {
    height: 100%;
    position: relative;
}


/* Download header */

.download-page .dl-header-container {
    overflow: hidden;
}

.download-page .dl-header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
    width: 100%;
}

.download-page .dl-header .fileinfo {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin-inline-end: 8px;
    overflow: hidden;
}

.download-page .dl-header .filename {
    color: var(--mobile-text-primary);
    display: flex;
    font: var(--mobile-font-heading-h3);
    overflow: hidden;
}

.download-page .dl-header .filename .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-page .dl-header .size {
    color: var(--mobile-text-secondary);
    display: flex;
    font: var(--mobile-font-caption-large-regular);
    margin: 0 8px;
    margin-inline-end: 22px;
}

.download-page .dl-header .actions {
    align-items: center;
    display: flex;
}

.download-page .dl-header .actions button {
    margin-inline-start: 16px;
    order: 1;
}

.download-page .dl-header button.loading::after {
    --mask-color: var(--mobile-text-primary);
    color: var(--mobile-text-primary);
}

.download-page .dl-header button.loading i {
    opacity: 0;
}

@media only screen and (max-width: 900px) {
    .download-page .dl-header {
        flex-wrap: wrap;
    }
    .download-page .dl-header.wrapped .actions {
        padding: 12px 0 0;
    }
    
    .download-page .dl-header .actions button {
        margin: 0;
        margin-inline-end: 16px;
    }
    
    .download-page .dl-header.wrapped button.normal {
        order: 0;
    }
    .download-page .dl-header.wrapped button:first-child {
        order: 5;
    }
}


/* Media viewer */

.download-page .media-viewer-container {
    position: relative;
    z-index: 99;
}

.download-page .media-viewer-container .viewer-progress,
.download-page .media-viewer-container header {
    display: none;
}

.download-page .media-viewer-container.browserscreen,
.download-page .media-viewer-container.fullscreen {
    position: fixed;
    z-index: 999;
}

.download-page .media-viewer-container:not(.browserscreen):not(.fullscreen) .v-btn.browserscreen {
    display: inline-block;
}

.download-page .media-viewer-container.browserscreen header,
.download-page .media-viewer-container.fullscreen header {
    display: block;
}

.download-page .media-viewer video,
.download-page .media-viewer .bouncing-loader.viewer-pending,
.download-page .media-viewer .loader-grad,
.download-page .media-viewer .play-video-button,
.download-page .media-viewer .watch-again-button {
    position: absolute;
}


/* Text files viewer */

.download-page .textviewer-block .CodeMirror-cursors {
    visibility: hidden;
}

.download-page .text-editor {
    height: 100%;
    min-width: auto;  
    position: absolute;
    width: 100%;
}

.download-page .CodeMirror,
.download-page .CodeMirror-gutters,
.download-page .text-editor > .content,
.download-page .text-editor > .content textarea {
    background-color: var(--mobile-surface-1);
}

.download-page .CodeMirror-wrap .CodeMirror-overlayscroll-vertical {
    margin-inline-end: 4px;
}


/* Filetype icon */

.download-page .info-block {
    background-color: var(--mobile-surface-1);
    height: 100%;
    position: relative;
}

.download-page .transfer-wrapper > *:not(.hidden) ~ .info-block {
    display: none;
}

.download-page .item-type-icon-90 {
    --icon-size: 96px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Global errors */

.dl-access-box {
    background-color: var(--mobile-surface-1);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    opacity: 1;
    overflow: auto;
    padding: 24px;
    transition: var(--transition-all);
    visibility: visible;
    width: 100%;
}

.rtl .dl-access-box {
    direction: rtl;
}

.dl-access-box .main-content {
    background: var(--mobile-page-background);
    border-radius: var(--mobile-border-radius-extra-large);
    box-shadow: 0 0 0 1px var(--mobile-border-subtle);
    box-sizing: border-box;
    color: var(--mobile-text-primary);
    display: grid;
    font: var(--mobile-font-copy-regular);
    gap: 16px;
    grid-auto-flow: row;
    margin: auto;
    max-width: 640px;
    padding: 40px;
    width: 100%;
}

.dl-access-box .no-content {
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
}

.dl-access-box .main-content > *,
.dl-access-box .main-content p,
.dl-access-box .main-content ul,
.dl-access-box .main-content li {
    margin: 0;
    padding: 0;
}

.dl-access-box .main-content i.no-access {
    --icon-size: 40px;
    --mask-color: var(--mobile-support-error);
}

.dl-access-box .main-content a {
    color: var(--mobile-link-primary);
    text-decoration: underline;
}

.dl-access-box .main-content a:hover {
    text-decoration: none;
}

.dl-access-box .main-content h2 {
    font: var(--mobile-font-heading-h2);
}

.dl-access-box .main-content h3 {
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-copy-semibold);
    padding: 16px 0;
}

.dl-access-box .main-content p.strong {
    font: var(--mobile-font-copy-semibold);
}

.dl-access-box .main-content ul {
    color: var(--mobile-text-secondary);
    display: grid;
    gap: 16px;
    grid-auto-flow: row;
    margin-inline-start: 22px;
}

.dl-access-box .main-content .input-label {
    font: var(--mobile-font-caption-large-bold);
    margin: 0 0 4px;
}

.dl-access-box .footer {
    display: flex;
    justify-content: end;
    margin: 24px 0 0;
}

/* Stop illegal content error */

.dl-access-box .sn-error {
    display: block;
}

.dl-access-box .sn-error em {
    border: 1px solid var(--mobile-border-strong);
    border-radius: var(--mobile-border-radius-medium);
    color: var(--mobile-text-secondary);
    display: block;
    font: var(--mobile-font-link-small-regular);
    margin: 24px 0 0;
    padding: 16px;
}

.dl-access-box .sn-error em strong {
    display: block;
    color: var(--mobile-text-primary);
    font: var(--mobile-font-caption-large-semibold);
    margin: 0 0 8px;
}

.dl-access-box .sn-error em a {
    display: inline-block;
    font: var(--mobile-font-link-small-regular);
    margin: 16px 0 0;
}


/* Decryption pages */

.dl-access-box i.image {
    background-image: url("../../images/mobile/key.png");
    background-size: contain;
    height: 96px;
    margin-bottom: 8px;
    width: 96px;
}

.dl-access-box i.image.password {
    background-image: url("../../images/mobile/password.png");
}


/* Widgets */

.dl-widget-container {
    --mobile-border-alpha: 0.05;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    left: 0;
    max-width: 568px;
    padding: 0 24px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.rtl .dl-widget-container {
    left: auto;
    right: 0;
}

.dl-widget-container .dl-widget {
    background-color: var(--mobile-surface-2);
    border-radius: 9px 9px 0 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px var(--mobile-border-strong);
    margin: 8px 0 0;
    max-height: 300px;
    overflow: hidden;
    transition:
        opacity 0.2s,
        margin 0.05s ease,
        max-height 0.2s ease,
        visibility 0.2s ease;
    visibility: visible;
    width: 100%;
}

.dl-widget-container .vo-hidden {
    margin: 0;
    max-height: 0;
}

.dl-widget-container:not(.collapsed) .dl-widget:not(.vo-hidden) ~ .dl-widget {
    border-radius: 9px;
}

/* Progress widget */

.dl-widget-container .dl-widget .nav-elem.text-icon {
    padding: 4px;
}

.dl-widget-container .dl-widget .status {
    align-items: center;
    color: var(--mobile-text-disabled);
    display: flex;
    font: var(--mobile-font-caption-small-regular);
}

.dl-widget-container .dl-widget .status i {
    --icon-size: 16px;
    flex: 0 0 auto;
    margin-inline-end: 8px;
}

.dl-widget-container .dl-widget .status.error,
.dl-widget-container .dl-widget .status.error i {
    --mask-color: var(--mobile-text-error);
    color: var(--mobile-text-error);
}

.dl-widget-container .dl-widget .status.complete,
.dl-widget-container .dl-widget .status.complete i {
    --mask-color: var(--mobile-text-success);
    color: var(--mobile-text-success);
}

.dl-widget-container .dl-widget .actions {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    margin-inline-start: 8px;
    white-space: nowrap;
}

.dl-widget-container .dl-widget .actions button,
.dl-widget-container .dl-widget .actions a {
    margin-inline-start: 8px;
}

.dl-widget-container .dl-widget .actions a {
    padding: 0 8px;
}

.dl-widget-container .dl-widget .header,
.dl-widget-container .dl-widget .content {
    box-sizing: border-box;
    padding: 12px 24px;
    transition:
        opacity 0.2s,
        margin 0.05s ease,
        max-height 0.2s ease,
        padding 0.2s ease,
        visibility 0.2s ease;
    visibility: visible;
}

.dl-widget-container .dl-widget .header {
    align-items: center;
    display: flex;
}

.dl-widget-container .dl-widget .header .name {
    color: var(--mobile-text-accent);
    font: var(--mobile-font-copy-semibold);
}

.dl-widget-container .dl-widget .header .name-cn {
    flex: 1 1 auto;
}

.dl-widget-container .dl-widget .header .status {
    color: var(--mobile-text-accent);
    font: var(--mobile-font-copy-regular);
}

.dl-widget-container .dl-widget .header .status i {
    --icon-size: 24px;
}

.dl-widget-container .dl-widget .header .status ~ .name {
    display: none;
}

.dl-widget-container .dl-widget .header + .content {
    border-top: 1px solid var(--mobile-border-strong);
}

.dl-widget-container .dl-widget .content {
    max-height: 300px;
}

.dl-widget-container .dl-widget .content .cols {
    align-items: center;
    display: flex;
}

.dl-widget-container .dl-widget .content .auto-wrap {
    flex-wrap: wrap;
    row-gap: 8px;
}

.dl-widget-container .dl-widget .content .filename {
    color: var(--mobile-text-accent);
    display: flex;
    font: var(--mobile-font-caption-large-semibold);
    overflow: hidden;
    white-space: nowrap;
}

.dl-widget-container .dl-widget .content .filename .name {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-page .dl-header .filename {
    color: var(--mobile-text-primary);
    display: flex;
    font: var(--mobile-font-heading-h3);
    overflow: hidden;
}

.download-page .dl-header .filename .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dl-widget-container .dl-widget .content .info-cn {
    flex: 1 1 auto;
    overflow: hidden;
}

.dl-widget-container .dl-widget .progress-bar {
    background-color: var(--mobile-neutral-container-default);
    border-radius: 5px;
    height: 6px;
    margin: 8px 0 0;
    overflow: hidden;
    position: relative;
}

.dl-widget-container .dl-widget .progress-bar span {
    background-color: var(--mobile-support-success);
    border-radius: inherit;
    display: block;
    height: 100%;
    position: absolute;
}

.dl-widget-container .dl-widget .progress-bar span.error {
    background-color: var(--mobile-text-error);
}

.dl-widget-container.collapsed .dl-widget .content,
.dl-widget-container.collapsed .dl-widget:not(.progress) {
    border: 0;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    visibility: hidden;
}

.dl-widget-container.collapsed .dl-widget .coll-btn i {
    transform: rotate(180deg);
}

.dl-widget-container.collapsed .dl-widget .header {
    padding: 8px 24px;
}

/* MEGAsync app widget */


.dl-widget-container .dl-widget .spaced-col {
    flex: 0 0 auto;
    margin-inline-end: 16px; 
}

.dl-widget-container .dl-widget .spaced-col:last-child {
    margin: 0; 
}

.dl-widget-container .dl-widget .spaced-col.grow {
    flex: 1 1 0;
}

.dl-widget-container .dl-widget .icon-size-32 {
    --icon-size: 32px;
}

.dl-widget-container .dl-widget .content-text {
    color: var(--mobile-text-accent);
    font: var(--mobile-font-caption-large-regular);
}

.dl-widget-container .dl-widget .content-text.semibold {
    font: var(--mobile-font-caption-large-semibold);
}

.dl-widget-container .dl-widget .content-text.secondary {
    color: var(--mobile-text-on-color-disabled);
}

.dl-widget-container .dl-widget .content-text.small {
    font: var(--mobile-font-caption-small-regular);
}

/* Ads widget */

.dl-widget-container .dl-widget .commercial-wrapper#commercial-wrapper-webfilinks,
.dl-widget-container .dl-widget .commercial-wrapper#commercial-wrapper-webfilinks iframe {
    height: 50px;
    margin: 12px 0;
}

.dl-widget-container .dl-widget .commercial-wrapper#commercial-wrapper-webfilinks iframe {
    margin: 0;
}

.dl-widget-container .dl-widget .content-text a {
    color: var(--mobile-link-primary);
    text-decoration: underline;
}

.dl-widget-container .dl-widget .content-text a:hover {
    text-decoration: none;
}


/* Commercials */

.download-grid .dl-ads-body {
    align-items: center;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-content: center;
    margin: 16px 0 -24px;
}

.download-grid .dl-ads-body.vertical {
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    margin: 0;
    margin-inline-start: 24px;
    max-width: 120px;
    text-align: center;
}

.download-grid .commercial-wrapper#commercial-wrapper-webfilinkb,
.download-grid .commercial-wrapper#commercial-wrapper-webfilinkb iframe {
    margin: 0;
}

.download-grid .vertical .commercial-wrapper#commercial-wrapper-webfilinkb {
    height: 100%;
}

.download-grid .dl-ads-body .info {
    color: var(--mobile-text-secondary);
    display: none;
    font: var(--mobile-font-caption-large-regular);
    order: 1000;
    padding: 16px;
}

.download-grid .dl-ads-body .info a {
    color: var(--mobile-link-primary);
    text-decoration: underline;
}

.download-grid .dl-ads-body .info a:hover {
    text-decoration: none;
}

.download-grid .dl-ads-body.vertical .info {
    padding: 8px;
}

.download-grid .dl-ads-body .commercial-wrapper:not(:empty):not(.hidden) ~ .info {
    display: block;
}


/* DL megasync overlay */

.megasync-bottom {
    display: inline-block;
    padding-top: 8px;
}
button.megasync-slider {
    position: absolute;
    top: 351px;
    z-index: 10;
    cursor: pointer;
}
button.megasync-slider i {
    --mask-color: var(--icon-rest);
}
.megasync-slider.prev.disabled,
.megasync-slider.next.disabled {
    opacity: 0;
    cursor: default;
}
button.megasync-slider.next {
    right: 16px;
    position: absolute;
    top: calc(50% - 30px);
}
button.megasync-slider.prev {
    left: 16px;
    position: absolute;
    top: calc(50% - 30px);
}
.megasync-overlay .mega-input.megasync-dropdown {
    min-width: 230px;
    margin: -20px auto 20px;
}

.download.thumb-block {
    display: none;
    width: calc(100% - 16px);
    height: 261px;
    background-color: black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 8px;
}
.download.thumb-block.clickable {
    cursor: zoom-in;
}
.download.thumb-block img {
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.megasync-close,
.megasync-close-txt,
.download.info-block.thumb .item-type-icon-90 {
    display: none;
}
.downloading .megasync-close,
.downloading .megasync-close-txt,
.thumb .download.thumb-block {
    display: block;
}
