
/* TODO: REMOVE everything and reslice ! */
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/lato-regular-ie.eot');
    src: url('../fonts/lato-regular-ie.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-ie.woff2') format('woff2'), url('../fonts/lato-regular-ie.woff') format('woff'), url('../fonts/lato-regular-ie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: LatoWeb, Arial, sans-serif;
}
input,
label,
select,
button,
textarea {
    font-size: 13px;
    font-family: LatoWeb, Arial, sans-serif;
    box-sizing: border-box;
    outline: 0;
}

.hidden {
    display: none !important;
}
.video-wrapper.main-blur-block {
    filter: blur(0.45em);
    -webkit-filter: blur(0.45em);
    overflow: hidden;
}
.media-viewer-content {
    background-color: white;
    height: 100%;
    width: 100%;
}
.media-viewer {
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.media-viewer.no-bg-color {
    background-color: transparent;
}
.video-wrapper {
    height: 100%;
    line-height: 0;
}
.media-viewer video {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Viewer Controls */
.viewer-top-bl,
.viewer-bottom-bl {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 8px;
    box-sizing: border-box;
    z-index: 10;
    transition: opacity 200ms ease-in-out;
}
.viewer-top-bl {
    height: 40px;
}
.viewer-bottom-bl {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.viewer-bottom-bl {
    top: auto;
    bottom: 0;
    padding: 8px 11px;
    height: 60px;
}
.viewer-filename {
    position: absolute;
    padding: 0 8px;
    text-align: left;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    width: calc(100% - 160px);
}
.media-viewer .v-btn {
    margin: 8px;
    cursor: pointer;
    position: relative;
}
.media-viewer .v-btn.moreoptions {
    margin: 10px 0;
}
.close-overlay {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
    display: block;
}
.context .close-overlay {
    display: none;
}
.context.mobile-mode .close-overlay {
    position: absolute;
    right: 6px;
    top: 9px;
    cursor: pointer;
    display: block;
}
.toast-notification {
    width: 100%;
    position: fixed;
    bottom: 8px;
    left: 0;
    margin: 0 0 -72px 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 12px 12px;
    z-index: 2000;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 18px;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    cursor: default;
    opacity: 0;
    visibility: hidden;
}
.toast-notification::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}
.toast-notification.visible {
    margin-bottom: 0;
    opacity: 1;
    visibility: visible;
}
.toast-notification.second {
    margin-bottom: 0;
    bottom: 0;
}
.media-viewer .v-btn i,
.close-overlay i {
    transition: opacity 200ms ease-in-out;
    opacity: 0.7;
}
.media-viewer .video-controls .v-btn i {
    opacity: 1;
}
.media-viewer .v-btn i.red-heart {
    opacity: 0.8;
}
.media-viewer .v-btn:hover i,
.close-overlay:hover i {
    opacity: 1;
}

.media-viewer .v-btn.share.clicked i {
    --mask-color: var(--label-green);
}
.media-viewer .v-btn.share i {
    --icon-size: 24px;
    --mask-color: #F3F4F4;
}
.viewer-error-header {
    color: white;
    font-size: 20px;
    line-height: 34px;
}
.viewer-error-txt {
    color: white;
    padding: 40px;
}
.viewer-error-button {
    white-space: nowrap;
}
.viewer-error-buttons div {
    display: inline-block;
    margin: 0 16px;
    font-size: 14px;
    line-height: 28px;
    color: white;
}
.mouse-idle .viewer-top-bl,
.mouse-idle .video-controls {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.video-thumb-details {
    display: none;
}

/* Video player */
.video .viewer-image-bl.default-state {
    background-color: black;
}
.video .img-controls {
    display: block;
}

/* controls */
.embedplayer .media-viewer .video-controls {
    display: none;
}
.video-theatre-mode .embedplayer .media-viewer .video-controls {
    display: block;
}
.video-progress-bar {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    border: none;
    position: relative;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
    transition: height 100ms ease-in-out, margin 100ms ease-in-out, border-radius 100ms ease-in-out;
    cursor: pointer;
    text-align: left;
}
.video-progress-block:hover .video-progress-bar {
    height: 6px;
    margin-top: 0;
    border-radius: 3px;
}
.video-time-bar,
.video-buffer-bar {
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #EB4444;
    border-radius: inherit;
}
.video-buffer-bar {
    background-color: rgba(255, 255, 255, 0.3);
}
.video-timing.current {
    text-align: right;
}
.vol-wrapper.audio:hover .video-vol-range {
    height: 80px;
    visibility: visible;
}
.video-controls progress::-moz-progress-bar {
    background-color: #EB4444;
}
.video-controls progress::-webkit-progress-value {
    background-color: #EB4444;
}
.video-vol-range {
    width: 20px;
    height: 0;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    bottom: 43px;
    left: 15px;
    transition: all 100ms ease-in-out;
    overflow: hidden;
}
.video-vol-range .volume-bar {
    width: 4px;
    height: 64px;
    border-radius: 2px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}
.video-vol-range .volume-bar span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: #EB4444;
}
/* End Viewer Controls */

/* Buttons */
.sharefile-buttons .button {
    width: 49%;
    display: inline-block;
    margin: 0 0;
}
.default-red-button,
.default-green-button,
.default-transparent-button {
    display: block;
    font-size: 14px;
    border-radius: 4px;
    line-height: 35px;
    color: #333333;
    padding: 0 24px;
    min-width: 132px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
    white-space: nowrap;
}
.default-red-button {
    color: white;
    background-color: #F0373A;
    box-shadow: 0 1px 2px 0 rgba(217, 0, 7, 0.3), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid #E85358;
    border-radius: 3px;
    max-width: 300px;
}
.default-red-button:hover {
    background-color: #FF4D50;
}
.default-transparent-button {
    background: rgba(250, 250, 250, 0.1);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
}
.default-transparent-button:hover {
    background-color: rgba(250, 250, 250, 0.2);
}
.button.inline {
    display: inline-block;
    margin: 0 3px;
}
.default-green-button {
    color: white;
    background: linear-gradient(180deg, #0ED9B1 0%, #06B17A 100%);
    box-shadow: 0 1px 2px 0 rgba(217, 0, 7, 0.3), inset 0 1px 1px 0 rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 0 4px 4px 0;
    height: 36px;
    width: 57px;
    min-width: 57px;
    padding: 0;
}
/* End of Buttons */

/* Dialog/dropdown */
.dropdown.body {
    padding: 8px;
    position: absolute;
    z-index: 100;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    min-height: 32px;
    box-sizing: border-box;
}
.dropdown.body.context {
    min-width: 188px;
}
.dropdown.body::before {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
}
.dropdown.body .dropdown-item {
    position: relative;
    z-index: 10;
}
.dropdown-item {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #666666;
    border-radius: 2px;
    padding: 0 10;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}
.dropdown-item:hover {
    background-color: #AAAAAA;
    color: white;
}
.dropdown-item i {
    margin: 4px 13px 1px -1px;
    float: left;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    opacity: 0.73;
}
.dropdown-item:hover > i {
    opacity: 1;
}
.dropdown.body hr {
    border: 0;
    height: 1px;
    padding: 0;
    margin: 8px -8px;
    background-color: rgba(0, 0, 0, 0.1);
}
/* End of Dialog/dropdown */

.dialog-wrapper {
    margin: 0 auto;
    max-width: 480px;
    min-width: 300px;
    width: calc(100% - 24px);
    text-align: center;
}
.mobile-mode .dropdown-wrapper {
    margin: -16px auto 0;
    max-width: 320px;
    width: calc(100% - 24px);
    overflow: auto;
    display: table;
}
.dialog-container {
    z-index: 99;
    display: table;
    width: 100%;
    height: 100%;
}
.dialog-aligner,
.mobile-mode .dropdown-aligner {
    display: table-cell;
    vertical-align: middle;
}
.sharefile-block,
.transfer-limitation-block {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.embedplayer .sharefile-block .logo-container {
    position: absolute;
    right: 48px;
}
.sharefile-block .viewer-filename {
    padding-left: 16px;
}
.file-removed-block {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
}
.sharefile-tabs {
    color: #fff;
    overflow: auto;
}
.tab-link {
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    float: left;
    min-width: 96px;
    padding: 0 8px;
    opacity: 0.5;
    cursor: pointer;
}
.tab-link:hover {
    opacity: 0.7;
}
.tab-link.active {
    border-bottom: 2px solid #eb4444;
    opacity: 1;
    font-weight: bold;
}
.sharefile-sections {
    color: white;
    text-align: left;
    line-height: 20px;
    font-size: 13px;
    user-select: text;
    cursor: pointer;
}
.share-link {
    margin-bottom: 42px;
}
.sharefile-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.copy-link {
    margin-top: 8px;
    display: flex;
}
.sharefile-content {
    display: flex;
    padding: 6px 8px;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px 0 0 4px;
    width: 404px;
}
.sharefile-content i {
    --icon-size: 16px;
    margin-right: 8px;
}
.tab-content {
    width: 100%;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.settings-row {
    overflow: auto;
    line-height: 36px;
    margin: 8px 0 0;
}
.checkboxOff,
.checkboxOn {
    float: left;
    margin: 6px 8px 0 0;
    opacity: 0;
}
.radio-txt {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-txt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 8px;
    left: 4px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #9F9F9F 0%, #666 100%);
}
.radio-txt input:checked ~ .checkmark {
    background: linear-gradient(180deg, #11E2C1 0%, #07C18C 100%);
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.radio-txt input:checked ~ .checkmark::after {
    display: block;
}
.radio-txt .checkmark::after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.upgrade-option,
.signin-register-option {
    display: table;
    margin: 0 auto;
}
.sharefile-buttons,
.transfer-buttons {
    margin-top: 8px;
    overflow: auto;
}
.transfer-heading,
.transfer-body,
.settings-row label {
    color: white;
}
.settings-row label {
    font-size: 14px;
    float: left;
    color: rgba(255, 255, 255, 0.9);
    line-height: 36px;
}
.embedplayer .start-at-time {
    float: left;
    margin-left: 8px;
    width: 60px;
}
.embedplayer .start-at-time input {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    color: #eee;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 32px;
    line-height: 18px;
    border-radius: 3px;
    text-align: center;
    padding: 0 10px;
    max-width: 56px;
    font-weight: 400;
}
.transfer-heading,
.file-removed-heading {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.4px;
}
.transfer-body,
.file-removed-body {
    opacity: 0.8;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 22px;
    margin-bottom: 18px;
}

.download.info-txt.big-txt {
    color: var(--text-color-high);
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0.9;
    width: 100%;
    font-weight: 400;
    margin: 10px 0;
}
.download.info-txt.big-txt:hover {
    opacity: 1;
}
.awatar-wrapper {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    float: left;
    margin: 0 0;
    box-sizing: border-box;
    border-radius: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-family: LatoWeb, Arial, sans-serif;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.awatar-wrapper::before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    margin: -2px 0 0 -2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: inherit;
}
.awatar-wrapper {
    margin-bottom: 0;
}
.awatar-wrapper span {
    color: white;
}
/* Embed player dropdown */
.dropdown.body.context.mobile-mode {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    min-width: auto;
    min-height: auto;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    display: table;
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dropdown.body.context.mobile-mode hr {
    display: none;
}
.dropdown.body.context.mobile-mode .dropdown-section {
    display: table-cell;
    height: auto;
    vertical-align: middle;
    width: calc(100% / 4);
}
.dropdown.body.context.mobile-mode .dropdown-item {
    position: relative;
    z-index: 10;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 0;
}
.dropdown.body.context.mobile-mode .dropdown-item .avatar span {
    top: 0;
    left: 0;
    position: absolute;
    width: 28px;
    margin: 0 0;
    height: 28px;
    line-height: 28px;
}
.dropdown.body.context.mobile-mode .dropdown-item span {
    position: absolute;
    top: 56px;
    left: 0;
    display: block;
    width: 64px;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    white-space: pre-wrap;
    margin-left: -8px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.embedplayer .logo-container {
    position: relative;
    cursor: pointer;
    opacity: 0.9;
}
.embedplayer .logo-container:hover {
    opacity: 1;
}
/* Bounce animation */
.viewer-pending {
    margin: -8px 0 0 -48px;
    width: 96px;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 10;
    position: absolute;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}
.viewer-pending > div {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.viewer-pending .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.viewer-pending .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.viewer-pending span {
    color: #d90007;
    margin-top: 16px;
    margin-left: -14px;
    font-weight: bold;
    font-size: initial;
    line-height: normal;
    text-shadow: 2px 0 2px #000;
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blinker {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}
@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
/* ICONS */
.small-icon.icons-sprite {
    background-image: url(../images/mega/embed-sprite.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}
.medium-icon.icons-img,
.small-icon.context,
.video .play-video-button {
    background-image: url(../images/mega/embed-sprite.png);
    background-size: 144px auto;
}
.dropdown.body.context.mobile-mode .dropdown-item i {
    opacity: 1;
}
.dropdown.body.context.mobile-mode .small-icon.context.get-link {
    margin: 12px 0 0 12px;
    background-position: -6px -42px;
}
.dropdown.body.context.mobile-mode .small-icon.context.embed-code {
    margin: 13px 0 0 12px;
    background-position: -42px -42px;
}
.dropdown.body.context.mobile-mode .small-icon.context.mega {
    background-position: -116px -41px;
    margin: 11px 0 0 14px;
}
.dropdown.body.context.mobile-mode .small-icon.context.login {
    background-position: -80px -42px;
    margin: 12px 0 0 14px;
}
.medium-icon.icons-img.chain {
    background-position: -237px -129px;
}
.medium-icon {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
.medium-icon.icons-img.icon-play {
    background-position: -76px -76px;
}
.medium-icon.icons-img.icon-pause {
    background-position: -112px -76px;
}
.medium-icon.icons-img.icon-volume {
    background-position: -40px -112px;
}
.medium-icon.icons-img.icon-volume-muted {
    background-position: -4px -112px;
}
.medium-icon.icons-img.icon-fullscreen-enter {
    background-position: -4px -76px;
}
.medium-icon.icons-img.icon-fullscreen-leave {
    background-position: -40px -76px;
}
.medium-icon.icons-img.share-generic {
    background-position: -112px -184px;
}
.medium-icon.icons-img.three-dots {
    background-position: -112px -112px;
    transform: rotate(90deg);
}
.medium-icon.icons-img.close-icon {
    background-position: -112px -148px;
}
.small-icon.context.login {
    background-position: -78px -6px;
}
.small-icon.context.get-link {
    background-position: -6px -6px;
}
.small-icon.context.embed-code {
    background-position: -42px -6px;
}
.small-icon.context.mega {
    background-position: -114px -6px;
}
.small-icon.icons-sprite.skip {
    background-position: -116px -219px;
}
.dropdown-item:hover .small-icon.context.login {
    background-position: -78px -42px;
}
.dropdown-item:hover .small-icon.context.get-link {
    background-position: -6px -42px;
}
.dropdown-item:hover .small-icon.context.embed-code {
    background-position: -42px -42px;
}
.dropdown-item:hover .small-icon.context.mega {
    background-position: -114px -42px;
}
.no-audio .medium-icon.icons-img.volume {
    background-position: -76px -112px;
}
.logo-container .logo-icon {
    width: 74px;
    height: 24px;
    background-position: -17px -150px;
    background-repeat: no-repeat;
    background-image: url(../images/mega/embed-sprite.png);
    background-size: 144px auto;
}
.video-wrapper.mobile-mode .volume-control {
    display: none;
}
.video-wrapper.mobile-mode .video-timing {
    width: 50px;
}
.video-wrapper.mobile-mode .video-timing.current {
    text-align: right;
}
.video-wrapper.mobile-mode .media-viewer .v-btn.fs {
    margin: 10px 0 10px 8px;
}
.video-wrapper.mobile-mode .video-progress-block {
    padding: 20px 100px 0 110px;
}

/*Video Ad*/
.viewer-vad-control {
    position: absolute;
    min-width: 120px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    bottom: 66px;
    right: 12px;
    z-index: 10;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 48px;
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    transition: all 200ms ease-in-out;
    cursor: default;
}
.mouse-idle {
    cursor: none !important;
}
.mouse-idle .viewer-vad-control {
    bottom: 16px;
}
.viewer-vad-control.skip {
    cursor: pointer;
}
.viewer-vad-control.skip:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
}
.viewer-vad-control .thumb {
    float: right;
    width: 76px;
    height: 48px;
    line-height: 0;
    display: none;
    overflow: hidden;
}
.viewer-vad-control .thumb.active {
    display: block;
}
.viewer-vad-control .thumb img,
.video .download.video-block .viewer-vad-control .thumb img {
    height: auto;
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: 86px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}
.viewer-vad-control .counter {
    padding: 0 10px;
    display: inline-block;
}
.viewer-vad-control .label,
.viewer-vad-control.skip .thumb.active,
.viewer-vad-control.skip .counter {
    display: none;
}
.viewer-vad-control.skip .label {
    display: block;
    padding: 0 14px;
}
.viewer-vad-control .label i {
    margin: 14px -3px 0 11px;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
}
.viewer-vad-control.skip:hover .label i {
    opacity: 1;
}
.video-progress-bar.vad {
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
}
.vad.mouse-idle .video-progress-bar.vad,
.mouse-idle .vad .video-progress-bar.vad {
    opacity: 1;
    visibility: visible;
}
.vad .video-time-bar,
.vad .video-buffer-bar {
    background-color: #FFA500;
}
.vad .video-progress-block:hover .video-progress-bar {
    height: 2px;
    margin-top: 2px;
    cursor: default;
}
.vad .video-time-bar::before {
    display: none;
}

.useravatar {
    height: 28px;
    width: 28px;
    float: right;
    display: block;
    margin: 4px 11px 0 0;
    position: relative;
    cursor: pointer;
}
.useravatar .avatar {
    margin: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    line-height: 23px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}
.useravatar .avatar span {
    color: white;
}
.useravatar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.useravatar img {
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 100%;
}
.contextmenu.useravatar {
    float: left;
    margin: 2px 12px 0 -2px;
}
.mobile-mode .contextmenu.useravatar {
    margin: 10px 14px 0 10px;
}
.login-item.with-avatar {
    height: 40px;
}
.dropdown-item.with-avatar {
    line-height: 39px;
}

/* Context Menu */
.context-menu {
    min-width: 160px;
    z-index: 500;
    background: var(--surface-main);
    border: var(--context-menu-border);
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: none;
    left: 0;
    opacity: 0;
    padding: 8px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 150ms, left 150ms, right 150ms, top 150ms, margin 150ms;
    width: 200px;
}
.context-menu[aria-expanded="true"] {
    display: block;
}
.context-menu.visible {
    opacity: 1;
}
.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu li {
    padding: 0 8px;
    position: relative;
}
.context-menu li button {
    --mask-color: var(--icon-rest);
    align-items: center;
    background: var(--surface-main);
    border: none;
    border-radius: 4px;
    color: var(--text-color-medium);
    cursor: pointer;
    display: flex;
    outline: none;
    font: var(--text-body1);
    min-height: 32px;
    text-align: start;
    transition: var(--transition-bg-color), var(--transition-color);
    width: 100%;
}
.context-menu li button:hover {
    --mask-color: var(--icon-active);
    background: var(--button-hover);
    color: var(--text-color-high);
}
.context-menu span {
    width: 100%;
}

/* Tooltip */
.dark-direct-tooltip {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-high-inverted);
    padding: 8px 12px;
    background: var(--surface-grey-1-inverted);
    border-radius: 6px;
}
.dark-direct-tooltip i.icon-tooltip-arrow {
    position: absolute;
    bottom: -6px;
    left: calc(50% - 12px);
    width: 24px;
}

/* Embed audio */
.audio-wrapper {
    width: 663px;
    height: 96px;
    padding: 22px;
    border-radius: 16px;
    display: flex;
    background: var(--surface-main);
    box-shadow: 0 1px 4px 0 var(--switch-handle-border);
    position: relative;
    left: 2px;
    top: 2px;
}
.audio-thumbnail {
    margin-right: 24px;
}
.audio-thumbnail img {
    height: 96px;
    width: 96px;
    object-fit: contain;
    border-radius: 8px;
}
.audio-container {
    display: grid;
    gap: 6px;
}
.media-viewer .audio-wrapper .audio-container .viewer-bars {
    height: 42px;
    width: 543px;
    padding: 0;
    display: flex;
    border: none;
    background: var(--surface-main);
    position: inherit;
}
.viewer-bars.top {
    gap: 4px;
}
.audio-container .viewer-bars .viewer-filename {
    width: 455px;
    padding: 0;
    position: relative;
}
.audio-container .download.info-txt.big-txt {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.audio-wrapper .logo-container .logo-icon {
    width: 24px;
}
.media-viewer .audio-wrapper .viewer-bars.video-controls {
    gap: 8px;
    flex-direction: inherit;
    position: inherit;
}
.mouse-idle .audio-wrapper .video-controls {
    opacity: 1;
}
.media-viewer .audio-wrapper .play-video-button {
    position: relative;
    top: auto;
    left: auto;
    padding: 9px;
    border: 1px solid rgba(225, 225, 225, 0.50);
    margin: 2px;
}
.media-viewer .audio-wrapper .play-video-button i {
    --icon-size: 16px;
}
.media-viewer .audio-wrapper button.v-btn {
    margin: 8px;
}
.audio-wrapper .video-timing {
    color: var(--text-color-high);
    font: var(--text-body2);
    margin: 9px 4px;
}
.media-viewer .audio-wrapper .video-progress-block {
    padding: 0;
    width: auto;
    flex: none;
}
.media-viewer .audio-wrapper .video-progress-bar {
    width: 393px;
    height: 6px;
    margin-top: 0;
    border-radius: 3px;
}
.audio-wrapper .playpause-wrapper.hidden ~ .video-progress-block .video-time-bar::before,
.audio-wrapper .video-progress-block .video-time-bar[style*='width: 0%']::before {
    display: none;
}
.audio-wrapper .video-time-bar::before {
    background: var(--progress-bar-fill2);
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    content: '';
    height: 12px;
    margin: auto;
    position: absolute;
    right: -6px;
    top: 0;
    width: 12px;
}
.audio-wrapper .v-btn.share i {
    --mask-color: var(--icon-rest);
}
.audio-wrapper video {
    width: 0;
    height: 0;
}
[data-simpletip]:hover {
    position: relative;
}
[data-simpletip]:hover::after {
    content: attr(data-simpletip);
    top: calc(100% + 8px);
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-high-inverted);
    background: var(--surface-grey-1-inverted);
    border-radius: 6px;
    padding: 8px 12px;
    white-space: nowrap;
}
[data-simpletip]:hover::before {
    content: "";
    bottom: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--surface-grey-1-inverted) transparent;
}
[data-simpletip]:hover::before,
[data-simpletip]:hover::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3000;
    animation: simpletip-fadein 0.8s forwards;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .medium-icon.icons-img,
    .small-icon.context,
    .logo-container .logo-icon,
    .small-icon.icons-sprite {
        background-image: url(../images/mega/embed-sprite@2x.png);
        background-size: 144px auto;
    }
}

@media only screen and (orientation:portrait) and (max-width: 640px) {
    .viewer-vad-control {
        min-width: 120px;
        height: 38px;
        font-size: 16px;
        line-height: 38px;
    }
    .viewer-vad-control .thumb {
        height: 38px;
    }
    .viewer-vad-control .label i {
        margin-top: 9px;
    }
}

@media only screen and (orientation:portrait) and (max-width: 420px) {
    .media-viewer .v-btn.useravatar {
        display: none;
    }
}

@media only screen and (orientation:portrait) and (max-width: 376px) {
    .tab-content {
        max-height: 40px;
        overflow: auto;
    }
}

@keyframes simpletip-fadein {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
