.file-request-upload-page {
    height: 100%;

    --text-font-family: "Inter";
    --text-font-family-heading: "Poppins";

    --color-surface-1: rgba(250, 250, 251, 1);
    --color-surface-2: rgba(243, 244, 244, 1);
    --color-page-background: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(48, 50, 51, 1);
    --color-link-primary: rgba(44, 91, 235, 1);
    --color-support-success: rgba(0, 155, 72, 1);
    --color-support-info: rgba(5, 186, 241, 1);

    --color-text-secondary: rgba(97, 99, 102, 1);
    --color-icon-secondary: rgba(97, 99, 102, 1);
    --color-border-strong: rgba(216, 217, 219, 1);

    --color-text-error: rgba(227, 27, 87, 1);
    --color-support-error: rgba(227, 27, 87, 1);
    --color-icon-disabled: rgba(193, 194, 196, 1);
    --color-text-disabled: rgba(193, 194, 196, 1);
    --color-icon-primary: rgba(48, 50, 51, 1);

    --text-regular: 400 16px/24px var(--text-font-family);
    --text-label: 600 16px/20px var(--text-font-family);
    --text-h1: 700 20px/24px var(--text-font-family-heading);
    --text-h2: 700 18px/24px var(--text-font-family);
    --text-strong: 700 16px/24px var(--text-font-family);
    --text-caption: 400 14px/18px var(--text-font-family);
    --text-link-small: 400 14px/21px var(--text-font-family);
    --text-link-large: 400 16px/24px var(--text-font-family);
    --button-label: 600 16px/120% var(--text-font-family);

    --color-button-primary: rgba(4, 16, 30, 1);
    --color-button-disabled: rgba(0, 0, 0, 0.1);
    --color-text-inverse-accent: rgba(250, 250, 251, 1);
    --color-notification-error: rgba(255, 228, 232, 1);
    --color-text-on-color-disabled: rgba(169, 171, 173, 1);

    position: absolute;
    width: 100%;
    overflow: auto;
    background: var(--mobile-surface-1);
}

.rtl .file-request-upload-page {
    direction: rtl;
}

.theme-dark .file-request-upload-page {
    --color-surface-1: rgba(48, 50, 51, 1);
    --color-surface-2: rgba(73, 74, 77, 1);
    --color-page-background: rgba(24, 25, 26, 1);
    --color-text-primary: rgba(243, 244, 244, 1);
    --color-link-primary: rgba(105, 163, 251, 1);
    --color-support-success: rgba(9, 191, 91, 1);
    --color-support-info: rgba(0, 150, 201, 1);

    --color-icon-primary: rgba(169, 171, 173, 1);
    --color-icon-secondary: rgba(169, 171, 173, 1);
    --color-text-secondary: rgba(169, 171, 173, 1);
    --color-border-strong: rgba(97, 99, 102, 1);

    --color-text-error: rgba(253, 111, 144, 1);
    --color-support-error: rgba(253, 111, 144, 1);
    --color-icon-disabled: rgba(121, 124, 128, 1);
    --color-text-disabled: rgba(121, 124, 128, 1);

    --color-button-primary: rgba(244, 244, 245, 1);
    --color-button-disabled: rgba(255, 255, 255, 0.1);
    --color-text-inverse-accent: rgba(4, 16, 30, 1);
    --color-notification-error: rgba(137, 18, 64, 1);
    --color-text-on-color-disabled: rgba(145, 147, 151, 1);
}

.file-request-upload-page .page-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.file-request-upload-page .page-main {
    max-width: 544px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.file-request-upload-page.long-desc .page-main {
    max-width: 664px;
}

.file-request-upload-page .page-logo {
    padding: 16px 12px;
    margin-inline-start: 24px;
}

.file-request-upload-page .page-logo i {
    --icon-size: 32px;
}
.file-request-upload-page .page-logo .img-mega-logo {
    display: none;
}
.file-request-upload-page .page-header {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-copy-semibold);
    text-align: center;
    margin-bottom: 8px;
}
.file-request-upload-page .page-main .page-content {
    border-radius: 10px;
    background-color: var(--color-page-background);
    padding: 24px;
}

.file-request-upload-page .page-main .page-content .content-title {
    margin-top: 16px;
    margin-bottom: 40px;
    color: var(--color-text-primary);
    font: var(--text-h1);
}

.file-request-upload-page .page-main .page-content .content-details {
    margin-bottom: 20px;
}

.file-request-upload-page .page-main .page-content .content-details .error-icon {
    display: none;
}

.file-request-upload-page .page-main .page-content .content-details .detail-title {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-copy-semibold);
    word-break: break-all;
}
.file-request-upload-page .page-main .page-content .content-details .detail-description {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-copy-regular);
    margin-top: 8px;
    word-break: break-all;
}
.file-request-upload-page .page-main .page-content .content-details .badge-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: -2px;
    flex-wrap: wrap;
}
.file-request-upload-page .page-main .page-content .content-details .fr-badge {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--mobile-text-primary);
    background: var(--mobile-button-secondary);
    border-radius: 16px;
    font: var(--mobile-font-caption-large-regular);
    padding: 4px 12px;
    margin-inline-end: 8px;
    margin-bottom: 2px;
    --icon-size: 16px;
}
.file-request-upload-page .page-main .page-content .content-details .fr-badge span {
    margin-inline-start: 8px;
    line-height: 16px;
}
.file-request-upload-page .page-main .page-content .content-details .detail-upload-id {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--color-text-secondary);
    font: var(--text-regular);
    overflow-wrap: break-word;
    word-break: break-word;
}

.file-request-upload-page .page-main .page-content .content-details .detail-upload-id .upload-id {
    user-select: text;
    -webkit-user-select: text;
}

.file-request-upload-page.err-invalid .page-main {
    max-width: 640px;
}
.file-request-upload-page.err-invalid .page-content {
    padding: 40px 40px 56px;
}
.file-request-upload-page.err-invalid .page-main .page-content .content-details.content-error {
    margin: 0;
}
.file-request-upload-page.err-invalid .page-main .page-content .content-details.content-error .error-icon {
    display: block;
    --icon-size: 36px;
    --mask-color: var(--mobile-support-error);
}

.file-request-upload-page .page-main .page-content .content-details.content-error .detail-title {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-heading-h2);
    margin: 16px 0;
}
.file-request-upload-page .page-main .page-content .content-details.content-error .detail-description {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-copy-regular);
}

.file-request-upload-page .page-main .page-content .content-upload-block {
    border-radius: 8px;
    border: var(--mobile-border-strong) 1px dashed;
    min-width: 480px;
}

.file-request-upload-page .page-main .page-content .block-empty {
    display: flex;
    justify-content: center;
    border-style: dashed;
    flex-direction: column;
    text-align: center;
    min-height: 480px;
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-icon {
    background-image: url("../images/mega/empty/empty-cloud.webp");
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.file-request-upload-page .page-main .page-content .block-empty .block-empty-caption {
    margin: 24px auto 0;
    font: var(--mobile-font-heading-h3);
    color: var(--mobile-text-primary);
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-subtext {
    margin-top: 8px;
    font: var(--mobile-font-copy-regular);
    color: var(--mobile-text-secondary);
}
.file-request-upload-page .page-main .page-content .block-empty button {
    margin: 24px auto 0;
    height: 36px;
    width: fit-content;
}
.file-request-upload-page .page-main .page-content .block-empty button span {
    font: var(--mobile-font-caption-large-semibold);
}
.file-request-upload-page .page-main .page-content .block-finished {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
    padding: 8px;
    box-sizing: border-box;
}
.file-request-upload-page .page-main .page-content .block-finished .block-finished-icon {
    background-image: url("../images/onboarding/green-check-3d.png");
    background-size: contain;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}
.file-request-upload-page .page-main .page-content .block-finished .block-finished-caption {
    font: var(--mobile-font-heading-h3);
    color: var(--mobile-text-primary);
    margin: 24px 0 8px;
}
.file-request-upload-page .page-main .page-content .block-finished .block-finished-subtext {
    font: var(--mobile-font-copy-regular);
    color: var(--mobile-text-primary);
    text-align: center;
}
.file-request-upload-page .page-main .page-content .block-finished .block-finished-subtext b {
    font: var(--mobile-font-copy-semibold);
}
.file-request-upload-page .page-main .page-content .block-finished button.nav-elem {
    margin-top: 24px;
    height: 36px;
}
.file-request-upload-page .page-main .page-content .block-finished button.nav-elem span {
    font: var(--mobile-font-caption-large-semibold);
}
.file-request-upload-page .page-main .page-content .block-uploading {
    display: flex;
    flex-direction: column;
    height: 376px;
}
.file-request-upload-page.remain-err .page-main .page-content .block-uploading {
    height: 300px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll {
    overflow-y: scroll;
    padding: 16px;
    box-sizing: border-box;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll.ps.ps--active-y {
    padding-inline-end: 15px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll .ps__rail-y {
    margin-top: 8px;
    margin-bottom: 8px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details {
    display: flex;
    align-items: center;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item {
    margin-bottom: 12px;
}

.file-request-upload-page .page-main .page-content .block-uploading div.block-uploading-item.last-item {
    margin-bottom: 0;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-type-icon {
    margin-inline-end: 4px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-name {
    font: var(--mobile-font-caption-large-regular);
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-name {
    color: var(--mobile-text-primary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-inline-end: 4px;
    flex-grow: 1;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-size {
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-small-regular);
    margin-inline-start: auto;
    margin-inline-end: 8px;
    width: fit-content;
    white-space: nowrap;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-oversize .item-name,
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-oversize .item-size {
    color: var(--mobile-text-error);
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .action-icon {
    cursor: pointer;
    --icon-size: 16px;
    --mask-color: var(--mobile-icon-primary);
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-completed .action-icon {
    cursor: default;
    --mask-color: var(--mobile-support-success);
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error {
    display: none;
    color: var(--mobile-text-error);
    margin-top: 8px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error span {
    display: inline-block;
    font: var(--mobile-font-caption-small-regular);
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-message {
    margin-inline-start: 8px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-icon i {
    --icon-size: 16px;
    --mask-color: var(--color-text-error);
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-progress {
    background: transparent;
    height: 3px;
    margin-top: 4px;
    border-radius: 5px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-started .item-progress {
    background: var(--mobile-surface-2);
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-progress-bar {
    background: var(--mobile-support-success);
    border-radius: 5px;
    height: 3px;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-error .item-error {
    display: flex;
    align-items: center;
}

.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-error .item-progress-bar {
    background-color: var(--mobile-support-error);
}
.file-request-upload-page .page-main .page-content .current-upload-block {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.file-request-upload-page .page-main .page-content .current-upload-block .fr-add-more {
    padding: 0;
    height: 36px;
}
.file-request-upload-page .page-main .page-content .current-upload-block .fr-add-more span {
    text-decoration: underline;
    font: var(--mobile-font-caption-large-semibold);
}
.file-request-upload-page .page-main .page-content .current-upload-block .upload-size {
    margin-inline-start: auto;
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-small-regular);
}

.file-request-upload-page .page-main .page-content .content-upload-summary {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more {
    font: var(--text-label);
    color: var(--color-text-primary);
    display: flex;
    gap: 10px;
}

.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more .add-icon i {
    --icon-size: 22px;
    --mask-color: var(--color-icon-primary);
}

.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more span {
    text-decoration: underline;
    color: var(--color-text-primary);
}

.file-request-upload-page .page-main .page-content .content-upload-summary .upload-info {
    font: var(--text-regular);
    color: var(--color-text-secondary);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-input {
    border: var(--mobile-border-subtle) 1px solid;
    height: 36px;
    margin-bottom: 4px;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-input span.optional {
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-large-regular);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-input input {
    font: var(--mobile-font-caption-large-regular);
    height: 36px;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-input input::placeholder {
    font: var(--mobile-font-caption-large-regular);
    opacity: 1;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-component.disabled {
    opacity: 1;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-component.disabled .mega-input {
    opacity: 1;
    background: var(--mobile-button-disabled);
    border: 1px solid var(--mobile-border-disabled);
    color: var(--mobile-text-disabled);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-component.disabled input,
.file-request-upload-page .page-main .page-content .content-upload-summary .mega-component.disabled input::placeholder {
    color: var(--mobile-text-disabled);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .info-block {
    display: flex;
    align-items: center;
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-small-regular);
    --icon-size: 16px;
    --mask-color: var(--mobile-icon-secondary);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .info-block i {
    margin-inline-end: 4px;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .info-block p {
    margin: 0;
    word-break: break-all;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .info-block span {
    margin-inline-start: auto;
}
.file-request-upload-page .page-main .page-content .upload-error-block {
    display: none;
    padding: 16px 24px;
    align-items: center;
    background: var(--mobile-notification-error);
    border-radius: 8px;
    margin-top: 20px;
    --icon-size: 24px;
    --mask-color: var(--mobile-support-error);
}
.file-request-upload-page.remain-err .page-main .page-content .upload-error-block {
    display: flex;
}
.file-request-upload-page .page-main .page-content .upload-error-block .err-msg {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-caption-large-regular);
    margin-inline-start: 8px;
}
.file-request-upload-page .page-main .page-content .action-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.file-request-upload-page .page-main .page-content .action-block button {
    height: 36px;
}
.file-request-upload-page .page-main .page-content .action-block button span {
    font: var(--mobile-font-caption-large-semibold);
}
.file-request-upload-page .page-caption {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    text-align: center;
    top: calc(100vh - 120px);
}

.file-request-upload-page .page-caption .page-caption-wrapper {
    margin: 0 auto;
    padding: 12px;
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-small-regular);
}

.file-request-upload-page .page-caption .page-caption-wrapper p {
    margin: 0;
}
.file-request-upload-page .page-caption .page-caption-wrapper p:nth-child(2) {
    margin: 8px 0 16px;
}

.file-request-upload-page .page-caption .page-caption-wrapper p a {
    text-decoration: underline;
    color: var(--mobile-link-primary);
}

.file-request-upload-page .page-copyright .copyright-wrapper a {
    color: var(--mobile-text-primary);
}

@media only screen and (max-width: 740px),
    only screen and (orientation: landscape) and (max-height: 600px) {
    .file-request-upload-page .page-logo {
        padding: 24px;
        margin: 0;
        border-bottom: 1px solid var(--mobile-border-strong);
    }
    .file-request-upload-page .page-logo .icon-mega-logo {
        display: none;
    }
    .file-request-upload-page .page-logo .img-mega-logo {
        display: block;
        --height: 24px;
        --width: 74px;
    }
    .file-request-upload-page .page-main {
        max-width: 100%;
        box-sizing: border-box;
        padding: 12px 24px;
        margin: 0;
    }
    .file-request-upload-page .page-main .page-content .content-details .detail-description {
        font: var(--mobile-font-caption-large-regular);
    }
    .file-request-upload-page .page-main .page-content .content-upload-block {
        max-width: 100%;
        min-width: 100%;
        min-height: auto;
    }
    .file-request-upload-page .page-main .page-content .block-empty {
        border: none;
        margin-bottom: 0;
        padding: 8px 0 0;
    }
    .file-request-upload-page .page-main .page-content .block-empty .block-empty-caption,
    .file-request-upload-page .page-main .page-content .block-empty .block-empty-subtext {
        display: none;
    }
    .file-request-upload-page .page-main .page-content .block-empty button {
        height: 48px;
        margin-top: 28px;
        width: 100%;
    }
    .file-request-upload-page .page-main .page-content .block-empty button span {
        font: var(--mobile-font-link-large-semibold);
    }
    .file-request-upload-page .page-main .page-content .block-uploading {
        height: 153px;
    }
    .file-request-upload-page .page-main .page-content .current-upload-block {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .file-request-upload-page .page-main .page-content .current-upload-block .fr-add-more {
        height: 40px;
    }
    .file-request-upload-page .page-main .page-content .current-upload-block .fr-add-more span {
        font: var(--mobile-font-link-large-semibold);
    }
    .file-request-upload-page .page-main .page-content .current-upload-block .upload-size {
        margin: 0;
        font: var(--mobile-font-caption-large-regular);
        line-height: 36px;
    }
    .file-request-upload-page .page-main .page-content .content-upload-summary {
        margin-top: 44px;
    }
    .file-request-upload-page .page-main .page-content .content-upload-summary .mega-input {
        border: var(--mobile-border-strong) 1px solid;
        height: 47px;
    }
    .file-request-upload-page .page-main .page-content .content-upload-summary .mega-input input,
    .file-request-upload-page .page-main .page-content .content-upload-summary .mega-input input::placeholder {
        font: var(--mobile-font-input-regular);
    }
    .file-request-upload-page .page-main .page-content .content-upload-summary .info-block {
        --icon-size: 24px;
    }
    .file-request-upload-page .page-main .page-content .action-block button {
        margin-top: 8px;
        height: 48px;
        width: 100%;
    }
    .file-request-upload-page .page-main .page-content .action-block button span {
        font: var(--mobile-font-link-large-semibold);
    }
    .file-request-upload-page .page-main .page-content .block-finished {
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        border: none;
        padding: 0;
    }
    .file-request-upload-page .page-main .page-content .block-finished .block-finished-icon {
        margin: 0;
    }
    .file-request-upload-page .page-main .page-content .block-finished .block-finished-caption {
        margin-top: 20px;
        font: var(--mobile-font-copy-semibold);
    }
    .file-request-upload-page .page-main .page-content .block-finished .block-finished-subtext {
        text-align: start;
        font: var(--mobile-font-caption-large-regular);
    }
    .file-request-upload-page .page-main .page-content .block-finished button.nav-elem {
        height: 48px;
        margin-top: 28px;
        width: 100%;
    }
    .file-request-upload-page .page-main .page-content .block-finished button.nav-elem span {
        font: var(--mobile-font-link-large-semibold);
    }
    .file-request-upload-page .page-main .page-header.hidden + .page-content {
        margin-top: 30px;
    }
}
