/* ============================ *\
    Mega-list
\* ============================ */
.megaList-content > * {
    position: absolute;
}

.megaListContainer tr {
    width: 100%;
}

.megaListContainer tr.highlight1 {
    background-color: #d00;
}

.megaListContainer tr.highlight2 {
    background-color: #d90;
}

/* ============================ *\
    Mega-list - Dialog table (Attach from cloud drive or any other dialog using the same code)
\* ============================ */
.megaListContainer .fm-dialog-table tr {
    height: 32px;
}

/* ============================ *\
    Scrollbar Styles
\* ============================ */
.megaListContainer.shared-folder-content .file-block-scrolling {
    margin-right: 10px;
}
.megaListContainer.shared-folder-content .megaList-content {
    margin-left: -8px;
    margin-top: -8px;
}


.megalist-pusher {
    display: block !important; /* display *flex breaks everything.... */
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
