/* Gallery Style override for left navigation */
.nw-fm-left-icon.cloud-drive.active::after,
.nw-fm-left-icon.gallery.active::after {
	content: "";
    background-color: var(--surface-black);
    width: 100%;
    height: calc(200% + 2px);
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    border-radius: 8px;
}
.nw-fm-left-icon.cloud-drive.active::after {
    bottom: auto;
    top: 0;
}

/* Gallery Wrapper */
.gallery-view {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    min-height: 280px;
    overflow: hidden;
    background: var(--surface-grey-1);
    -webkit-padding-start: 4px;
    padding-inline-start: 4px;
}
.rtl .gallery-view {
    direction: rtl;
}
.gallery-view-scrolling {
    height: 100%;
    padding-top: 1px;
    box-sizing: border-box;
    -webkit-padding-start: 1px;
    padding-inline-start: 1px;
    -webkit-padding-end: 14px;
    padding-inline-end: 14px;
}
.gallery-view .content-block {
    display: grid;
    margin: 0 auto;
    position: relative;
}
.gallery-view .content-row {
    position: relative;
}
.gallery-view .content-row.template {
    display: none;
}
.gallery-view .content {
    margin: 4px auto;
}
.gallery-view.gallery-type-a.zoom-1 .content {
    max-width: 1704px;
    min-width: 303px;
}
.gallery-view.gallery-type-a.zoom-2 .content {
    max-width: 2440px;
    min-width: 505px;
}
.gallery-view.gallery-type-a.zoom-3 .content {
    max-width: 2420px;
    min-width: 1010px;
}
.gallery-view.gallery-type-a.zoom-4 .content {
    max-width: 2430px;
    min-width: 1020px;
}
.gallery-view .showDate .content-block::before,
.gallery-view .showMore .content-block::after {
    content: attr(data-date);
    position: absolute;
    border-radius: 12px;
    background: var(--stroke-grey-2-inverted);
    color: var(--text-color-higher-inverted);
    padding: 2px 12px;
    top: 12px;
    left: 12px;
    z-index: 4;
}
.rtl .gallery-view .showDate .content-block::before,
.rtl .gallery-view .showMore .content-block::after {
    left: auto;
    right: 12px;
}
.gallery-view .showMore .content-block::after {
    content: attr(data-more);
    top: auto;
    bottom: 12px;
    left: auto;
    right: 12px;
}
.rtl .gallery-view .showMore .content-block::after {
    left: 12px;
    right: auto;
}
.gallery-view .content .data-block-view:hover,
.gallery-view .content .data-block-view.ui-selected {
    border-radius: 2px;
}
.gallery-view .gallery-view-scrolling .content .data-block-view:not(.ui-selected):hover {
    z-index: 2;
}
.gallery-view .gallery-view-scrolling .content .data-block-view.ui-selected {
    z-index: 3;
}
.gallery-view .block-view-file-type {
    top: 50%;
}
.gallery-view .data-block-bg .block-view-file-type.image,
.gallery-view .data-block-bg .block-view-file-type.video {
    background: none;
    --icon-size: calc(var(--block-height, 200px) * 0.5);
    width: calc(var(--block-height, 200px) * 0.5);
    height: calc(var(--block-height, 200px) * 0.5);
    --mask-color: var(--stroke-grey-1);
}
.gallery-view .data-block-bg.thumb .block-view-file-type::before {
    display: none;
}
.gallery-view .data-block-bg.thumb .block-view-file-type {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-view .data-block-view .data-block-bg.thumb img {
    background: var(--image-background);
    width: auto;
    height: auto;
    max-width: 100%;
}
.gallery-view .content .data-block-view .data-block-bg {
    border-radius: 0;
    border: none;
    padding-top: 100%;
    width: auto;
    height: 100%;
    background: var(--surface-main);
}
.gallery-view .content .data-block-view.ui-selected::after,
.gallery-view .content .data-block-view:hover::after {
    border-radius: 24px;
    border: 2px solid var(--stroke-highlight);
    box-sizing: border-box;
    outline: 2px solid var(--stroke-highlight);
    outline-offset: -1px;
}
.gallery-view .data-block-bg.thumb {
    position: relative;
}
.gallery-view .data-block-bg.video .video-thumb-details {
    display: none;
}

/* Block view - All */
.gallery-view.gallery-type-a .data-block-view {
    border-radius: 0;
    margin: 4px;
    min-width: 66px;
    width: auto;
}
.gallery-view.gallery-type-a.zoom-3 .data-block-view,
.gallery-view.gallery-type-a.zoom-4 .data-block-view {
    margin: 1px;
}
.gallery-view.gallery-type-a .data-block-view:not(.ui-selected):hover {
    box-shadow: 0 0 0 2px var(--stroke-grey-2);
    transition-duration: 200ms;
}
.gallery-view.gallery-type-a .data-block-view.ui-selected {
    box-shadow: 0 0 0 2px var(--secondary-blue);
    transition-duration: 200ms;
}
.gallery-view.gallery-type-a .data-block-view:not(.ui-selected):hover::after,
.gallery-view.gallery-type-a .data-block-view.ui-selected::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid var(--stroke-highlight);
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-view.gallery-type-a .data-block-bg .data-block-fav-icon {
    display: none;
    left: auto;
    top: auto;
    bottom: 4px;
    right: 4px;
    position: absolute;
    color: var(--secondary-white);
}

.gallery-view.gallery-type-a.gallery-type-fav .data-block-bg .data-block-fav-icon {
    display: block;
}

.gallery-view.gallery-type-a .data-block-bg.video .video-thumb-details {
    display: block;
    left: 4px;
    top: auto;
    bottom: 4px;
    right: auto;
    padding: 2px 8px;
    border-radius: 12px;
    background: var(--surface-highlight-1);
}

.gallery-view.gallery-type-a.zoom-4 .data-block-bg.video .video-thumb-details {
    font-size: 10px;
    padding: 0 4px;
}
.gallery-view.gallery-type-a.zoom-1 .data-block-view {
    max-width: 560px;
}
.gallery-view.gallery-type-a.zoom-2 .data-block-view {
    max-width: 480px;
}
.gallery-view.gallery-type-a.zoom-3 .data-block-view {
    max-width: 240px;
}
.gallery-view.gallery-type-a.zoom-4 .data-block-view {
    max-width: 160px;
}
.gallery-view.gallery-type-a.zoom-1 .content-block {
    grid-template-columns: repeat(3, calc(100% / 3));
}
.gallery-view.gallery-type-a.zoom-2 .content-block {
    grid-template-columns: repeat(5, 20%);
}
.gallery-view.gallery-type-a.zoom-3 .content-block {
    grid-template-columns: repeat(10, 10%);
}
.gallery-view.gallery-type-a.zoom-4 .content-block {
    grid-template-columns: repeat(15, calc(100% / 15));
}

/* Zoom in and out */
.gallery-view-zoom-control {
    display: none;
}
.gallery-view.gallery-type-a .gallery-view-zoom-control {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 10;
    display: block;
}
.rtl .gallery-view.gallery-type-a .gallery-view-zoom-control {
    right: auto;
    left: 20px;
}
.gallery-view-zoom-control .btn-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--stroke-grey-2-inverted);
    text-align: center;
}
.gallery-view-zoom-control i {
    --icon-size: 20px;
    --mask-color: var(--text-color-higher-inverted);
}

/* Block view - Day */
.gallery-view.gallery-type-d .showDate .content-block::before {
    background: transparent;
    color: var(--text-color-high);
    padding: 0;
    top: 20px;
    left: 24px;
    font: var(--text-h2);
    z-index: 4;
}
.theme-dark .gallery-view.gallery-type-d .showDate .content-block::before {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.rtl .gallery-view.gallery-type-d .showDate .content-block::before {
    left: auto;
    right: 24px;
}
.gallery-view.gallery-type-d .data-block-view {
    border-radius: 0;
    width: auto;
    margin: 1px;
}
.gallery-view.gallery-type-d .data-block-view:not(.ui-selected):hover {
    box-shadow: 0 0 0 2px var(--stroke-grey-2);
    border-width: 1px;
    transition-duration: 200ms;
}
.gallery-view.gallery-type-d .data-block-view.ui-selected {
    box-shadow: 0 0 0 2px var(--secondary-blue);
    border-width: 1px;
    transition-duration: 200ms;
}
.gallery-view.gallery-type-d .showDate .data-block-view::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, var(--surface-inner-shadow) 0%, transparent 84px);
    border-radius: 0;
    border-width: 1px;
}
.gallery-view.gallery-type-d .content-row .content-block {
    max-width: 820px;
    min-width: 620px;
    align-items: stretch;
}
.gallery-view.gallery-type-d .content-row.layout-1 .content-block {
    grid-template-columns: calc(39 / 62 * 100%);
}
.gallery-view.gallery-type-d .content-row.layout-2 .content-block {
    grid-template-columns: 50% 50%;
}
.gallery-view.gallery-type-d .content-row.layout-3 .content-block {
    grid-template-columns: calc(100% * 39 / 62) calc(100% * 23 / 62);
    grid-template-rows: 50% 50%;
}
.gallery-view.gallery-type-d .content-row.layout-3-2 .content-block {
    grid-template-columns: calc(100% * 23 / 62) calc(100% * 39 / 62);
    grid-template-rows: 50% 50%;
}
.gallery-view.gallery-type-d .content-row.layout-4 .content-block {
    grid-template-columns: calc(100% * 39 / 62) calc(100% * 115 / 620) calc(100% * 115 / 620);
    grid-template-rows: calc(100% * 195 / 310) calc(100% * 115 / 310);
}
.gallery-view.gallery-type-d .content-row.layout-1 .data-block-view:nth-child(1) {
    z-index: 3;
}
.gallery-view.gallery-type-d .content-row.layout-1 .data-block-view:hover:nth-child(1),
.gallery-view.gallery-type-d .content-row.layout-1 .data-block-view.ui-selected:nth-child(1) {
    border-right-color: var(--stroke-grey-1);
}
.gallery-view.gallery-type-d .content-row.layout-1 .gallery-block-bg-wrap {
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 0;
    overflow: hidden;
    top: 1px;
    left: 1px;
}
.gallery-view.gallery-type-d .content-row.layout-1 .gallery-block-bg {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(10px);
    opacity: 0.5;
    position: relative;
}
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
}
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1;
}
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}
.gallery-view.gallery-type-d .data-block-bg {
    height: 100%;
    top: 0;
}
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(2) .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(3) .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(1) .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(2) .data-block-bg {
    padding-top: calc(153 / 228 * 100%);
}
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(2) .data-block-bg {
    padding-top: calc(188 / 228 * 100%);
}
.gallery-view.gallery-type-d .content-row.layout-1 .data-block-view .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-3 .data-block-view:nth-child(1) .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-3-2 .data-block-view:nth-child(3) .data-block-bg,
.gallery-view.gallery-type-d .content-row.layout-4 .data-block-view:nth-child(1) .data-block-bg {
    padding-top: calc(308 / 388 * 100%);
}

/* Block view - Month */
.gallery-view.gallery-type-m .gallery-date-block {
    display: block;
    max-width: 820px;
    min-width: 620px;
    margin: 0 auto;
    background: transparent;
    color: var(--text-color-high);
    font: var(--text-h1);
    line-height: 48px;
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
    box-sizing: border-box;
}
.gallery-view.gallery-type-m .gallery-date-block span {
    color: var(--secondary-blue);
}
.gallery-view.gallery-type-m .gallery-date-block i {
    vertical-align: middle;
    --icon-size: 24px;
    margin-top: -6px;
}
.gallery-view.gallery-type-m .data-block-view::before {
    content: attr(data-date);
    background: transparent;
    color: var(--text-color-high);
    padding: 0;
    top: 20px;
    left: 24px;
    font: var(--text-h2);
    position: absolute;
    z-index: 3;
}
.theme-dark .gallery-view.gallery-type-m .data-block-view::before {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.rtl .gallery-view.gallery-type-m .data-block-view::before {
    left: auto;
    right: 24px;
}
.gallery-view.gallery-type-m .data-block-view::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, var(--surface-inner-shadow) 0%, transparent 84px);
}
.gallery-view.gallery-type-m .data-block-view {
    border-radius: 24px;
    margin: 0;
    width: auto;
}
.gallery-view.gallery-type-m .gallery-view-scrolling .content .data-block-view:hover,
.gallery-view.gallery-type-m .gallery-view-scrolling .content .data-block-view.ui-selected {
    border-radius: 24px;
}
.gallery-view.gallery-type-m .content-row {
    padding-top: 16px;
}
.gallery-view.gallery-type-m .content-row .content-block {
    max-width: 820px;
    min-width: 620px;
    align-items: stretch;
    grid-gap: 20px;
}
.gallery-view.gallery-type-m .content-row.layout-1 .content-block,
.gallery-view.gallery-type-m .content-row.layout-2 .content-block {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}
.gallery-view.gallery-type-m .content-row.layout-3 .content-block {
    grid-template-columns: calc(100% * 380 / 620) calc(100% * 220 / 620);
    grid-template-rows: calc(50% - 10px)  calc(50% - 10px);
}
.gallery-view.gallery-type-m .content-row.layout-3-2 .content-block {
    grid-template-columns: calc(100% * 220 / 620) calc(100% * 380 / 620);
    grid-template-rows: calc(50% - 10px)  calc(50% - 10px);
}
.gallery-view.gallery-type-m .content-row.layout-4 .content-block {
    grid-template-columns: calc(50% - 10px)  calc(50% - 10px);
    grid-template-rows: calc(50% - 10px)  calc(50% - 10px);
}
.gallery-view.gallery-type-m .content-row.layout-3 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
}
.gallery-view.gallery-type-m .content-row.layout-3 .data-block-view:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.gallery-view.gallery-type-m .content-row.layout-3 .data-block-view:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-view.gallery-type-m .content-row.layout-3-2 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.gallery-view.gallery-type-m .content-row.layout-3-2 .data-block-view:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-view.gallery-type-m .content-row.layout-3-2 .data-block-view:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
}
.gallery-view.gallery-type-m .content-row.layout-4 .data-block-view:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.gallery-view.gallery-type-m .content-row.layout-4 .data-block-view:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.gallery-view.gallery-type-m .content-row.layout-4 .data-block-view:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}
.gallery-view.gallery-type-m .content-row.layout-4 .data-block-view:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}
.gallery-view.gallery-type-a .data-block-bg {
    height: 100%;
    top: 0;
}
.gallery-view.gallery-type-m .content-row.layout-3 .data-block-view:nth-child(2) .data-block-bg,
.gallery-view.gallery-type-m .content-row.layout-3 .data-block-view:nth-child(3) .data-block-bg,
.gallery-view.gallery-type-m .content-row.layout-3-2 .data-block-view:nth-child(1) .data-block-bg,
.gallery-view.gallery-type-m .content-row.layout-3-2 .data-block-view:nth-child(2) .data-block-bg {
    padding-top: calc(180 / 220 * 100%);
}
.gallery-view.gallery-type-m .content-row.layout-4 .data-block-view .data-block-bg {
    padding-top: calc(2 / 3 * 100%);
}

/* Block view - Year */
.gallery-view.gallery-type-y .data-block-view::before {
    content: attr(data-date);
    background: transparent;
    color: var(--text-color-high);
    padding: 0;
    top: 20px;
    left: 24px;
    font: var(--text-h0-bold);
    position: absolute;
    z-index: 3;
}
.theme-dark .gallery-view.gallery-type-y .data-block-view::before {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.rtl .gallery-view.gallery-type-y .data-block-view::before {
    left: auto;
    right: 24px;
}
.gallery-view.gallery-type-y .data-block-view::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, var(--surface-inner-shadow) 0%, transparent 84px);
}
.gallery-view.gallery-type-y .data-block-view {
    border-radius: 24px;
    margin: 0;
    width: auto;
}
.gallery-view.gallery-type-y .gallery-view-scrolling .content .data-block-view:hover,
.gallery-view.gallery-type-y .gallery-view-scrolling .content .data-block-view.ui-selected {
    border-radius: 24px;
}
.gallery-view.gallery-type-y .data-block-view.ui-selected .data-block-bg {
    border: none;
}
.gallery-view.gallery-type-y .content-row {
    padding-top: 16px;
}
.gallery-view.gallery-type-y .content-row .content-block {
    max-width: 820px;
    min-width: 620px;
    align-items: stretch;
    grid-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}
.mega-button.action.gallery-close-discovery {
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
    position: relative;
    top: -4px;
}
.gallery-close-discovery i {
    --mask-color: var(--secondary-red);
}
.gallery-close-discovery span {
    white-space: nowrap;
}
.btn-galleries.js-lpbtn.favourites.active i {
    --mask-color: var(--secondary-red);
}
.gallery-tabs-bl .gallery-section-title .sprite-fm-mono.icon-favourite-filled {
    --mask-color: var(--secondary-red);
}
.gallery-view .data-block-fav-icon {
    display: none;
}
