.fm-right-files-block.emptied .shared-grid-view,
.fm-right-files-block.emptied .files-grid-view:not(.shared-folder-content),
.fm-right-files-block.emptied .out-shared-grid-view {
    display: none;
}

/* ============================ *\
    files-grid-view - Wrapper
\* ============================ */
.files-grid-view,
.files-grid-view.shared-view,
.files-grid-view.out-shares-view,
.files-grid-view.public-links-view,
.files-grid-view.file-requests-view {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* ============================ *\
    shared-grid-view - Wrapper
\* ============================ */
.shared-grid-view {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.shared-grid-view .grid-table {
    table-layout: fixed;
    min-width: 1000px;
}

.shared-grid-view .grid-table th:first-child,
.shared-grid-view .grid-table td:first-child,
.out-shared-grid-view .grid-table th:first-child,
.out-shared-grid-view .grid-table td:first-child {
    text-align: center;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    padding-top: 3px;
}

.shared-grid-view .grid-table th:last-child,
.shared-grid-view .grid-table td:last-child,
.out-shared-grid-view .grid-table th:last-child,
.out-shared-grid-view .grid-table td:last-child {
    -webkit-padding-end: 0;
    padding-inline-end: 0;
}

table.grid-table .inbound-share .sprite-fm-uni-after.icon-warning-after::after {
    display: none;
}
table.grid-table .inbound-share.unverified-share .sprite-fm-uni-after.icon-warning-after::after {
    display: inline-block;
    right: -2px;
    position: absolute;
    --icon-size: 20px;
    top: 0;
}

/* ============================ *\
    out-shared-grid-view - Wrapper
\* ============================ */

.out-shared-grid-view {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.out-shared-grid-view .grid-table {
    table-layout: fixed;
    min-width: 1000px;
}

/* ============================ *\
    transfer-table - Wrapper
\* ============================ */

.transfer-table-wrapper {
    box-sizing: border-box;
    height: 100%;
    height: calc(100% - 48px);
    overflow: hidden;
    position: relative;
    top: -1px;
}

.transfer-table-wrapper th:last-child::before,
.transfer-table-wrapper th:first-child::before,
.transfer-table-wrapper th:nth-child(7)::before {
    display: none;
}

/* ======================================== *\
   grid-scrolling-table
\* ======================================== */

.grid-wrapper {
    box-sizing: content-box;
    margin: 0 26px;
    min-height: 100%;
    min-width: calc(100% - 52px);
    position: relative;
    display: inline-block;
    vertical-align: top; /* do not remove this is for prevent mysterious spacing from inline-block */
}

.grid-scrolling-table {
    background: no-repeat center 33px linear-gradient(90deg, var(--stroke-grey-2), var(--stroke-grey-2));
    background-size: 100% 1px;
}

.grid-scrolling-table:not(.subtitles-grid-table),
.transfer-scrolling-table {
    height: 100%;
}

.transfer-scrolling-table {
    /* do not remove, needed for perfect-scrollbar */
    position: relative !important;
    background: no-repeat center 24px linear-gradient(90deg, var(--stroke-grey-2), var(--stroke-grey-2));
    background-size: auto 1px;
}

/* ======================================== *\
   table
\* ======================================== */
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
}

table tr td:first-child::after {
    width: calc(100% - 8px);
    left: auto;
    right: -2px;
}

table tr td:last-child::after {
    width: calc(100% - 8px);
}

/* ======================================== *\
   table-hover
\* ======================================== */
.table-hover tr:hover td::before,
.table-hover tr.ui-selected td::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: -1;
}

.table-hover tr:hover td::before {
    background: var(--surface-grey-3);
    border-bottom: 1px solid var(--grid-hover-border);
    border-top: 1px solid var(--grid-hover-border);
}

.table-hover tr.ui-selected td::before {
    background: var(--surface-grey-4);
    border-bottom: 1px solid var(--stroke-grey-4);
    border-top: 1px solid var(--stroke-grey-4);
}

.table-hover tr.ui-selected td:first-child::before {
    background-image: linear-gradient(var(--secondary-blue), var(--secondary-blue));
    background-size: 2px calc(100% - 8px);
    background-repeat: no-repeat;
    background-position: 4px;
    border-left: 1px solid var(--stroke-grey-4);
}
.rtl .table-hover tr.ui-selected td:first-child::before {
    background-position: calc(100% - 4px);
}

.table-hover tr:hover td:first-child::before,
.table-hover tr.ui-selected td:first-child::before {
    right: -2px;
    left: -10px;
    border-radius: 4px 0 0 4px;
}

.rtl .table-hover tr:hover td:first-child::before,
.rtl .table-hover tr.ui-selected td:first-child::before {
    left: -2px;
    right: -10px;
    border-radius: 0 4px 4px 0;
}

.table-hover tr:hover td:last-child::before,
.table-hover tr.ui-selected td:last-child::before,
.transfer-table tr:hover td:nth-child(8)::before,
.transfer-table tr.ui-selected td:nth-child(8)::before {
    border-radius: 0 4px 4px 0;
    right: -10px;
}

.rtl .table-hover tr:hover td:last-child::before,
.rtl .table-hover tr.ui-selected td:last-child::before,
.rtl .transfer-table tr:hover td:nth-child(8)::before,
.rtl .transfer-table tr.ui-selected td:nth-child(8)::before {
    border-radius: 4px 0 0 4px;
    right: 0;
    left: -10px;
}

.table-hover tr:hover td:last-child::before {
    border-right: 1px solid var(--grid-hover-border);
}

.rtl .table-hover tr:hover td:last-child::before {
    border-left: 1px solid var(--grid-hover-border);
    border-right: none;
}

.table-hover tr.ui-selected td:last-child::before {
    border-right: 1px solid var(--stroke-grey-4);
}
table tr:hover .grid-url-arrow,
table tr.ui-selected .grid-url-arrow,
table tr:hover .clear-transfer-icon,
table tr.ui-selected .clear-transfer-icon,
table tr:hover .link-transfer-status,
table tr.ui-selected .link-transfer-status,
table tr:hover .grid-file-request-manage,
table tr.ui-selected .grid-file-request-manage {
     opacity: 1;
}

.rtl .table-hover tr.ui-selected td:last-child::before {
    border-left: 1px solid var(--stroke-grey-4);
    border-right: none;
}

/* ======================================== *\
   .grid-table header - Wrapper & table
\* ======================================== */

.grid-table thead tr {
    width: 100%;
    background-color: var(--stroke-main);
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.grid-table thead .filter-block.body {
    margin: 3px 0 0 0;
    -webkit-margin-end: 18px;
    margin-inline-end: 18px;
}
.grid-table th {
    box-sizing: border-box;
    height: 24px;
    font: var(--text-body2);
    color: var(--stroke-main-inverted);
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 13px;
    padding-inline-end: 13px;
    padding-top: 9px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--surface-main);
    z-index: 201;
}
.grid-table th:first-child {
    -webkit-padding-start: 16px;
    padding-inline-start: 16px;
}
.grid-table th:last-child {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
}
.grid-table th:first-child::after,
.grid-table th:last-child::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -26px;
    right: 0;
    bottom: 0;
    background-color: var(--stroke-main);
    z-index: -1;
}
.grid-table th:last-child::before {
    left: 0;
    right: -26px;
}
.grid-table thead .grid-view-resize {
    cursor: col-resize;
    width: 16px;
    position: absolute;
    right: 0;
}
.rtl .grid-table thead .grid-view-resize {
    right: auto;
    left: 0;
}

.grid-table thead th:not(:first-child):not(:last-child):not(.grid-url-header):not(.grid-first-th):hover::before {
    content: '';
    position: absolute;
    right: 7px;
    height: 20px;
    width: 1px;
    background-color: var(--stroke-mid-grey);
    cursor: col-resize;
    bottom: 0;
}
.grid-table thead th.full-width-col {
    width: 100%;
}
.rtl .grid-table th:not(.grid-url-header):hover::before {
    right: auto;
    left: 7px;
}

.grid-table th.grid-first-th {
    width: 75px;
    padding: 0;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 14px;
    padding-inline-end: 14px;
    cursor: pointer;
}

.grid-table.fm th.grid-first-th {
    cursor: pointer;
}
.grid-table.fm th:first-child {
    padding: 0;
}

.grid-table.fm th,
.grid-table.fm td {
    display: none;
}

.grid-table.fm th:first-child,
.grid-table.fm th.grid-empty-spacer,
.grid-table.fm td.space-maintainer-start,
.grid-table.fm td.space-maintainer-end,
.grid-table.fm.v-fav [megatype="fav"],
.grid-table.fm.v-fname [megatype="fname"],
.grid-table.fm.v-label [megatype="label"],
.grid-table.fm.v-size [megatype="size"],
.grid-table.fm.v-type [megatype="type"],
.grid-table.fm.v-accessCtrl [megatype="accessCtrl"],
.grid-table.fm.v-timeAd [megatype="timeAd"],
.grid-table.fm.v-timeMd [megatype="timeMd"],
.grid-table.fm.v-versions [megatype="versions"],
.grid-table.fm.v-playtime [megatype="playtime"],
.grid-table.fm.v-extras [megatype="extras"],
.grid-table.fm.v-fileLoc [megatype="fileLoc"] {
    display: table-cell;
}
.mega-lite-mode .grid-table.fm.v-size [megatype="size"],
.mega-lite-mode .grid-table.fm.v-versions [megatype="versions"] {
    display: none;
}
.grid-table th:last-child::after {
    display: none;
}
.grid-table th span.grid-header-star {
    height: 16px;
    line-height: 16px;
}
.grid-table th span.grid-header-star i,
.grid-table th.grid-first-th i {
    --icon-size: 16px;
    --mask-color: var(--icon-rest);
    display: inline-block;
}

.files-grid-view .grid-scrolling-table {
    padding-bottom: 6px;
    box-sizing: border-box;
    transition: 200ms linear;
}

.files-grid-view.fm .column-settings {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 24px;
    background-color: var(--stroke-main);
    right: 0;
    top: 0;
    z-index: 209;
    cursor: pointer;
    transition: 200ms linear;
}
.shared-details-block .files-grid-view.fm .column-settings {
    top: 14px;
}
.rtl .files-grid-view.fm .column-settings {
    right: auto;
    left: 0;
}
.emptied .files-grid-view.fm .column-settings {
    display: none;
}
.files-grid-view.fm .column-settings i {
    --icon-size: 24px;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    --mask-color: var(--icon-inactive);
}

.files-grid-view.fm .column-settings:hover i {
    --mask-color: var(--icon-active);
}

.files-grid-view.fm .column-settings.c-opened i {
    --mask-color: var(--icon-active);
}

.files-grid-view.fm .column-settings.overlap {
    padding-top: 5px;
    padding-bottom: 4px;
    border-left: 1px solid var(--stroke-grey-2);
    background-color: var(--stroke-main);
}

.rtl .files-grid-view.fm .column-settings.overlap {
    border-left: unset;
    border-right: 1px solid var(--stroke-grey-2);
}

.out-shared-grid-view > .grid-table thead::after {
    width: calc(100% - 32px);
}

.mega-lite-mode .files-grid-view.fm.mega-lite-hidden {
    display: none;
}

/* ======================================== *\
   Table : grid-table
\* ======================================== */

table.grid-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    table-layout: fixed;
}

table.grid-table tr:empty {
    border: 0;
    display: block;
    height: 0;
}

table.grid-table th:first-child,
table.grid-table td:first-child {
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
}
table.grid-table th:first-child,
table.grid-table th:last-child,
table.grid-table td:first-child,
table.grid-table td:last-child,
table.grid-table td.space-maintainer-start,
table.grid-table td.space-maintainer-end,
.transfer-table tr td:nth-child(8) {
    overflow: visible;
}

table.grid-table td {
    box-sizing: border-box;
    padding: 0;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 13px;
    padding-inline-end: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

table.grid-table td {
    border-bottom: 1px solid var(--stroke-grey-2);
}

table.grid-table .item-type-icon {
    --icon-size: 24px;
    left: 3px;
    position: absolute;
    top: 3px;
}

table.grid-table .tranfer-filetype-txt {
    left: 0;
    line-height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-padding-start: 38px;
    padding-inline-start: 38px;
    box-sizing: border-box;
    display: block;
}

table.grid-table .taken-down td,
.taken-down .file-block-title,
.taken-down .nw-fm-tree-folder,
.taken-down .tranfer-filetype-txt,
.taken-down .propreties-dark-txt {
    color: var(--secondary-red);
}
table.grid-table .undecryptable td {
    color: var(--stroke-mid-grey);
}
table.grid-table .undecryptable .tranfer-filetype-txt,
.undecryptable .file-block-title,
.undecryptable .nw-fm-tree-folder,
.undecryptable .shared-folder-name,
.undecryptable .shared-folder-info,
.undecryptable .propreties-dark-txt {
    color: var(--secondary-orange) !important;
}

table.grid-table .undecryptable-zk .tranfer-filetype-txt,
.undecryptable-zk .file-block-title,
.undecryptable-zk .nw-fm-tree-folder,
.undecryptable-zk .shared-folder-name,
.undecryptable-zk .shared-folder-info,
.undecryptable-zk .propreties-dark-txt {
    color: var(--secondary-red) !important;
}

table.grid-table .ver-col-container {
    line-height: 30px;
}
table.grid-table .ver-col-container > div {
    vertical-align: middle;
}
table.grid-table .ver-col-container .ver-nb {
    height: 18px;
    color: var(--grid-text);
    font: var(--text-body2);
    display: inline-block;
    width: 19px;
    text-align: center;
}
table.grid-table .ver-col-container .ver-icon.versioning {
    display: inline-block;
    height: 26px;
}
table.grid-table .ver-col-container .ver-icon.versioning .versioning-indicator {
    position: relative;
    display: inline-block;
    height: 100%;
}
table.grid-table .ver-col-container .ver-size {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    height: 15px;
    border-radius: 8px;
    background-color: var(--stroke-mid-grey);
    display: inline-block;
}
table.grid-table .ver-col-container .ver-size .ver-size-nb {
    height: 15px;
    color: var(--text-color-white-high);
    font: var(--text-body2);
    line-height: 15px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}

table.grid-table .grid-url-arrow {
    height: 24px;
    width: 24px;
    display: block;
    cursor: pointer;
    /* transition: all 50ms ease-in-out; */
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 35px;
    border-radius: 4px;
    opacity: 0;
    padding: 0 2px;
}
.rtl table.grid-table .grid-url-arrow {
    left: auto;
    right: 35px;
}

table.grid-table .grid-url-arrow i {
    --icon-size: 24px;
    --mask-color: var(--icon-inactive);
}

table.grid-table .grid-url-arrow:hover i,
table.grid-table .grid-url-arrow.active i {
    --mask-color: var(--icon-active);
}

table.grid-table .grid-url-header-nw .grid-url-arrow {
    top: 17px;
    left: auto;
    right: 14px;
}
.rtl table.grid-table .grid-url-header-nw .grid-url-arrow {
    left: 14px;
    right: auto;
}

table.grid-table tr {
    box-sizing: border-box;
}

table.grid-table tr:empty {
    border: 0;
}

table.grid-table tr:not(.taken-down) .grid-status-icon:not(.read-only):not(.read-and-write) {
    cursor: pointer;
}

table.grid-table .grid-status-icon {
    --icon-size: 16px;
    --mask-color: var(--icon-rest);
    display: inline-block;
    margin: 0 0 1px;
    vertical-align: middle;
}

table.grid-table .grid-status-icon.icon-info {
    --mask-color: var(--secondary-orange);
}

table.grid-table .grid-status-icon.icon-takedown,
table.grid-table .undecryptable-zk .grid-status-icon.icon-info {
    --mask-color: var(--secondary-red);
}

table.grid-table tbody i:not(.verified-user-icon):not(.icon-dot) {
    --mask-color: var(--icon-rest);
    --icon-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
}

table.grid-table tbody .versioning-indicator i.icon-versions-previous {
    display: block;
}

table.grid-table tbody tr:not(.linked) .icon-link {
    display: none;
}

table.grid-table tbody .linked .icon-link {
    display: inline-block;
}

table.grid-table tbody .grid-file-location {
    cursor: pointer;
    text-decoration: underline;
    color: var(--secondary-blue);
}

/* ======================================== *\
   Table : grid-table fm
\* ======================================== */

.rtl table.fm {
    direction: rtl;
}
table.fm td {
    z-index: 0;
    box-sizing: border-box;
    height: 32px;
    font: var(--text-body2);
    line-height: 31px;
    padding: 0;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 13px;
    padding-inline-end: 13px;
    color: var(--text-color-medium);
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
table.fm [megatype="fav"] {
    text-align: center;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 13px;
    padding-inline-end: 13px;
}
table.fm td[megatype="fname"] {
    min-width: 180px;
}
table.fm td[megatype="empty"] {
    display: table-cell;
    width: 100%;
}
table.fm th:first-child,
table.fm td:first-child {
    width: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

table.fm tr {
    white-space: nowrap;
    width: 100%;
}

table.fm .item-type-icon {
    left: 3px;
    position: absolute;
}
table.fm .item-type-icon,
table.fm .versioning-indicator {
    top: 50%;
    transform: translateY(-50%);
}
table.fm .grid-url-arrow {
    margin-top: 0;
}
table.fm .thumb .item-type-icon {
    background: none;
}
table.fm .thumb .item-type-icon img {
    background-color: var(--stroke-mid-grey);
    border-radius: 2px;
    display: inline-block;
    height: 18px;
    margin: 3px;
    width: 18px;
}

/* ======================================== *\
   index-table & wrapper
\* ======================================== */
.terms-page-content.terms .index-table {
    margin: 24px auto;
    width: 100%;
}

.terms-page-content.terms .index-table td {
    font-family: var(--text-font-family);
    padding: 8px 0;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
}

.terms-page-content.terms .index-table td:not(:first-child) {
    text-align: end;
}

/* ======================================== *\
   developer-settings-table
\* ======================================== */
.bottom-page.developer-settings .developer-settings-table {
    margin: auto;
    text-align: start;
}

/* ======================================== *\
   megasync-table
\* ======================================== */
.megasync-table {
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
}
.megasync-table table {
    width: 640px;
}
.megasync-table table th,
.megasync-table table td {
    height: 80px;
    box-sizing: border-box;
    padding: 0 23px;
    vertical-align: middle;
    text-align: start;
    white-space: nowrap;
    border-left: 1px solid rgba(0,0,0,0.1);
    font-weight: normal;
}
.megasync-table table td {
    height: 63px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.megasync-table table th:nth-child(1),
.megasync-table table td:nth-child(1) {
    background-color: #f2f2f2;
    text-align: right;
    width: 209px;
    border-left: 0;
}
.megasync-table table th:nth-child(2),
.megasync-table table td:nth-child(2) {
    width: 216px;
    padding: 0 26px;
}
.megasync-table table th:nth-child(3),
.megasync-table table td:nth-child(3) {
    width: 215px;
    padding: 0 28px;
}
.megasync-table table th span,
.megasync-table table td span {
    font-size: 16px;
    line-height: 40px;
    color: rgba(51,51,51,1);
    padding: 0;
    background-image: url(../images/mega/download-sprite.png);
    background-position: left 1000px;
    background-repeat: no-repeat;
    display: inline-block;
}
.megasync-table table span.tick {
    background-position: -4px -1768px;
}
.megasync-table table span.dots {
    background-position: -3px -1648px;
}
.megasync-table table span.globe {
    background-position: -2px -1577px;
    margin-left: -3px;
    padding: 0 0 0 48px !important;
}
.megasync-table table span.sync {
    background-position: 0 -1696px;
    margin-left: -4px;
    padding: 0 0 0 45px !important;
}
.megasync-table table th:nth-child(1) span,
.megasync-table table td:nth-child(1) span {
    color: rgba(51,51,51,0.7);
    background-image: none;
}
.megasync-table table th:nth-child(2) span,
.megasync-table table td:nth-child(2) span {
    padding: 0 0 0 45px;
}
.megasync-table table th:nth-child(3) span,
.megasync-table table td:nth-child(3) span {
    padding: 0 0 0 41px;
}

/* ======================================== *\
   grid-table-user-management
\* ======================================== */

.user-management-view .table-user-management table {
    border: none;
    margin: 0 24px;
    width: calc(100% - 48px);
    table-layout: fixed;
}
.user-management-view .table-user-management .data-table tr .name .fm-user-management-user {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.user-management-view .table-user-management .data-table tr .status {
    white-space: nowrap;
    width: 14%;
}
.user-management-view .table-user-management .data-table tr .used-storage {
    width: 14%;
}
.user-management-view .table-user-management .data-table tr .used-transfer {
    width: 14%;
}
.user-management-view .table-user-management .data-table tr .last-active {
    width: 14%;
}
.user-management-view .table-user-management .data-table tr .actions {
    width: 140px;
}
.user-management-view .grid-table-user-management tbody tr {
    height: 64px;
}
.user-management-view .grid-table-user-management td {
    cursor: pointer;
}
.user-management-view .grid-table-user-management th {
    box-sizing: border-box;
    color: var(--text-color-medium);
    font: var(--text-body2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-management-view .user-management-list-table tr .icon-wrapper {
    opacity: 0;
    vertical-align: middle;
    transition: var(--transition-opacity);
}
.files-grid-view.user-management-view .user-management-list-table tbody tr:hover .icon-wrapper {
    opacity: 1;
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper.disabled i {
    --mask-color: var(--icon-inactive);
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper:not(.disabled) i {
    --mask-color: var(--icon-rest);
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper:not(.disabled):hover i {
    --mask-color: var(--icon-active);
}
.files-grid-view.user-management-view .user-management-list-table tbody tr td .icon-wrapper {
    display: inline-block;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    position: relative;
    cursor: pointer;
}
.user-management-list-table tr td .user-management-name {
    font: var(--text-body1);
    color: var(--text-color-high);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.user-management-list-table tr td .user-management-email {
    color: var(--text-color-low);
    font: var(--text-body2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 2px;
}
.user-management-list-table tr td .user-management-email.warning,
.user-management-list-table tr td .user-management-email.pending-email {
    color: var(--text-color-warning);
}

/* ======================================== *\
   grid-table shared-with-me
\* ======================================== */

@media only screen and (max-width: 1368px) and (min-width: 320px)  {
    table.shared-with-me td:nth-child(2) {
        width: 150px !important;
    }

    .contacts-panel table.shared-with-me td:nth-child(2) {
        width: 240px !important;
    }
}

table.shared-with-me td {
    z-index: 0;
}
table.shared-with-me td {
    vertical-align: middle;
    height: 56px;
}
/* Hide the size column in MEGA Lite mode */
.mega-lite-mode table.shared-with-me th:nth-child(4),
.mega-lite-mode table.shared-with-me td:nth-child(4) {
    display: none;
}

table.shared-with-me .avatar-wrapper {
    position: absolute;
    top: 14px;
    margin: 0;
}

table.shared-with-me .item-type-icon-90 {
    --icon-size: 48px;
    left: 0;
    position: absolute;
    top: 4px;
}

table.shared-with-me .shared-folder-info-block .shared-folder-name {
    color: var(--text-color-high);
    font: var(--text-body1);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-inline-end: 24px;
}

table.shared-with-me .shared-folder-info-block .shared-folder-info {
    color: var(--text-color-low);
    font: var(--text-body2);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.shared-with-me .fm-chat-user-info {
    float: none;
    margin: 0 0 0 44px;
    display: block;
}

table.shared-with-me .fm-chat-user-info .fm-chat-user {
    color: var(--text-color-high);
    margin-right: 20px;
    font: var(--text-body1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
}

table.shared-with-me .fm-chat-user-info .nw-contact-status {
    margin: 12px;
}

table.shared-with-me .fm-chat-user-info .fm-chat-user-status {
    font: var(--text-body2);
    color: var(--text-color-low);
}
table.shared-with-me .fm-chat-user-info .fm-user-verification {
    text-decoration: underline;
    cursor: pointer;
    color: var(--label-blue);
}

table.shared-with-me .shared-folder-size {
    font: var(--text-body2);
}
table.shared-with-me .shared-folder-access {
    color: var(--text-color-medium);
    display: block;
}
table.shared-with-me .shared-folder-access i {
    --icon-size: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 5px;
    -webkit-margin-end: 5px;
}
table.shared-with-me .shared-folder-access span {
    display: inline-block;
    vertical-align: middle;
    font: var(--text-body2);
}


/* ======================================== *\
   grid-table out-shares
\* ======================================== */

@media only screen and (max-width: 1368px) and (min-width: 320px)  {
    table.out-shares td:nth-child(2) {
        width: 150px !important;
    }
}

table.out-shares td {
    z-index: 0;
    height: 56px;
}

table.out-shares .item-type-icon-90 {
    --icon-size: 48px;
    left: 0;
    position: absolute;
    top: 4px;
}

table.out-shares .shared-folder-info-block {
    padding: 0 0 0 51px;
    font: var(--text-body2);
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: left;
}

table.out-shares .shared-folder-info-block .shared-folder-name {
    color: var(--text-color-high);
    font: var(--text-body1);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-inline-end: 24px;
}

table.out-shares .shared-folder-info-block .shared-folder-info {
    color: var(--text-color-low);
    font: var(--text-body2);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Temporarily hide the size of folders in MEGA Lite mode as we don't know the contents */
.mega-lite-mode table.out-shares .shared-folder-info-block .shared-folder-info {
    display: none;
}
table.out-shares .fm-chat-users-wrapper.simpletip {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}
table.out-shares .fm-chat-users-wrapper.simpletip:hover {
    text-decoration: underline;
}
table.out-shares .shared-folder-size,
table.out-shares .last-shared-time,
table.out-shares .fm-chat-users,
table.out-shares .fm-chat-users-other {
    color: var(--text-color-medium);
    font: var(--text-body2);
}
table.out-shares .fm-chat-users {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Temporary fix to hide the size column in MEGA Lite mode because we don't know the folder size */
.mega-lite-mode table.out-shares th:nth-child(4),
.mega-lite-mode table.out-shares td:nth-child(4) {
    display: none;
}

/* ======================================== *\
   transfer-table header
\* ======================================== */

.transfer-table thead {
    width: calc(100% - 32px);
    white-space: nowrap;
    margin: 0 16px;
    min-width: 1152px;
}
.transfer-table th {
    box-sizing: border-box;
    height: 24px;
    font: var(--text-body2);
    padding: 0 13px 0 5px;
    color: var(--stroke-main-inverted);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: sticky;
    position: -webkit-sticky;
    display: table-cell;
    float: none;
    top: 0;
    background-color: var(--stroke-main);
    z-index: 1;
}
.transfer-table th:first-child span {
    display: block;
    background-image: url(../images/mega/fm-main-sprite.png);
    background-repeat: no-repeat;
    background-position: -6px -4019px;
    height: 24px;
}

/* ======================================== *\
   transfer-table
\* ======================================== */

.fm-transfers-block td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    padding: 0 13px 0 5px;
    color: #707070;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
}
.transfer-table {
    min-width: 1152px;
}
.transfer-table,
.transfer-table tbody {
    height: auto;
    table-layout: fixed;
    white-space: nowrap;
}
.transfer-table .tranfer-filetype-txt {
    position: absolute;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 30px;
    padding-top: 6px;
    box-sizing: border-box;
    display: block;
}
.transfer-table .item-type-icon {
    --icon-size: 24px;
    left: 2px;
    position: absolute;
    top: 4px;
}
.transfer-table .transfer-type {
    margin: 0 auto;
}
.transfer-table .transfer-type::before {
    background-image: none;
}

.transfer-table td {
    border-bottom: 1px solid var(--stroke-grey-2);
}
.transfer-table td {
    color: var(--text-color-high);
    padding-left: 5px;
    height: 32px;
    font: var(--text-body1);
    cursor: default;
    box-sizing: border-box;
    position: relative;
    line-height: 32px;
    z-index: 0;
}
.transfer-table td object {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 26px;
    top: 0;
    left: 0;
    opacity: 0;
}
.transfer-table td:nth-child(1),
.transfer-table th:nth-child(1) {
    background-image: none;
    padding: 0;
    overflow: visible;
}
.transfer-table td:nth-child(2) {
    vertical-align: top;
}
.transfer-table td:nth-child(7),
.transfer-table th:nth-child(7) {
    background-image: none;
}
.transfer-table td:nth-child(8)::before {
    border-radius: 0 4px 4px 0;
}
.transfer-table td:nth-child(9),
.transfer-table th:nth-child(9) {
    width: 0;
    overflow: visible;
}
.transfer-table th:nth-child(9),
.transfer-table td:nth-child(9),
.dndc-sort .transfer-table td:nth-child(9) {
    display: none;
}
.transfer-table .link-transfer-status i,
.transfer-table .grid-url-arrow i,
.transfer-table .clear-transfer-icon i {
    --icon-size: 24px;
    display: inline-block;
    --mask-color: var(--icon-rest);
    vertical-align: middle;
}
.transfer-table .link-transfer-status:hover i,
.transfer-table .grid-url-arrow i,
.transfer-table .clear-transfer-icon:hover i {
    --mask-color: var(--icon-active);
}

@media only screen and (max-width: 1260px) {
    .transfer-table th:nth-child(3) {
        width: 192px;
    }
}

@media only screen and (max-width: 1100px) {
    .transfer-table th:nth-child(6) {
        width: 162px;
    }
}

/* ======================================== *\
   grid-table vouchers
\* ======================================== */

.fm-account-reseller .grid-table.vouchers {
    table-layout: auto;
}

.grid-table.vouchers td:first-child {
    padding-left: 12px;
}

/* ======================================== *\
   dev-new-appplications-table > grid-table
\* ======================================== */

.dev-new-appplications-table .grid-table th {
    line-height: 27px !important;
}
.dev-new-appplications-table .grid-table th {
    height: 30px;
}
.dev-new-appplications-table .grid-table td {
    height: 31px;
    color: #666666;
}

.dev-new-appplications-table .grid-table tr td:first-child {
    padding-left: 10px;
}
.dev-new-appplications-table .grid-table td {
    color: #666666;
}
.dev-new-appplications-table table.grid-table th:nth-child(4),
.dev-new-appplications-table table.grid-table td:nth-child(4) {
    width: 35px;
    padding: 0;
}

/* ======================================== *\
   Scroller customisation for sticky header
\* ======================================== */

.grid-scrolling-table.ps > .ps__rail-y,
.user-management-scroll.ps > .ps__rail-y {
    margin-top: 36px;
}
.contacts-list .grid-scrolling-table.ps > .ps__rail-y {
    margin-top: 24px;
}
.add-from-cloud-dialog .grid-scrolling-table.ps > .ps__rail-y {
    margin-top: 34px;
}
.transfer-scrolling-table.ps > .ps__rail-y {
    margin-top: 26px;
}

/* ======================================== *\
   grid-table file-requests
\* ======================================== */
.file-requests-view .grid-table tr:not(.ui-selected):not(:hover) .grid-file-request-manage {
    opacity: 0;
}
