.colour-label-ind,
.colour-label .file-block-title::after,
.colour-label .tranfer-filetype-txt::after,
.colour-label .shared-folder-info-block::after {
    content: '';
    display: block;
    background-color: var(--label-grey);
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.colour-label .file-block-title::after,
.colour-label .tranfer-filetype-txt::after,
.colour-label .shared-folder-info-block::after {
    position: absolute;
    right: 6px;
    top: 9px;
}
.colour-label-ind.red,
.colour-label.red .file-block-title::after,
.colour-label.red .tranfer-filetype-txt::after,
.colour-label.red .shared-folder-info-block::after {
    background-color: var(--label-red);
}
.colour-label-ind.orange,
.colour-label.orange .file-block-title::after,
.colour-label.orange .tranfer-filetype-txt::after,
.colour-label.orange .shared-folder-info-block::after {
    background-color: var(--label-orange);
}
.colour-label-ind.yellow,
.colour-label.yellow .file-block-title::after,
.colour-label.yellow .tranfer-filetype-txt::after,
.colour-label.yellow .shared-folder-info-block::after {
    background-color: var(--label-yellow);
}
.colour-label-ind.green,
.colour-label.green .file-block-title::after,
.colour-label.green .tranfer-filetype-txt::after,
.colour-label.green .shared-folder-info-block::after {
    background-color: var(--label-green);
}
.colour-label-ind.blue,
.colour-label.blue .file-block-title::after,
.colour-label.blue .tranfer-filetype-txt::after,
.colour-label.blue .shared-folder-info-block::after {
    background-color: var(--label-blue);
}
.colour-label-ind.purple,
.colour-label.purple .file-block-title::after,
.colour-label.purple .tranfer-filetype-txt::after,
.colour-label.purple .shared-folder-info-block::after {
    background-color: var(--label-purple);
}
.active-folder-link .colour-label-ind,
.active-folder-link .colour-label .file-block-title::after,
.active-folder-link .colour-label .tranfer-filetype-txt::after,
.active-folder-link .colour-label .shared-folder-info-block::after {
    display: none;
}
.colour-label .shared-folder-info-block::after {
    right: 2px;
    top: 15px;
}
.rtl .colour-label .shared-folder-info-block::after {
    left: 2px;
    right: auto;
}
.nw-fm-tree-item .colour-label-ind {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 6px;
}
.nw-fm-tree-item:not(.linked):not(.on-gallery) .colour-label-ind {
    -webkit-margin-end: 33px;
    margin-inline-end: 33px;
}
.rtl .nw-fm-tree-item .colour-label-ind {
    left: 36px;
    right: auto;
}
.nw-fm-tree-item:hover .colour-label-ind,
.nw-fm-tree-item.hovered .colour-label-ind,
.nw-fm-tree-item.selected .colour-label-ind {
    box-shadow: 0 0 0 1px var(--stroke-main);
}
.nw-fm-tree-item.linked.on-gallery .colour-label-ind {
    right: 70px;
}
.nw-fm-tree-item.label {
    -webkit-padding-end: 46px;
    padding-inline-end: 46px;
}
.colour-label .file-block-title {
    -webkit-padding-end: 18px;
    padding-inline-end: 18px;
}
.colour-label .shared-folder-info-block {
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    padding-right: 12px;
    position: relative;
}
.data-block-view.colour-label .shared-folder-info-block {
    -webkit-padding-end: 18px;
    padding-inline-end: 18px;
    position: relative;
}
.data-block-view.colour-label .shared-folder-info-block::after {
    right: 6px;
    top: 24px;
}
.rtl .data-block-view.colour-label .shared-folder-info-block::after {
    left: 6px;
    right: auto;
}
.colour-label .tranfer-filetype-txt {
    -webkit-padding-end: 24px;
    padding-inline-end: 24px;
}
.data-block-view.colour-label .tranfer-filetype-txt {
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
}
.colour-label .tranfer-filetype-txt::after {
    right: 12px;
    top: 12px;
}
.rtl .colour-label .tranfer-filetype-txt::after {
    left: 12px;
    right: auto;
}
/* Filters */
.filter-block.body,
.filter-block.tree {
    background-color: var(--stroke-grey-3);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    font-size: 0;
    color: var(--text-color-high);
    padding: 0;
    -webkit-padding-end: 38px;
    padding-inline-end: 38px;
    -webkit-padding-start: 7px;
    padding-inline-start: 7px;
    white-space: nowrap;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    height: 20px;
    margin: 8px 0 0 0;
}
.filter-block.tree {
    margin-top: 0;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}
.filter-block.body *, .filter-block.tree * {
    display: inline-block;
    vertical-align: top;
}
.filter-block.info {
    font-size: 12px;
    line-height: 19px;
    padding: 0 2px 0 0;
}
.filter-block .colour-label-ind {
    margin: 6px 0 0 6px;
    position: static;
}
.filter-block.close {
    margin: 2px;
    cursor: pointer;
    position:absolute;
    right: 0;
    top: 0;
}
.filter-block.close i {
    --icon-size: 16px;
    --mask-color: var(--icon-rest);
    transition: var(--transition-color);
}
.filter-block.close:hover i {
    --mask-color: var(--icon-active);
}
.fm-right-header .filter-block.body {
    margin: 14px 0 0 0;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}
/*end of Filters */
