#fmholder.pmholder {
    min-width: 769px;
}

.fm-overlay .pmholder {
    pointer-events: none;
}

/* Temporary top menu style to show fm right menu, once bento box is implemented using hidden on fm-main instead */
/* #fmholder.pmholder .fm-main { */
#fmholder.pmholder .fm-main > *:not(#topmenu):not(.notification-banner) {
    display: none;
}

#fmholder.pmholder .fm-main,
#fmholder.pmholder .fm-main .topbar {
    height: auto;
}

#fmholder.pmholder .fm-main .topbar-links,
#fmholder.pmholder .fm-main .topbar .fmdb-loader {
    display: none;
}

#fmholder.pmholder .top-menu-popup button.positive {
    color: var(--mobile-text-inverse);
    background: var(--mobile-button-primary);
    box-shadow: none;
}

#fmholder.pmholder .top-menu-popup button.branded-red {
    color: var(--mobile-text-primary);
    background: var(--mobile-button-secondary);
    box-shadow: none;
}

.pm-main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-content: start;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--mobile-page-background);
}

.pm-main .banner-rack {
    grid-row: 1/2;
    grid-column: 2/3;
}

.pm-main .mega-top-menu,
.pm-main .fm-left-panel {
    grid-row: 1/4;
    grid-column: 1/2;
    padding-bottom: 24px;
    background: var(--mobile-surface-1);
    overflow: visible;
    box-sizing: border-box;
}

.pm-main .mega-header {
    grid-row: 2/3;
    grid-column: 2/4;
    min-width: 715px;
}

body.pwm-ui .pm-main .mega-header {
    min-width: auto;
}

.pm-main .password-list-page,
.pm-main .settings-wrap,
.pm-main > section, 
.section.conversations,
.pm-main > .fm-affiliate {
    grid-row: 3/4;
    grid-column: 2/3;
    height: auto;
    width: auto;
    overflow: hidden;
}
.section.conversations {
    grid-column: 1/3;
    overflow: hidden;
    grid-row: 2/4;
}

/* PWM Logo */
.theme-light .pm-main .sprite-fm-illustration-wide.img-mega-logo {
    background: url('../../images/pm/favicons/pwm_logo_lightmode.svg') no-repeat;
}

.theme-dark .pm-main .sprite-fm-illustration-wide.img-mega-logo {
    background: url('../../images/pm/favicons/pwm_logo_darkmode.svg') no-repeat;
}

/* RTL support */
body.rtl .pm-main,
body.rtl .overlay-wrap {
   direction: rtl;
}
