/* frienldy printing */
@media print {
/* remove all single page styles */
body, body * {
    visibility: hidden;
    height: auto !important;
    overflow: visible !important;
    max-width: 100% !important;
}
.main-mid-pad * {
    visibility: visible;
}
.main-mid-pad {
    visibility: visible;
    float: none !important;
    left: 0px;
    top: 0px;
    width: 100% !important;
    position: absolute !important;
    overflow: visible !important;
}
}