/* MEGAdrop upload frame */

/* TODO: Revamp! */
.widget-upload {
    width: 100%;
    height: 100vh;
    background-color: #F8F9FA;
    position: absolute;
    overflow: hidden;
    min-height: 650px;
}
.widget-upload .wu-main,
.widget-upload .wu-missing-main {
    width: 400px;
    height: 562px;
    top: 50%;
    left: 50%;
    margin: -313px 0 0 -200px;
    border-radius: 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
}
.wu-main .wu-data,
.wu-missing-main .wu-data {
    height: 55px;
    display: block;
    padding: 40px 20px 32px 20px;
    background-color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.wu-data .wu-folder-name-text {
    float: left;
    width: 100%;
    color: #777E82;
    font-family: 'LatoWeb', sans-serif;
    font-size: 32px;
    line-height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wu-data .wu-folder-name-text span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wu-data .wu-name {
    float: left;
    width: 100%;
    color: #999;
    font-family: 'LatoWeb', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wu-logo {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    float: left;
    margin: 6px 0 6px 12px;
    background-position: -6px -383px;
    background-image: url(../images/mega/top-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.wu-data .wu-email {
    float: left;
    width: 100%;
    margin-top: 28px;
}
.wu-email .wu-email-label {
    display: block;
    color: #82898D;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.wu-email .wu-email-text {
    display: block;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 18px;
}
.wu-data .wu-msg {
    float: left;
    width: 100%;
    margin-top: 24px;
    display: none;
}
.wu-msg .wu-msg-label {
    display: block;
    color: #82898D;
    padding-bottom: 4px;
    font-family: 'LatoWebSemibold', sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
}
.wu-msg .wu-msg-text {
    display: block;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 18px;
}
.wu-main .wu-items {
    height: 350px;
    width: inherit;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.wu-missing-main .wu-missing {
    height: 350px;
    cursor: default;
    width: inherit;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.wu-items .wu-empty-upload,
.wu-missing .wu-empty-upload {
    height: 308px;
    width: 400px;
    position: absolute;
}
.wu-empty-upload .wu-large-logo {
    width: 400px;
    height: 250px;
    margin: 20px 0 0;
    background-image: url(../images/mega/wu_empty_upload.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.wu-empty-upload .wu-large-logo.grey {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
.wu-empty-upload .wu-upload-text {
    width: 320px;
    color: #939DA3;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 10px auto;
    display: block;
}
.wu-items .wu-stat {
    height: 90px;
    background-color: #f5f7f9;
    padding-left: 20px;
    padding-right: 20px;
}
.wu-stat .wu-total-curr,
.wu-stat .wu-total-perc,
.wu-stat .wu-total-speed {
    display: block;
    margin-top: 28px;
}
.wu-stat .wu-total-curr {
    float: left;
    width: 33%;
    text-align: left;
    overflow: hidden;
    color: #888;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.wu-stat .wu-total-perc {
    float: right;
    width: 33%;
    text-align: right;
}
.wu-stat .wu-total-speed {
    width: 33%;
    float: left;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wu-total-curr .wu-curr-label {
    height: 18px;
    color: #959BA7;
    font-size: 14px;
    display: block;
    line-height: 18px;
}
.wu-total-curr .wu-curr-value,
.wu-total-curr .wu-total-value {
    height: 20px;
    color: #222222;
    font-family: 'LatoWebSemibold', sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin-top: 4px;
}
.wu-total-curr .wu-total-value {
    color: #888;
    font-size: 15px;
}
.wu-total-perc .wu-total-perc-label,
.wu-total-speed .wu-total-speed-label {
    height: 18px;
    display: block;
    color: #959BA7;
    font-size: 14px;
    line-height: 18px;
}
.wu-total-perc .wu-total-perc-value,
.wu-total-speed .wu-total-speed-value {
    height: 20px;
    color: #222222;
    font-size: 15px;
    line-height: 28px;
    font-family: 'LatoWebSemibold', sans-serif;
}

/* end .wu-items .wu.stat */
.wu-items .wu-queue {
    max-height: 258px;
    width: inherit;
    overflow: hidden;
    color: #555;
    font-size: 14px;
    background-color: #fff;
}
.wu-queue .wu-queue-item {
    display: block;
    height: 48px;
    width: inherit;
    margin: 0 16px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.wu-queue-item .wu-queue-item-name,
.wu-queue-item .wu-queue-item-stat,
.wu-queue-item .wu-queue-item-status {
    float: left;
    display: block;
    padding-top: 17px;
    padding-bottom: 11px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: calc(100% - 1px);
}
.wu-queue-item .wu-queue-item-name {
    width: 260px;
    text-align: left;
}
.wu-queue-item .wu-queue-item-stat {
    text-align: center;
    padding-left: 14px;
    display: none;
}
.wu-queue-item .wu-queue-item-status {
    width: 80px;
    float: right;
    text-align: right;
    margin-right: 20px;
}
.wu-main .wu-main-bottom,
.wu-missing-main .wu-main-botton {
    height: 82px;
    width: inherit;
    display: block;
    background-color: #fff;
    box-sizing: border-box;
}

/* .wu-lang and children, block used for language change */
.wu-main-bottom .wu-lang {
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 24px 12px;
    cursor: pointer;
}
.wu-main-bottom .wu-lang:hover .lang::before {
    opacity: 1;
}
/* .glob-icon.lang */
.wu-lang .glob-icon {
    height: 35px;
    float: right;
    padding: 6px 12px 0 13px;
    box-sizing: border-box;
    cursor: pointer;
}
.wu-lang .glob-icon::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../images/mega/top-sprite.png);
    background-repeat: no-repeat;
    transition: all 200ms ease-in-out;
    opacity: 0.8;
}
.wu-lang .glob-icon::after {
    content: '';
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 6px;
    margin: 0 0 0 -13px;
}
.wu-lang .glob-icon:hover::before,
.wu-lang .glob-icon.active::before {
    opacity: 1;
}
.wu-lang .glob-icon.lang::before {
    background-position: -7px -286px;
    float: left;
}
.wu-lang .glob-icon.lang::after {
    display: none;
}
.wu-lang .glob-icon.lang {
    float: left;
}

/* .wu-lang .lang .dark-tooltip .widget */
.dark-tooltip.widget {
    top: 34px;
    transition: top 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    left: 0;
    margin: 0;
}
.dark-tooltip.widget.hovered {
    top: 630px;
    left: auto;
}
.wu-lang .wu-change-lang {
    color: #555555;
    display: block;
    float: left;
    margin-top: 3px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-transform: uppercase;
    opacity: 0.8;
}
.wu-main-bottom .wu-btn {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
}
.widget-upload .wu-footer {
    position: absolute;
    width: inherit;
    display: block;
    background-color: #fff;
    color: #333;
    clear: both;
    margin-top: -64px;
    bottom: 0;
    padding: 13px 0;
}
.wu-footer .wu-copyrights {
    font-size: 14px;
    color: #333;
    display: block;
    line-height: 18px;
    padding: 9px 0 9px 26px;
    background-repeat: no-repeat;
    background-position: -11px -729px;
    margin-left: 24px;
}
.wu-footer .wu-copyrights span {
    color: #666;
    padding-left: 5px;
}
.wu-msg textarea {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 120px;
}
.wu-main .wu-items:hover {
    cursor: pointer;
    background-color: #fff;
    transition: all 200ms ease-in-out;
}
.widget-upload .wu-wrapper {
    position: relative;
    height: 100%;
}
.wu-wrapper .wu-push {
    height: 64px;
}
.footer-button.widget-dialog-buttons {
    margin-top: 20px;
    border-top: 1px solid #eee;
}
.widget-card .footer-button.widget-dialog-buttons {
    padding-top: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {

    .wu-logo,
    .wu-lang .glob-icon::before {
        background-image: url(../images/mega/top-sprite@2x.png);
        background-size: 38px auto;
    }

    .wu-empty-upload .wu-large-logo {
        background-image: url(../images/mega/wu_empty_upload@2x.png);
        background-size: 400px auto;
    }
}
