
/* Mobile Toasts */
.mobile.toast-notification {
    background-color: rgba(222, 222, 222, 0.8);
    border: 1px solid #ccc;
    border-radius: 3px;
    bottom: 8px;
    box-shadow: none;
    box-sizing: border-box;
    color: #555;
    cursor: default;
    font-family: 'LatoWeb', sans-serif;
    font-size: 14px;
    left: 50%;
    line-height: 18px;
    margin-bottom: 48px;
    margin-left: -40%;
    max-width: 420px;
    opacity: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    visibility: hidden;
    width: 80%;
    z-index: 2000;
}
.mobile.toast-notification::before {
    display: none;
}
.mobile.toast-notification.active {
    opacity: 1;
    visibility: visible;
}
.mobile.toast-notification.top {
	bottom: initial;
	top: 8px;
}
.mobile.toast-notification .toast-icon {
    display: none;
}
.mobile.toast-notification.info .message-body {
    text-align: center;
}
.mobile.toast-notification.success {
    background-color: rgba(222, 222, 222, 0.8);
    border: 1px solid #ccc;
    color: #555;
}

.mobile.toast-notification.error {
    background-color: #9a1c06;
    color: white;
}

.mobile.toast-notification .message-body {
    margin-left: 5px;
    padding: 12px 12px;
    text-align: left;
}

.mobile.toast-notification .toast-alert-icon {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (min-width: 500px) {
    .mobile.toast-notification {
        margin-left: -210px;
    }
}

@media screen and (orientation: landscape) {
    .mobile.toast-notification.active {
        margin-bottom: 0;
    }
}
