/* For the wrapper and filter chips */
.fm-filter-chips-wrapper {
    height: 32px;
    padding-inline: 24px 88px;
    padding-bottom: 8px;
    transition: 200ms linear;
    display: flex;
    align-items: center;
    margin-inline-end: auto;
    margin-top: 8px;
}

.fm-filter-chips-wrapper .fm-filter-chips {
    width: fit-content;
    display: flex;
    gap: 8px;
}
.fm-filter-chips .fm-filter-reset {
    display: flex;
    height: 24px;
    color: var(--mobile-text-secondary);
    text-decoration: underline;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    white-space: nowrap;
}
.fm-filter-chips .fm-filter-chip-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding-inline: 12px;
    border-radius: 16px;
    background: var(--mobile-button-secondary);
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--mobile-text-primary);
    white-space: nowrap;
}
.fm-filter-chips .fm-filter-chip-button:hover {
    background: var(--mobile-button-secondary-hover);
}
.fm-filter-chips .fm-filter-chip-button .fm-filter-chip-button-text {
    color: var(--mobile-text-primary);
    margin-inline-end: 8px;
}
.rtl .fm-filter-chips .fm-filter-chip-button .nw-fm-tree-arrow::before {
    transform: rotate(90deg) !important;
}
.fm-filter-chips .fm-filter-chip-button.selected,
.fm-filter-chips .fm-filter-chip-button.selected .fm-filter-chip-button-text{
    background: rgba(252, 239, 239, 1);
    color: rgba(123, 33, 24, 1);
}
.theme-dark .fm-filter-chips .fm-filter-chip-button.selected,
.theme-dark .fm-filter-chips .fm-filter-chip-button.selected .fm-filter-chip-button-text{
    background: rgba(91, 19, 13, 1);
    color: rgba(252, 239, 239, 1);
}

/* For the MComponent dropdowns */
.hide-radio-on .radioOn {
    display: none !important;
};
.m-dropdown-item.hide-radio-on:hover {
    color: var(--text-color-medium);
}
.m-dropdown-item.hide-radio-on:hover,
.m-dropdown-item.hide-radio-on:focus,
.m-dropdown-item.hide-radio-on:active img {
    --mask-color: var(--icon-rest);
}
.m-dropdown-item.hide-radio-on > div {
    align-items: center;
}
.m-dropdown-item.hide-radio-on.selected {
    background: var(--surface-grey-2);
    color: var(--text-color-medium);
}
.m-dropdown-item.hide-radio-on .selected-mark {
    display: none;
}
.m-dropdown-item.hide-radio-on.selected .selected-mark {
    display: block;
    --mask-color: var(--icon-rest);
}
.is-sensitive,
tr.is-sensitive td span.item-type-icon {
    overflow: hidden;
}
.is-sensitive .file-block-title,
.is-sensitive .block-view-file-type,
.is-sensitive .item-type-icon-90,
.is-sensitive .item-type-icon,
.is-sensitive .dropdown-search-results-item-filename,
tr.is-sensitive span.simpletip-breadcrumb,
tr.is-sensitive span.tranfer-filetype-txt,
tr.is-sensitive span.transfer-filetype-icon:not(.image),
.fm-left-panel span.is-sensitive.nw-fm-tree-item,
.fm-left-panel span.is-sensitive + ul span.nw-fm-tree-item,
span.is-sensitive.dropdown,
span.is-sensitive.dropdown-item,
a.is-sensitive.fm-breadcrumbs,
a.is-sensitive .dropdown-recently-opened-item-filename,
a.is-sensitive .dropdown-search-results-item-location span,
a.is-sensitive .dropdown-search-results-item-location,
a.is-sensitive .dropdown-recently-opened-item-location,
a.is-sensitive .dropdown-recently-opened-item-time {
    opacity: 0.5;
}
a.is-sensitive img,
div.is-sensitive img {
    filter: blur(1rem);
}
.is-sensitive .dropdown-search-results-item-file-icon img {
    filter: blur(2px);
}
tr.is-sensitive img,
a.dropdown-recently-opened-item.is-sensitive img {
    filter: blur(0.25rem);
}
tr.is-sensitive td.size,
tr.is-sensitive td.type,
tr.is-sensitive td.time,
tr.is-sensitive td.playtime,
tr.is-sensitive td.hd-versions {
    color: var(--text-color-medium-sensitive);
}
span.hidden-as-sensitive,
span.hidden-as-sensitive + ul,
tr.hidden-as-sensitive {
    display: none !important;
}
.m-dropdown-item.hide-radio-on .dropdown-inline-tooltip {
    margin-left: 4px;
    margin-right: 4px;
}
