/* V4 onboarding start */

#ob-dialog {
    background: var(--label-blue);
    color: var(--text-color-white-high);
    --mask-color: var(--text-color-white-high);
    max-width: 450px;
}
#ob-dialog .mega-button.action,
#ob-dialog header div > * {
    color: var(--text-color-white-high);
    --mask-color: var(--text-color-white-high);
}
#ob-dialog header h2 {
    text-align: start;
}
#ob-dialog-arrow {
    position: absolute;
    --mask-color: var(--label-blue);
    --icon-size: 24px;
    height: 16px;
}
#ob-dialog-arrow.right {
    transform: rotate(270deg);
    right: -12px;
    top: calc(50% - 12px);
}
#ob-dialog-arrow.left {
    transform: rotate(90deg);
    left: -12px;
    top: calc(50% - 12px);
}
#ob-dialog-arrow.top {
    transform: rotate(180deg);
    left: calc(50% - 12px);
    top: -8px;
}
#ob-dialog-arrow.bottom {
    left: calc(50% - 12px);
    bottom: -8px;
}
#ob-dialog-arrow.top-left {
    transform: rotate(180deg);
    left: 56px;
    top: -8px;
}
#ob-dialog-arrow.top-right {
    transform: rotate(180deg);
    right: 40px;
    top: -8px;
}
#ob-dialog .link-button {
    color: var(--text-color-white-high);
    margin-right: auto;
    min-width: 80px;
}
.rtl #ob-dialog .link-button {
    margin-left: auto;
    margin-right: 0;
}
.context .onboarding-highlight-dot,
.context .onboarding-highlight-dot::before,
.context .onboarding-highlight-dot::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: calc(50% - 5px);
    background: var(--label-blue);
    border-radius: 100%;
}
.rtl .context .onboarding-highlight-dot {
    right: auto;
    left: 8px;
}
.context .onboarding-highlight-dot::before,
.context .onboarding-highlight-dot::after {
    right: 0;
    left: 0;
    top: 0;
    background: radial-gradient(circle, transparent 40%, var(--label-blue) calc(100% - 2px), var(--label-blue) 100%);
    animation: 1.5s linear infinite onboarding-hotspot-circle;
}
.context .onboarding-highlight-dot::after {
    animation-delay: 500ms;
}
#ob-dialog.mcob {
    width: 450px;
    z-index: 212;
}
.overlayed #ob-dialog.mcob {
    visibility: hidden;
}
.in-call #ob-dialog.mcob {
    display: none;
}
#ob-dialog.mcob header {
    padding-inline-end: 24px;
}
#ob-dialog.mcob #ob-dialog-title {
    font: var(--text-h2-bold);
}
#ob-dialog.mcob #ob-dialog-text {
    font: var(--text-body1);
}

@keyframes onboarding-hotspot-rect {
    from {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0.8;
    }
    70% {
        box-shadow: 0 0 0 12px var(--label-blue);
        opacity: 0;
    }
    to {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0;
    }
}

@keyframes onboarding-hotspot-rect-2 {
    from {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 1;
    }
    70% {
        box-shadow: 0 0 0 12px var(--label-blue);
        opacity: 0;
    }
    to {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0;
    }
}

@keyframes onboarding-hotspot-circle {
    from {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    70% {
        transform: scale(2);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
.button.onboarding-hotspot-animation-rect::before,
.button.onboarding-hotspot-animation-rect::after,
.js-more-menu.onboarding-hotspot-animation-rect::before,
.js-more-menu.onboarding-hotspot-animation-rect::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    animation: 1.4s linear infinite onboarding-hotspot-rect;
    left: 0;
}
.fm-uploads.button.onboarding-hotspot-animation-rect::before,
.fm-uploads.button.onboarding-hotspot-animation-rect::after {
    height: calc(100% - 6px);
    top: 3px;
}
.button.onboarding-hotspot-animation-rect::after {
    animation-name: onboarding-hotspot-rect-2;
    animation-delay: 400ms;
    left: 0;
}
.js-more-menu.onboarding-hotspot-animation-rect {
    position: relative;
}
.js-more-menu.onboarding-hotspot-animation-rect::before,
.js-more-menu.onboarding-hotspot-animation-rect::after {
    height: calc(100% - 12px);
    left: 6px;
    top: 6px;
    width: 64%;
    z-index: 4;
}

/* v4 onboarding end */

/* MEGA Pass otp promo dialog */
.mega-sheet.promo-dialog .icon {
    display: block;
}
.mega-sheet.promo-dialog .header .icon.three-locks {
    width: 120px;
    height: 120px;
    background: url('../images/pm/three-locks.png');
    background-size: contain;
}
.mega-sheet.promo-dialog .header > * {
    margin-bottom: 0;
}
.mega-sheet.promo-dialog .header {
    padding: 24px 24px 16px;
    box-sizing: border-box;
    align-items: start;
}
.mega-sheet.promo-dialog .promo-dialog-content {
    text-align: start;
    font: var(--mobile-font-copy-regular);
}
.mega-sheet.promo-dialog .promo-dialog-content a {
    text-decoration: none;
    color: var(--mobile-link-primary);
}
.mega-sheet.overlay-wrap.promo-dialog .actions button:last-child:nth-child(even) {
    margin-inline-start: 8px;
    margin-inline-end: 0;
}
.mega-sheet.overlay-wrap.promo-dialog .sheet .actions {
    flex-direction: row;
    justify-content: end;
}
.mega-sheet.overlay-wrap.promo-dialog .actions .button {
    width: auto;
    margin: inherit;
}

/* MEGA Pass otp promo dialog end */

/* Cloud drive new user onboarding */
.mega-on-boarding .main-content .image-wrapper.qr-block {
    width: calc(100% - 80px);
    box-sizing: border-box;
    min-height: 224px;
    height: 224px;
    margin: 12px 40px;
    background: var(--mobile-surface-1);
    border-radius: 8px;
    display: flex;
}
.mega-on-boarding .main-content .image-wrapper .app-qr-image {
    margin: auto;
    background-image: url("../../images/mega/go-qr.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
}
.mega-on-boarding .main-content .image-wrapper .cd-onboard-1 {
    background-image: url("../../images/onboarding/cloud_ob_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}
.mega-on-boarding .main-content .image-wrapper .cd-onboard-2 {
    background-image: url("../../images/onboarding/cloud_ob_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
.mega-on-boarding .main-content .image-wrapper .cd-onboard-3 {
    background-image: url("../../images/onboarding/cloud_ob_3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
.menu-container.ob-upload-menu {
    z-index: 102;
}
.mega-on-boarding .main-content .content-block.cd-onboard {
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-large-regular);
    margin-top: 16px;
    --icon-size: 24px;
    --mask-color: var(--mobile-icon-secondary);
}
.mega-on-boarding .main-content .content-block.cd-onboard.image {
    margin-top: 8px;
}
.mega-on-boarding .main-content .cd-onboard .content-title {
    font: var(--mobile-font-caption-large-bold);
    margin: 12px 0 8px;
}
.mega-on-boarding .main-content .cd-onboard .content-row {
    display: flex;
    min-height: 40px;
    padding: 8px 40px;
    align-items: center;
    box-sizing: border-box;
}
.mega-on-boarding .main-content .cd-onboard .content-row.app-store {
    padding: 8px 40px 0;
    margin: 24px 0 4px;
}
.mega-on-boarding .main-content .cd-onboard .content-row i {
    margin-inline-end: 16px;
}
.mega-on-boarding .main-content .cd-onboard .content-footer {
    font: var(--mobile-font-caption-small-regular);
    margin-top: 24px;
}
.mega-on-boarding .main-content .cd-onboard .app-store-link {
    height: 40px;
    overflow: hidden;
}
.mega-on-boarding .main-content .cd-onboard .app-store-link.android img {
    height: 60px;
    object-position: -8px -10px;
    margin-inline-start: 16px;
}

/* Cloud drive new user onboarding end */
