.onboarding {
    position: absolute;
    left: 17px;
    top: 177px;
    /* top: 4px; */
    /* left: 520px; */
    z-index: 450;
    width: 36px;
    height: 30px;
    border-radius: 100%;
    padding-top: 6px;
    cursor: pointer;
}
.onboarding .main, .onboarding .wrapper, .onboarding .outer {
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.onboarding .main {
    width: 16px;
    height: 16px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(252, 252, 252));
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top: 2px;
}
.onboarding .wrapper {
    width: 24px;
    height: 24px;
    border: 2px solid #fcfcfc;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(252, 252, 252, 0.15));
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    z-index: 448;
}
.onboarding .outer {
    background-color: rgba(204, 204, 204, 0.38);
    margin: 0 auto;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    top: -31px;
    z-index: 446;
}
.onboarding .outer {
    animation-duration: 2.5s;
    animation-name: hint;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-out;
}
@keyframes hint {
    from {
        transform: scale(0.8) translate3d(0, 0, 0);
        background-color: rgba(204, 204, 204, 0.30);
    }
    70% {
        transform: scale(1.15) translate3d(0, 0px, 0);
        background-color: rgba(204, 204, 204, 0.6);
    }
    95% {
        transform: scale(1.15) translate3d(0, 0px, 0);
        background-color: rgba(204, 204, 204, 0.0);
    }
    to {
    transform: scale(1) translate3d(0, 0, 0);
    background-color: rgba(204, 204, 204, 0.0);
    }
}
.onboarding:hover .outer, .onboarding.active .outer {
    animation-duration: 0.2s;
    animation-name: hint-hover;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    cursor: pointer;
}
@keyframes hint-hover {
    from {
        width: 30px;
        height: 30px;
        padding-top: 2px;
        margin-top: 4px;
        background-color: rgba(204, 204, 204, 0.28);
        border: 1px solid rgba(0, 0, 0, 0);
    }
    to {
        width: 36px;
        height: 36px;
        padding-top: 5px;
        margin-top: 1px;
        background-color: rgba(204, 204, 204, 0.3);
        border: 1px solid rgba(128, 128, 128, 0.3);
    }
}
.onboarding:hover .outer, .onboarding.active .outer {
    width: 36px;
    height: 36px;
    padding-top: 5px;
    margin-top: 1px;
    background-color: rgba(204, 204, 204, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.1);
}
.onboarding:hover .main, .onboarding.active .main {
    animation-duration: 0.2s;
    animation-name: hint-hover-inner;
    animation-timing-function: linear;
}
@keyframes hint-hover-inner {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(0.95);
    }
}
.onboarding:hover .main, .onboarding.active .main {
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(252, 252, 252));
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top: 4px;
    cursor: pointer;
}
.onboarding.animate-out .outer {
    animation-duration: 0.2s;
    animation-name: hint-hover;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
}
.onboarding.animate-out .main {
    animation-duration: 0.2s;
    animation-name: hint-hover-inner;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
/**
 * Dialogs
 */
.onboarding-dialog {
    position: absolute;
    animation-name: none;
}
/**
 * toggle animations
 */

.onboarding-dialog.animate-in {
    animation-duration: 0.6s;
    animation-name: onboarding-dialog-active;
    animation-timing-function: ease-in;
}
.onboarding-dialog.animate-in.flipped-animation {
    animation-duration: 0.6s;
    animation-name: onboarding-dialog-active-flipped;
    animation-timing-function: ease-in;
}
@keyframes onboarding-dialog-active {
    from {
        max-width: 0;
        max-height: 0;
        opacity: 0.6;
    }
    20% {
        max-width: 30%;
        max-height: 30%;
        opacity: 0.8;
    }
    60% {
        max-width: 80%;
        max-height: 80%;
    }
    to {
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
    }
}
@keyframes onboarding-dialog-active-flipped {
    from {
        opacity: 0.6;
    }
    20% {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
.onboarding-dialog.animate-in > * {
    animation-duration: 0.6s;
    animation-name: onboarding-dialog-active-late-fadein;
    animation-timing-function: ease-in;
}
@keyframes onboarding-dialog-active-late-fadein {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.onboarding-dialog.animate-out {
    animation-duration: 0.3s;
    animation-name: onboarding-dialog-active;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
.onboarding-dialog.animate-out.flipped-animation {
    animation-duration: 0.3s;
    animation-name: onboarding-dialog-active-flipped;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
.onboarding-dialog.animate-out > * {
    animation-duration: 0.6s;
    animation-name: onboarding-dialog-active-late-fadein;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
}
.onboarding.animate-hide {
    animation-duration: 0.6s;
    animation-name: onboarding-hide;
    animation-timing-function: ease-in;
}
@keyframes onboarding-hide {
    from {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
