/* V4 onboarding start */

#obDialog {
    background: var(--label-blue);
    color: var(--text-color-white-high);
    --mask-color: var(--text-color-white-high);
    max-width: 450px;
}
#obDialog .mega-button.action,
#obDialog header div > * {
    color: var(--text-color-white-high);
    --mask-color: var(--text-color-white-high);
}
#obDialog header h2 {
    text-align: start;
}
#obDialog-arrow {
    position: absolute;
    --mask-color: var(--label-blue);
    --icon-size: 24px;
    height: 16px;
}
#obDialog-arrow.right {
    transform: rotate(270deg);
    right: -12px;
    top: calc(50% - 12px);
}
#obDialog-arrow.left {
    transform: rotate(90deg);
    left: -12px;
    top: calc(50% - 12px);
}
#obDialog-arrow.top {
    transform: rotate(180deg);
    left: calc(50% - 12px);
    top: -8px;
}
#obDialog-arrow.bottom {
    left: calc(50% - 12px);
    bottom: -8px;
}
#obDialog-arrow.top-left {
    transform: rotate(180deg);
    left: 48px;
    top: -8px;
}
#obDialog .link-button {
    color: var(--text-color-white-high);
    margin-right: auto;
    min-width: 80px;
}
.rtl #obDialog .link-button {
    margin-left: auto;
    margin-right: 0;
}
.context .onboarding-highlight-dot,
.context .onboarding-highlight-dot::before,
.context .onboarding-highlight-dot::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 8px;
    top: calc(50% - 5px);
    background: var(--label-blue);
    border-radius: 100%;
}
.rtl .context .onboarding-highlight-dot {
    right: auto;
    left: 8px;
}
.context .onboarding-highlight-dot::before,
.context .onboarding-highlight-dot::after {
    right: 0;
    left: 0;
    top: 0;
    background: radial-gradient(circle, transparent 40%, var(--label-blue) calc(100% - 2px), var(--label-blue) 100%);
    animation: 1.5s linear infinite onboarding-hotspot-circle;
}
.context .onboarding-highlight-dot::after {
    animation-delay: 500ms;
}
#obDialog.mcob {
    z-index: 121;
}
.in-call #obDialog.mcob {
    z-index: 100;
}
#obDialog.mcob header {
    padding-inline-end: 24px;
    -webkit-padding-end: 24px;
}
#obDialog.mcob #obDialog-title {
    font: var(--text-h2-bold);
}
#obDialog.mcob #obDialog-text {
    font: var(--text-body1);
}

@keyframes onboarding-hotspot-rect {
    from {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0.8;
    }
    70% {
        box-shadow: 0 0 0 12px var(--label-blue);
        opacity: 0;
    }
    to {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0;
    }
}

@keyframes onboarding-hotspot-rect-2 {
    from {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 1;
    }
    70% {
        box-shadow: 0 0 0 12px var(--label-blue);
        opacity: 0;
    }
    to {
        box-shadow: 0 0 0 0 var(--label-blue);
        opacity: 0;
    }
}

@keyframes onboarding-hotspot-circle {
    from {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    70% {
        transform: scale(2);
        opacity: 0;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
.onboarding-control-panel .onboarding-step-link.hotspot::before,
.onboarding-control-panel .onboarding-step-link.hotspot::after,
.button.onboarding-hotspot-animation-rect::before,
.button.onboarding-hotspot-animation-rect::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    animation: 1.4s linear infinite onboarding-hotspot-rect;
    left: 0;
}
.fm-uploads.button.onboarding-hotspot-animation-rect::before,
.fm-uploads.button.onboarding-hotspot-animation-rect::after {
    height: calc(100% - 6px);
    top: 3px;
}
.onboarding-control-panel .onboarding-step-link.hotspot::after,
.button.onboarding-hotspot-animation-rect::after {
    animation-name: onboarding-hotspot-rect-2;
    animation-delay: 400ms;
    left: 0;
}

/* Onboarding control panel */

.onboarding-control-panel {
    border-radius: 12px;
    margin: 8px 24px;
    position: relative;
    box-shadow: inset 0 0 0 2px var(--table-border);
}
.rtl .onboarding-control-panel {
    direction: rtl;
}
.onboarding-control-panel .onboarding-control-panel-content {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background: var(--surface-grey-1);
}
.onboarding-control-panel .mega-button.close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.rtl .onboarding-control-panel .mega-button.close {
    right: auto;
    left: 15px;
}
.onboarding-control-panel .onboarding-control-panel-title {
    font: var(--text-h3-bold);
    color: var(--text-color-high);
    text-align: start;
    height: 80px;
    width: calc(30% - 55px);
    display: flex;
    align-items: center;
    position: relative;
    -webkit-margin-start: 24px;
    margin-inline-start: 24px;
    flex-shrink: 0;
    flex-grow: 0;
}
.onboarding-control-panel-title-bg,
.onboarding-control-panel-title-bg::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: var(--onboarding-control-panel-fill);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 0;
}
.onboarding-control-panel-title-bg {
    transform: skew(-20deg);
    left: -15px;
    width: 30%;
    overflow: hidden;
}
.rtl .onboarding-control-panel-title-bg {
    transform: skew(20deg) scaleX(-1);
    left: auto;
    right: -15px;
}
.onboarding-control-panel-title-bg::after {
    background-image: url(../images/mega/achievements/header_backdrop.svg);
    right: -5px;
    transform: skewX(20deg);
}
.rtl .onboarding-control-panel-title-bg::after {
    right: -15px;
    transform: skewX(20deg);
}
.onboarding-control-panel .onboarding-control-panel-step {
    text-align: start;
    vertical-align: middle;
    display: flex;
    height: 100%;
    width: 70%;
    position: relative;
    -webkit-margin-end: 36px;
    margin-inline-end: 36px;
    -webkit-margin-start: 30px;
    margin-inline-start: 30px;
    align-items: center;
}
.onboarding-control-panel .onboarding-step-link {
    padding: 0 var(--outer-padding);
    margin: 0 12px;
    min-height: 32px;
    z-index: 2;
    overflow: visible;
}
.onboarding-control-panel .onboarding-step-link.complete {
    cursor: default;
}
.onboarding-control-panel .onboarding-step-link .onboarding-step {
    --width: 24px;
    --height: 24px;
    border-radius: 100%;
    font-style: normal;
    position: relative;
}
.onboarding-control-panel .onboarding-step-link.active .onboarding-step,
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step {
    background: var(--button-fill-blue);
    color: var(--text-color-white-high);
    position: relative;
    border: none;
    box-shadow: none;
}
.onboarding-control-panel .onboarding-step-link.active .onboarding-step::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 2px solid var(--label-blue);
}
.onboarding-control-panel .onboarding-step-link:not(.active):not(.complete):hover .onboarding-step {
    background: var(--neutral-hover);
}
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step {
    cursor: default;
}
.onboarding-control-panel .onboarding-step-link .onboarding-step-complete-icon,
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step .onboarding-step-count {
    display: none;
}
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step-complete-icon {
    --mask-color: var(--text-color-white-high);
    display: block;
    --icon-size: 16px;
}
.onboarding-control-panel .onboarding-step-link span {
    font: var(--text-body1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}
.onboarding-control-panel .onboarding-step-link.complete span {
    color: var(--text-color-low);
}
.onboarding-control-panel .onboarding-control-panel-dismiss,
.onboarding-control-panel .onboarding-control-panel-complete {
    min-height: 80px;
    display: flex;
    align-items: center;
    font: var(--text-body1);
    color: var(--text-color-high);
}
.onboarding-control-panel .onboarding-control-panel-dismiss *,
.onboarding-control-panel .onboarding-control-panel-complete * {
    display: inline-block;
    vertical-align: middle;
}
.onboarding-control-panel .onboarding-control-panel-dismiss .mega-button,
.onboarding-control-panel .onboarding-control-panel-complete .mega-button {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    flex: 0 0 auto;
}
.onboarding-control-panel .onboarding-control-panel-dismiss .question-content,
.onboarding-control-panel .onboarding-control-panel-complete .question-content {
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    font: var(--text-body1);
}
.onboarding-control-panel .onboarding-control-panel-dismiss {
    padding: 0 24px;
    border-radius: 12px;
    background: var(--surface-grey-1);
}
.onboarding-control-panel .onboarding-control-panel-complete {
    background: var(--label-blue);
    color: var(--text-color-white-high);
    height: auto;
    min-height: 56px;
    margin: 0;
    border-radius: 8px;
}
.onboarding-control-panel .onboarding-control-panel-complete i {
    --mask-color: var(--text-color-white-high);
}
.onboarding-control-panel .onboarding-control-panel-complete .icon-accept {
    -webkit-margin-start: 17px;
    margin-inline-start: 17px;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    flex: 0 0 auto;
}
.onboarding-control-panel .onboarding-control-panel-complete .question-content {
    font: var(--text-h3-bold);
    -webkit-margin-start: 13px;
    margin-inline-start: 13px;
    -webkit-margin-end: 36px;
    margin-inline-end: 36px;
    vertical-align: middle;
}
.onboarding-control-panel .onboarding-control-panel-complete .question-content a,
.onboarding-control-panel .onboarding-control-panel-complete .question-content a:visited,
.onboarding-control-panel .onboarding-control-panel-complete .question-content a:active {
    font: var(--text-body1);
    vertical-align: middle;
    text-decoration: underline;
    color: var(--text-color-white-high);
}

/* Small width view for control panel */
@media only screen and (max-width: 1100px) {

    .onboarding-control-panel-title-bg {
        display: none;
    }
    .onboarding-control-panel .onboarding-control-panel-content {
        flex-wrap: wrap;
        height: auto;
    }
    .onboarding-control-panel .onboarding-control-panel-title {
        height: auto;
        width: auto;
        margin-top: 24px;
        margin-bottom: 18px;
    }
    .onboarding-control-panel .onboarding-control-panel-step {
        width: 100%;
        margin-bottom: 24px;
        -webkit-margin-start: 6px;
        margin-inline-start: 6px;
    }
}

/* v4 onboarding end */
