/* Search contacts popup */
.dropdown.body.popup.contacts-search {
    width: 420px;
    padding: 0;
    border-radius: 24px;
}
.dropdown.body.popup.contacts-search.main-start-chat-dropdown {
    height: 602px;
}
body.it .dropdown.body.popup.contacts-search,
body.br .dropdown.body.popup.contacts-search,
body.fr .dropdown.body.popup.contacts-search,
body.id .dropdown.body.popup.contacts-search {
    width: 456px;
}
body.tl .dropdown.body.popup.contacts-search {
    width: 480px;
}
.popup.add-participant-selector {
    right: 12px;
    left: auto !important;
}
.popup.contact-picker-dialog {
    right: auto;
    width: 500px;
}
.popup.add-participant-selector .dropdown-white-arrow {
    top: -55px;
    margin-left: 50px;
}
.new-group-chat .description.chatlinks-intermediate-msg {
    margin: 4px 0 0 0;
}
.contacts-search-header {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    border-radius: 19px;
    overflow: hidden;
    margin: 0 48px;
}
.contacts-search-header-separator {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin: 12px 0 0;
    background: var(--divider-color);
}
.rtl .contacts-search-header {
    margin: auto;
    width: 80%;
}
.new-group-chat .contacts-search-header {
    padding: 0;
    border-radius: unset;
}
.contacts-search-header input, .search-block.emoji input {
    font-size: 13px;
    line-height: 24px;
    display: block;
    width: 186px;
    margin: 12px 0 0 40px;
    padding: 0;
    border: 1px solid var(--stroke-grey-2);
    border-radius: 4px;
    background: var(--surface-grey-1);
    color: var(--text-color-medium);
    font: var(--text-body1);
    vertical-align: top;
    transition: all 200ms ease-in-out;
}
.contacts-search-header input {
    margin: 0;
    padding: 4px 30px 4px 38px;
    width: 100%;
    border: 0 none;
    border-radius: 18px;
    font: var(--text-body1);
    line-height: 24px;
    color: var(--text-color-high);
    background: var(--surface-grey-2);
    box-sizing: border-box;
}
.contacts-search-header input::-webkit-input-placeholder {
    color: #555555;
}
.contacts-search-header input:-moz-placeholder {
    color: #555555;
    opacity: 1;
}
.contacts-search-header input::-moz-placeholder {
    color: #555555;
    opacity: 1;
}
.contacts-search-header input:-ms-input-placeholder {
    color: #555555;
}
.contacts-search-header input:focus::-webkit-input-placeholder {
    color: #cccccc;
}
.contacts-search-header input:-moz-placeholder {
    color: #cccccc;
    opacity: 1;
}
.contacts-search-header input:focus::-moz-placeholder {
    color: #cccccc;
    opacity: 1;
}
.contacts-search-header input:focus:-ms-input-placeholder {
    color: #cccccc;
}
.contacts-search-header > i {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    --icon-size: 24px;
    --mask-color: var(--icon-rest);
}
.search-block.emoji > i {
    position: absolute;
    --icon-size: 24px;
    margin: 11px 3px 1px 8px;
    vertical-align: top;
    --mask-color: var(--icon-inactive);
}
.contacts-search-scroll {
    margin-top: 8px;
    min-height: 288px;
    height: 80%;
    max-height: 426px;
    overflow: hidden;
}
.main-start-chat-dropdown .contacts-search-scroll {
    box-sizing: border-box;
    margin: 0;
    max-height: 366px;
    min-height: 366px;
    padding: 8px 0 0;
    position: relative;
}
.contacts-search-scroll .contacts-search-subsection {
    padding: 0 48px;
}
.contacts-search-scroll em {
    text-align: center;
    display: block;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    font-style: normal;
    color: #666;
}
.rtl .contacts-search-list .contacts-info.body.contacts-search {
    padding: 4px 12px;
}
.contacts-search-list .contacts-info .user-card-data {
    max-width: 80%;
    padding-inline-start: 10px;
}
.rtl .invite-meeting-contacts .contacts-search-list .contacts-info .user-card-data,
.rtl .add-participant-selector .contacts-search-list .contacts-info .user-card-data {
    padding-inline-start: 15px;
}
.contacts-search-list .user-card-data .user-card-name {
    margin: 0 5px 0 0;
}
.contacts-search-list .user-card-data .user-card-status {
    display: inline;
}
.contacts-search-list .user-card-data .user-card-status span {
    display: none;
}
.contacts-search-list .contacts-info.body.contacts-search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    cursor: pointer;
    box-sizing: border-box;
}
.contacts-search-list .contacts-info.body.contacts-search::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.call-ui-new-contact {
    width: 640px;
}
.contacts-search-list .contacts-info.body.contacts-search .user-card-tick-wrap {
    right: 1px;
}
.contacts-search-list .contacts-info.body.contacts-search .avatar-wrapper {
    width: 24px;
    height: 24px;
    font: var(--text-body1);
}
.rtl .add-participant-selector .contacts-search-list .contacts-info.body.contacts-search .avatar-wrapper,
.rtl .invite-meeting-contacts .contacts-search-list .contacts-info.body.contacts-search .avatar-wrapper {
    right: 12px;
}
.contacts-search-list .contacts-info.body.contacts-search img {
    width: 24px;
    height: 24px;
}
.contacts-search-list .contacts-info.body.contacts-search .emoji {
    width: 17px;
    height: 17px;
}
.contacts-search-list .contacts-info.body.contacts-search:last-child {
    margin-bottom:  12px;
}
.contacts-search .user-card-presence {
    margin: 2px 4px 6px 8px;
}
.contacts-search .user-card-data {
    padding: 0 30px 0 79px;
}
.contacts-search .user-card-email {
    font-size: 13px;
    line-height: 18px;
}
.contacts-search .user-card-name {
    font-size: 14px;
    display: inline-block;
    line-height: 19px;
    max-width: -webkit-calc(100% - 24px);
    max-width: -moz-calc(100% - 24px);
    max-width: calc(100% - 24px);
}
.horizontal-contacts-list {
    height: 78px;
    position: relative;
    padding: 0 48px;
}
.horizontal-contacts-list div.ps > .ps__rail-x > .ps__thumb-x {
    height: 6px;
    bottom: 1px;
}
.selected-contact-block {
    min-height: 78px;
    overflow: auto;
    font-size: 0;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.horizontal-contacts-list .horizontal-only {
    height: auto;
}
.selected-contact-block .select-contact-centre {
    vertical-align: top;
    display: inline-block;
}
.horizontal-contacts-list .selected-contact-block .small-rounded-avatar {
    margin: 0 auto;
    float: none;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 35px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.horizontal-contacts-list .selected-contact-block .small-rounded-avatar img {
    width: 100%;
    height: 100%;
}
.horizontal-contacts-list .selected-contact-block .user-card-data {
    float: none;
    display: block;
    padding: 2px 4px;
    text-align: center;
}
.selected-contact-block .selected-contact-card {
    width: 54px;
    float: left;
    height: 54px;
    position: relative;
    margin: 14px 0 0 0;
}
.selected-contact-block .selected-contact-card:last-of-type {
    margin-right: 0px;
}
.horizontal-contacts-list .selected-contact-block .user-card-name.light {
    font-size: 12px;
    max-width: -webkit-calc(100% - 2px);
    max-width: -moz-calc(100% - 2px);
    max-width: calc(100% - 2px);
}
.horizontal-contacts-list .selected-contact-block .user-card-name.light .emoji {
    width: 14px;
    height: 14px;
}
.selected-contact-block .remove-contact-bttn {
    position: absolute;
    z-index: 10;
    right: 6px;
    top: -6px;
    width: 16px;
    height: 16px;
    background: var(--surface-grey-1);
    border-radius: 100%;
    border: 1px solid var(--stroke-grey-2);
    text-align: center;
    cursor: pointer;
}
.selected-contact-block .remove-contact-icon {
    background-image: url(../images/mega/remove_icon@2x.png);
    background-repeat: no-repeat;
    background-size:6px;
    width: 6px;
    height: 6px;
    margin: 3px auto;
    display: block;
}
.contacts-search-header input ~ .search-result-clear {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}
.contacts-search-header input ~ .search-result-clear i {
    --icon-size: 24px;
    --mask-color: var(--icon-rest);
}
.popup.contacts-search .search-result-clear:hover {
    opacity: 1;
}
.popup.contacts-search .selected-contact-amount {
    line-height: 32px;
    font-size: 13px;
    color: #777E82;
    margin-left: 12px;
}
.contacts-search-buttons {
    display: flex;
    padding: 48px 48px 24px 48px;
    align-items: center;
    justify-content: space-between;
}
.contacts-search-buttons .button-wrapper {
    text-align: center;
}
.contacts-search-buttons .button-wrapper .new-meeting {
    background: var(--surface-error);
}
.contacts-search-buttons .button-wrapper .new-chatlink {
    background: linear-gradient(180deg, rgba(86, 210, 241, 1) 0%, rgba(43, 166, 222, 1) 100%);
}
.contacts-search-buttons .button-wrapper .new-meeting i,
.contacts-search-buttons .button-wrapper .new-chatlink i {
    --mask-color: var(--secondary-white);
}
.contacts-search-buttons .button-title {
    display: block;
    padding: 4px 0 0 0;
    font: var(--text-body2);
    color: var(--text-color-high);
}
.contacts-search-buttons i,
.contacts-search-bottom i {
    --icon-size: 24px;
}
.contacts-search-bottom i {
    --mask-color: var(--secondary-green);
}
.contacts-search-buttons .link-button.light {
    margin: 2px 0;
    display: inline-block;
    width: 100%;
}
.contacts-search-bottom {
    width: 100%;
    padding: 10px 0 20px 42px;
    box-sizing: border-box;
    border-top: 1px solid var(--divider-color);
}
.rtl .contacts-search-bottom {
    padding-right: 38px;
}
.contacts-list-header {
    padding: 0 8px;
    height:  20px;
    border-radius: 4px;
    text-align: left;
    color: var(--text-color-high);
    background: var(--surface-grey-2);
}
.rtl .contacts-list-header {
    text-align: right;
}
.new-group-chat .contacts-list-header {
    margin: 0;
}
.rtl .new-group-chat .contacts-list-header {
    margin: 0 12px 0 12px;
}
.contacts-list-empty-txt {
    padding: 33px 0 0;
    text-align: center;
    font: var(--text-body2);
    color: var(--text-color-medium);
}
.contacts-search-scroll + .contacts-list-header {
    margin-top: 11px;
}
.contacts-search-header + .contacts-list-header {
    margin-top: 12px;
}
.contacts-search-list {
    padding: 7px 0 0 0;
}
.add-participant-selector .contacts-search-header {
    margin: 0 48px;
}
.add-participant-selector .horizontal-contacts-list {
    padding-top: 24px;
    padding-bottom: 12px;
}
.contact-picker-dialog.add-participant-selector .horizontal-contacts-list {
    box-sizing: unset;
}
.contact-picker-dialog.add-participant-selector .picker-user-limit-banner {
    background: var(--banner-background-warning);
    border: 1px solid var(--banner-border-warning);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--banner-text-warning);
    padding: 2px 16px;
    text-align: center;
    margin: 16px 48px;
}
.contact-picker-dialog.add-participant-selector .picker-user-limit-banner a {
    color: var(--banner-text-warning);
    text-decoration: underline;
}
.add-participant-selector footer {
    padding: 24px;
}
.contact-picker-dialog footer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.add-participant-selector footer .mega-button span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.add-participant-selector footer .footer-spacing {
    flex: 1 0 8px;
}
/* End of Search contacts popup */

/* Emoji one popup */
.dropdown.body.popup.emoji {
    height: 400px;
    padding: 0;
}
.popup-header.emoji, .popup-footer.emoji {
    height: 48px;
    border-bottom: 1px solid var(--stroke-grey-2);
    box-sizing: border-box;
    margin: 3px 12px 0;
    position: relative;
    z-index: 10;
}
.popup-footer.emoji {
    border-top: 1px solid var(--stroke-grey-2);
    border-bottom: 0;
}
.popup-header.emoji input {
    display:  inline-block;
    width: 100%;
    margin: 6px 0 0 0;
    padding: 7px 7px 7px 40px;
    border: 0 none;
    border-radius: 18px;
    font: var(--text-body1);
    color: var(--text-color-high);
}
.rtl .popup-header.emoji input {
    padding: 7px 40px 7px 7px;
}
.popup-scroll-area.emoji {
    max-height: 302px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.popup-scroll-area .emojis-not-found {
    color: #999;
    margin-left: 132px;
    position: relative;
    top: 10px;
}

.popup-scroll-content.emoji {
    padding: 12px;
    min-height: 312px;
}
.rtl .popup-scroll-content.emoji .emoji-category-container {
    left: 12px;
    width: calc(100% - 24px);
}
/* End of Emoji one popup */

/* GIF panel */
.popup-scroll-area.gif-popup {
    max-height: 520px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
/* End of GIF panel */

/* simpletip */
.dark-direct-tooltip.simpletip-tooltip {
    display: block;
    position: absolute;
    z-index: 3000;
    opacity: 0;
    transition: opacity 200ms ease-in-out 1s;
    transition-delay: 0.5s;
    white-space: normal;
    max-width: 700px;
}
.rtl .dark-direct-tooltip.simpletip-tooltip {
    direction: rtl;
}
.dark-direct-tooltip.simpletip-tooltip span {
    position: relative;
    z-index: 1;
}
.dark-direct-tooltip.simpletip-tooltip.delay {
    transition-delay: 1ms;
}
.dark-direct-tooltip.simpletip-tooltip.visible {
    opacity: 1;
}
.dark-direct-tooltip.simpletip-tooltip i {
    --mask-color: var(--stroke-grey-1-inverted);
    --icon-size: 24px;
    height: 16px;
    overflow: hidden;
}
.dark-direct-tooltip.simpletip-tooltip.inverted i {
    --mask-color: var(--stroke-grey-1);
}
.dark-direct-tooltip.simpletip-tooltip.center-align {
    text-align: center;
}
.dark-direct-tooltip.simpletip-tooltip.medium-width {
    max-width: 220px;
    overflow-wrap: break-word;
}
.dark-direct-tooltip.simpletip-tooltip.bluetip {
    background: var(--label-blue);
}
.dark-direct-tooltip.simpletip-tooltip.bluetip i {
    --mask-color: var(--label-blue);
}
.dark-direct-tooltip.simpletip-tooltip.large-width {
    max-width: 320px;
}
.dark-direct-tooltip.simpletip-tooltip.no-max-width {
    max-width: none;
}
.dark-direct-tooltip.simpletip-tooltip i.small-blue-spinner {
    height: 16px;
    position: relative;
    top: 2px;
    width: 16px;
}
