.provider-icon {
    background-image: url(../images/mega/payment-provider-icons-v3.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px;
}
.provider-icon.astropay {
    background-position: 0 0;
}
.provider-icon.astropayAE {
    background-position: 0 -60px;
}
.provider-icon.astropayAK {
    background-position: 0 -120px;
}
.provider-icon.astropayAG {
    background-position: 0 -180px;
}
.provider-icon.astropayAU {
    background-position: 0 -240px;
}
.provider-icon.astropayB {
    background-position: 0 -300px;
}
.provider-icon.astropayBB {
    background-position: 0 -360px;
}
.provider-icon.astropayBG {
    background-position: 0 -420px;
}
.provider-icon.astropayBL {
    background-position: 0 -480px;
}
.provider-icon.astropayBM {
    background-position: 0 -540px;
}
.provider-icon.astropayBN {
    background-position: 0 -600px;
}
.provider-icon.astropayBV {
    background-position: 0 -660px;
}
.provider-icon.astropayBX {
    background-position: 0 -720px;
}
.provider-icon.astropayCA {
    background-position: 0 -780px;
}
.provider-icon.astropayCL {
    background-position: 0 -840px;
}
.provider-icon.astropayCM {
    background-position: 0 -900px;
}
.provider-icon.astropayCR {
    background-position: 0 -960px;
}
.provider-icon.astropayCS {
    background-position: 0 -1020px;
}
.provider-icon.astropayDA {
    background-position: 0 -1080px;
}
.provider-icon.astropayDC {
    background-position: 0 -1140px;
}
.provider-icon.astropayDD {
    background-position: 0 -1200px;
}
.provider-icon.astropayDM {
    background-position: 0 -1260px;
}
.provider-icon.astropayDS {
    background-position: 0 -1320px;
}
.provider-icon.astropayEL {
    background-position: 0 -1380px;
}
.provider-icon.astropayEQ {
    background-position: 0 -1440px;
}
.provider-icon.astropayEX {
    background-position: 0 -1500px;
}
.provider-icon.astropayEY {
    background-position: 0 -1560px;
}
.provider-icon.astropayGA {
    background-position: 0 -1620px;
}
.provider-icon.astropayH {
    background-position: 0 -1680px;
}
.provider-icon.astropayHI {
    background-position: 0 -1740px;
}
.provider-icon.astropayI {
    background-position: 0 -1800px;
}
.provider-icon.astropayIS {
    background-position: 0 -1860px;
}
.provider-icon.astropayJC {
    background-position: 0 -1920px;
}
.provider-icon.astropayMC {
    background-position: 0 -1980px;
}
.provider-icon.astropayMD {
    background-position: 0 -2040px;
}
.provider-icon.astropayMG {
    background-position: 0 -2100px;
}
.provider-icon.astropayML {
    background-position: 0 -2160px;
}
.provider-icon.astropayNJ {
    background-position: 0 -2220px;
}
.provider-icon.astropayNT {
    background-position: 0 -2280px;
}
.provider-icon.astropayOC {
    background-position: 0 -2340px;
}
.provider-icon.astropayOX {
    background-position: 0 -2400px;
}
.provider-icon.astropayPC {
    background-position: 0 -2460px;
}
.provider-icon.astropayPF {
    background-position: 0 -2520px;
}
.provider-icon.astropayPR {
    background-position: 0 -2580px;
}
.provider-icon.astropayRE {
    background-position: 0 -2640px;
}
.provider-icon.astropayRL {
    background-position: 0 -2700px;
}
.provider-icon.astropayRP {
    background-position: 0 -2760px;
}
.provider-icon.astropaySB {
    background-position: 0 -2820px;
}
.provider-icon.astropaySI {
    background-position: 0 -2880px;
}
.provider-icon.astropaySM {
    background-position: 0 -2940px;
}
.provider-icon.astropaySP {
    background-position: 0 -3000px;
}
.provider-icon.astropaySX {
    background-position: 0 -3060px;
}
.provider-icon.astropayTS {
    background-position: 0 -3120px;
}
.provider-icon.astropayTT {
    background-position: 0 -3180px;
}
.provider-icon.astropayVA {
    background-position: 0 -3240px;
}
.provider-icon.astropayVD {
    background-position: 0 -3300px;
}
.provider-icon.astropayVI {
    background-position: 0 -3360px;
}
.provider-icon.astropayWP {
    background-position: 0 -3420px;
}
.provider-icon.bitcoin {
    background-position: 0 -3480px;
}
.provider-icon.perfunctio {
    background-position: 0 -3540px;
}
.provider-icon.dynamicpay {
    background-position: 0 -3600px;
}
.provider-icon.fortumo {
    background-position: 0 -3660px;
}
.provider-icon.infobip {
    background-position: 0 -3720px;
}
.provider-icon.paysafecard {
    background-position: 0 -3780px;
}
.provider-icon.tpay {
    background-position: 0 -3840px;
}
.provider-icon.voucher {
    background-position: 0 -3900px;
}
.provider-icon.ecp {
    background-position: 0 -3540px;
}
.provider-icon.ecpVI {
    background-position: 0 -3360px;
}
.provider-icon.ecpMC {
    background-position: 0 -1980px;
}
.provider-icon.wiretransfer {
    background-position: 0 -3960px;
}
.provider-icon.directreseller {
    background-position: 0 -3540px;
}
.provider-icon.directresellerAlipay {
    background-position: 0 -4020px;
}
.provider-icon.sabadell {
    background-position: 0 -4080px;
}
.provider-icon.sabadellVI {
    background-position: 0 -3360px;
}
.provider-icon.sabadellMC {
    background-position: 0 -1980px;
}

/* Pricing icons */
.pricing-sprite,
i.pricing-sprite,
.pricing-page.slider .ui-slider-handle {
    background-image: url(../images/mega/pricing-sprite_v1.png);
    background-repeat: no-repeat;
}
.pricing-sprite.powered-by-astropay {
    height: 25px;
    width: 100px;
    background-position: -14px -815px;
}
.pricing-sprite.save-green-arrow {
    width: 30px;
    height: 26px;
    background-position: -249px -741px;
}
.pricing-sprite.i-icon {
    width: 11px;
    height: 11px;
    background-position: -190px -748px;
    background-color: #D3D3D3;
    border-radius: 100%;
}
.pricing-sprite.big-red-cross {
    width: 42px;
    height: 42px;
    background-position: -14px -733px;
}
.pricing-sprite.x95 {
    width: 95px;
    height: 95px;
}
.pricing-sprite.x80 {
    width: 80px;
    height: 80px;
    background-size: 300px auto;
}
.pricing-sprite.x95.storage {
    background-position: 1px 1px;
}
.pricing-sprite.x95.collaboration {
    background-position: -139px 1px;
}
.pricing-sprite.x95.chat {
    background-position: -279px 1px;
}
.pricing-sprite.x95.backups {
    background-position: -279px -139px;
}
.pricing-sprite.x95.creative {
    background-position: 0px -139px;
}
.pricing-sprite.x95.finance {
    background-position: -280px -419px;
}
.pricing-sprite.x95.government {
    background-position: -280px -279px;
}
.pricing-sprite.x95.education {
    background-position: -140px -139px;
}
.pricing-sprite.x95.hr {
    background-position: 0 -419px;
}
.pricing-sprite.x95.sales {
    background-position: -140px -279px;
}
.pricing-sprite.x95.it {
    background-position: 0px -279px;
}
.pricing-sprite.x95.marketing {
    background-position: -138px -419px;
}
.pricing-sprite.x80.storage {
    background-position: 2px 2px;
}
.pricing-sprite.x80.collaboration {
    background-position: -110px 2px;
}
.pricing-sprite.x80.chat {
    background-position: -223px 2px;
}
.pricing-sprite.x80.backups {
    background-position: -223px -111px;
}
/*Plans icons */
.plan-icon.pricing-sprite {
    width: 60px;
    height: 60px;
    background-position: -100%;
}
.plan-icon.pricing-sprite.x32 {
    width: 32px;
    height: 32px;
}
.plan-icon.pricing-sprite.x32.mini {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.plan-icon.pricing-sprite.free,
.plan-icon.pricing-sprite.pro0 {
    background-position: -6px -575px;
}
.plan-icon.pricing-sprite.pro4 {
    background-position: -86px -575px;
}
.plan-icon.pricing-sprite.pro1 {
    background-position: -166px -575px;
}
.plan-icon.pricing-sprite.pro2 {
    background-position: -6px -655px;
}
.plan-icon.pricing-sprite.pro3 {
    background-position: -86px -655px;
}
.plan-icon.pricing-sprite.business,
.plan-icon.pricing-sprite.pro100 {
    background-position: -166px -655px;
}
.plan-icon.pricing-sprite.x32.free,
.plan-icon.pricing-sprite.x32.pro0 {
    background-position: -249px -579px;
}
.plan-icon.pricing-sprite.x32.pro4 {
    background-position: -289px -579px;
}
.plan-icon.pricing-sprite.x32.pro1 {
    background-position: -329px -579px;
}
.plan-icon.pricing-sprite.x32.pro2 {
    background-position: -249px -619px;
}
.plan-icon.pricing-sprite.x32.pro3 {
    background-position: -289px -619px;
}
.plan-icon.pricing-sprite.x32.business,
.plan-icon.pricing-sprite.x32.pro100 {
    background-position: -329px -619px;
}

/* Pricing page */
.capitalized-first-letter {
    text-transform: lowercase;
}
.capitalized-first-letter:first-letter {
    text-transform: uppercase;
}
.pricing-section .top-bl {
    padding-bottom: 34px;
}
.pricing-page.top-header {
    font-family: 'montserrat_light', 'montserrat', Arial;
    font-size: 46px;
    line-height: 63px;
    color: #373737;
    padding: 64px 0 51px;
    max-width: 921px;
    margin: auto;
}
.pricing-page.top-header.not-logged, .not-logged .pricing-page.top-header.default {
    display: none;
}
.not-logged .pricing-page.top-header.not-logged {
    display: block;
}
.pricing-page.medium-txt {
    font-size: 20px;
    line-height: 24px;
    color: #373737;
}
.pricing-page.top-small-txt {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0 0 0;
    color: #F1373B;
}

/* Plans */
.plans-bottom-pad {
    padding-bottom: 130px;
}
.pricing-page.plans-switcher {
    margin: 45px 0 86px 0;
    border-radius: 28px;
    background-color: #FFF;
    display: inline-block;
    box-shadow: 0 0 0 1px #E6E6E6;
    font-size: 0;
    white-space: nowrap;
}
.pricing-page.plans-switcher .button {
    border-radius: 28px;
    font-size: 22px;
    line-height: 50px;
    color: #373737;
    padding: 0 20px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
}
.pricing-page.plans-switcher .button.active {
    background-color: #00C0A6;
    font-family: 'LatoWebBold', Arial;
    color: white;
}
.pricing-page.radio-buttons {
    position: relative;
}
.pricing-page label.radio-txt {
    font-size: 14px;
    color: #373737;
    font-family: 'LatoWebBold', Arial;
    padding-top: 7px;
    cursor: pointer;
}
 .pricing-page.radio-buttons label.radio-txt:last-child {
    padding-right: 0;
}
.pricing-page .save-green-arrow {
    position: absolute;
    top: -41px;
    left: 18px;
    cursor: default;
}
.pricing-page.save-percs {
    position: absolute;
    top: -13px;
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
    box-shadow: 0 0 0 4px #FAFAFA;
    background-color: #00A886;
    z-index: 1;
    cursor: default;
}
.pricing-page.plans-wrap {
    overflow: hidden;
    overflow-x: scroll;
    padding: 35px 0 0 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.pricing-page.plans-wrap::-webkit-scrollbar {
  display: none;
}
.pricing-page.plans-block {
    border: 1px solid #D5D5D5;
    border-width: 1px 0 1px 0;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
}
.pricing-section .pricing-page.plans-block {
    margin: 0 auto;
    max-width: 1112px;
}
.pricing-page.plan {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #D5D5D5;
    position: relative;
    background-color: #FFF;
}
.pricing-page.plan.details {
    text-align: left;
    padding: 11px 0 17px 0;
    border-top: 0;
}

/* Plan elements */
.pricing-page.plan-label {
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    display: inline-block;
    min-width: 100px;
    height: 22px;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #00BFA5;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
    margin: -1px 0 20px 0;
}
.pricing-page.plan-label:empty {
    background-color: transparent;
}
.pricing-page.plan-title {
    font-size: 28px;
    line-height: 34px;
    color: #373737;
    font-family: 'montserrat_light', 'montserrat', Arial;
    text-transform: uppercase;
}
.pricing-page.plan-title.top-header {
    text-transform: none;
}
.pricing-page.plan-info {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    padding: 8px 10px 20px 10px;
    white-space: normal;
    box-sizing: border-box;
    max-width: 374px;
    margin: auto;
}
.pricing-page.plan-price {
    font-size: 37px;
    line-height: 45px;
    padding: 0 15px;
    color: #373737;
    font-family: 'montserrat_light', 'montserrat', Arial;
}
.pricing-page.plan-price .asterisk {
    font-size: 20px;
    color: #373737;
    vertical-align: top;
    display: none;
    margin-top: -5px;
}
.local-currency .pricing-page.plan-price .asterisk {
    display: inline-block;
}
.pricing-page.plan-currency, .pricing-page.plan-period, .pricing-page.plan-data {
    font-size: 16px;
    line-height: 19px;
    color: #373737;
    font-family: 'montserrat_light', 'montserrat', Arial;
}
.pricing-page.plan-data {
    font-size: 15px;
    margin-top: 10px;
    color: #777;
}
.pricing-page.plan-price + .pricing-page.plan-period {
    padding-top: 6px;
}
.pricing-page.euro-price {
    font-size: 13px;
    line-height: 18px;
    padding: 0 5px;
    height: 20px;
    box-sizing: border-box;
    color: #666;
    background-color: #FFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    display: inline-block;
    margin: 8px 0 0 0;
}
.pricing-page.euro-price:empty {
    border: 0;
    background-color: transparent;
}
.pricing-page.plan-button {
    font-size: 16px;
    line-height: 46px;
    font-family: 'LatoWebBold', Arial;
    color: #00BFA5;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    min-width: 154px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #00BFA5;
    margin: 12px 0 48px 0;
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    cursor: pointer;
}
.en .pricing-page.plan-button {
    font-size: 18px;
}
body:not(.mobile) .pricing-page.plan-button:hover {
    background-color: #00BFA5;
    border: 1px solid #00BFA5;
    color: white;
}
body:not(.mobile) .current .pricing-page.plan-button:hover {
    background-color: transparent;
    border-color: #9B9B9B;
    color: #666;
}
.reg-st5-complete-button {
    height: 40px;
    background-color: rgba(0,0,0,0.05);
    color: white;
    padding: 0 15px 0 15px;
    font-size: 14px;
    line-height: 38px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}
.reg-st5-complete-button.active {
    background-color: #D82C00;
    cursor: pointer;
}

/* If plan block is a part of a Plans list */
.pricing-page.plans-row {
    display: table-row;
}
.plans-row .pricing-page.plan {
    width: 25%;
    display: table-cell;
    vertical-align: top;
    border-width: 0 0 0 1px;
}
.plans-row .pricing-page.plan.free {
    display: none;
}
.plans-row .pricing-page.plan:first-child {
    border-left-color: transparent;
}
.plans-row .pricing-page.plan.details {
    border-top: 1px solid #D5D5D5;
}
.plans-row .pricing-page.plan-info {
    padding-bottom: 230px;
}
.plans-row .pricing-page.plan-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Plan icon positioning */
.pricing-page.plan .plan-icon {
    margin: 24px auto 8px auto;
}
/* Green button for Create new account*/
.pricing-page.plan .bottom-page.green-button {
    margin: 21px 0 46px 0;
}

/* PRO 3 colors */
.plan.pro3 .pricing-page.plan-label {
    background-color: #C57C05;
}
.plan.pro3 .pricing-page.plan-price {
    color: #C57C05;
}
.plan.pro3:not(.current) .pricing-page.plan-button {
    color: #C57C05;
    border-color: #C57C05;
}
body:not(.mobile) .plan.pro3:not(.current) .pricing-page.plan-button:hover {
    background-color: #C57C05;
    color: #FFF;
}

/* Current plan tips */
.plan-tag-description {
    opacity: 0;
    font-size: 13px;
    line-height: 20px;
    font-family: 'LatoWeb', Arial;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;
    position: absolute;
    z-index: 10;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 5px 10px;
    box-sizing: border-box;
    white-space: normal;
}
.plan-tag-description span {
    position: relative;
}
.plan-tag-description b {
    font-family: 'LatoWebBold', Arial;
    font-weight: normal;
}
.plan-tag-description.visible {
    opacity: 1;
    visibility: visible;
}
.plan-tag-description:after {
    content: "";
    position: absolute;
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    height: 10px;
    width: 10px;
    left: calc(50% - 5px);
    bottom: -4px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: white;
}
.plan-tag-description:before {
    content: '';
    display: block;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.plan-tag-description b.plan-name {
    color: #FF333A;
    white-space: nowrap;
}
.plan-tag-description .pro4 b.plan-name {
    color: #FFA500;
}
.plans-block .next .next-plan-tag, .plans-block .current .current-plan-tag {
    background-color: #FF333A;
}
.plans-block .pro4.next .next-plan-tag, .plans-block .pro4.current .current-plan-tag {
    background-color: #FFA500;
}

/* Details block */
.pricing-page.plan-feature {
    font-size: 15px;
    line-height: 20px;
    color: #666;
    padding: 7px 39px 7px 16px;
    position: relative;
    white-space: normal;
    box-sizing: border-box;
    max-width: 366px;
    margin: auto;
}
.pricing-page.plan-feature span {
    display: inline-block;
    text-transform: lowercase;
}
.pricing-page.plan-feature span:first-letter {
    text-transform: uppercase;
}
.pricing-page.plan-feature span span {
    text-transform: none;
}
.pricing-page.plan-feature.strong {
    font-family: 'LatoWebBold', Arial;
    color: #373737;
}
.pricing-page.plan .i-icon:hover {
    background-color: #BCB9B9;
}
.pricing-page.local-currency-tip {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding: 20px 0 0 0;
    text-align: center;
    display: none;
    box-sizing: border-box;
}
.local-currency .pricing-page.local-currency-tip:not(.hidden) {
    display: block;
}
.pricing-section .bottom-page.green-button {
    min-width: 270px;
}
.pricing-section .green-button.free-button {
    margin: 40px 0 0 0;
}
.pricing-section .startpage.default-controls {
    padding: 40px 0 0 0;
}
.pricing-page.plan .i-icon {
    position: absolute;
    right: 18px;
    top: 13px;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

/* Current plan */
.pricing-page.plan.current {
    border-left: 1px solid transparent;
    background-color: #EEF8FF;
}
.pricing-page.plan.current + .plan {
    border-left: 1px solid transparent;
}
.current .pricing-page.plan-button {
    color: #A1A1A1;
    border-color: #C2C2C2;
    background-color: transparent;
}

/* Business plan */
.pricing-page.plan.business {
    background-color: #EEF8FF;
    display: block;
    margin: 0 auto;
    max-width: 475px;
}

/* simpletip custom style: pro-tip */
.dark-direct-tooltip.simpletip-tooltip.pricing-tip {
    max-width: 164px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-family: 'LatoWeb', Arial;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    position: fixed;
}
.dark-direct-tooltip.pricing-tip.transformed {
    text-transform: lowercase;
}
.dark-direct-tooltip.pricing-tip.transformed:first-letter {
    text-transform: uppercase;
}
.dark-direct-tooltip.pricing-tip.transformed u {
    text-decoration: none;
    text-transform: none;
}
.dark-direct-tooltip.pricing-tip.transformed span {
    position: relative;
}
.dark-direct-tooltip.pricing-tip i.small-icon.icons-sprite.tooltip-arrow {
    height: 11px;
    width: 11px;
    bottom: -3px;
    background: none;
}
.dark-direct-tooltip.pricing-tip i:before {
    content: '';
    display: block;
    width: 10px;
    height: 11px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #333333;
}

/* jQ Slider */
.pricing-page.slider-wrap {
    margin: 126px 70px 283px 70px;
    max-width: 973px;
    position: relative;
}
.pricing-page.slider.ui-widget-content {
    width: auto;
    max-width: 973px;
    height: 24px;
    background-color: #E8E8E8;
    border-radius: 10px;
    margin: 0;
    position: static;
}
.pricing-page.slider .ui-slider-range {
    background-color: #00C0A6;
    height: 24px;
    border-radius: 10px;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}
.pricing-page.slider .ui-slider-handle {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #00A886;
    margin: 0 0 0 -32px;
    top: -21px;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(114, 114, 144, 0.5);
    background-position: -84px -721px;
    position: absolute;
    display: block;
    -webkit-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out;
    z-index: 1;
}
.pricing-page.slider .ui-slider-handle::before {
    display: none;
}
.pricing-page.slider-dot {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #D3D3D3;
    position: absolute;
    left: 0;
    top: 0;
    margin: -9px 0 0 -20px;
    cursor: pointer;
    box-shadow: 0 0 0 4px transparent;
    -webkit-transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    text-transform: capitalize;
}
body:not(.mobile) .pricing-page.slider-dot:hover {
    background-color: #00BFA5;
}
.pricing-page.slider-dot.active {
    box-shadow: 0 0 0 4px #FFF;
    background-color: #00BFA5;
}
.pricing-page.slider-dot.d2 {
    left: 33.333333%;
}
.pricing-page.slider-dot.d3 {
    left: 66.666666%;
}
.pricing-page.slider-dot.d4 {
    left: 100%;
}
.pricing-page.slider-dot .label {
    min-width: 200px;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -100px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666;
}
.en .pricing-page.slider-dot .label {
    font-size: 30px;
}
.pricing-page.slider-dot span {
    font-family: 'LatoWebBold', Arial;
    color: #333;
    display: block;
}

/* Comapre block */
.pricing-page.compare-block {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 1009px;
    margin: 0 auto;
}
.pricing-page.compare-cell {
    display: table-cell;
    border: 1px solid #DEDEDE;
    border-width: 1px 1px 1px 0;
    width: 33.333333%;
    box-sizing: border-box;
    padding: 20px 10px;
    vertical-align: top;
}
.pricing-page.compare-cell:first-child {
    border: 1px  solid #DEDEDE;
}
.pricing-page.compare-cell .page-icon {
    margin: 1px auto 0 auto;
}
.pricing-page.compare-title {
    font-size: 18px;
    line-height: 22px;
    color: #333;
    font-family: 'LatoWebBold', Arial;
    padding: 16px 0 0 0;
}
.pricing-page.compare-storage {
    font-size: 30px;
    line-height: 36px;
    color: #333;
    font-family: 'LatoWebBold', Arial;
    padding: 18px 0 20px 0;
}
.pricing-page.compare-price {
    font-size: 42px;
    line-height: 74px;
    height: 75px;
    color: #00BFA5;
    font-family: 'LatoWebBold', Arial;
    padding: 0 0 0 0;
}
.en .pricing-page.compare-price {
    font-size: 62px;
}
.pricing-page.compare-price.blue {
    color: #007EE5;
}
.pricing-page.compare-price.yellow {
    color: #E8B508;
}
.pricing-page.compare-price span {
    display: inline-block;
}
.pricing-page.compare-price .currency {
    font-size: 33px;
    padding: 0 4px 0 2px;
}
.pricing-page.compare-price .currency:empty {
    padding-left: 0;
}
.pricing-page.compare-price .star {
    font-size: 9px;
    font-family: Arial;
    color: #373737;
    vertical-align: top;
    margin: -14px 0 0 0;
}
.pricing-page .star.green {
    font-size: 9px;
    font-family: Arial;
    color: #00C0A6;
    vertical-align: top;
}
.pricing-page.compare-price .star.green {
    padding-left: 5px;
    display: none;
}
.slide2 .pricing-page.compare-price .star.green {
    display: inline-block;
}
.pricing-page.compare-period {
    font-size: 20px;
    line-height: 24px;
    color: #333;
    font-family: 'LatoWebBold', Arial;
    height: 24px;
    padding: 0 0 0 0;
}
.pricing-page.compare-info {
    font-size: 15px;
    line-height: 18px;
    color: #666;
    padding: 29px 0 0 0;
}
.pricing-page.compare-tip {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    padding: 23px 0 0 0;
    display: none;
}
.pricing-page.compare-tip .star.green {
    padding-right: 7px;
    display: inline-block;
}
/* Free slide */
.pricing-page.compare-period.free,
.slide1 .pricing-page.compare-period.default{
    display: none;
}
.slide1 .pricing-page.compare-period.free {
    display: block;
    text-transform: uppercase;
}
.slide1 .pricing-page.compare-storage {
    display: none;
}
.slide1 .pricing-page.compare-price {
    padding-top: 32px;
}
.slide1 .pricing-page.compare-info  {
    padding-top: 70px;
}
/* Second slide */
.slide2 + .pricing-page.compare-tip {
    display: block;
}

/* Not supported plan */
.not-supported .pricing-page.compare-price, .not-supported .pricing-page.compare-period, .not-supported .pricing-page.compare-period, .not-supported .pricing-page.compare-info {
    display: none;
}
.pricing-page.compare-ns {
    font-size: 15px;
    line-height: 18px;
    color: #373737;
    display: none;
}
.pricing-page.compare-ns span {
    white-space: nowrap;
}
.pricing-page.big-red-cross {
    margin: 31px auto 20px auto;
    display: none;
}
.not-supported .pricing-page.compare-ns, .not-supported .pricing-page.big-red-cross {
    display: block;
}

/* MEGA solutions for all plans */
.pricing-page.solutions-wrap {
    margin: 8px auto 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 864px;
    border-spacing: 40px;
}
.pricing-page.solution-row {
    display: table-row;
}
.pricing-page.solution {
    display: table-cell;
    width: 50%;
    border-radius: 4px;
    box-shadow:  0 2px 4px 0 rgba(230, 230, 230, 0.5);
    border: 1px solid #E6E6E6;
    height: 346px;
    vertical-align: top;
    -webkit-transition: border-color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out, background-color 200ms ease-in-out;
    position: relative;
}
.pricing-page.solution.active, body .pricing-page.solution:hover {
    background-color: #F6FFFE;
    border-color: #91E2D7;
}
.pricing-page.solution-poster {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    box-sizing: border-box;
    padding: 22px;
}
.pricing-page.solution-details {
    position: relative;
    z-index: 1;
    background-color: #F6FFFE;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    box-sizing: border-box;
    padding: 22px;
}
.pricing-page.solution:hover .pricing-page.solution-poster {
    opacity: 0;
}
.pricing-page.solution:hover .pricing-page.solution-details {
    opacity: 1;
}
.pricing-page.solution .x95, .pricing-page.solution .x80 {
    margin: 0 auto;
}
.pricing-page.solution-name {
    font-size: 26px;
    line-height: 32px;
    color: #373737;
    font-family: 'montserrat', Arial;
    min-height: 64px;
    margin: 24px auto 0 auto;
    padding: 0 28px;
}
.pricing-page.solution-name.small {
    margin: 15px auto 7px auto;
    transform: scale(0.8);
    transform-origin: top;
}
.pricing-page.solution-txt {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    padding-left: 30px;
    position: relative;
    text-align: left;
}
.pricing-page.solution-txt span {
    display: inline-block;
}
.pricing-page.solution-txt i {
    position: absolute;
    left: 0;
    top: 2px;
}

/* MEGA roles */
.pricing-page.roles-wrap {
    font-size: 0;
    line-height: 0;
    padding: 0 0 144px 0;
}
.pricing-page.roles-wrap .col-4 {
    padding: 140px 0 0 0;
}
.pricing-page.roles-wrap .x95  {
    margin: 0 auto;
}
.pricing-page.role-name {
    font-size: 28px;
    line-height: 34px;
    color: #373737;
    font-family: 'LatoWebBold', Arial;
    padding: 30px 0 0 0;
}

/* Business bottom block */
.pricing-page.white-info {
    max-width: 1035px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    padding: 30px 0 0 0;
    font-family: 'montserrat_light', 'montserrat', Arial;
}
.pricing-button.green-button {
    margin: 80px 0 -10px 0;
}

/* Playment page */
.payment-section .top-header.plan-title {
    padding-bottom: 20px;
}
.payment-page.plan-wrap {
    float: right;
    width: 300px;
}
.payment-section.local-currency .pricing-page.plan.main {
    padding-bottom: 28px;
}
.payment-section .button.purchase {
    text-transform: uppercase;
    margin-top: 65px;
}
.payment-page.header {
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 28px;
    padding: 0px 0px 25px;
    position: relative;
    font-family: 'LatoWebBold', Arial;
}
.payment-page.header.choose-renewal {
    padding-bottom: 5px;
}
.payment-page.header .number {
    background-color: rgb(255, 51, 51);
    color: #FFF;
    font-size: 14px;
    left: -50px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -3px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.payment-method.template {
    display: none;
}
.payment-method {
    margin-bottom: 15px;
    width: 33.333333%;
    display: inline-block;
}
.payment-duration {
    margin-bottom: 15px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.payment-page.info-block {
    text-align: left;
    margin: 0 320px 0 50px;
    position: relative;
}
.third-section .payment-page.info-block {
    float: left;
}
.payment-page.info-block .provider-details {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
    max-width: calc(100% - 60px);
    white-space: nowrap;
    cursor: pointer;
}
.payment-options-list.secondary {
    margin-bottom: 45px;
    margin-top: 20px;
}
.membership-radio {
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    position: relative;
    vertical-align: top;
    width: 16px;
    background-color: #fff;
    margin: 4px 10px 0 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.membership-radio::before, .membership-radio:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-sizing: border-box;
    border: 2px solid white;
}
.membership-radio:after {
    background-color: rgba(0,0,0,0.05);
}
.membership-radio.checked::after {
    content: '';
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
    background: linear-gradient(to bottom, rgba(255,51,58,1) 0%, rgba(217,0,7,1) 100%);
    opacity: 0.8;
}
.membership-radio.checked {
    box-shadow: 0 0 0 1px rgba(255, 51, 58, 0.5);
}
.membership-radio input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.payment-duration.template {
    display: none;
}
.membership-radio-label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.membership-radio-label strong {
    font-family: 'LatoWebBold', Arial;
    font-weight: normal;
}
.payment-period, .renewal-option {
    margin-top: 30px;
}
 .renewal-options-list .renewal-option {
    display: inline-block;
    margin: 0;
    width: 50%;
}
.renewal-option .charge-information {
    color: #939da3;
    font-size: 13px;
    padding-bottom: 25px;
}
.payment-duration .save-money {
    background-color: #29c969;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 20px;
}
.payment-duration .save-money.hidden {
    display: none;
}
.provider-details .provider-icon {
    margin: 3px 4px 0 0;
}
.provider-details .provider-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    max-width: 95%;
}
.provider-show-more {
    margin-top: 25px;
    text-align: center;
}
.provider-show-more .button {
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    padding: 3px 15px;
    white-space: nowrap;
    background-color: white;
    font-size: 13px;
    line-height: 20px;
}
.loading-placeholder-text {
    font-size: 14px;
    line-height: 26px;
}
.payment-instructions {
    color: #555;
    font-size: 14px;
    line-height: 28px;
    max-width: 470px;
    float: left;
}
.reg-st5-info-icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/mega/register-big-sprite-v15.png);
    margin: 30px auto 20px;
    background-position: 1px -1631px;
    background-repeat: no-repeat;
}
.payment-section .subscription-instructions {
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    background-color: rgb(255, 255, 255);
    display: block;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 4px;
    margin: 12px 0 0 0;
    padding: 8px;
    transition: all 200ms ease-in-out 0s;
}
.payment-section .subscription-instructions.hidden {
    display: none;
}

/* Promotion Voucher code, I will remove once I have more time */
.redeem-promo-page .mega-input-title-ontop input {
    text-transform: uppercase;
}
.redeem-promo-page .mega-input-title-ontop {
    width: 320px;
}
body.mobile .redeem-promo-page .mega-input-title-ontop {
    width: 100%;
}
.redeem-promo-page .onboard-image {
    background-image: url(../images/mega/onboarding_download_v2.png);
}
.redeem-promo-page .onboard-image.voucher {
    background-position: 0 -635px;
    width: 224px;
    height: 150px;
    margin: 0 auto 10px;
}
.redeem-promo-page .bottom-page.top-description {
    padding: 24px 0 40px 0;
    margin: 0 auto;
}
.bottom-page.redeem-promo-container, .main-pad-block.redeem-promo-page  {
    height: 100%;
}
.main-pad-block.redeem-promo-page {
    background-color: #fafafa;
}
.redeem-promo-page .white-block {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    max-width: 620px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 24px 24px;
    box-sizing: border-box;
    min-height: 540px;
}
.redeem-promo-page .bottom-page.top-dark-info.medium {
    font-size: 28px;
    line-height: 40px;
}
.redeem-promo-page .voucher-input-container {
    margin-bottom: 36px;
}
.redeem-promo-page .button-block .default-green-button {
    min-width: 180px;
}
.redeem-promo-page .button-block {
    display: block;
}
/* three extra status for the inputs: error, active, correctinput */
.dialog-input-title-ontop.correctinput .title {
   visibility: visible;
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
   -moz-opacity: 1;
   -khtml-opacity: 1;
   opacity: 1;
   top:0;
}
.dialog-input-title-ontop.active .title, .dialog-input-title-ontop.valued .title, .dialog-input-title-ontop.birth .title, .dialog-input-title-ontop.underline-dropdown-input .title {
   top: 0;
   color: #aaa;
}
.dialog-input-title-ontop:not(.birth).active input::placeholder{
   opacity: 0;
}

/* Retina images */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .pricing-sprite,
    i.pricing-sprite,
    .pricing-page.slider .ui-slider-handle {
        background-image: url(../images/mega/pricing-sprite_v1@2x.png);
        background-size: 373px auto;
    }
    .redeem-promo-page .onboard-image {
        background-image: url(../images/mega/onboarding_download_v2@2x.png);
        background-size: 600px auto;
    }
}

/* Adaptive layout */
@media only screen and (max-width: 1194px) {
    .pricing-section .pricing-page.plans-block {
        border: 0;
        border-spacing: 10px 0;
        padding: 0 30px;
        max-width: 1194px;
        min-width: 892px;
    }
    .pricing-section .plans-row .pricing-page.plan {
        border-radius: 4px 4px 0 0;
        border-width: 1px;
        border-color: #D5D5D5;
    }
    .pricing-section .plans-row .pricing-page.plan.details {
        border-radius: 0 0 4px 4px;
        border-width: 0 1px 1px 1px;
    }
    .pricing-section .plans-row .pricing-page.plan:first-child,
    .pricing-section .plans-row .pricing-page.plan.current {
        border-color: #D5D5D5;
    }
    .local-currency .pricing-page.plan-price {
        font-size: 27px;
    }
}

@media only screen and (max-width: 1114px) {

    /* Payment page */
    .payment-page.plan-wrap{
        width: 220px;
    }
    .payment-page.info-block {
        margin: 0 240px 0 50px;
    }
}

@media only screen and (max-width: 890px) {
    .pricing-section .startpage.default-controls:not(.hidden) {
        display: inline-block;
    }

    /* Plans page header */
    .pricing-page.top-header {
        font-size: 40px;
        line-height: 63px;
        letter-spacing: -0.33px;
        max-width: 681px;
        padding-bottom: 17px;
    }
    .pricing-page.medium-txt {
        font-size: 16px;
        line-height: 24px;
        color: #666;
    }
    
    /*Plans block */
    .pricing-page.local-currency-tip {
        font-size: 12px;
    }
    .pricing-page.plan-label {
        margin: -1px 0 3px 0;
    }
    .pricing-page.plan-title {
        font-size: 22px;
    }
    .pricing-page.plan-info {
        font-size: 14px;
        line-height: 21px;
        padding: 5px 10px 31px 10px;
    }
    .pricing-page.plan-price {
        font-size: 30px;
        line-height: 37px;
    }
    .plans-row .pricing-page.plan-info {
        padding-bottom: 195px;
    }
    .pricing-page.plan-currency {
        margin-top: 10px;
    }
    .pricing-page.plan-button {
        margin-bottom: 20px;
    }
    .pricing-page.plan-feature {
        font-size: 13px;
        padding: 7px 32px 7px 14px;
    }
    .pricing-page.plan .i-icon {
        right: 14px;
    }
    
    /* jQ slider */
    .pricing-page.slider-wrap {
        margin: 70px 70px 143px 70px;
    }
    .pricing-page.slider.ui-widget-content,
    .pricing-page.slider .ui-slider-range {
        height: 10px;
    }
    .pricing-page.slider-dot {
        width: 28px;
        height: 28px;
        margin: -10px 0 0 -14px;
    }
    .pricing-page.slider .ui-slider-handle {
        width: 43px;
        height: 43px;
        margin: 0 0 0 -22px;
        top: -17px;
        background-size: 245px auto;
        background-position: -55px -474px;
    }
    .pricing-page.slider-dot .label, .en .pricing-page.slider-dot .label {
        font-size: 16px;
        line-height: 28px;
        top: 52px;
    }
    .pricing-page.slider-dot span {
        font-size: 18px;
    }
    
    /* Compare blocks */
    .pricing-section .page-icon.x48 {
        width: 36px;
        height: 36px;
    }
    .pricing-section .page-icon.x48.mega {
        background-position: -4px -263px;
        background-size: 150px auto;
    }
    .pricing-section .page-icon.x48.dropbox {
        background-position: -73px -336px;
        background-size: 190px auto;
    }
    .pricing-section .page-icon.x48.gdrive {
        background-position: -129px -336px;
        background-size: 190px auto;
    }
    .pricing-page.compare-cell {
        padding: 14px 5px;
    }
    .pricing-page.compare-title {
        font-size: 13px;
        line-height: 16px;
        padding: 11px 0 0 0;
    }
    .pricing-page.compare-storage {
        font-size: 22px;
        line-height: 28px;
        padding: 13px 0 14px 0;
    }
    .pricing-page.compare-price {
        font-size: 34px;
        line-height: 52px;
        height: 52px;
    }
    .en .pricing-page.compare-price {
        font-size: 44px;
    }
    .pricing-page.compare-price .currency {
        font-size: 23px;
    }
    .pricing-page.compare-price .star {
        font-size: 7px;
        margin: -10px 0 0 0;
    }
    .pricing-page .star.green, .pricing-page.compare-price .star.green {
        font-size: 7px;
    }
    .pricing-page.compare-period {
        font-size: 14px;
        line-height: 22px;
        height: 22px;
    }
    .pricing-page.compare-ns {
        font-size: 11px;
        line-height: 13px;
    }
    .pricing-page.compare-info {
        padding: 17px 0 0 0;
        font-size: 11px;
        line-height: 13px;
    }
    .pricing-page.big-red-cross {
        width: 32px;
        height: 32px;
        background-position: -10px -530px;
        background-size: 270px auto;
        margin: 16px auto 30px auto;
    }
    .pricing-page.compare-tip {
        padding: 19px 0 0 0;
    }
    /*  Free slide */
    .slide1 .pricing-page.compare-info {
        padding-top: 40px;
    }
    
    /*  MEGA Solutions */
    .pricing-page.solution-name {
        font-size: 22px;
    }
    .pricing-page.solution-txt {
        font-size: 14px;
    }
    .pricing-section .bottom-page.small-info.top-pad-24 {
        padding: 18px 0 0 0;
    }
    .pricing-page.solutions-wrap {
        width: auto;
        margin: 64px 22px -18px 22px;
        border-spacing: 18px;
    }
    
    /*  MEGA roles */
    .pricing-page.roles-wrap {
        padding: 0 0 48px 0;
    }
    .pricing-page.roles-wrap .col-4 {
        padding: 96px 0 0 0;
    }
    .pricing-page.role-name {
        font-size: 20px;
        line-height: 24px;
        padding: 22px 0 0 0;
    }
    
    /* Payment page */
    .payment-section .button.purchase {
        float: none;
        display: inline-block;
        margin: 40px 0 20px 0;
    }
    .payment-instructions {
        max-width: none;
    }
    .payment-page.info-block .payment-method {
        width: 50%;
    }
    .third-section .payment-page.info-block {
        float: none;
    }
    .payment-page.plan-wrap {
        float: none;
        width: auto;
        max-width: 300px;
        margin: 0 auto 60px auto;
    }
    .payment-page.info-block {
        margin: 0 0 0 50px;
    }
}

@media only screen and (max-width: 784px) {
    .bottom-page.horizontal-centered-bl.pricing-pad {
        padding: 0 40px;
    }

    /* pricing top header */
    .pricing-page.top-header {
        font-size: 36px;
        line-height: 48px;
        padding-top: 70px;
    }
    
    /* Plan cards */
    .plans-bottom-pad {
        padding-bottom: 88px;
    }
    .fr .pricing-page.plan-button, .ru .pricing-page.plan-button, .br .pricing-page.plan-button {
        font-size: 14px;
    }

    /* Compare */
    .pricing-page.compare-cell {
        display: block;
        width: auto;
        max-width: 360px;
        margin: 16px auto 0 auto;
        border: 1px solid #DEDEDE;
    }
    .pricing-page.solutions-wrap {
        display: block;
        margin: 40px 0 0 0;
    }
    .pricing-page.solution-row {
        display: block;
    }
    .pricing-page.solution {
        display: block;
        width: auto;
        max-width: 360px;
        height: auto;
        margin: 16px auto 0 auto;
    }
    .pricing-page.solution-name {
        font-size: 20px;
        line-height: 24px;
        min-height: 0;
    }
    .pricing-page.solution-name.small {
        transform: none;
        margin: 20px auto 20px auto;
        padding: 0;
    }
    .fr .pricing-page.slider-dot .label, .ru .pricing-page.slider-dot .label {
        width: 100px;
        min-width: 100px;
        margin-left: -50px;
    }
    .br .pricing-page.slider-dot .label, .es .pricing-page.slider-dot .label {
        font-size: 12px;
    }
    
    /* Roles */
    .pricing-page.roles-wrap .col-4 {
        padding: 54px 0 0 0;
    }
    
    /* Business bottom block */
    .pricing-button.green-button {
        margin: 40px 0 0 0;
    }
    .pricing-page.white-info {
        font-size: 14px;
    }
}

@media only screen and (max-width: 565px) {
    .pricing-page.top-header {
        font-size: 26px;
        line-height: 38px;
        padding-top: 60px;
    }
    
    /* Plans */
    .pricing-section .pricing-page.plans-block {
        padding: 0 14px;
        min-width: 872px;
    }
    .pricing-page.plans-switcher {
        margin: 45px 0 52px 0;
        border-radius: 18px;
    }
    .pricing-page.plans-switcher .button {
        border-radius: 18px;
        font-size: 14px;
        line-height: 36px;
        height: 36px;
    }
    .pricing-page.save-percs,
    .cn .pricing-page.save-percs {
        top: -16px;
        left: 25px;
        font-size: 10px;
        line-height: 18px;
        height: 18px;
        padding: 0 8px;
        border-radius: 9px;
        text-transform: uppercase;
    }
    .pricing-page .save-green-arrow {
        width: 24px;
        height: 0;
        top: -10px;
    }
    .pricing-page.radio-buttons:not(.hidden) {
        float: none;
        display: inline-block;
    }
    .pricing-page label.radio-txt {
        font-size: 13px;
    }
    .pricing-page.plans-wrap {
        padding: 40px 0 0 0;
    }
    
    /* Compare */
    .pricing-page.slider-wrap {
        margin: 45px 35px 95px 35px;
    }
    .pricing-page.slider-dot.active {
        box-shadow: 0 0 0 2px #FFF;
    }
    .pricing-page.slider-dot .label, .en .pricing-page.slider-dot .label {
        font-size: 14px;
        line-height: 26px;
        top: 24px;
    }
    .pricing-page.slider-dot span {
        font-size: 14px;
    }
    .pricing-page.slider.ui-widget-content, .pricing-page.slider .ui-slider-range {
        height: 6px;
    }
    .pricing-page.slider-dot {
        width: 14px;
        height: 14px;
        margin: -4px 0 0 -7px;
    }
    .pricing-page.slider .ui-slider-handle {
        width: 22px;
        height: 22px;
        margin: 0 0 0 -11px;
        top: -8px;
        background-size: 128px auto;
        background-position: -29px -248px;
    }
    
    /* Solutions */
    .pricing-page.solutions-wrap {
        display: block;
        margin: 20px 0 0 0;
    }
    
    /* Payment page */
    .payment-page.info-block .payment-method,
    .payment-page.info-block .payment-duration {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    /* Pricing header */
    .pricing-page.top-header {
        font-size: 20px;
        line-height: 28px;
    }
    .pricing-page.medium-txt {
        font-size: 14px;
        line-height: 24px;
        color: #3737337;
    }
    .pricing-page.top-small-txt {
        font-size: 14px;
        line-height: 24px;
    }
    
    .bottom-page.horizontal-centered-bl.pricing-pad {
        padding: 0 24px;
    }
    .pricing-section .bottom-page.small-info.top-pad-24 {
        font-size: 14px;
        line-height: 24px;
    }
    
    /* Compare */
    .pricing-page label.radio-txt {
        font-size: 13px;
    }
    .br .pricing-page.slider-dot .label, .es .pricing-page.slider-dot .label {
        font-size: 10px;
    }
    .ru .pricing-page.slider-dot .label {
        font-size: 10px;
        width: 80px;
        min-width: 80px;
        margin-left: -40px;
    }
    .br .pricing-page.slider-wrap, .ru .pricing-page.slider-wrap,  .es .pricing-page.slider-wrap {
        margin: 45px 20px 95px 20px;
    }
    .es .pricing-page label.radio-txt {
        font-size: 10px;
        padding-right: 10px;
    }
    
    /* Solutions */
    .pricing-page.solutions-wrap {
        display: block;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .fr .pricing-page label.radio-txt, .ru .pricing-page label.radio-txt, .br .pricing-page label.radio-txt {
        font-size: 10px;
        padding-right: 10px;
    }
    .es .pricing-page div.radioOn, .es .pricing-page div.radioOff {
        margin-right: 5px;
    }
}