/**
 * CSS for the Public Service Announcement for desktop and mobile
 */
.bottom-info.body {
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    border-top: 1px solid rgba(0,0,0,0.05);
    bottom: 0;
    box-sizing: border-box;
    display: none;
    font-family: LatoWeb, Arial, sans-serif;
    padding: 16px;
    position: fixed;
    width: 100%;
    z-index: 1400;
}
.notification .bottom-info.body {
    display: table;
}
.notification .fmholder {
    height: 100%;
    height: -webkit-calc(100% -120px);
    height: -moz-calc(100% - 120px);
    height: calc(100% - 120px);
}
.notification .st-main-block {
    height: 100%;
    height: -webkit-calc(100% + 52px);
    height: -moz-calc(100% + 52px);
    height: calc(100% + 52px);
}
.notification .st-full-block {
    padding: 20px 0 50px 0;
}
.bottom-info.body::before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    left: 0;
}
.bottom-info.content {
    display: table;
    margin: 0 auto;
}
.bottom-info.column {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 50px 0 24px;
    font-size: 0;
    line-height: 0;
    height: 70px;
}
.bottom-info.column:first-child, .bottom-info.column:last-child {
    width: 66px;
    padding: 0;
}
.bottom-info.column:last-child {
    white-space: nowrap;
}
.bottom-info.display-icon {
    width: 128px;
    height: 128px;
}
.bottom-info.content h4 {
    color: #667;
    font-size: 18px;
    line-height: 23px;
    font-family: LatoWeb, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.bottom-info.content .messageA {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0 0 0;
}
button.bottom-info {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 3px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 100%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    color: var(--text-color-black-medium);
    cursor: pointer;
    display: inline-block;
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 25px;
    margin: 15px 0 0 0;
}
button.bottom-info:hover {
    background-color: #686565;
}
.bottom-info.fm-dialog-close {
    background-image: url(../images/mega/dialog-sprite.png);
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-position: -53px -4825px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 11px;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    opacity: 0.5;
    z-index: 10;
}

/* Mobile tweaks */
.mobile.notification .fmholder {
    height: 100%;
}
.mobile.bottom-info.display-icon {
    width: 64px;
    height: 64px;
}
.mobile.bottom-info.fm-dialog-close {
    left: initial;
    right: 3px;
    top: 5px;
    margin: 0;
}
.mobile.bottom-info.content h4 {
    font-size: 16px;
}
.mobile.bottom-info.content .messageA {
    font-size: 14px;
}
.mobile.bottom-info.body {
    bottom: 0;
    left: 0;
}
.mobile.bottom-info.column.text-column {
    padding: 0 24px 0 24px;
}
