.fm-recents.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 200ms linear;
}
.rtl .fm-recents.container {
    direction: rtl;
}
.fm-recents.container.emptied .header-row,
.fm-recents.container.emptied .fm-filter-chips,
.fm-recents.container.emptied button.recents-info-btn {
    display: none;
}
.fm-recents.container.empty-filter .header-row {
    display: none;
}
.fm-recents.header {
    color: var(--text-color-high);
    font: var(--text-body1-bold);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-inline-start: 28px;
}
.fm-recents.scroll {
    height: 100%;
    overflow: hidden;
}
.fm-recents.scroll:empty {
    height: auto;
}
.fm-recents.content-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 48px;
    position: relative;
    width: 100%;
    border-left: 4px solid transparent;
    transition: border-color 0.1s ease, background-color 0.1s ease;
    --mask-color: var(--text-color-medium);
}
.rtl .fm-recents.content-row {
    border-right: 4px solid transparent;
}
.fm-recents.content-row .content {
    height: 48px;
}
.fm-recents.header-row {
    padding: 2rem 0 1rem;
    border-bottom: 1px solid var(--mobile-border-subtle);
}
.fm-recents.content-row .content,
.fm-recents.header-row {
    grid-template-columns: 56px 32px 1fr 0.7fr 0.5fr 50px;
}
.fm-recents.content-row.template {
    display: none;
}
.fm-recents.date {
    padding: 23px 64px 13px;
    border-top: 1px solid var(--mobile-border-subtle);
}
.pre-pusher + .fm-recents.date {
    border-top: none;
}
.fm-recents.date.template {
    display: none;
}
.fm-recents.date:first-child {
    padding-top: 21px;
}
.fm-recents .item-type-icon-90 {
    --icon-size: 32px;
}
.fm-recents .item-type-icon-90.thumb {
    background: none;
}
.fm-recents .item-type-icon-90.thumb img {
    border-radius: 2px;
    height: 32px;
    width: 32px;
}
.fm-recents .item-type-icon-90.video.thumb .video-thumb-details {
    --icon-size: 16px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.fm-recents .data-block-bg.video .video-thumb-details i {
    margin-top: -1px;
}
.fm-recents.file-name {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: var(--text-color-high);
    font: var(--text-body2);
}
.fm-recents.file-name,
.fm-recents.file-action {
    max-width: 90%;
}
.fm-recents.file-name span.first-node-name,
.fm-recents.file-name span.number-of-files {
    font: var(--text-body1);
}
.fm-recents.file-name span.rest-nodes-counter {
    color: var(--text-color-medium);
}
.fm-recents.iteration {
    font-size: 0;
    white-space: nowrap;
    float: left;
    margin: 4px 0 0 0;
    margin-inline-start: 21px;
}
.rtl .fm-recents.iteration {
    float: right;
}
.fm-recents.iteration:hover + .dark-direct-tooltip {
    display: block;
}
.fm-recents i.iteration {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 0;
}
.fm-recents .context-menu-button {
    opacity: 0;
    transition: opacity 0.1s ease;
    background-color: var(--mobile-page-background);
}
.fm-recents.content-row:hover .context-menu-button,
.fm-recents.content-row.active .context-menu-button,
.fm-recents.content-row.ui-selected .context-menu-button {
    opacity: 1;
}
.fm-recents .link-button.toggle-expanded-state {
    font: var(--text-body2);
    color: var(--text-color-high);
    overflow: hidden;
    box-sizing: border-box;
    max-width: calc(100% - 70px);
    border-radius: 24px;
    background-color: var(--surface-grey-2);
    float: right;
    margin-right: 8px;
    padding: 2px 6px;
    min-height: 20px;
}
.fm-recents .link-button.toggle-expanded-state i {
    --icon-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
}
.fm-recents .link-button.toggle-expanded-state span {
    vertical-align: middle;
}
.fm-recents .link-button.toggle-expanded-state:hover i {
    --mask-color: var(--text-color-high);
}
.fm-recents .link-button.toggle-expanded-state:hover span {
    color: var(--text-color-high);
}
.fm-recents.previews-body {
    display: inline-block;
    padding-inline-start: 18px;
    vertical-align: top;
}

.fm-recents .link-button {
    float: left;
    margin: 5px 0 9px;
}
.fm-recents .link-button:not(.hidden) {
    display: inline-flex;
}
.fm-recents .dark-direct-tooltip {
    right: 8px;
    bottom: 28px;
}
.fm-recents .dark-direct-tooltip i {
    left: auto;
    right: 58px;
}
.fm-recents .dark-direct-tooltip.in-out-tooltip i {
    left: 20px;
}
.fm-recents .in-out-share-icon:hover + .in-out-tooltip,
.fm-recents .in-out-tooltip:hover {
    display: block;
}
.fm-recents .dark-direct-tooltip.in-out-tooltip {
    left: -12px;
    right: unset;
}
.fm-recents.content-row.link-row {
    min-height: 0;
}
.fm-recents.link-row .link-button {
    margin: 10px 0 9px 0;
}
.fm-recents.group.expanded .rest-nodes-counter {
    display: none;
}
.fm-recents .more-less-toggle {
    border-radius: 12px;
    background-color: var(--stroke-grey-2);
    padding: 2px 6px 2px 6px;
    color: var(--text-color-high);
}
.fm-recents.content-row.ui-selected .more-less-toggle {
    background-color: var(--stroke-main);
}
.simpletip-tooltip.recents-file-path span i {
    display: inline-block;
    --icon-size: 16px;
    --mask-color: var(--stroke-main);
    position: static;
    margin: 0 4px 2px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.fm-recents .expand-collapse-toggle i {
    cursor: pointer;
    display: none;
    --icon-size: 16px;
    --mask-color: var(--text-color-medium);
}
.fm-recents.group .expand-collapse-toggle i {
    display: block;
}
.fm-recents.expanded .expand-collapse-toggle i {
    transform: rotate(90deg);
}
.rtl .fm-recents .expand-collapse-toggle i {
    transform: rotate(180deg);
}
.fm-recents.content-row.group.collapsed .content,
.fm-recents.content-row.single .content {
    margin-bottom: 1px;
}
.fm-recents.content-row.ui-selected {
    border-color: var(--mobile-border-brand);
    background-color: var(--mobile-surface-2);
}
.fm-recents.content-row:hover {
    background-color: var(--mobile-surface-1);
}
.fm-recents.content-row.child-note .file-icon,
.fm-recents.content-row.last-child .file-icon {
    margin-inline-start: 42px;
}
.fm-recents.content-row.child-note .file-info,
.fm-recents.content-row.last-child .file-info {
    padding-inline-start: 42px;
}
.fm-recents.content-row .context-menu-button:hover {
    background-color: var(--mobile-button-outline-background-hover);
}
