@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
body.pro:after {
    content: url(../images/mega/payment-animation@2x.gif);
}
.pro-register-paypal-dialog .reg-success-icon, .payment-confirmation .icon, .bitcoin-invoice-dialog .qr-code-mega-icon, .bitcoin-invoice-dialog .clock-icon, .payment-result-icon, .payment-close-icon, .overlay-close-icon, .notification-item .notification-icon, .fm-dialog.bitcoin-provider-failure-dialog .reg-success-icon, .fm-dialog-close.overlay-close-icon {
    background-image: url(../images/mega/bitcoin-v7@2x.png);
    background-size: 200px auto;
}
.astropay-payment-reminder .mega-payment-icon {
    background-image: url('../images/mega/bitcoin-v7@2x.png');
}
.provider-icon {
    background-image: url(../images/mega/payment-provider-icons-v3@2x.png);
    background-size: 20px auto;
}
.fm-dialog.cancel-subscription-st2 .blue-success-icon {
    background-image: url(../images/mega/bitcoin-v7@2x.png);
    background-size: 200px auto;
}
.icoming-call-button {
    background-image: url(../images/mega/chat-sprite@2x.png?v=2);
    background-size: 72px auto;
}
.top-context-close {
    background-image: url(../images/mega/context-top@2x.png);
    background-size: 27px auto;
}
.download-dialog-icon, .download-chrome-lnk, a.download-chrome-lnk, .download-user-icon, .new-download-sync-app, .new-download-red-button, .mega-list-arrow, .megasync-logo, .megasync-table table th span, .megasync-table table td span, .default-dropdown-item.icon, .camera-bottom-icon, .camera-top-icon, .button.download-button.down-arrow, .button.download-button.to-clouddrive, .download-icon, .download.error-text.na-icon, .download.error-text.cross-icon, .download.error-text.error-icon, .megasync-info-arrow, .megasync-dark-logo, .megasync-icon, .video .play-video-button, .download.error-big-icon {
    background-image: url(../images/mega/download-sprite_v10@2x.png);
    background-size: 257px auto;
}
.top-login-full,
.top-login-input-block,
.top-login-warning-close,
.top-login-warning-icon,
.top-login-popup .top-login-warning-bott .checkboxOn,
.top-login-popup .top-login-warning-bott .checkboxOff,
.top-login-tooltip-arrow,
.password-tooltip-arrow,
.login-register-input,
.register-st2-button,
.register-st2-button-arrow,
.password-status-icon,
.top-login-forgot-pass,
.login-forgot-password,
.checkboxOn::after,
.checkboxOff::after,
.contains-value .top-clear-button,
.account-history-drop-items.active,
.account-warning-icon,
.warning-gray-icon,
.membership-arrow,
.small-icon.membership,
.dropdown-white-arrow,
.dropdown-item.tick-item.active::before,
.dropdown-item.do-sort.selected i,
.fm-dialog:not(exceeded) .pro-plan-descr::after,
.dropdown.close-button,
.fm-picker-dialog .fm-dialog-body .nw-contact-item .nw-contact-checkbox::before,
.top-clear-button
{
    background-image: url(../images/mega/top-login-sprite_v11@2x.png);
    background-size: 48px auto;
}

.small-icon.membership.pro100, .tiny-icon.membership-status.pro100, .big-icons-sprite, i.big-icons-sprite {
    background-image: url(../images/mega/big-icons_v5@2x.png);
    background-size: 192px auto;
}

.reg-success-icon, .reg-st3-save-icon, .toast-icon, .resend-email-button, .reg-st3-storage::before, .reg-st3-bandwidth::before, .pro-icon, .pro-bottom-info-header::before, .toast-close-button, .small-icon.green-arrow, .small-icon.blue-arrow, .fm-dialog-close.small, .reg-st5-info-icon {
    background-image: url(../images/mega/register-big-sprite-v15@2x.png);
    background-size: 200px auto;
}
.terms-agent-info, p.privacy-list {
    background-image: url(../images/mega/terms-icons@2x.png);
    background-size: 14px auto;
}
.team-social-icon {
    background-image: url(../images/mega/about-sprite@2x.png);
    background-size: 72px auto;
}
.browsers-notification, .safari .browsers-logo-lnk, .ie .browsers-logo-lnk {
    background-image: url(../images/mega/browsers-page@2x.png);
    background-size: 892px auto;
}
.privacy-company-icon, .privacy-company-bott .st-quote-left, .privacy-company-bott .st-quote-right {
    background-image: url(../images/mega/privacy-sprite_v2@2x.png);
    background-size: 130px auto;
}
.widget-circle, .widget-arrows, .widget-icon, .widget-arrow {
    background-image: url(../images/mega/widget-progress@2x.png);
    background-size: 40px auto;
}
.image-explorer-container .image-explorer-scale-slider-minus, .image-explorer-container .image-explorer-scale-slider-plus {
    background-image: url(../images/mega/avatar-zoom@2x.png);
    background-size: 367px auto;
}
ul.top-ul li span, ul.mid-ul li span, ul.bot-ul li span, ul.can-ul li span, ul.cannt-ul li span, .new-affiliate-star, .affiliate-input-block.select {
    background-image: url(../images/mega/new-affiliate-sprite_v1@2x.png);
    background-size: 1500px auto;
}
.contact-us .contact-new-title::before, .contact-us-revamp h1 {
    background-image: url(../images/mega/contact-us-sprite@2x.png);
    background-size: 80px auto;
}
.new-left-menu-icon, .dev-short-bl-icon, .dev-new-button, .dev-new-table-icon, .dev-new-app-settings, .dev-no-apps-txt, .dev-new-app-big-icon, .new-left-submenu-item, .new-bottom-pages .new-right-content-block li {
    background-image: url(../images/mega/sdk-sprite@2x.png);
    background-size: 904px auto;
}
.blog-new-search, .social-icon, .social-arrow, .rss-view-all, .blog-new-forward, .blog-new-back, .blog-plus-sign, .blog-minus-sign, .blog-new-arrow, .blog-new-positive, .blog-new-negative, .blog-new-strong-recomend, .blog-new-recomend, .blog-new-not-recomend, .blog-pagination-button.to-the-beggining, .blog-pagination-button.previous, .blog-pagination-button.to-the-end, .blog-pagination-button.next, .fm-breadcrumbs.calendar {
    background-image: url(../images/mega/blog-new-sprite@2x_v2.png);
    background-size: 217px auto;
}
.new-left-menu-icon.help-icon, .help-nw .dev-new-button, .help-listing, .help-short-icon {
    background-image: url(../images/mega/help-new-sprite-v1@2x.png);
    background-size: 886px auto;
}
.opensource-top-icon, .opensource-icon {
    background-image: url(../images/mega/opensource-v3@2x.png);
    background-size: 100px auto;
}
.loading-info li::after {
    background-image: url(../images/mega/loading-sprite_v4@2x.png);
    background-size: 222px auto;
}
.new-bottom-pages .blog-new-full p.strong-paragraph.new-blog-icon {
    background-image: url(../images/mega/blogs/blog-post-sprite1@2x.png);
    background-size: 36px auto;
}
.empty-icon, .fm-empty-cloud-bg, .fm-empty-folder-bg, .fm-empty-conversations-bg, .fm-empty-incoming-bg, .fm-empty-contacts-bg, .fm-invalid-folder-bg, .fm-empty-folder-link-bg, .fm-empty-trashbin-bg, .fm-empty-transfers-bg, .fm-empty-search-bg, .dialog-empty-icon, .fm-empty-filter-bg {
    background-image: url(../images/mega/empty-sprite_v6@2x.png);
    background-size: 294px auto;
}
.blog-article li, .blog-new-full ul li, .sync li, .affiliate li, .pro li:not(.no-red-dot) {
    background-image: url(../images/mega/dev-point-new.png);
    background-size: 39px auto;
}
.blog-new-full ul ul li {
    background-image: url(../images/mega/dev-point-gray-new.png);
    background-size: 39px auto;
}
.fm-bandwidth-icon, .fm-bandwidth-dashed {
    background-image: url(../images/mega/quota-sprite@2x.png);
    background-size: 240px auto;
}
.backup-download-block, .recover-upload-block, .backup-notification-icon, .restore-uploading-status-icon, .login-register-input.fail, .reset-account-lock-image, .login-register-input.green-tick {
    background-image: url(../images/mega/encr-sprite@2x_v1.png);
    background-size: 216px;
}
.huge-white-icon, .shared-link.small-icon {
    background-image: url(../images/mega/chat-static-sprite-v1@2x.png);
    background-size: 68px auto;
}
.icons-sprite,
i.icons-sprite,
i.small-icon.icons-sprite,
.small-icon.context,
.dropdown-item.contains-submenu:not(.disabled-submenu)::before,
.labels:not(.disabled) .dropdown-colour-item::after,
.download.thumb-hover-icon,
.small-icon.red-lens,
.small-icon.red-play,
.small-icon.small-play-icon,
.medium-icon.icons-img,
.semi-big-icon.icons-img,
.viewer-mid-button,
.small-icon.clock,
.files-grid-view.fm .column-settings::before,
.fm-versioning.file-path span:not(:first-child)::before,
.fm-account-button.megadrop::before,
.transfer-panel-title span::before,
.transfer-type.upload::before,
.transfer-type.download::before,
.megasync-transfer .toast-col:nth-child(1) span::before,
.grid-url-arrow::after,
.file-settings-icon::after,
.improved-recovery-steps .nav-back-icon,
.clipboard .toast-icon,
.small-icon.icons-sprite.grey-plus .dropdown-dark-arrow,
.dropdown-item.asc i::after,
.dropdown-item.desc i::after,
.improved-recovery-steps .nav-back-icon,
.top-search-button,
.head-title::before,
.settings-menu-arrow,
.transfer-progress-icon,
.transfer-progress-type.download .transfer-progress-pct::before,
.transfer-progress-type.upload .transfer-progress-pct::before,
.transfer-task-row::before,
.toast-icon.multi-files-icon,
#mega-text-editor .txt-editor-download-btn .txt-editor-download-btn-icon,
.dropdown-dark-arrow,
.transfer-task-status::before
{
    background-image: url(../images/mega/icons-sprite_v40@2x.png);
    background-size: 262px auto;
}
#help2-main .ui-autocomplete .client, #help2-main .ios-desktop-icon, #help2-main .windows-desktop-icon, #help2-main .linux-desktop-icon, #help2-main .webclient-icon {
    background-image: url(../images/mega/help2/welcome_icons_v3@2x.png);
    background-size: 250px auto;
}
.mid-white-icon, .huge-white-icon.achievement, .account.bonuses-icon, .dropdown.transfer-icon, .huge-icon.storage-icon, .semi-small-icon.rocket, .semi-huge-icon.green-tick, .semi-big-icon.blue-cloud, .semi-big-icon.green-speedometer, .achieved .account.progress-indicator, .achievement-complete::after, .big-104px-icon.speedometer, .big-icon.almost-full-storage, .semi-huge-icon.speedometer, .semi-huge-icon.storage {
    background-image: url(../images/mega/account-sprite_v4@2x.png);
    background-size: 172px auto;
}
.huge-icon.achievement {
    background-image: url(../images/mega/big-achievements@2x.png);
    background-size: 436px auto;
}

.top-sprite, i.top-sprite,
.logo,
.languages-dialog .show-more-languages .round-arrow span,
.top-head .top-icon::before,
.top-menu-popup .top-icon::before,
.top-bar .top-icon::before,
.main-top.top-icon::before,
.notification-txt,
.nw-bottom-copyrights,
.nw-bottom-social,
.top-login-warning-arrow,
.main-top-info-text,
.new-notification-icon,
.feedback-button,
.semi-small-icon.grey-mega,
.semi-small-icon.white-mega,
.semi-small-icon.yellow-triangle,
.tiny-icon.membership-status,
.top-menu-item.submenu-item::before,
.medium-icon.rocket,
.nlanguage-bottom,
.tiny-icon.green-tick,
.tiny-icon.red-cross,
.site-update-available .mega-icon,
.megasync-close,
.improved-recovery-steps .list-point b.megasync-logo,
i.account-icon,
.fm-files-search i.search,
.send-chat .toast-icon
{
    background-image: url(../images/mega/top-sprite_v8@2x.png);
    background-size: 38px auto;
}
.block-view-file-type, .dragger-icon, .export-icon, .new-download-file-icon, .share-folder-icon div, .transfer-filetype-icon, .medium-file-icon, .shared-folder-icon, .nw-fm-tree-folder::before, .shared-details-icon, .contact-share-notification::before, .search-path-icon.folder, .search-path-icon.shared-folder, .search-path-icon-span {
    background-image: url(../images/mega/files-icons_v3@2x.png);
    background-size: 399px 5575px;
}
.fm-widget-illustration {
    background-image: url(../images/mega/PUf_illustration_v1@2x.png);
    background-size: 560px auto;
}
.download.big-icon, .fm-dialog-close.big, .megasync-img::before, .megasync-slider.button::after {
    background-image: url(../images/mega/download-dialog_v2@2x.png);
    background-size: 853px auto;
}
.properties-file-icon div {
    background-image: url(../images/mega/properties-sprite_v2@2x.png);
    background-size: 589px 6320px;
}
.drag-n-drop.header, .drag-n-drop hr, .drag-n-drop.info-block i {
    background-image: url(../images/mega/overlay-sprite@2x.png);
    background-size: 400px auto;
}
.dropdown.hint-thumb {
    background-image: url(../images/mega/hints-sprite_v1@2x.png);
    background-size: 660px auto;
}
.es .dropdown.hint-thumb {
    background-image: url(../images/mega/hints-sprite-es_v1@2x.png);
}
.br .dropdown.hint-thumb {
    background-image: url(../images/mega/hints-sprite-pt_v1@2x.png);
}
.cn .dropdown.hint-thumb {
    background-image: url(../images/mega/hints-sprite-cn_v1@2x.png);
}
.widget-dialog .fm-body-text .widget-folder-icon,
.tab-icon.url,
.tab-icon.embed,
.widget-card .widget-minimise,
.widget-card .widget-maximise,
.shared .contact-list-icon,
.properties-context-arrow,
.properties-share-icon,
.fm-notification-close,
.dlkey-dialog .decryption-key .icon,
.fm-dialog-close,
.btn-close-dialog,
.export-links-warning-close,
.fm-notification-icon,
.delete-contact.multiple .fm-del-contact-avatar,
.fm-notification-info p.red::before,
.export-links-warning-close,
.shared-with-me.read-only .properties-elements-counter span,
.shared-with-me.read-and-write .properties-elements-counter span,
.shared-with-me.full-access .properties-elements-counter span,
.full-access .context-menu-icon,
.read-and-write .context-menu-icon,
.read-only .context-menu-icon,
.notification-empty-icon,
.start-chat-button,
.start-chat-button span,
.multiple-input-warning .arrow,
.duplicated-input-warning .arrow,
li.token-input-token-mega .input-close,
li.token-input-token-invite .input-close,
.share-pending-arrow,
.email .search-avatar::after,
.gmail .search-avatar::after,
.gmail .avatar-wrapper::after,
.email .avatar-wrapper::after,
.pending .search-avatar::after,
.pending-indicator::after,
.share-search-result.selected,
.share-dialog-img,
.share-dialog-icon,
.add-user-icon,
.import-contacts-link span,
.file-link-block .icon,
.information-icon,
.information-icon div span,
.share-dialog-permissions span,
.share-dialog-icon.permissions-icon span,
.permissions-menu span,
.fm-dialogs-select span,
.fm-dialogs-dropdown span,
.share-dialog-remove-button,
.import-contacts-service.imported,
.import-contacts-service span,
.import-contacts-info,
.import-contacts-info-txt .import-arrow,
.imported-notification-close,
.rating a,
.nw-fm-dialog-title span,
.bandwidth-text-bl .star,
.bandwidth-back-button,
.copyrights-dialog-icon,
.embed-content-block .tab-icon.url,
.embed-content-block .tab-icon.embed,
.bottom-info.fm-dialog-close:not(.mobile),
.notification-loading-icon,
.verify-ph-icon,
.dialog-sprite,
i.dialog-sprite,
.fm-dialog.storage-dialog .odq-warning .odq-warn-icon {
    background-image: url(../images/mega/dialog-sprite_v15@2x.png);
    background-size: 160px auto;
}
.tiny-icon, .semi-small-icon, .small-icon, .medium-icon, .semi-big-icon, .big-icon, .huge-icon, .huge-grey-warning, .round-icon, .call-icon, .verified .verified_icon, .icon-dropdown:not(.disabled):hover, .icon-dropdown.active, .user-card-verified, div.message.richpreview.confirmation-icon, .dropdown-fingerprint, div.chat-topic-icon::before, div.chat-share-nav.button::before, div.chat-topic-icon::before, div.chat-share-nav.button::before, .chat-topic-block.privateChat .privateChatDiv, .privateChat + .privateChatDiv {
    background-image: url(../images/mega/new-chat-sprite_v17@2x.png);
    background-size: 237px auto;
}
.invitation-dialog.table-cell span.desc,
.invitation-dialog.table-cell span.asc,
.tiny-icon.cog,
.big-icon.cloud,
.big-icon.speedometer,
.semi-big-icon.cloud-up,
.semi-big-icon.cloud-down,
.medium-icon.cloud,
.medium-icon.speedometer,
.small-icon.grey-plus:not(.icons-sprite),
.semi-small-icon.file,
.semi-small-icon.folder,
.semi-small-icon.left-arrow,
.semi-small-icon.right-arrow,
.semi-small-icon.rubbish,
.semi-small-icon.rubbish-arrows,
.semi-small-icon.linked,
.semi-small-icon.star,
.semi-small-icon.cloud,
.semi-small-icon.down-arrow,
.semi-small-icon.left-arrow-with-dot,
.semi-small-icon.circle,
.semi-big-icon.cloud,
.semi-big-icon.speedometer,
.semi-small-icon.tick,
.semi-small-icon.dots,
.semi-small-icon.rounded-arrow,
.semi-small-icon.exclamation-point,
.small-icon.dark-grey-plus,
.small-icon.small-red-cross,
.small-icon.file-upload:not(.context),
.small-icon.folder-upload:not(.context),
.small-icon.import-to-cloud,
.small-icon.download-as-zip:not(.context),
.small-icon.pause-icon,
.small-icon.play-icon,
.small-icon.refresh-icon,
.ui-slider-handle::before,
.free .fm-right-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,
.free .fm-right-account-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,
.no-percs .chart.data .perc-txt,
.fm-contact-requests span,
.fm-received-requests span,
.nw-fm-tree-item.contains-folders .nw-fm-arrow-icon,
.fm-add-user-scrolling .nw-contact-item,
.fm-dialog-search,
.verified .nw-contact-verified-icon,
.nw-verified-icon,
.fm-picker-dialog-panel-arrows,
.fm-picker-dialog-panel-arrows,
.share-dialog-panel-arrows,
.nw-fm-search-icon,
.nw-fm-left-icon::before,
.arrow.desc.grid-header-star,
.arrow.asc.grid-header-star,
.grid-header-star,
.grid-status-icon.star,
.grid-status-icon,
.file-status-icon.star,
.contact-status-icon,
.linked .data-item-icon,
.taken-down .file-status-icon,
.undecryptable .file-status-icon,
.clear-transfer-icon::after,
.transfer-type::before,
.transfer-status::before,
.transfer-table .eta,
.transfer-table .eta.unknown::before,
.fm-breadcrumbs.has-next-button,
.fm-breadcrumbs:first-child:not(.public-links) .right-arrow-bg,
.contact-request-ignored,
.fm-files-view-icon,
.fm-contacts-view-icon,
.create-folder-size-icon,
.add-user-size-icon,
.fm-account-input::before,
.fm-share-dropdown,
.share-dialog-permissions,
.share-dialog-icon.permissions-icon,
.default-select,
.ui-selectmenu-button,
.context-top-arrow,
.context-bottom-arrow,
.sorting-menu-item.active,
.sorting-menu-item.selected,
.sorting-menu-arrow,
.transfer-table-header th:first-child span,
.redeem-voucher .notification-arrow,
.fm-close-all-sessions span,
.settings-logout,
.arrow:not(.grid-header-star),
.search-path-icon.cloud-drive,
.search-path-icon-span.cloud-drive,
.search-path-icon.recycle-item,
.search-path-icon-span.recycle-item,
.search-path-icon.inbox-item,
.search-path-icon-span.inbox-item,
.search-path-arrow,
.star .incoming-contact-info span.incoming-call-name,
.fm-mega-dialog-size-icon,
.transfer-bar-overlay div,
.fm-account-button::before,
.search-path-icon.shared-folder,
.search-path-icon.contacts-item,
.search-path-icon-span.contacts-item,
.shared-folder-access,
.contacts-interation,
.small-icon.fm-s,
.notification-accepted,
.notification-avatar-icon,
.fm-picker-dialog .icon,
.semi-big-icon.grnt-quota,
.semi-big-icon.xscheduler,
.fm-picker-dialog .next-arrow,
.big-icon.fm-s,
.achievements-cell .medium-icon.remind-icon,
.fm-right-account-block .icon,
.achieved-block.invitees .new-dialog-icon,
.fm-right-account-block .underline-dropdown-input .list-arrow,
.fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .up-control,
.fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .down-control,
.fm-right-account-block .tooltip-icon .medium-icon.info-icon,
.float-widget.transfer-prorgess .banner .delete-img.icon,
.fm-picker-dialog .summary-container .transfer-filetype-icon.chat,
.fm-picker-dialog .contact-row.selected .contact-checkboxOn.small12::before,
.fm-picker-dialog .contact-row:hover .small12::before,
.content-panel.dashboard .small-icon.info-icon,
.mega-data-box table th.sortable.asc::after,
.mega-data-box table th.sortable.desc::after,
.nw-fm-left-icon.affiliate::after,
.underline-dropdown-input .list-arrow,
.fm-s
{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.fm-picker-dialog-button::before {
    background-image: url(../images/mega/big-icons_v5@2x.png);
    background-size: 192px auto;
}
.achievements-scroll .achievements-icon, .achievements-scroll .green-tick, .verify-ph-bonus-valid-days .valid-days-title::before, .fm-dialog.verify-phone .achievements-icon {
    background-image: url(../images/mega/mid-achievements-v2@2x.png);
    background-size: 380px auto;
    background-repeat: no-repeat;
}


/*business icon start from here*/
.content-panel.user-management .user-management-status::before, .user-management-view .user-management-status::before {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-tree-panel-header .img{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-tree-panel-arrows {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.default-white-button-user-management .icon, .default-green-button-user-management .icon, .default-red-button-user-management .icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.fm-files-view-icon-user-management {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-overview-bar-data .info-block .icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-sorting-menu .sort-icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.up-arrow-icon {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-breadcrumb .user-management-icon {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-breadcrumb .user-management-next-arrow {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-view-status.enabled, .user-management-view-status.disabled, .user-management-view-status.pending{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.subaccount-view-used-data .used-storage-info .folder-small-icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share,
.subaccount-view-used-data .used-storage-info .folder-small-icon.ex-in-share,
.user-management-view .subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share,
.fm-right-header-user-management .folder-small-icon.ex-out-share,
.user-management-dialog .folder-small-icon.ex-out-share,
.business-dashboard .folder-small-icon.ex-out-share,
.bus-reg-icon
{
    background-image: url(../images/mega/top-sprite_v8@2x.png);
    background-size: 38px auto;
}
.user-management-breadcrumbs-img {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-view .default-white-drop-box .list-arrow, .user-management-dialog .list-arrow {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-overview-container .daily-transfer-flow-bar .tooltip::after {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-grid-table .subaccount-img-big .subaccount-selection-button::before {
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-view .icon, .fm-right-header-user-management .icon, .user-management-dialog .icon, .user-management-overview-bar .icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-view .admin-icon{
    background-image: url(../images/mega/fm-main-sprite_v15@2x.png);
    background-size: 48px auto;
}
.user-management-view .icon48,
.user-management-dialog .icon48,
.user-management-view .icon56,
.user-management-dialog .icon56,
.user-management-view-data .user-management-view-overall-usage .user-management-storage .img,
.user-management-view-data .user-management-view-overall-usage .user-management-transfer .img,
.user-management-landing-page .mega-56px-icon,
.user-management-view .icon64,
.user-management-dialog .icon64,
.user-management-view .id-card-icon.icon,
.fm-right-header-user-management .id-card-icon.icon,
.user-management-dialog .id-card-icon.icon,
.user-management-dialog .dialog-heading-img,
.user-management-dialog .sent-email-logo,
.bus-reg-btn .next-arrow,
.bus-reg-btn-2 .next-arrow,
.bus-reg-featureImg100,
.bus-confirm-body .bus-confirmImg,
.user-management-account-settings .setting-icon24,
.user-management-dialog .icon102,
.user-management-storage .img,
.user-management-transfer .img,
.card-container .dialog-heading-img,
.user-management-dialog .icon102,
.user-management-storage .img,
.user-management-transfer .img {
    background-image: url(../images/mega/big-icons_v5@2x.png);
    background-size: 192px auto;
}
.user-management-account-settings .invoice-detail .mega-logo, .user-management-account-settings .icon12 {
    background-image: url(../images/mega/invoice-image_v1@2x.png);
    background-size: 120px auto;
}

.bus-reg-checkbox.checkOn::before {
    background-image: url(../images/mega/top-login-sprite_v11@2x.png);
}
.bottom-page.large-icon, .cropped-page .bottom-page.big-icon, .cropped-page .bottom-page.top-title::before, .mobile-apps-button.uwp,.uwp .advertise-chat .mobile-apps-button.red span::before, .megaapp-linux-arrow, .megaapp-linux .default-select, .bottom-page-icon.white-info, .dark-notification-arrow, .bottom-page.icon.new-pages-sprite, .bottom-page.top-title::before {
    background-image: url(../images/mega/new-pages-sprite_v6@2x.png) !important;
    background-size: 376px auto;
}
.auth-app-select-tooltip .app-link-icon, .auth-app-select-tooltip .app-link-arrow {
    background-image: url(../images/mega/2fa-auth-apps@2x.png);
    background-size: 72px auto;
}
.improved-recovery-steps .recover-image, .improved-recovery-steps .session-image-block, .improved-recovery-steps .recover-button.yes::after, .improved-recovery-steps .recover-button.no::after, .tooltip-block .minimum-password-block .password-icon, .recoveryKey .toast-icon {
    background-image: url(../images/mega/recover-account-sprite_v1@2x.png);
    background-size: 344px auto;
}
.background-cloud-img {
    background-image: url("../images/mega/cloud-background@2x.png");
    background-size: 512px auto;
}
.register-side-pane.top-block, .register-side-pane.top-bg, .big-illustration {
    background-image: url(../images/mega/register-sprite_v3@2x.png);
    background-size: 612px auto;
}
.register-page .slider-ctrl-button {
    background-image: url(../images/mega/business@2x.png) !important;
    background-size: 367px auto;
}

/* Context-sprite */
.context-sprite, i.context-sprite {
    background-image: url(../images/mega/context-sprite_v2@2x.png);
    background-size: 217px auto;
}

.bottom-page.about-sprite, i.bottom-page.about-sprite {
    background-image: url(../images/mega/about-sprite_v2@2x.png) !important;
    background-size: 525px auto;
}
}
