@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {

    body.pro::after {
        content: url(../images/mega/payment-animation@2x.gif);
    }
    .bitcoin-invoice-dialog .qr-code-mega-icon,
    .mega-dialog.bitcoin-invoice-dialog .clock-icon,
    .payment-result-icon {
        background-image: url(../images/mega/bitcoin@2x.png);
        background-size: 200px auto;
    }
    .provider-icon {
        background-image: url(../images/mega/payment-provider-icons@2x.png);
        background-size: 20px auto;
    }
    .mega-dialog.cancel-subscription-st2 .blue-success-icon {
        background-image: url(../images/mega/bitcoin@2x.png);
        background-size: 200px auto;
    }
    .icoming-call-button {
        background-image: url(../images/mega/chat-sprite@2x.png?v=2);
        background-size: 72px auto;
    }
    .top-context-close {
        background-image: url(../images/mega/context-top@2x.png);
        background-size: 27px auto;
    }
    .download-sprite,
    .download-dialog-icon,
    .download-user-icon,
    .new-download-sync-app,
    .new-download-red-button,
    .mega-list-arrow,
    .megasync-logo,
    .megasync-table table th span,
    .megasync-table table td span,
    .default-dropdown-item.icon,
    .camera-bottom-icon,
    .camera-top-icon,
    button.download-button.down-arrow,
    button.download-button.to-clouddrive,
    .download-icon,
    .download.error-text.na-icon,
    .download.error-text.cross-icon,
    .download.error-text.error-icon,
    .megasync-info-arrow,
    .megasync-dark-logo,
    .megasync-icon,
    .download.error-big-icon {
        background-image: url(../images/mega/download-sprite@2x.png);
        background-size: 257px auto;
    }
    .top-login-input-block,
    .top-login-tooltip-arrow,
    .password-tooltip-arrow,
    .login-register-input,
    .register-st2-button,
    .register-st2-button-arrow,
    .password-status-icon,
    .login-forgot-password,
    .checkboxOn::after,
    .checkboxOn::before,
    .checkboxOff::after,
    .contains-value .top-clear-button,
    .account-history-drop-items.active,
    .account-warning-icon,
    .small-icon.membership,
    .dropdown-item.tick-item.active::after,
    .mega-dialog:not(.exceeded) .pro-plan-descr::after,
    .dropdown.close-button,
    .top-clear-button {
        background-image: url(../images/mega/top-login-sprite@2x.png);
        background-size: 48px auto;
    }
    .small-icon.membership.pro100, .tiny-icon.membership-status.pro100, .big-icons-sprite, i.big-icons-sprite {
        background-image: url(../images/mega/big-icons@2x.png);
        background-size: 192px auto;
    }

    .reg-st3-save-icon,
    .resend-email-button,
    .pro-icon,
    .pro-bottom-info-header::before,
    .toast-close-button,
    .small-icon.green-arrow,
    .small-icon.blue-arrow,
    .fm-dialog-close.small,
    .reg-st5-info-icon {
        background-image: url(../images/mega/register-big-sprite@2x.png);
        background-size: 200px auto;
    }
    .widget-circle, .widget-arrows, .widget-icon, .widget-arrow {
        background-image: url(../images/mega/widget-progress@2x.png);
        background-size: 40px auto;
    }
    ul.top-ul li span, ul.mid-ul li span, ul.bot-ul li span, ul.can-ul li span, ul.cannt-ul li span,
    .new-affiliate-star, .affiliate-input-block.select {
        background-image: url(../images/mega/new-affiliate-sprite@2x.png);
        background-size: 1500px auto;
    }
    .contact-us .contact-new-title::before, .contact-us-revamp h1 {
        background-image: url(../images/mega/contact-us-sprite@2x.png);
        background-size: 80px auto;
    }
    .new-left-menu-icon, .dev-short-bl-icon, .dev-new-button, .dev-new-table-icon, .dev-new-app-settings,
    .dev-no-apps-txt, .dev-new-app-big-icon, .new-left-submenu-item, .new-bottom-pages .new-right-content-block li {
        background-image: url(../images/mega/sdk-sprite@2x.png);
        background-size: 904px auto;
    }
    .blog-new-search, .social-icon, .social-arrow, .rss-view-all, .blog-new-forward, .blog-new-back, .blog-plus-sign,
    .blog-minus-sign, .blog-new-arrow, .blog-new-positive, .blog-new-negative, .blog-new-strong-recomend,
    .blog-new-recomend, .blog-new-not-recomend, .blog-pagination-button.to-the-beggining,
    .blog-pagination-button.previous, .blog-pagination-button.to-the-end, .blog-pagination-button.next,
    .fm-breadcrumbs.calendar {
        background-image: url(../images/mega/blog-new-sprite@2x.png);
        background-size: 217px auto;
    }
    .new-left-menu-icon.help-icon, .help-nw .dev-new-button, .help-listing, .help-short-icon {
        background-image: url(../images/mega/help-new-sprite@2x.png);
        background-size: 886px auto;
    }
    .opensource-top-icon, .opensource-icon {
        background-image: url(../images/mega/opensource@2x.png);
        background-size: 100px auto;
    }
    .loading-info li::after {
        background-image: url(../loading-sprite_light@2x.png);
        background-size: 225px auto;
    }
    .theme-dark .loading-info li::after {
        background-image: url(../loading-sprite_dark@2x.png);
    }
    .new-bottom-pages .blog-new-full p.strong-paragraph.new-blog-icon {
        background-image: url(../images/mega/blogs/blog-post-sprite1@2x.png);
        background-size: 36px auto;
    }
    .empty-icon, .fm-empty-cloud-bg, .fm-empty-folder-bg, .fm-empty-conversations-bg, .fm-empty-incoming-bg,
    .fm-empty-contacts-bg, .fm-invalid-folder-bg, .fm-empty-folder-link-bg, .fm-empty-trashbin-bg,
    .fm-empty-transfers-bg, .fm-empty-search-bg, .dialog-empty-icon, .fm-empty-filter-bg {
        background-image: url(../images/mega/empty-sprite@2x.png);
        background-size: 294px auto;
    }
    .blog-new-full ul ul li {
        background-image: url(../images/mega/dev-point-gray-new.png);
        background-size: 39px auto;
    }
    .fm-bandwidth-icon, .fm-bandwidth-dashed {
        background-image: url(../images/mega/quota-sprite@2x.png);
        background-size: 240px auto;
    }
    .backup-download-block, .recover-upload-block, .backup-notification-icon, .restore-uploading-status-icon,
    .login-register-input.fail, .reset-account-lock-image, .login-register-input.green-tick {
        background-image: url(../images/mega/encr-sprite@2x.png);
        background-size: 216px;
    }
    .huge-white-icon, .shared-link.small-icon {
        background-image: url(../images/mega/chat-static-sprite@2x.png);
        background-size: 68px auto;
    }
    .icons-sprite,
    i.icons-sprite,
    i.small-icon.icons-sprite,
    .small-icon.context,
    .download.thumb-hover-icon,
    .small-icon.red-lens,
    .small-icon.red-play,
    .small-icon.small-play-icon,
    .medium-icon.icons-img,
    .semi-big-icon.icons-img,
    .viewer-mid-button,
    .small-icon.clock,
    .files-grid-view.fm .column-settings::before,
    .fm-account-button.megadrop::before,
    .transfer-panel-title span::before,
    .megasync-transfer .toast-col:nth-child(1) span::before,
    .grid-url-arrow::after,
    .file-settings-icon::after,
    .improved-recovery-steps .nav-back-icon,
    .improved-recovery-steps .nav-back-icon,
    .top-search-button,
    .settings-menu-arrow,
    #mega-text-editor .txt-editor-download-btn .txt-editor-download-btn-icon,
    .mega-dialog.resume-transfer .resume-transfers-button .icon {
        background-image: url(../images/mega/icons-sprite@2x.png);
        background-size: 262px auto;
    }
    #help2-main .ui-autocomplete .client, #help2-main .ios-desktop-icon, #help2-main .windows-desktop-icon,
    #help2-main .linux-desktop-icon, #help2-main .webclient-icon {
        background-image: url(../images/mega/help2/welcome_icons@2x.png);
        background-size: 250px auto;
    }
    .mid-white-icon,
    .huge-white-icon.achievement,
    .dropdown.transfer-icon,
    .huge-icon.storage-icon,
    .semi-small-icon.rocket,
    .semi-huge-icon.green-tick,
    .semi-big-icon.blue-cloud,
    .semi-big-icon.green-speedometer,
    .achievement-complete::after,
    .big-104px-icon.speedometer,
    .big-icon.almost-full-storage,
    .semi-huge-icon.speedometer,
    .semi-huge-icon.storage {
        background-image: url(../images/mega/account-sprite@2x.png);
        background-size: 172px auto;
    }
    .huge-icon.achievement {
        background-image: url(../images/mega/big-achievements@2x.png);
        background-size: 436px auto;
    }

    .top-sprite, i.top-sprite,
    .logo,
    .languages-dialog .show-more-languages .round-arrow span,
    .notification-txt,
    .nw-bottom-copyrights,
    .nw-bottom-social,
    .new-notification-icon,
    .feedback-button,
    .semi-small-icon.grey-mega,
    .semi-small-icon.white-mega,
    .semi-small-icon.yellow-triangle,
    .tiny-icon.membership-status,
    .medium-icon.rocket,
    .tiny-icon.green-tick,
    .tiny-icon.red-cross,
    .megasync-close,
    .improved-recovery-steps .list-point b.megasync-logo,
    i.account-icon,
    .fm-files-search i.search {
        background-image: url(../images/mega/top-sprite@2x.png);
        background-size: 38px auto;
    }
    .download.big-icon, .fm-dialog-close.big, .megasync-img::before, button.megasync-slider::after {
        background-image: url(../images/mega/download-dialog@2x.png);
        background-size: 853px auto;
    }
    .drag-n-drop.header, .drag-n-drop hr, .drag-n-drop.info-block i {
        background-image: url(../images/mega/overlay-sprite@2x.png);
        background-size: 400px auto;
    }
    .dropdown.hint-thumb {
        background-image: url(../images/mega/hints-sprite@2x.png);
        background-size: 660px auto;
    }
    .es .dropdown.hint-thumb {
        background-image: url(../images/mega/hints-sprite-es@2x.png);
    }
    .br .dropdown.hint-thumb {
        background-image: url(../images/mega/hints-sprite-pt@2x.png);
    }
    .cn .dropdown.hint-thumb {
        background-image: url(../images/mega/hints-sprite-cn@2x.png);
    }
    .widget-card .widget-minimise,
    .widget-card .widget-maximise,
    .properties-context-arrow,
    .properties-share-icon,
    .dlkey-dialog .decryption-key .icon,
    .fm-dialog-close,
    .btn-close-dialog,
    .export-links-warning-close,
    .delete-contact.multiple .fm-del-contact-avatar,
    .fm-notification-info p.red::before,
    .export-links-warning-close,
    .shared-with-me.read-only .properties-elements-counter span,
    .shared-with-me.read-and-write .properties-elements-counter span,
    .shared-with-me.full-access .properties-elements-counter span,
    .full-access .context-menu-icon,
    .read-and-write .context-menu-icon,
    .read-only .context-menu-icon,
    .multiple-input-warning .arrow,
    .duplicated-input-warning .arrow,
    .share-pending-arrow,
    .email .search-avatar::after,
    .gmail .search-avatar::after,
    .gmail .avatar-wrapper::after,
    .email .avatar-wrapper::after,
    .pending .search-avatar::after,
    .pending-indicator::after,
    .share-search-result.selected,
    .add-user-icon,
    .import-contacts-link span,
    .file-link-block .icon,
    .information-icon,
    .information-icon div span,
    .share-dialog-icon.permissions-icon span,
    .fm-dialogs-select span,
    .fm-dialogs-dropdown span,
    .share-dialog-remove-button,
    .import-contacts-service.imported,
    .import-contacts-service span,
    .import-contacts-info,
    .import-contacts-info-txt .import-arrow,
    .imported-notification-close,
    .bandwidth-text-bl .star,
    .bandwidth-back-button,
    .embed-content .tab-icon.url,
    .embed-content .tab-icon.embed,
    .bottom-info.fm-dialog-close:not(.mobile),
    .dialog-sprite,
    i.dialog-sprite,
    .mega-dialog.share-add-dialog .chat-contactspicker-no-contacts.searching .fm-empty-contacts-bg {
        background-image: url(../images/mega/dialog-sprite@2x.png);
        background-size: 160px auto;
    }
    .tiny-icon,
    .semi-small-icon,
    .small-icon,
    .medium-icon,
    .semi-big-icon,
    .big-icon,
    .huge-icon,
    .huge-grey-warning,
    .round-icon,
    .call-icon,
    .verified .verified_icon,
    button.icon-dropdown:not(.disabled):hover,
    button.icon-dropdown.active,
    div.message.richpreview.confirmation-icon,
    div.chat-topic-icon::before,
    button.chat-share-nav::before,
    div.chat-topic-icon::before,
    button.chat-share-nav::before,
    .chat-topic-block.privateChat .privateChatDiv,
    .privateChat + .privateChatDiv {
        background-image: url(../images/mega/new-chat-sprite@2x.png);
        background-size: 237px auto;
    }
    .invitation-dialog .table-cell span.desc,
    .invitation-dialog .table-cell span.asc,
    .tiny-icon.cog,
    .big-icon.cloud,
    .big-icon.speedometer,
    .semi-big-icon.cloud-up,
    .semi-big-icon.cloud-down,
    .medium-icon.cloud,
    .medium-icon.speedometer,
    .small-icon.grey-plus:not(.icons-sprite),
    .semi-small-icon.file,
    .semi-small-icon.folder,
    .semi-small-icon.left-arrow,
    .semi-small-icon.right-arrow,
    .semi-small-icon.rubbish,
    .semi-small-icon.rubbish-arrows,
    .semi-small-icon.linked,
    .semi-small-icon.star,
    .semi-small-icon.cloud,
    .semi-small-icon.down-arrow,
    .semi-small-icon.left-arrow-with-dot,
    .semi-small-icon.circle,
    .semi-big-icon.cloud,
    .semi-big-icon.speedometer,
    .semi-small-icon.tick,
    .semi-small-icon.dots,
    .semi-small-icon.rounded-arrow,
    .semi-small-icon.exclamation-point,
    .small-icon.folder-upload:not(.context),
    .small-icon.import-to-cloud,
    .small-icon.download-as-zip:not(.context),
    .small-icon.pause-icon,
    .small-icon.play-icon,
    .small-icon.refresh-icon,
    .free .fm-right-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,
    .free .fm-right-account-block:not(.active-achievements) .bandwidth .chart.data .perc-txt,
    .no-percs .chart.data .perc-txt,
    .nw-fm-tree-item.contains-folders .nw-fm-arrow-icon,
    .fm-add-user-scrolling .nw-contact-item,
    .fm-dialog-search,
    .verified .nw-contact-verified-icon,
    .nw-verified-icon,
    .share-dialog-panel-arrows,
    .arrow.desc.grid-header-star,
    .arrow.asc.grid-header-star,
    .grid-status-icon.star,
    .clear-transfer-icon::after,
    .fm-breadcrumbs.has-next-button,
    .create-folder-size-icon,
    .add-user-size-icon,
    .fm-share-dropdown,
    .share-dialog-icon.permissions-icon,
    .context-top-arrow,
    .context-bottom-arrow,
    .sorting-menu-item.active,
    .sorting-menu-item.selected,
    .redeem-voucher .notification-arrow,
    .star .incoming-contact-info span.incoming-call-name,
    .fm-mega-dialog-size-icon,
    .transfer-bar-overlay div,
    .fm-account-button::before,
    .small-icon.fm-s,
    .notification-accepted,
    .fm-picker-dialog .icon,
    .semi-big-icon.grnt-quota,
    .semi-big-icon.xscheduler,
    .big-icon.fm-s,
    .achievements-cell .medium-icon.remind-icon,
    .fm-right-account-block .icon,
    .fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .up-control,
    .fm-right-account-block .dialog-input-title-ontop .birth-arrow-container .down-control,
    .fm-right-account-block .tooltip-icon .medium-icon.info-icon,
    .content-panel.dashboard .small-icon.info-icon,
    .nw-fm-left-icon.affiliate::after,
    .fm-s {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .verify-ph-bonus-valid-days .valid-days-title::before, .mega-dialog.verify-phone .achievements-icon {
        background-image: url(../images/mega/mid-achievements@2x.png);
        background-size: 380px auto;
        background-repeat: no-repeat;
    }

    /*business icon start from here*/
    .fm-files-view-icon-user-management {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .user-management-overview-bar-data .info-block .icon {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .subaccount-view-used-data .used-storage-info .folder-small-icon {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share,
    .subaccount-view-used-data .used-storage-info .folder-small-icon.ex-in-share,
    .user-management-view .subaccount-view-used-data .used-storage-info .folder-small-icon.ex-out-share,
    .fm-right-header-user-management .folder-small-icon.ex-out-share,
    .user-management-dialog .folder-small-icon.ex-out-share,
    .business-dashboard .folder-small-icon.ex-out-share,
    .bus-reg-icon {
        background-image: url(../images/mega/top-sprite@2x.png);
        background-size: 38px auto;
    }
    .share-dialog-top-body .copy-link-icon {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .fm-right-header-user-management .icon,
    .user-management-dialog .icon,
    .user-management-overview-bar .icon {
        background-image: url(../images/mega/fm-main-sprite@2x.png);
        background-size: 48px auto;
    }
    .bus-reg-featureImg100,
    .bus-confirm-body .bus-confirmImg {
        background-image: url(../images/mega/big-icons@2x.png);
        background-size: 192px auto;
    }
    .user-management-account-settings .invoice-detail .mega-logo, .user-management-account-settings .icon12 {
        background-image: url(../images/mega/invoice-image@2x.png);
        background-size: 120px auto;
    }
    .bottom-page.large-icon,
    .cropped-page .bottom-page.big-icon,
    .cropped-page .bottom-page.top-title::before,
    .mobile-apps-button.uwp,
    .uwp .advertise-chat .mobile-apps-button.red span::before,
    .megaapp-linux-arrow,
    .bottom-page-icon.white-info,
    .dark-notification-arrow,
    .bottom-page.icon.new-pages-sprite,
    .bottom-page.top-title::before {
        background-image: url(../images/mega/new-pages-sprite@2x.png) !important;
        background-size: 376px auto;
    }
    .auth-app-select-tooltip .app-link-icon, .auth-app-select-tooltip .app-link-arrow {
        background-image: url(../images/mega/2fa-auth-apps@2x.png);
        background-size: 72px auto;
    }
    .improved-recovery-steps .recover-image, .improved-recovery-steps .session-image-block,
    .tooltip-block .minimum-password-block .password-icon {
        background-image: url(../images/mega/recover-account-sprite@2x.png);
        background-size: 344px auto;
    }
    .register-sprite,
    .big-illustration {
        background-image: url(../images/mega/register-sprite@2x.png);
        background-size: 612px auto;
    }
    .register-page .slider-ctrl-button {
        background-image: url(../images/mega/business@2x.png) !important;
        background-size: 367px auto;
    }

    /* Context-sprite */
    .context-sprite, i.context-sprite {
        background-image: url(../images/mega/context-sprite@2x.png);
        background-size: 217px auto;
    }
}
