/* S4 activation page in FM */

.s4.fm-activate-section > .body {
    box-sizing: border-box;
    color: var(--mobile-text-primary);
    margin: 0 auto;
    max-width: 1120px;
    padding: 40px;
    text-align: start;
    width: 100%;
}

.s4.fm-activate-section > .body.m-center {
    margin: auto;
}


/* Typo */

.s4.fm-activate-section h3 {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-heading-h1);
    margin: 0;
    padding: 56px 0 0;
    text-align: start;
}

.s4.fm-activate-section h3.pt-4 {
    padding-top: 1rem;
}

.s4.fm-activate-section h3.text-center {
    text-align: center;
}

.s4.fm-activate-section .error-msg {
    color: var(--mobile-text-secondary);
    font-style: italic;
}

.s4.fm-activate-section a.link,
.s4.fm-activate-section .terms a {
    color: var(--mobile-link-primary);
    text-decoration: underline;
}


/* Icons */

.s4.fm-activate-section i.error {
    --icon-size: 40px;
    --mask-color: var(--mobile-support-error);
    margin: 0 auto;
}

.s4.fm-activate-section i.rotate-180 {
    transform: rotate(180deg);
}

.s4.fm-activate-section i.s4-icon {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.s4.fm-activate-section i.icon-glass {
    background-image: url('../images/mega/icons-3d/icon-glass-objects.png');
    background-size: 152px auto;
    height: 200px;
    width: 268px;
}


/* Grids */

.s4.fm-activate-section .grid {
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-gap: 24px;
    margin: 24px 0 0;
    width: 100%;
}

/* Banner */

.s4.fm-activate-section .banner {
    align-items: center;
    background: radial-gradient(29.19% 92.62% at 84.28% 46.59%, rgba(150, 25, 27, 1) 0%, rgba(92, 0, 1, 1) 100%);
    border-radius: 8px;
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    margin: 0;
    padding: 32px;
}

.s4.fm-activate-section .banner .info {
    max-width: 596px;
}

.s4.fm-activate-section .banner h3 {
    color: var(--mobile-text-on-color);
    font: var(--mobile-font-heading-h1);
    line-height: var(--mobile-font-line-height-lg);
    margin: 4px 0 0;
    padding: 0;
}

.en .s4.fm-activate-section .banner h3 {
    max-width: 460px;
}

.s4.fm-activate-section .banner p {
    color: var(--mobile-text-on-color);
    font: var(--mobile-font-caption-large-regular);
    margin: 0;
    padding: 0;
}

.s4.fm-activate-section .banner p.semibold {
    font: var(--mobile-font-caption-large-semibold);
}

.s4.fm-activate-section .banner h3 + p {
    padding: 12px 0 0;
}

.s4.fm-activate-section .banner button {
    cursor: pointer;
    height: 48px;
    margin: 32px 0 0;
}

.s4.fm-activate-section .banner button ~ * {
    margin-inline-start: 10px;
}

.s4.fm-activate-section .banner button.primary:hover {
    background: var(--mobile-button-primary);
}

.s4.fm-activate-section .banner button.outline:hover {
    border: solid 2px var(--mobile-button-outline);
}

.s4.fm-activate-section .banner b {
    display: block;
}

.s4.fm-activate-section .terms {
    color: var(--mobile-text-secondary);
    font: var(--mobile-font-caption-small-regular);
}


/* Products */

.s4.fm-activate-section .grid.border {
    margin: 16px 0 0;
}

.s4.fm-activate-section .grid.border .col {
    border: 1px solid var(--mobile-border-subtle);
    border-radius: var(--mobile-border-radius-medium);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.s4.fm-activate-section .grid.border img {
    width: 32px;
}

.theme-dark .s4.fm-activate-section .grid.border img.invert {
    filter: invert(1);
}

.s4.fm-activate-section .grid.border .header {
    align-items: center;
    background: var(--mobile-surface-1);
    flex: 1 1 auto;
    display: flex;
    padding: 16px;
}

.s4.fm-activate-section .grid.border .header span {
    font: var(--mobile-font-link-large-semibold);
}


.s4.fm-activate-section .grid.border .header * + *,
.s4.fm-activate-section .grid.border a * + * {
    margin-inline-start: 8px;
}

.s4.fm-activate-section .grid.border a {
    align-items: center;
    display: flex;
    padding: 16px;
}

.s4.fm-activate-section .grid.border a span {
    color: var(--mobile-text-primary);
    flex: 1 1 auto;
    font: var(--mobile-font-caption-large-semibold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.s4.fm-activate-section .grid.border a i {
    --mask-color: var(--mobile-icon-secondary);
}

.s4.fm-activate-section .m-guides {
    display: flex;
    justify-content: center;
    margin: 4px 0 0;
}

.s4.fm-activate-section .m-guides a {
    font: var(--mobile-font-copy-semibold);
    padding: 10px;
}


/* Footer */

.s4.fm-activate-section .footer {
    background: var(--mobile-surface-1);
    border-radius: var(--mobile-border-radius-medium);
    font: var(--mobile-font-caption-large-regular);
    margin: 56px 0 0;
    padding: 24px 16px;
}

.s4.fm-activate-section .footer span {
    margin-inline-end: 12px;
}

.s4.fm-activate-section .footer a {
    font: var(--mobile-font-caption-large-semibold);
}
