.searcher-wrapper {
    flex-grow: 1;
}
.mega-header .searcher-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-inline-start: 12px;
}
.topbar-searcher {
    display: flex;
    max-width: 800px;
    width: 100%;
    position: relative;
    z-index: 202;
}
.mega-lite-mode .topbar-searcher {
    display: none;
}
.topbar-searcher form {
    height: 40px;
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    min-width: 280px;
    background-color: var(--mobile-page-background);
}
.topbar-searcher i.search-icon {
    margin-inline-start: 8px;
    --icon-size: 24px;
    --mask-color: var(--mobile-icon-secondary);
}
.topbar-searcher input {
    border: 0;
    background-color: transparent;
    padding: 6px 0;
    padding: 0 8px;
    box-sizing: border-box;
    width: 100%;
    color: var(--stroke-main-inverted);
    font: var(--text-body1);
}
.topbar-searcher button.js-btnclearSearch {
    cursor: pointer;
    margin-inline-end: 4px;
    border: none;
    outline: transparent;
    background-color: transparent;
}
.topbar-searcher input::placeholder {
    color: var(--stroke-main-inverted);
    opacity: 0.3;
}
.topbar-searcher button.js-btnclearSearch i {
    --icon-size: 16px;
    --mask-color: var(--stroke-main-inverted);
}
.topbar-searcher form:not(:focus-within) .expand-on-focus {
    display: none;
}
.topbar-searcher form:focus-within {
    border-color: var(--text-color-high);
}
.topbar-searcher form:focus-within button + input::placeholder {
    opacity: 0;
}
.dropdown-search {
    position: absolute;
    width: calc(100% + 16px);
    z-index: 4;
    background: var(--stroke-main);
    box-shadow: var(--dropdown-shadow);
    padding-top: 56px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    left: -8px;
    top: -27px;
    overflow: hidden;
    min-width: 296px;
}
.dropdown-search.persist {
    display: flex !important;
}
.dropdown-search .dropdown-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* Flex + gap polyfilling */
.dropdown-search > :not(.hidden) ~ .hidden + *,
.dropdown-search .dropdown-section > :not(:first-of-type),
.dropdown-search .dropdown-section > :not(.hidden) ~ .hidden + * {
    margin-top: 24px;
}
.dropdown-search > .hidden + *,
.dropdown-search .dropdown-section > .hidden + * {
    margin-top: 0;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item {
    display: flex;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item:last-child {
    padding-bottom: 0.3rem;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item-filename,
.search-results-item-filename {
    display: flex;
    overflow: hidden;
    place-items: center;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item-filename span,
.search-results-item-filename {
    white-space: pre;
}
.search-results-item-filename .suffix {
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item .dropdown-item-text-medium {
    white-space: nowrap;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item {
    position: relative;
}
.middle-txt {
    color: var(--text-color-high);
    font-weight: bold;
}
.grid-table .middle-txt {
    background-color: var(--badge-search-outline);
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item-location {
    z-index: 10;
    max-width: 50%;
}
.dropdown-search .dropdown-search-results .dropdown-search-results-item-location .location-link {
    color: var(--text-color-blue);
    cursor: pointer;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}
.dropdown-search .dropdown-section.dropdown-tags .dropdown-section-body {
    flex-direction: row;
    padding-inline-start: 17px;
    flex-wrap: wrap;
}
.dropdown-search-results-item-file-icon.thumb .item-type-icon.no-background {
    background: none;
}
