/**
 * CSS for the desktop and mobile toast notifications
 */
.toast-notification {
    width: 100%;
    max-width: 507px;
    position: fixed;
    bottom: 8px;
    left: 50%;
    margin: 0 0 -72px -253px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 4px 12px 52px;
    z-index: 2000;
    color: #666666;
    font-size: 14px;
    font-family: 'LatoWeb', 'source_sans_proregular';
    line-height: 18px;
    -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, bottom 500ms ease-in-out, margin-bottom 500ms ease-in-out;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    visibility: hidden;
}

.toast-notification::before {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.toast-notification.visible {
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-toast-notification: 1;
    opacity: 1;
    visibility: visible;
}
.toast-notification.second {
    margin-bottom: 64px;
    bottom: 16px;
}
.toast-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin: -15px 0 0 0;
    background-image: url(../images/mega/register-big-sprite-v15.png);
    background-position: -85px -860px;
}
.clipboard .toast-icon {
    background-position: -196px -128px;
    background-image: url(../images/mega/icons-sprite_v40@2x.png);
    background-size: 262px auto;
    opacity: 0.74;
}
.settings .toast-icon {
    background-position: -85px -1212px;
}
.upload .toast-icon {
    background-position: -85px -900px;
}
.warning .toast-icon {
    background-position: -85px -1260px;
}
.password .toast-icon {
    background-position: -83px -1664px;
    opacity: 0.54;
}
.recoveryKey .toast-icon {
    background-image: url(../images/mega/recover-account-sprite_v1@2x.png);
    background-size: 344px auto;
    background-position: -168px -708px;
}
.settings .toast-button, .recoveryKey .toast-button {
    display: none;
}
.send-chat .toast-icon {
    background-image: url(../images/mega/top-sprite_v8.png);
    background-position: -82px -151px;
    opacity: 0.6;
}
.toast-body {
    display: table;
    width: 100%;
    position: relative;
}
.toast-col {
    display: table-cell;
    vertical-align: middle;
    font-family: 'source_sans_proregular';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.toast-col:nth-child(1) span {
    display: inline-block;
    vertical-align: middle;
}
.toast-col:nth-child(1) span span {
    color: #999999;
    display: block;
}
.toast-col:nth-child(2) {
    padding: 0 16px 2px 0;
    text-align: right;
    white-space: nowrap;
    width: 0;
    font-size: 0;
}
.toast-notification.short {
    max-width: 358px;
    margin-left: -177px;
}
.short .toast-col:nth-child(2) {
    display: none;
}
.toast-col:nth-child(3) {
    width: 40px;
    height: 40px;
    text-align: right;
}
.toast-close-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../images/mega/register-big-sprite-v15.png);
    background-position: 10px -130px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 14px 0 0;
    vertical-align: middle;
}
.toast-button {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    vertical-align: middle;
    height: 32px;
    padding: 0 12px;
    color: #666666;
    background-color: rgba(0,0,0,0.02);
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 3px 0 1px 8px;
    cursor: pointer;
    position: relative;
}
.toast-button span {
    display: inline-block;
}
.toast-button span:first-letter {
    text-transform: uppercase;
}
.toast-button i {
    vertical-align: top;
    margin: 6px 3px 0 -2px;
}
.toast-button::before, .toast-button::after {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.toast-button::after {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
}
/* QR Toast */
.toast-notification.toast-qr-code {
    width: 480px;
    height: 48px;
    border-radius: 8px;
    background-color: #777777;
    margin-left: -240px;
    margin-bottom: 0px;
    padding-left: 12px;
}
.qr-toast-icon {
    height: 24px;
    width: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    border-radius: 15px;
    float: left;
}
.qr-toast-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    margin-left: 16px;
    margin-top: 3px;
    float: left;
}
.toast-close-button.qr-toast-close {
    background-image: url(../images/mega/icons-sprite_v40.png);
    background-position: -136px -206px;
    margin-top: -4px;
    margin-left: 226px;
    margin-right: 0px;
}
/* */
.second-line-message {
    color: #939DA3;
    font-size: 13px;
    z-index: 9;
    margin-top: 4px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Megasync transfer */
.toast-notification.megasync-transfer {
    width: 720px;
    max-width: 720px;
    margin-left: -360px;
}
.megasync-transfer .toast-icon {
    width: 34px;
    height: 34px;
    margin: -17px 0 0 0;
    background-position: -83px -767px;
}
.megasync-transfer .toast-col:nth-child(1) {
    padding-left: 10px;
}
.megasync-transfer .toast-col:nth-child(1) span::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../images/mega/icons-sprite_v40.png);
    vertical-align: top;
    margin: 2px 9px 0 1px;
    background-position: -198px -1240px;
}
.megasync-transfer.upload .toast-col:nth-child(1) span::before {
    background-position: -228px -1240px;
}
.megasync-transfer.sync .toast-col:nth-child(1) span::before {
    background-position: -200px -351px;
    width: 20px;
    height: 20px;
}
.megasync-transfer .toast-col:nth-child(1) span {
    padding-right: 20px;
}
/* end of Megasync transfer */

/* Mobile*/
.mobile.toast-notification {
    font-size: 14px;
    margin-left: -40%;
    margin-bottom: 48px;
    padding: 0;
    text-align: center;
    width: 80%;
    background-color: rgba(222, 222, 222, 0.8);
    border: 1px solid #ccc;
    color: #555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    max-width: 420px;
}
.mobile.toast-notification::before {
    display: none;
}
.mobile.toast-notification.active {
    opacity: 1;
    visibility: visible;
}
.mobile.toast-notification.top {
	bottom: initial;
	top: 8px;
}
.mobile.toast-notification .toast-icon {
    display: none;
}
.mobile.toast-notification.info .message-body {
    text-align: center;
}
.mobile.toast-notification.success {
    background-color: rgba(222, 222, 222, 0.8);
    border: 1px solid #ccc;
    color: #555;
}

.mobile.toast-notification.error {
    background-color: #9a1c06;
    color: white;
}

.mobile.toast-notification .message-body {
    margin-left: 5px;
    padding: 12px 12px;
    text-align: left;
}

.mobile.toast-notification .toast-alert-icon {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (min-width: 500px) {
    .mobile.toast-notification {
        margin-left: -210px;
    }
}

/* end of Mobile*/

/* Desktop Progress bar */

/*.toast-notification.progress-bar-notification {
    max-width: 520px;
    height: 72px;
    margin: 0 0 -72px -260px;
}

.toast-heading-info {
    width: 40px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 26px;
    background-color: #666;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    font-family: 'LatoWeb', 'source_sans_proregular', Arial;
}*/