.top-head {
    background-color: var(--stroke-grey-2);
    position: relative;
}
.topbar {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    background-color: var(--stroke-main);
    height: 48px;
    padding: 0 16px;
}

.topbar .logo-wrapper {
    align-items: flex-end;
    display: flex;
}

.topbar .logo-wrapper button {
    margin: 0 4px;
}

.bottom-page .topbar .logo-wrapper button {
    margin: 0;
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
}

.topbar .logo {
    --icon-size: 24px;
    background: none;
    height: auto;
    padding: 4px;
    margin: 0;
    width: auto;
}
.topbar .searcher-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 4px;
}
.topbar-searcher {
    max-width: 480px;
    width: 100%;
    min-height: 40px;
    position: relative;
    z-index: 202;
}
.topbar-searcher form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 32px;
    border-radius: 18px;
    background: var(--surface-grey-6);
}
.topbar-searcher form:not(#mini-search-fake-form) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    background: var(--surface-grey-6);
    width: 480px;
    border-radius: 18px;
    position: absolute;
    margin: 8px 0;
    z-index: 5;
}
.topbar-searcher i {
    --icon-size: 24px;
    --mask-color: var(--icon-inactive);
}

.topbar-searcher i.search-icon {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
}
.topbar-searcher input {
    border: 0;
    background-color: transparent;
    padding: 6px 0;
    margin: 0 16px;
    box-sizing: border-box;
    width: 100%;
    color: var(--stroke-main-inverted);
    font: var(--text-body1);
}
.topbar-searcher button {
    cursor: pointer;
    -webkit-margin-end: 4px;
    margin-inline-end: 4px;
    border: none;
    outline: transparent;
    background-color: transparent;
}
.topbar-searcher input::placeholder {
    color: var(--stroke-main-inverted);
    opacity: 0.3;
}
.topbar-searcher button i {
    --icon-size: 16px;
    --mask-color: var(--stroke-main-inverted);
}
.dropdown-search {
    position: absolute;
    width: 496px;
    z-index: 4;
    background: var(--stroke-main);
    box-shadow: var(--dropdown-shadow);
    padding-top: 56px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 -8px;
}
.dropdown-search.persist {
    display: flex !important;
}
.dropdown-search .dropdown-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.dropdown-section .dropdown-section-clear {
    color: var(--stroke-info)
}
.dropdown-section .dropdown-section-item {
    display: flex;
    width: 496px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}
.dropdown-section-header {
    display: flex;
    width: 100%;
    justify-content: center;
}
.dropdown-section-header .dropdown-section-header-contents {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 13px;
}
.dropdown-section-header-text {
    color: var(--text-color-medium);
}
.dropdown-section-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--text-color-high);
}
.dropdown-section-body .dropdown-section-body-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 48px;
    padding: 2px 13px 2px 17px;
    gap: 8px;
}
.dropdown-section-body .dropdown-section-body-item:hover {
    background: var(--stroke-grey-2);
}
.dropdown-recently-searched-item .dropdown-recently-searched-item-text {
    max-width: 430px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dropdown-recent-item-delete-icon {
    --icon-size: 16px !important;
    --mask-color: var(--icon-rest) !important;
}
.dropdown-item-file {
    display: flex;
}
.dropdown-item-text-medium {
    color: var(--text-color-medium);
}
.dropdown-no-recents {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.dropdown-no-recents i {
    --icon-size: 96px !important;
}
.dropdown-no-recents .dropdown-no-recents-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.dropdown-no-recents .dropdown-no-recents-content-header {
    color: var(--text-color-high);
    font: var(--text-h2);
    font-weight: 700;
}
.dropdown-no-recents .dropdown-no-recents-content-text {
    color: var(--text-color-high);
    font: var(--text-body1);
    font-weight: 400;
    line-height: 30px;
}
/* mini search */

.topbar .mini-search {
    -webkit-margin-end: 16px;
    margin-inline-end: 16px;
    overflow: hidden;
    position: relative;
}

.topbar .mini-search button {
    cursor: pointer;
    flex-shrink: 0;
    height: 32px;
    margin: 0;
    padding: 4px;
    width: 32px;
}

.topbar .mini-search .topbar-mini-search {
    padding: 4px;
}

.topbar .mini-search .topbar-mini-search-close {
    height: 32px;
    position: relative;
    width: 32px;
}

.topbar .mini-search .topbar-searcher {
    background: transparent;
    display: flex;
    align-items: center;
    transition: background-color 350ms, width 350ms;
    width: 32px;
    height: 32px;
    border-radius: 50px !important;
    min-height: 32px;
}

.topbar .mini-search button i::before {
    transition: color 350ms;
    --mask-color: var(--icon-rest);
}

.topbar .mini-search button:hover i::before {
    --mask-color: var(--icon-active);
}

.topbar .mini-search .topbar-searcher form {
    flex-shrink: 0;
    overflow: hidden;
    width: 168px;
}

.topbar .mini-search .topbar-searcher input {
    margin: 0 12px;
}

/* highlighted state */

.topbar .mini-search.highlighted .topbar-searcher {
    background: var(--surface-grey-6);
}

.topbar .mini-search.highlighted .topbar-mini-search i::before {
    --mask-color: var(--icon-inactive);
}

/* active state */

.topbar .mini-search.active .topbar-mini-search {
    pointer-events: none;
}

.topbar .mini-search.active .topbar-searcher {
    width: 200px;
}

/* has a valid input state */

.topbar .mini-search form .valid,
.topbar .mini-search form .invalid {
    backface-visibility: hidden;
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: transform 350ms, opacity 350ms;
}

.topbar .mini-search form.valid .valid,
.topbar .mini-search form .invalid {
    transform: rotateZ(0);
    opacity: 1;
}

.topbar .mini-search form .valid {
    transform: rotateZ(-180deg);
    opacity: 0;
}

.topbar .mini-search form.valid .invalid {
    transform: rotateZ(180deg);
    opacity: 0;
}

/* end mini search */

.topbar .fmdb-loader {
    display: inline-block;
    margin: 4px 24px;
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 100ms;
}
.fmdb-working .topbar .fmdb-loader {
    animation: rotate 1.5s linear infinite;
    animation-timing-function: steps(12, end);
    opacity: 1;
}
.fmdb-working .topbar .fmdb-loader::after {
    content: '';
    top: -1px;
    background: transparent;
    display: block;
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: 2px solid var(--stroke-main);
}
.topbar-links {
    align-items: center;
    display: flex;
    height: 32px;
    position: relative;
}

.topbar-links > .dropdown {
    align-items: center;
    display: flex;
    height: 100%;
}

/* Icon Button */

.topbar .btn-icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: transparent;
    margin: 0;
    -webkit-margin-end: 20px;
    margin-inline-end: 20px;
    padding: 4px;
    transition: margin 0.2s ease-in-out;
}

.topbar .btn-icon:last-child {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}

.topbar .btn-icon.menu-open {
    -webkit-margin-start: 220px;
    margin-inline-start: 220px;
}
.topbar-links .btn-icon i,
.topbar .btn-icon i {
    --icon-size: 24px;
    vertical-align: middle;
}
.topbar .btn-icon i.sprite-fm-mono,
.topbar-links .btn-icon i.sprite-fm-mono {
    --mask-color: var(--icon-active);
}

/*
 * Icon Buttons separator.
 * Hidden by default, but visible is aany previous element if shown.
 * Should have common wrappper with element, whicch are separated
*/

.topbar :not(.topbar-links) hr,
.topbar .top-change-language.hidden + hr {
    display: none;
}
.topbar hr {
    background-color: var(--divider-color);
    border: 0;
    content: '';
    height: calc(100% - 8px);
    margin: 0;
    -webkit-margin-end: 20px;
    margin-inline-end: 20px;
    width: 1px;
}
.topbar :not(.topbar-links) *:not(.hidden) ~ hr {
    display: block;
}

/* Top  bar Avatar and presence status */

.topbar-links .btn-icon .avatar-wrapper {
    float: none;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    width: 24px;
}

.topbar-links .btn-icon .small-rounded-avatar img {
  width: 24px;
  height: 24px;
}

.topbar .btn-icon .activity-status-block {
    margin: 0;
    -webkit-margin-start: 15px;
    margin-inline-start: 15px;
    position: absolute;
    top: 1px;
    z-index: 5;
}

/* Icon badge. Used in notification button */

.icon-badge {
    background-color: var(--secondary-red);
    font-size: 12px;
    color: var(--text-color-white-higher);
    text-align: center;
    width: auto;
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 17px;
    display: inline;
    line-height: 14px;
    padding: 1px 4px 0;
}
.topbar .activity-status.top::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    display: block;
    z-index: 10;
    left: -3px;
    top: -3px;
}
.topbar .dropdown {
    line-height: 0;
    position: relative;
}

.topbar .dropdown-content {
    display: none;
    position: absolute;
}
.topbar .dropdown.show .dropdown-content {
    display: block;
    right: -10px;
}
.topbar .dropdown-arrow {
    right: -30px;
    top: 40px;
    width: auto;
}
.topbar .dropdown-arrow::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background: var(--arrow-color, var(--surface-main));
    border-bottom: 1px solid var(--stroke-grey-2);
    border-right: 1px solid var(--stroke-grey-2);
    z-index: 123;
    transform: rotateZ(-135deg);
    top: -7px;
    right: 38px;
}
.topbar .top-login-popup.dropdown-arrow::before {
    right: 80px;
}
.topbar .account-dialog {
    width: auto;
}
.topbar .dropdown.account .dropdown.popup {
    width: 312px;
    padding: 0;
}
.topbar .account-dialog .header {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 8px;
}
.topbar .account-dialog .body {
    top: 10px;
}
.account-avatar .small-rounded-avatar {
    height: 64px;
    width: 64px;
    border-radius: 8px;
}
.topbar .account-dialog .account-info {
    flex-grow: 1;
    -webkit-margin-start: 16px;
    margin-inline-start: 16px;
    display: flex;
    flex-direction: column;
}
.topbar .activity-status-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.topbar .account-dialog .account-info .activity-status-block{
    position: relative;
    left: 0;
    margin: 0;
    width: min-content;
}
.topbar .account-dialog .account-info .name {
    color: var(--text-color-higher);
    font: var(--text-h3);
    letter-spacing: 0;
    line-height: 24px;
 }
.topbar .account-dialog .account-info .email {
    opacity: 0.7;
    color: var(--text-color-higher);
    font: var(--text-body1);
    letter-spacing: 0;
    line-height: 20px;
 }
.topbar .account-dialog .account-info .name,
.topbar .account-dialog .account-info .email {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.topbar .account-dialog .account-info .activity-text {
    opacity: 0.7;
    color: var(--text-color-higher);
    font: var(--text-body1);
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 5px;
 }
.topbar .account-dialog ul.links {
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
    width: 100%;
}
.topbar .account-dialog ul.links li {
    font: var(--text-body1);
    margin: 0 8px;
    position: relative;
}
.topbar .account-dialog ul.links li button {
    --mask-color: var(--icon-rest);
    align-items: center;
    display: flex;
    padding: 8px;
    width: 100%;
    text-align: left;
    color: var(--text-color-medium);
    border-radius: 4px;
    font: var(--text-body1);
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    transition: var(--transition-color), var(--transition-bg-color);
    margin: 0;
    float: none;
    box-sizing: border-box;
}
.topbar .account-dialog ul.links li button:hover,
.topbar .account-dialog ul.links li button.active {
    --mask-color: var(--icon-active);
    background: var(--surface-grey-2);
    color: var(--text-color-high);
    opacity: 1;
}
.topbar .account-dialog ul.links li button span {
    flex: 1;
}
.rtl .topbar .account-dialog ul.links li button span {
    flex: unset;
}
.topbar .account-dialog ul.links li button > i {
    --icon-size: 16px;
     -webkit-margin-end: 8px;
    margin-inline-end: 8px;
    transition: var(--transition-color);
}
.topbar .account-dialog ul.links li button > span + i {
    --icon-size: 16px;
    margin: 0;
     -webkit-margin-start: 8px;
    margin-inline-start: 8px;
}
.topbar .account-dialog ul.links li button.feedback.highlight {
    color: var(--secondary-blue);
}
.rtl .topbar .account-dialog ul.links li button > span + i {
    transform: rotate(180deg);
}
.topbar .account-dialog ul.links li .status-dropdown {
    position: relative;
    display: block;
}
.topbar .account-dialog ul.links li .status-dropdown .dropdown-content {
    display: none;
    position: absolute;
    left: -242px;
    top: -24px;
    width: 242px;
    z-index: 1;
    padding: 19px;
    background: var(--surface-main);
    border-radius: 24px;
    border: var(--dropdown-border);
    min-width: 160px;
    min-height: 32px;
    box-sizing: border-box;
    box-shadow: var(--dropdown-shadow);
  }
.topbar .account-dialog ul.links li .status-dropdown:hover .dropbtn {
    background-color: var(--stroke-grey-2);
    color: var(--text-color-high);
}
.topbar .account-dialog ul.links li .status-dropdown:hover .dropdown-content {
    display: block;
}
.topbar .account-dialog ul.links li.separator {
    height: 1px;
    margin: 8px 0;
    background-color: var(--divider-color);
}
.topbar .notification-popup .fm-notifications-bottom {
    padding: 12px 20px 16px;
    justify-content: flex-end;
    border-top: 1px solid var(--divider-color);
}
.topbar .top-warning-popup .fm-notifications-bottom {
    border-top: none;
    padding: 24px 0 0;
    justify-content: flex-end;
}
.topbar .notification-popup .notification-txt {
    background: none;
}
.topbar .dropdown.top-login-popup {
    position: absolute;
    top: 62px;
    right: 10px;
    min-width: 160px;
    min-height: 32px;
}
.topbar .dropdown.top-login-popup .dropdown-white-arrow{
    left: auto;
    right: 79px;
    top: -11px;
}
.topbar .top-icon.pass-reminder {
    width: 24px;
    height: 24px;
    padding: 0;
    -webkit-margin-end: 14px;
    margin-inline-end: 14px;
    -webkit-margin-start: 6px;
    margin-inline-start: 6px;
    position: relative;
    top: -6px;
}
.topbar .top-icon.pass-reminder i {
    width: 100%;
    height: 100%;
}
.topbar .top-icon.pass-reminder::before {
    content: none;
}
/* Change top language button */

.topbar .top-change-language {
    padding: 4px 0;
}

.top-change-language-name {
    color: var(--text-color-high);
    font: var(--text-body1-bold);
    -webkit-padding-start: 4px;
    padding-inline-start: 4px;

    /* stylelint-disable-next-line property-disallowed-list */
    text-transform: uppercase;
    vertical-align: middle;
}

/* mega-buttons in top bar */

.top-buttons button {
    margin: 0;
    min-width: 68px;
    display: inline-block;
}

.top-buttons button:not(.hidden) + button {
    -webkit-margin-start: 12px;
    margin-inline-start: 12px;
}

.top-head .top-buttons {
    display: flex;
    -webkit-margin-end: 16px;
    margin-inline-end: 16px;
}

.top-head .top-buttons.business {
    display: none;
    position: relative;
}

.business .top-head .top-buttons {
    display: none;
}

.business .top-head .top-buttons.business {
    display: block;
}
/* Download Page Topbar changes */
.topbar .logo-full {
    --width: 98px;
    width: 98px;
    height: 32px;
    display: none;
    cursor: pointer;
}
.bottom-page.download .topbar .logo-full {
    display: inline-block;
}
.bottom-page.download .topbar .logo,
.bottom-page.download .topbar .logo-wrapper button,
.active-folder-link .topbar .logo-wrapper button {
    display: none;
}

@media only screen and (max-width: 625px) {
    .topbar {
        align-items: center;
        height: 64px;
    }
}
