#mega-text-editor {
    width: 100%;
    height: 100%;
    background-color: rgba(213,218,220,0.95);
}
#mega-text-editor .editor-textarea-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 800px;
    max-width: 99%;
}
#mega-text-editor #text-editor-textarea {
    width: 100%;
    height: calc(100% - 48px);
}
#mega-text-editor .disability-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 10000;
}
#mega-text-editor .CodeMirror {
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    border-top: none;
}
#mega-text-editor .editor-textarea-container .editor-btn-container {
    background-color:#FAFAFA;
    height: 48px;
}
#mega-text-editor .CodeMirror-gutters{
    background-color: white;
    border-color: white;
}
#mega-text-editor .CodeMirror-linenumber {
    color: #2BA6DE;
    font-size: 12px;
    font-family: 'source_code_proregular';
    padding: 1px 8px 0 5px;
}
.CodeMirror-line::selection{
    background: #D6F1CC;
}

#mega-text-editor .CodeMirror-selected {
    background: #D6F1CC;
}
#mega-text-editor .CodeMirror-focused .CodeMirror-selected {
    background: #D6F1CC;
}
#mega-text-editor .CodeMirror-line::selection,
#mega-text-editor .CodeMirror-line > span::selection,
#mega-text-editor .CodeMirror-line > span > span::selection {
    background: #D6F1CC;
}
#mega-text-editor .CodeMirror-line::-moz-selection,
#mega-text-editor .CodeMirror-line > span::-moz-selection,
#mega-text-editor .CodeMirror-line > span > span::-moz-selection {
    background: #D6F1CC;
}
#mega-text-editor .CodeMirror-gutter {
    padding-left: 20px;
    padding-right: 1px;
}
#mega-text-editor .CodeMirror-gutter-elt {
    padding-left: 20px;
    padding-right: 1px;
}
#mega-text-editor .editor-btn-container {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#mega-text-editor .top-menu-content {
    padding: 12px 0 24px 0;
}
#mega-text-editor .top-menu-item {
    padding-right: 10px;
    padding-left: 17px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'source_sans_prosemibold';
    line-height: 21px;
    min-height: 32px;
    color: #333;
    padding: 5px 10px 5px 17px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-left: 2px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}
#mega-text-editor .top-menu-item .right-el {
    float: right;
}
#mega-text-editor .top-menu-item span {
    display: inline-block;
}
#mega-text-editor .top-menu-item .menu-item-shortcut {
    float:right;
    color: #999999;
}
#mega-text-editor .editor-file-name-title {
    height: 24px;
    width: 408px;
    text-align: center;
    margin: 11px auto 0 auto;
}
#mega-text-editor .transfer-filetype-icon {
    position: initial;
    display: inline-block;
}
#mega-text-editor .txt-editor-file-name span {
    user-select: text;
}
#mega-text-editor .txt-editor-file-name {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    font-family: 'source_code_proregular';
    width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#mega-text-editor .txt-editor-opened-f-name {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    padding-bottom: 0;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}
#mega-text-editor .default-green-button, #mega-text-editor .default-white-button {
    display: inline-block;
    min-width: unset;
    margin: 0 4px;
}
#mega-text-editor .default-green-button.hidden, #mega-text-editor .default-white-button.hidden {
    display: none;
}
#mega-text-editor .default-white-button i {
    opacity: 0.8;
    display: inline-block;
}
#mega-text-editor .txt-editor-menu i {
    opacity: 0.7;
    margin: 3px -11px 0px -11px;
}

#mega-text-editor .buttons-holder {
    margin: 7px 4px 0 4px;
    font-size: 0;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    position: absolute;
    background: #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 2px;
}
.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
    position: absolute;
    z-index: 6;
    background: #eee;
}
.CodeMirror-simplescroll-horizontal {
    bottom: 0; left: 0;
    height: 8px;
}
.CodeMirror-simplescroll-horizontal div {
    bottom: 0;
    height: 100%;
}
.CodeMirror-simplescroll-vertical {
    right: 0; top: 0;
    width: 8px;
}
.CodeMirror-simplescroll-vertical div {
    right: 0;
    width: 100%;
}
.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {
    display: none;
}
.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
    position: absolute;
    background: #666666;
    border-radius: 5px;
}
.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {
    position: absolute;
    z-index: 6;
}
.CodeMirror-overlayscroll-horizontal {
    bottom: 0;
    left: 0;
    height: 9px;
}
.CodeMirror-overlayscroll-horizontal div {
    bottom: 0;
    height: 100%;
    -webkit-transition: height 250ms;
    transition: height 250ms;
    cursor:pointer;
}
.CodeMirror-overlayscroll-vertical {
    right: 0;
    top: 0;
    width: 9px;
}
.CodeMirror-overlayscroll-vertical div {
    right: 0;
    width: 100%;
    -webkit-transition: width 250ms;
    transition: width 250ms;
    cursor:pointer;
}
.CodeMirror-overlayscroll-vertical div:hover {
    width: 130%;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}
.CodeMirror-overlayscroll-horizontal div:hover {
    height: 130%;
    -webkit-transition: height 250ms;
    transition: height 250ms;
}
#mega-text-editor .top-menu-popup-editor {
    right: unset;
    top: 8px;
    margin-left: 8px;
    height: unset;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: left 200ms ease-in-out, width 200ms ease-in-out, opacity 200ms ease-in-out;
    display: none;
    width: 190px;
    position: fixed;
    z-index: 1120;
    border: 1px solid rgba(0,0,0,0.1);
}
#mega-text-editor .top-menu-popup-editor::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
#mega-text-editor .top-menu-popup-editor .txt-editor-sp-menu {
    height: 1px;
    opacity: 0.1;
    background-color: #000000;
    position: relative;
    top: 12px;
}
#mega-text-editor .top-menu-divider {
    height: 24px;
    margin: 0;
    background: none;
}
#mega-text-editor .top-menu-item span {
    font-size: 14px;
}