.user-card-presence {
    width: 6px;
    height: 6px;
    margin: 7px 14px 5px 8px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
.fm-chat-user-email {
    display: block;
}
.error.user-card-presence {
    background-color: transparent !important;
    border: 2px solid white;
}
.online.user-card-presence {
    background-color: #13E03C;
    border-color: #13E03C;
}
.away.user-card-presence {
    background-color: #FFA500;
    border-color: #FFA500;
}
.busy.user-card-presence {
    background-color: #EB4444;
    border-color: #EB4444;
}
.offline.user-card-presence {
    background-color: #666666;
    border-color: #666666;
}
.black.user-card-presence {
    background-color: black;
    border-color: black;
    visibility: hidden;
}

.user-card-presence.big {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.user-card-data {
    padding: 0 30px 0 48px;
}
.user-card-data.no-status {
    padding: 0 0 0 50px;
}
.user-card-name {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: var(--text-body1);
    color: var(--text-color-high);
}
button.user-card-name:hover {
    text-decoration: underline;
}
.user-card-name.light {
    color: var(--text-color-high);
    max-width: calc(100% - 40px);
    display: inline-block;
}
.user-card-name .grey {
    color: var(--text-color-medium);
    padding-left: 6px;
}
.user-card-name.white {
    color: white;
}
.user-card-email {
    font-size: 13px;
    line-height: 18px;
    color: #777;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-card-email.small {
    font-size: 12px;
    line-height: 14px;
}
.user-card-name.small {
    font-size: 13px;
    line-height: 19px;
}
.user-card.small {
    font-size: 12px;
    line-height: 14px;
}
.user-card-verified i {
    --icon-size: 14px;
    --mask-color: var(--secondary-blue);
}
.user-card-verified, .verified .verified_icon {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background-color: var(--secondary-blue);
    border-radius: 100%;
    background-image: url("../images/mega/new-chat-sprite.png");
    background-repeat: no-repeat;
    background-position: -7px -1353px;
    box-shadow: 0 0 0 2px var(--badge-border);
    position: absolute;
    display: block;
}
.small-rounded-avatar .user-card-verified, .verified .verified_icon {
    position: absolute;
    z-index: 10;
    right: -3px;
    top: -3px;
}
.short .small-rounded-avatar .user-card-verified {
    position: absolute;
    z-index: 10;
    right: -4px;
    top: -3px;
}
.context-avatar .user-card-verified {
    position: absolute;
    z-index: 10;
    position: absolute;
    left: 8px;
    top: 8px;
}
.verified_icon {
    display: none;
}
.verified .verified_icon {
    display: block;
}
.group-chat .chat-contacts-list .user-card-presence {
    margin-inline-start: 8px;
    -webkit-margin-start: 8px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.group-chat .chat-contacts-list .user-card-name, .right-chat-contact-card .user-card-name {
    display: inline-block;
    max-width: calc(100% - 40px);
    padding-top: 6px;
}
.chat-contacts-list .user-card-data .audio-call {
    margin-top: 5px;
    display: block;
    float: right;
}
.chat-contacts-list .user-card-data .audio-call i {
    --icon-size: 24px;
    --mask-color: var(--icon-inactive);
}
.right-chat-contact-card .user-card-name {
    padding-top: 0;
}
.group-chat .chat-right-pad .user-card-email {
    display: none;
}
.avatar-wrapper.square .verified_icon, .fm-blocks-view .avatar-wrapper .verified_icon {
    right: 8px;
    top: 8px;
}
.user-card-tick-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: var(--checkbox-fill-inactive);
    border: 1px solid var(--checkbox-border-inactive);
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
.rtl .user-card-tick-wrap {
    left: 12px;
    right: unset;
}
.user-card-tick-wrap i {
    margin: 0 0 0 0;
    display:  none;
}
.contacts-info .user-card-tick-wrap + .user-card-data {
    padding-right: 20px;
}
.selected .user-card-tick-wrap {
    background: var(--checkbox-fill-active);
    border: 1px solid var(--checkbox-fill-active);
}
.selected .user-card-tick-wrap i {
    display: block;
    --icon-size: 14px;
    --mask-color: var(--secondary-white);
}
