.user-card-presence {
    width: 6px;
    height: 6px;
    margin: 7px 14px 5px 8px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
.fm-chat-user-email {
    display: block;
}
.error.user-card-presence {
    background-color: transparent !important;
    border: 2px solid white;
}
.online.user-card-presence {
    background-color: #13E03C;
    border-color: #13E03C;
}
.away.user-card-presence {
    background-color: #FFA500;
    border-color: #FFA500;
}
.busy.user-card-presence {
    background-color: #EB4444;
    border-color: #EB4444;
}
.offline.user-card-presence {
    background-color: #666666;
    border-color: #666666;
}
.black.user-card-presence {
    background-color: black;
    border-color: black;
    visibility: hidden;
}

.user-card-presence.big {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.user-card-data {
    padding: 0 30px 0 48px;
}
.user-card-data.no-status {
    padding: 0 0 0 50px;
}
.user-card-name {
    font-size: 14px;
    line-height: 18px;
    color: #222;
    font-family: 'source_sans_prosemibold';
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.user-card-name.button:hover {
    text-decoration: underline;
}
.user-card-name.light {
    color: #333;
    font-family: 'LatoWebSemibold', 'source_sans_prosemibold';
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
    display: inline-block;
}
.user-card-name .grey {
    color: #999999;
    padding-left: 6px;
}
.user-card-name.white {
    color: white;
}
.user-card-email {
    font-size: 13px;
    line-height: 18px;
    color: #777;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-card-email.small {
    font-size: 12px;
    line-height: 14px;
}
.user-card-name.small {
    font-size: 13px;
    line-height: 19px;
}
.user-card.small {
    font-size: 12px;
    line-height: 14px;
}
.user-card-verified, .verified .verified_icon {
    width: 15px;
    height: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    float: left;
    background-image: url(../images/mega/new-chat-sprite_v17.png);
    background-repeat: no-repeat;
    background-position: -36px -1351px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    position: relative;
}
.user-card-verified::before, .verified .verified_icon::before {
    position: absolute;
    content: '';
    display: block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.small-rounded-avatar .user-card-verified, .verified .verified_icon {
    position: absolute;
    z-index: 10;
    right: -5px;
    top: -4px;
}
.short .small-rounded-avatar .user-card-verified {
    position: absolute;
    z-index: 10;
    right: -4px;
    top: -3px;
}
.context-avatar .user-card-verified {
    position: absolute;
    z-index: 10;
    position: absolute;
    left: 8px;
    top: 8px;
}
.verified_icon {
    display: none;
}
.verified .verified_icon {
    display: block;
}
.group-chat .chat-contacts-list .user-card-presence {
    margin: 7px 0 5px 8px;
}
.group-chat .chat-contacts-list .user-card-name, .right-chat-contact-card .user-card-name {
    display: inline-block;
    max-width: calc(100% - 40px);
    padding-top: 6px;
}
.chat-contacts-list .user-card-data .small-icon.audio-call {
    margin-top: 6px;
    display: block;
    float: right;
    opacity: 0.3;
}
.right-chat-contact-card .user-card-name {
    padding-top: 0;
}
.group-chat .chat-right-pad .user-card-email {
    display: none;
}
.avatar-wrapper.square .verified_icon, .fm-blocks-view .avatar-wrapper .verified_icon {
    right: 8px;
    top: 8px;
}
.user-card-tick-wrap {
    width:  24px;
    height:  24px;
    border: 2px solid #EEEEEE;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user-card-tick-wrap i {
    margin: 0 0 0 0;
    display:  none;
}
.contacts-info .user-card-tick-wrap + .user-card-data {
    padding-right: 40px;
}
.selected .user-card-tick-wrap {
    background-color: rgba(0,191,165,0.1);
    border-color: #00BFA5;
}
.selected .user-card-tick-wrap i {
    display: block;
}
