/* Account -> Referra; Prorgamme. Ex. Affiliate */

/* Dashboard page */

.account-referral-program {
    color: var(--mobile-text-primary);
}

.account-referral-program .comission-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font: var(--mobile-font-link-small-regular);
    padding: 0 24px;
    width: 100%;
}

.account-referral-program .comission-item {
    align-items: center;
    box-sizing: border-box;
    color: var(--mobile-text-secondary);
    display: flex;
    flex: 1 1 33%;
    flex-direction: column;
    padding: 8px;
    text-align: center;
}

.account-referral-program .comission-item .name {
    color: var(--mobile-text-primary);
    padding-bottom: 10px;
    margin-bottom: auto;
}

.account-referral-program .comission-item .local {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-link-small-semibold);
}

.account-referral-program .nav-elem.button.block {
    height: 47px;
    margin: 16px auto;
}

/* Comission Index tip */

.mega-sheet .referral-comission-info {
    counter-reset: item;
 }

.mega-sheet .referral-comission-info p {
    counter-increment: item;
    margin: 0;
    margin-inline-start: 20px;
    -webkit-margin-start: 20px;
}

.mega-sheet .referral-comission-info p::before {
    content: counter(item)'.';
    font: var(--mobile-font-copy-bold);
    margin-inline-start: -20px;
    -webkit-margin-start: -20px;
    position: absolute;
}

.mega-sheet .referral-comission-info p a {
    color: var(--mobile-text-primary);
    text-decoration: none;
}

.mega-sheet .referral-comission-info p b {
    font: var(--mobile-font-copy-bold);
}

.mega-sheet .referral-comission-info p span {
    display: block;
}

.mega-sheet .referral-comission-info p span.tip {
    padding-top: 8px;
}


/* Distribution page */

/* Tabs component */

.account-referral-tabs {
    width: 100%;
}

.account-referral-tabs .tab-container {
    margin: 16px 24px;
}

.account-referral.tab-content {
    padding: 16px 0;
    width: 100%;
}

/* Empty list */

.account-referral .mega-empty-states .empty-states {
    padding-bottom: 0;
}

.account-referral .mega-empty-states .image .icon {
    height: 120px;
    width: 120px;
}

/* List items  */

.account-referral .list-item {
    align-items: baseline;
    color: var(--mobile-text-primary);
    display: flex;
    font: var(--mobile-font-link-large-regular);
    padding: 16px 24px;
}

.account-referral .list-item img {
    align-self: flex-start;
    display: block;
    width: 32px;
}

.account-referral .list-item > *:not(:last-child) {
    margin-inline-end: 16px;
    -webkit-margin-end: 16px;
}

.account-referral .list-item > .num {
    font: var(--mobile-font-link-small-semibold);
    margin-inline-start: auto;
    -webkit-margin-start: auto;
}
