.dl-access-box {
    display: flex;
    min-height: 100%;
}

.dl-access-box.decrytion-box {
    min-height: auto;
}

.dl-access-box.decrytion-box h2 {
    text-align: start;
    width: 100%;
}

.dl-access-box .input-label {
    font: var(--mobile-font-caption-large-bold);
    margin: 0 0 4px;
}

.file-folder-view {
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-x: visible;
    overflow-y: scroll;
    max-width: var(--mobile-page-max-width);
    margin: 0 auto;
}

.file-folder-view.main-content {
    align-items: center;
    margin: auto;
    text-align: center;
}

.file-folder-view.main-content > *:not(:last-child) {
    margin-bottom: 16px;
}

.file-folder-view .no-content {
    font: var(--mobile-font-copy-regular);
    color: var(--mobile-text-primary);
    text-align: left;
    align-self: stretch;
}

.file-folder-view .no-content > *:not(:last-child) {
    margin: 0 0 16px;
}

.file-folder-view .no-content.folder-file {
    text-align: center;
}

.pfcol-cover {
    height: 175px;
}

.mobile.fm-content .album-title {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-heading-h1);
}

.file-folder-view .no-access,
.empty-states .no-access {
    height: 96px;
    width: 96px;
    background-size: contain;
    border-radius: 4px;
}

.file-folder-view .no-content a {
    color: var(--mobile-link-primary);
    text-decoration: underline;
}

.file-folder-view .no-access.no-access-folder {
    background-image: url("../../images/mobile/folder.png");
}

.file-folder-view .no-access.no-access-file {
    background-image: url("../../images/mobile/file.png");
}

.file-folder-view .no-access.no-access-album,
.empty-states .no-access.no-access-album {
    background-image: url("../../images/mobile/album.png");
}

.file-folder-view .no-access.icon {
    background-image: none;
    --icon-size: 96px;
    color: var(--mobile-support-error);
}

.file-folder-view .no-content ul {
    padding-left: 30px;
}

.file-folder-view .no-content li {
    list-style: disc;
    font: var(--mobile-font-copy-regular);
}

.file-folder-view .no-content p.strong {
    font-weight: 600;
}

.mobile.decrypt-button.nav-elem.normal {
    max-width: var(--mobile-elem-max-width);
    width: 100%;
    min-height: 48px;
}

.decryption-msg {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-copy-regular);
}


/* Stop illegal content error */

.dl-access-box .sn-error {
    display: block;
}

.dl-access-box .sn-error em {
    border: 1px solid var(--mobile-border-strong);
    border-radius: var(--mobile-border-radius-medium);
    color: var(--mobile-text-secondary);
    display: block;
    font: var(--mobile-font-link-small-regular);
    margin: 24px 0 0;
    padding: 16px;
}

.dl-access-box .sn-error em strong {
    display: block;
    color: var(--mobile-text-primary);
    font: var(--mobile-font-caption-large-semibold);
    margin: 0 0 8px;
}

.dl-access-box .sn-error em a {
    display: inline-block;
    font: var(--mobile-font-link-small-regular);
    margin: 16px 0 0;
}
