.mega-bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    border-top: 1px solid var(--mobile-border-strong);
    background: var(--mobile-page-background);
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mega-bottom-bar .text-actions,
.mega-bottom-bar .icon-actions {
    display: flex;
    align-items: flex-start;
}

.mega-bottom-bar > *:not(:first-child),
.mega-bottom-bar .text-actions > *:not(:first-child),
.mega-bottom-bar .icon-actions > *:not(:first-child) {
    margin-inline-start: 8px;
    -webkit-margin-start: 8px;
}

.mega-bottom-bar .icon-actions:empty {
    display: none;
}

.mega-bottom-bar .text-actions {
    flex: 1;
}
.mega-bottom-bar.mega-comms {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.mega-bottom-bar.mega-comms .mega-bottom-bar {
    position: relative;
    border: none;
    padding-top: 0;
}
.commercial-wrapper#commercial-wrapper-mwebfolinkb,
.commercial-wrapper#commercial-wrapper-mwebtfolinkb,
.commercial-wrapper#commercial-wrapper-mwebtfilinkb,
.commercial-wrapper#commercial-wrapper-mwebfilinkb {
    padding-bottom: 20px;
}
.commercial-wrapper {
    width: calc(100% + 35px);
    justify-content: center;
}
.mega-comms .mega-bottom-bar {
    position: relative;
}
.commercial-wrapper.tablet {
    display: flex;
    height: 90px;
}
.mega-comms .commercial-wrapper.mobile {
    display: none;
    height: 45px;
    padding-top: 0;
}

@media only screen and (max-width: 769px) {
    .mega-comms .commercial-wrapper.tablet {
        display: none;
    }
}

@media only screen and (max-width: 769px) and (min-width: 370px) {
    .mega-comms .commercial-wrapper.mobile {
        display: flex;
    }
}
