.mega-mobile-settings.notifications {
    background: var(--mobile-page-background);
    padding: 0;
}

.mega-mobile-settings.notifications .section-block:not(:first-of-type) {
    padding-top: 24px;
}

.mega-mobile-settings.notifications .notification-setting-row,
.mega-mobile-settings.notifications .block-title,
.mega-mobile-settings.notifications .block-text {
    padding-left: 24px;
    padding-right: 24px;
}

/*
    TODO: Support for old page, remove when removing
 */
.mega-mobile-settings.notifications .block-title,
.mega-mobile-settings.notifications .block-text {
    color: #666;
}

.mega-mobile-settings.notifications .content-txt {
    color: var(--text-color-medium);
}
