node_modules/**
js/tests/*
js/vendor/**
coverage/**
dont-deploy/**
doc/**
css/**
lang/*
test/*
fonts/*
audio/*
images/*
sounds/*
contrib/*
scripts/*
rsaasm.js
sjcl.js
e10s.js
fileapi.js
aesasm.js
keygen.js
makecache.js
karma.conf.js
nacl-fast.js
js/cmsSnapshot.js
js/chat/bundle.js
js/transfers/meths/firefox-extension.js
contrib/Electron/main.js
*.sh
*.xml
js/chat/emojidata/emojis.json
eslint-local-rules.js
