#rewriteEngine On
#rewriteRule ^([0-z]+)$ index.html
<IfModule mod_headers.c>
#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Headers "uloffset, ulkey"
#Header set Content-Security-Policy "default-src 'self' *.mega.co.nz https://*.mega.co.nz; script-src 'self' mega.co.nz data: blob: 'unsafe-eval'; style-src 'self' 'unsafe-inline' *.mega.co.nz data: blob:; frame-src 'self' mega:; img-src 'self' *.mega.co.nz data: blob:"
</IfModule>