.m-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 149;
}

.m-menu-select .dropdown-item i {
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.nw-fm-tree-arrow.rot-90::before {
    transform: rotate(90deg);
}

.ml-1 {
    margin-left: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-16 {
    margin-top: 4rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.m-dropdown-item {
    font-family: LatoWebBold, Arial, sans-serif;
    --mask-color: var(--icon-rest);
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--text-color-higher);
    cursor: pointer;
    display: flex;
    height: 32px;
    font-size: 14px;
    padding: 0 8px;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    text-overflow: ellipsis;
    text-align: initial;
    transition: var(--transition-color), var(--transition-bg-color);
    white-space: nowrap;
}

.m-dropdown-item-label {
    font-size: 12px;
}

.content-visibility-auto {
    content-visibility: auto;
}

.text-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-justify-between {
    justify-content: space-between;
}
