/**
 * These styles are for the new Info panel on the right of the Cloud Drive when Info is selected on a folder/file.
 *
 * File manager layout changes if class folder-file-info-panel is added to the body tag.
 * NB: Based on a fixed panel width of 320px.
 */
 :root {
    --info-panel-width: 320px;
    --info-panel-space: var(--info-panel-width);
}

@media only screen and (max-width: 1200px) {
    :root {
        --info-panel-space: 0;
    }
}
.info-panel-visible .folder-file-info-panel {
    right: 0;
}
.info-panel-visible .files-grid-view .grid-scrolling-table,
.info-panel-visible .device-centre-grid-view .grid-scrolling-table,
.info-panel-visible .out-shared-grid-view .grid-scrolling-table,
.info-panel-visible .fm-blocks-view,
.info-panel-visible .out-shared-blocks-view,
.info-panel-visible .fm-blocks-view .file-block-scrolling,
.info-panel-visible .out-shared-blocks-view .out-shared-blocks-scrolling,
.info-panel-visible .shares-tabs-bl,
.info-panel-visible .shared-blocks-scrolling,
.info-panel-visible #media-tabs {
    max-width: calc(100% - var(--info-panel-space));
}
.info-panel-visible .files-grid-view .grid-scrolling-table.ps,
.info-panel-visible .device-centre-grid-view .grid-scrolling-table.ps,
.info-panel-visible .out-shared-grid-view .grid-scrolling-table.ps {
    min-width: initial;
}
.info-panel-visible .selection-status-bar,
.info-panel-visible .fm-right-files-block.emptied .fm-empty-section,
.info-panel-visible .section.conversations,
.info-panel-visible .in-chat .meetings-call,
.info-panel-visible .in-chat .stream-controls,
.info-panel-visible .in-chat .stream-head,
.info-panel-visible #albums-view {
    width: calc(100% - var(--info-panel-space));
}
.info-panel-visible .media-viewer-container {
    width: calc(100% - var(--info-panel-width));
    min-width: calc(768px - var(--info-panel-width));
}
.info-panel-visible .fm-right-header .fm-header-buttons,
.info-panel-visible .gallery-view,
.info-panel-visible .notification-banner .banner-contents {
    margin-right: var(--info-panel-space);
}
.info-panel-visible .files-grid-view.fm .column-settings {
    right: var(--info-panel-space);
}
.info-panel-visible .fm-right-header .fm-breadcrumbs-block:not(.hidden) {
    padding-inline-end: 48px;
}
.info-panel-visible .gallery-view .gallery-view-scrolling.ps {
    min-width: initial;
}
.info-panel-visible .fm-notification-block,
.info-panel-visible .onboarding-control-panel {
    margin-right: 344px;
}
.info-panel-visible .shared-details-buttons {
    right: var(--info-panel-space);
}
.info-panel-visible .shared-grid-view .grid-table {
    margin: 0;
    width: calc(100% - var(--info-panel-space));
}
.info-panel-visible .media-viewer button.gallery-btn.next {
    right: var(--info-panel-space);
    transition: none;
}
.info-panel-visible .media-viewer .play-pause-video-button {
    left: calc(50% - 195px);
}
.info-panel-visible .media-viewer .play-video-button {
    left: calc(50% - 200px);
}
.info-panel-visible .media-viewer .watch-again-button {
    left: calc(50% - 228px);
}
.info-panel-visible .folder-file-info-panel.media-viewer-visible,
.info-panel-visible .folder-file-info-panel.meetings-visible {
    top: 0;
}
.info-panel-visible section.fm-recents,
.info-panel-visible .s4-info-header-blocks {
    margin-right: var(--info-panel-space);
}
.info-panel-visible .gallery-tabs-bl,
.info-panel-visible #media-counts {
    max-width: calc(100% - var(--info-panel-space));
    min-width: 0;
    box-sizing: border-box;
}
.info-panel-visible .shared-blocks-scrolling {
    min-width: calc(100% - var(--info-panel-space));
}

/* Right to left e.g. Arabic styles */
.info-panel-visible.rtl .fm-filter-chips-wrapper {
    margin-right: 360px;
}
.info-panel-visible.rtl .folder-file-info-panel .header-title,
.info-panel-visible.rtl .folder-file-info-panel .info-data .description,
.info-panel-visible.rtl .folder-file-info-panel .info-data .value,
.info-panel-visible.rtl .folder-file-info-panel .info-data textarea,
.info-panel-visible.rtl .folder-file-info-panel .info-data input,
.info-panel-visible.rtl .folder-file-info-panel .info-data .node-tags-chips,
.info-panel-visible.rtl .folder-file-info-panel .info-data .dropdown-item {
    direction: rtl;
}
.info-panel-visible.rtl .folder-file-info-panel .close {
    left: 20px;
    right: initial;
}

/* Gif panel position */
.info-panel-visible .meetings-call .sidebar-wrapper
.sidebar.chat-opened .chat-textarea-block .gif-panel-wrapper {
    right: var(--info-panel-space);
}

/* Main styles for the folder/file Info panel */
.folder-file-info-panel {
    height: calc(100% - 65px);
    width: var(--info-panel-width);
    position: absolute;
    top: 65px;
    right: calc(-1 * var(--info-panel-width));
    z-index: 210;
    border-left: 1px solid var(--divider-color);
    transition: 200ms linear;
    overflow: hidden;
    background: var(--mobile-page-background);
}
.folder-file-info-panel .close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 121;
}
.folder-file-info-panel .icon-dialog-close {
    color: var(--text-color-higher);
}
.folder-file-info-panel .inner-container {
    margin: 16px;
}
.folder-file-info-panel .header-title {
    font-size: 16px;
    font-family: var(--text-font-family);
    font-weight: 600;
    line-height: 24px;
    color: var(--text-color-higher);
    margin-top: 40px;
    margin-bottom: 16px;
}
.folder-file-info-panel .icon-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--surface-grey-1);
    height: 144px;
    padding: 24px 0;
    margin-bottom: 16px;
    position: relative;
}
.folder-file-info-panel .icon-frame.shimmer {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 25%,
        var(--surface-highlight-1) 35%,
        var(--surface-highlight-1) 50%,
        var(--surface-highlight-1) 65%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0) 100%
    );
    background-color: var(--surface-grey-6);
    background-size: 1500% 100%;
}
.folder-file-info-panel .icon-frame .block-view-file-type {
    top: 50%;
}
.folder-file-info-panel .icon-frame .block-view-file-type.img-thumb {
    margin: -95px 0 0 -192px;
    background: none;
}
.folder-file-info-panel .icon-frame .block-view-file-type.img-thumb img {
    height: 192px;
    width: 289px;
    object-fit: cover;
    object-position: center;
}
.folder-file-info-panel .info-data {
    margin-bottom: 8px;
}
.folder-file-info-panel .info-data .description {
    color: var(--text-color-medium);
    font-size: 12px;
    line-height: 18px;
}
.folder-file-info-panel .info-data .value {
    color: var(--text-color-high);
    font-size: 12px;
    font-family: var(--text-font-family);
    font-weight: 600;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.folder-file-info-panel .info-data .value.permissions-value {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}
.folder-file-info-panel .info-data .permissions-icon {
    display: inline-block;
    --icon-size: 24px;
    line-height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.folder-file-info-panel .video-thumb-details {
    display: block;
    top: unset;
    left: 8px;
    bottom: 8px;
    padding: 2px 8px;
    border-radius: 12px;
    background: var(--surface-highlight-1);
}
.folder-file-info-panel .info-data.path-section .value,
.folder-file-info-panel .info-data.version-section span {
    color: var(--text-color-info);
}
.folder-file-info-panel .info-data.path-section .path-value div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.folder-file-info-panel .info-data.path-section span:hover {
    text-decoration: underline;
}
.folder-file-info-panel .info-data.path-section span,
.folder-file-info-panel .info-data.version-section span {
    cursor: pointer;
}
.folder-file-info-panel .takedown-warning,
.folder-file-info-panel .icon-takedown {
    display: none;
}

/* Taken down styles */
.folder-file-info-panel.taken-down .info-data.name-section .value {
    color: var(--secondary-red);
    display: inline-block;
    line-height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}
.folder-file-info-panel.taken-down .icon-takedown {
    color: var(--secondary-red);
    display: inline-block;
    vertical-align: middle;
}
.folder-file-info-panel.taken-down .takedown-warning {
    background-color: var(--surface-light-red);
    border: 1px solid var(--secondary-red);
    border-radius: 5px;
    color: var(--secondary-red);
    display: block;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}
.folder-file-info-panel.taken-down .takedown-warning a {
    color: var(--secondary-red);
    text-decoration: underline;
}

/* Scroll for info details */
.info-panel-scroll-block {
    height: calc(100vh - 48px);
    min-width: 90%;
}

/* Undecryptable node */
.folder-file-info-panel.undecryptable .value {
    color: var(--secondary-orange) !important;
}

/* Node description */
.folder-file-info-panel .node-description.mega-textarea {
    margin-top: 0;
}
.folder-file-info-panel .node-description textarea {
    padding: 8px 4px 8px 16px;
    min-height: 36px;
}
.folder-file-info-panel .node-description .textarea-clone {
    padding: 8px 4px 8px 16px;
    min-height: 36px;
}
.folder-file-info-panel .node-description.mega-textarea .textarea-scroll {
    margin: 0;
    border-radius: 4px;
    max-height: 118px;
}
.folder-file-info-panel .node-description.mega-textarea.active {
    border-radius: 4px;
    border: 1px solid #2BA6DE;
}
.folder-file-info-panel .node-description-section .status {
    display: flex;
    justify-content: flex-end;
}
.folder-file-info-panel .node-description-section.readonly .status {
    justify-content: flex-start;
}
.folder-file-info-panel .node-description-section .desc-counter {
    margin-inline-start: auto;
}
.folder-file-info-panel .info-panel-scroll-block.ps--active-y .node-description-section,
.folder-file-info-panel .info-panel-scroll-block.ps--active-y .node-tags-section {
    margin-inline-end: 12px;
}

/* Chat share nodes with contact */
.info-panel-visible .profile-shared-folders .shared-with-me tbody tr {
    display: inline-flex;
    align-items: center;
}

/* Tags */
.folder-file-info-panel .node-tags-section .node-tags-input {
    padding: 8px 4px 8px 16px;
}

.folder-file-info-panel .node-tags-section .node-tags-dropdown.active i {
    display: block;
    --icon-size: 16px;
}
.folder-file-info-panel .node-tags-section .node-tags-dropdown.active {
    padding: 10px 8px;
    position: fixed;
    background-color: var(--surface-main);
    width: 295px;
    right: 3px;
    border-radius: 12px;
    border: 1px solid var(--stroke-mid-grey);
    z-index: 121;
}
.folder-file-info-panel .node-tags-section .node-tags-tips.top,
.folder-file-info-panel .node-tags-section .node-tags-tips.bottom {
    color: var(--text-color-high);
}
.folder-file-info-panel .node-tags-section .node-tags-dropdown.top.active .dropdown-body {
    max-height: 200px;    
}
.folder-file-info-panel .node-tags-section .node-tags-dropdown.top.active .dropdown-body .suggestions {
    max-height: 165px;    
}
.folder-file-info-panel .node-tags-section .top .node-tags-tips,
.folder-file-info-panel .node-tags-section .top .dropdown-content-add:last-child {
    margin-bottom: 12px;
}

.folder-file-info-panel .node-tags-section .bottom .node-tags-tips,
.folder-file-info-panel .node-tags-section .bottom .dropdown-content-add:first-child {
    margin-top: 12px;
}

.folder-file-info-panel .node-tags-section .js-btnClearTags {
    z-index: 1;
    cursor: pointer;
    margin-inline-end: 4px;
    border: none;
    outline: transparent;
    background-color: transparent;
}

.folder-file-info-panel .node-tags-section .node-tags-add {
    color: var(--text-color-blue);
    display: flex;
}

.folder-file-info-panel .node-tags-section .node-tags-add.suggest {
    color: var(--text-color-medium);
}

.folder-file-info-panel .node-tags-section .node-tags-add span,
.folder-file-info-panel .node-tags-section .node-tag-chip span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.folder-file-info-panel .node-tags-section .node-tags-add span {
    max-width: 200px;
}

.folder-file-info-panel .node-tags-section .node-tag-chip span {
    line-height: 16px;
    height: 16px;
    max-width: 225px;
}

.folder-file-info-panel .node-tags-section .dropdown-item {
    padding: 6px 12px;
}

.folder-file-info-panel .node-tags-section .node-tags-chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.folder-file-info-panel .node-tags-section .node-tag-chip {
    display: flex;
    padding: 3px 12px;
    border-radius: 12px;
    background-color: var(--surface-grey-2);
    margin-top: 8px;
    margin-inline-start: 5px;
}

.folder-file-info-panel .node-tags-section .js-btnDeleteTag {
    cursor: pointer;
    border: none;
    outline: transparent;
    background-color: transparent;
    padding: 0;
}

.folder-file-info-panel .node-tags-section .mega-input.error .message-container {
    display: inline-block;
}

.folder-file-info-panel .node-tags-section .mega-input.error.small {
    margin-bottom: 30px
}

.folder-file-info-panel .node-tags-section .mega-input.error.medium {
    margin-bottom: 85px;
}

.theme-light .folder-file-info-panel .node-tags-section .node-tags-dropdown.active {
    box-shadow: 0 5px 10px 0 #0000004D;
}

.theme-dark .folder-file-info-panel .node-tags-section .node-tags-dropdown.active {
    box-shadow: 0 5px 10px 0 #FFFFFF4D;
}

.folder-file-info-panel .node-tags-section .pro-only-feature {
    color: var(--text-color-error);
    font-size: 14px;
    line-height: 12px;
    border: 1px solid var(--text-color-error);
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
    float: right;
    display: none;
}

.folder-file-info-panel .node-tags-section .pro-only .pro-only-feature {
    display: inline;
}

.folder-file-info-panel .node-tags-section .pro-only {
    line-height: 25px;
    cursor: pointer;
}

.folder-file-info-panel .node-tags-section .mega-input input,
.folder-file-info-panel .node-description textarea {
    color: var(--text-color-medium);
    font: var(--text-body1);
}

.folder-file-info-panel .node-tags-section .mega-input input::placeholder,
.folder-file-info-panel .node-description textarea::placeholder {
    color: var(--text-color-low);
    opacity: 0.9;
    font-weight: normal;
}

/* End of node tags */

/* Description & Tags */

.folder-file-info-panel .node-description-section .desc-counter,
.folder-file-info-panel .node-description-section .desc-permission,
.folder-file-info-panel .node-tags-section .empty-tags {
    font-size: 12px;
    display: inline-block;
}

/* End of Description & Tags */

.pads {
    height: 40px; 
    width: 100%;
}
