/* Important general classnames */

.pm-main .password-list-page .favicon {
    width: 24px;
    height: 24px;
}

.pm-main .password-list-page .manual-favicon {
    color: var(--favicon-text-color);
    border-radius: var(--mobile-border-radius-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--mobile-surface-3);
}

.pm-main .password-list-page .manual-favicon.color0 {
    background-color: var(--mobile-indicator-yellow);
}

.pm-main .password-list-page .manual-favicon.color1 {
    background-color: var(--mobile-indicator-blue);
}

.pm-main .password-list-page .manual-favicon.color2 {
    background-color: var(--mobile-indicator-green);
}

.pm-main .password-list-page .favicon .favicon-brand img {
    width: 24px;
    height: 24px;
}

.pm-main .password-list-page h1 {
    font: var(--mobile-font-heading-h1);
}

.pm-main .password-list-page h2 {
    font: var(--mobile-font-heading-h2);
}

.pm-main .password-list-page h3 {
    font: var(--mobile-font-heading-h3);
}

.pm-main .password-list-page span,
.pm-main .password-list-page p {
    font: var(--mobile-font-caption-large-regular);
}

.pm-main .password-list-page a,
.pm-main .settings-wrap a.clickurl {
    font: var(--mobile-font-link-large-regular);
    color: var(--mobile-link-primary);
}

.pwm-ui .overlay-wrap a.clickurl {
    font: inherit;
    color: var(--mobile-link-primary);
}

.pm-main .password-list-page label {
    font: var(--font-label-semibold);
}

.pm-main .password-list-page textarea {
    resize: none;
    outline: none;
}

.pm-main .password-list-page input::placeholder {
    color: var(--mobile-text-placeholder);
}

.pm-main .password-list-page fieldset.fieldset {
    border: none;
    padding: 0;
}

.pwm-ui .overlay-wrap .invisible {
    visibility: hidden;
}
