.has-banner .mega-overlay.active {
    height: calc(100% - 72px);
    top: 72px;
}
.password-item-form .mega-input.has-favicon {
    width: 308px;
}
.password-item-form .favicon.manual-favicon,
.password-item-form .favicon.brand-favicon,
.password-item-form .nav-elem.icon-only.generate-password {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: -58px;
}
.rtl .password-item-form .favicon.manual-favicon,
.rtl .password-item-form .favicon.brand-favicon,
.rtl .password-item-form .nav-elem.icon-only.generate-password {
    right: auto;
    left: -58px;
}
.with-top-nav.overlay-wrap .overlay {
    padding: 0;
}
.with-top-nav .header {
    border-bottom: 1px solid var(--mobile-border-strong);
    padding: 12px 24px;
}
.password-item-form .mega-input .password-colorized {
    width: 315px;
}
.password-item-form .mega-input {
    width: 364px;
}
.password-item-form .has-favicon.mega-input.msg .message-container {
    width: 308px;
}
.password-item-form .favicon.brand-favicon .favicon-brand img {
    width: 48px;
    height: 48px;
}

/* Overridden component styles for webclient layout */
.has-banner .mega-overlay.active {
    height: 100%;
    top: 0;
}
.password-item-form .mega-input.has-favicon {
    width: calc(100% - 56px);
}
.password-item-form .has-favicon.mega-input.msg .message-container {
    width: 100%;
    word-break: break-word;
}
