.invite-meeting {
    width: 500px;

    button {
        display: inline-block;
        border: 0 none;
    }

    &-head {
        margin: 20px 0 0 0;
        padding: 0 48px;
        text-align: center;

        h3 {
            display: block;
            margin: 15px;
        }

        p {
            color: var(--text-color-medium);
            font: var(--text-body1);
        }

        i {
            float: left;
            --icon-size: 24px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .link-input-container {
            margin: 10px 0;

            .view-link-control {
                display: block;
                margin: 10px auto;
                font: var(--text-body2);
                color: var(--text-color-info);

                i {
                    display: inline-block;
                    float: none;
                    --icon-size: 18px;
                    --mask-color: var(--secondary-blue);
                }
            }
        }
    }

    .fm-dialog-body {
        padding: 0;
    }

    &-contacts {
        overflow: hidden;
        height: 270px;
        padding: 8px 0;
        border-top: 1px solid var(--divider-color);
        border-bottom: 1px solid var(--divider-color);

        & > .invite-meeting-nil,
        & > .invite-meeting-loading{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .contacts-search-subsection {
            padding: 0 48px;

            .contacts-list-header {
                margin: 0;
            }

            .contacts-info.body.contacts-search {
                width: 100%;

                .user-card-tick-wrap {
                    right: 0;
                }
            }
        }
    }

    &-nil {
        text-align: center;
    }

    &-field {
        position: relative;
        margin: 0 0 4px;

        input {
            display: block;
            width: 100%;
            height: 32px;
            padding: 2px 30px 3px 40px;
            border: 0 none;
            border-radius: 18px;
            font: var(--text-body1);
            color: var(--text-color-medium);
            background: var(--surface-grey-1);
            box-sizing: border-box;
            transition: all 200ms ease-in-out;
        }

        i {
            display: block;
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
            --icon-size: 24px;
            --mask-color: var(--icon-rest);
        }
    }

    &-user-limit-banner {
        background: var(--banner-background-warning);
        border: 1px solid var(--banner-border-warning);
        border-radius: 4px;
        box-sizing: border-box;
        color: var(--banner-text-warning);
        padding: 2px 16px;
        text-align: center;
        width: 100%;
        margin: 16px 0;

        a.invite-limit-link {
            color: var(--banner-text-warning);
            text-decoration: underline;
        }
    }
}
