.preview-meeting {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;

    body.theme-dark & {
        background: #000;
    }

    body.theme-dark .start-meeting-preview & {
        background: #222;
    }

    video {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.streaming {
            display: block;
        }
    }

    .preview-video-overlay {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }

    .avatar-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        margin: -30px 0 0 0;
        border-radius: 50%;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 32px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .avatar-guest {
        width: 100%;
        height: 100%;

        i {
            display: block;
            position: absolute;
            top: 45%;
            left: 50%;
            width: 120px;
            height: 120px;
            transform: translate(-50%, -65%);
        }
    }

    &-controls {
        position: absolute;
        left: 50%;
        bottom: 24px;
        transform: translateX(-50%);
        z-index: 2;

        .preview-control-wrapper {
            display: inline-block;
            position: relative;
            width: 70px;
            padding: 0 11px 0 11px;
            box-sizing: border-box;
        }

        button {
            display: inline;

            i {
                margin: 0 auto;
                --icon-size: 32px;
                --mask-color: var(--icon-active);
            }

            span {
                position: fixed;
                bottom: -9999px;
                visibility: hidden;
            }
        }
    }
}

