.lp-header {
    align-items: center;
    padding: 14px 20px 14px 12px;
    display: flex;
}
.lp-header span {
    color: var(--text-color-higher);
    flex: 1 1 auto;
    font: var(--text-h2);
    overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
}
.lp-content-wrap {
    padding: 0 8px;
}
.lp-myfiles,
.lp-gallery {
    background: var(--surface-grey-2);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.fm-left-panel .content-area {
    border-top: 2px solid transparent;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: border-top 250ms ease-in-out;
}
/* temporary rtl scroller fix */
.rtl .lp-myfiles .content-area {
    direction: initial;
}
.rtl .lp-myfiles .content-area .lp-content-wrap {
    direction: rtl;
}
.rtl .lp-gallery .content-area {
    direction: initial;
}
.rtl .lp-gallery .content-area .lp-content-wrap-wrap {
    direction: rtl;
}
.lp-gallery .content-area .lp-content-wrap-wrap {
    display: inline-block;
}
.lp-myfiles .content-area.ps--active-y:hover {
    border-top: 2px solid var(--stroke-main);
}
.fm-other-tree-panel .section-title {
    display: none;
}
.lp-myfiles .section-title,
.active-folder-link .section-title,
.lp-gallery .section-title {
    height: 18px;
    opacity: 0.7;
    color: var(--text-color-medium);
    font: var(--text-body2);
    letter-spacing: 0;
    display: inline-block;
    margin: 0 4px 4px;
}
.lp-myfiles .cloud-drive-panel,
.lp-gallery .library-panel {
    padding-top: 4px;
}
.active-folder-link .lp-content-wrap {
    padding-top: 6px;
}
.active-folder-link .js-other-tree-panel .ps__scrollbar-y-rail {
    margin-top: 64px;
}
.lp-myfiles .cloud-drive-panel {
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
}
.lp-myfiles .ps--active-y .cloud-drive-panel {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
}
.lp-myfiles .content-panel.cloud-drive.collapse {
    display: none;
}
.lp-myfiles .btn-myfiles {
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
}
.lp-myfiles .btn-myfiles i.icon-dropdown {
    margin-top: 4px;
    position: absolute;
    left: 2px;
}
.rtl .lp-myfiles .btn-myfiles i.icon-dropdown {
    left: auto;
    right: 2px;
}
.lp-myfiles .btn-myfiles.collapse i.icon-dropdown {
    transform: rotate(270deg);
}
.rtl .lp-myfiles .btn-myfiles.collapse i.icon-dropdown {
    transform: rotate(90deg);
}
.lp-myfiles .shared-panel {
    padding-top: 8px;
    padding-bottom: 16px;
}
.lp-storage-usage .storage-usage-panel {
    padding: 12px;
    border-top: 2px solid var(--stroke-main);
    display: flex;
    flex-direction: column;
}
.lp-storage-usage .storage-usage-panel.hidden {
    display: none;
}
.lp-storage-usage .storage-usage-panel .title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.lp-storage-usage .storage-usage-panel .title-block .plan {
    color: var(--stroke-main-inverted);
    font: var(--text-body2);
    line-height: 18px;
    margin-right: 16px;
    white-space: nowrap;
}
.lp-storage-usage .storage-usage-panel .storage-graph {
    height: 6px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}
.lp-storage-usage .storage-usage-panel .storage-graph span {
    position: absolute;
    background: var(--surface-dark-grey);
    height: 6px;
    border-radius: 8px 0 0 8px;
}
.lp-storage-usage .storage-usage-panel.warning .storage-graph span {
    background: var(--secondary-orange);
}
.lp-storage-usage .storage-usage-panel.over .storage-graph span {
    background: var(--secondary-red);
}
.storage-usage-panel .info {
    position: relative;
    font: var(--text-body2);
}
.storage-usage-panel .loader.loading {
    animation: rotate 2.5s infinite linear;
    opacity: 1;
}
.storage-usage-panel .loader {
    opacity: 0;
    position: absolute;
    width: 12px;
    height: 12px;
    background-position: -6px -350px;
}
.storage-usage-panel .storage-txt {
    color: var(--stroke-main-inverted);
}
.storage-usage-panel .loader.loading + .storage-txt {
    visibility: hidden;
}
.storage-usage-panel .storage-txt .lp-sq-used {
    color: var(--text-color-success);
}
.storage-usage-panel.warning .storage-txt .lp-sq-used {
    color: var(--text-color-warning);
}
.storage-usage-panel.over .storage-txt .lp-sq-used {
    color: var(--text-color-error);
}
.fm-tree-panel li {
    margin: 1px 0;
}
.nw-fm-tree-item.selected {
    border-radius: 4px;
    background-color: var(--stroke-grey-1);
    color: var(--stroke-main-inverted);
}
.nw-fm-tree-item:hover,
.nw-fm-tree-item.hovered {
    background-color: var(--stroke-grey-1);
    border-radius: 4px;
    cursor: pointer;
}
.nw-fm-tree-item:hover .nw-fm-tree-folder,
.nw-fm-tree-item.dragover .nw-fm-tree-folder {
    color: var(--stroke-link-inverted);
}
.nw-fm-tree-item.selected .nw-fm-tree-folder,
.nw-fm-tree-item.selected .nw-fm-tree-arrow {
    color: var(--stroke-main-inverted);
    --mask-color: var(--stroke-main-inverted);
}
.nw-fm-tree-item .sprite-fm-mono {
    --mask-color: var(--icon-rest);
}
.nw-fm-tree-item .nw-fm-tree-arrow {
    --mask-color: var(--icon-rest);
    display: none;
    position: absolute;
    top: 8px;
    -webkit-margin-start: 24px;
    margin-inline-start: 24px;
}
.nw-fm-tree-item.contains-folders .nw-fm-tree-arrow {
    display: block;
}
.nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow {
    transform: rotate(90deg);
    background-image: none;
}
.rtl .nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow {
    transform: rotate(270deg);
}
.fontsize1 .nw-fm-tree-folder {
    font: var(--text-body1);
    line-height: 24px;
}
.nw-fm-tree-item .file-status-ico {
    display: none;
}
.tree-item-dragger {
    display: flex;
}
.tree-item-dragger .nw-fm-tree-folder {
    margin: 0;
    width: auto;
}
.tree-item-dragger span.sprite-fm-mono {
    background-color: var(--stroke-grey-2);
}
.tree-item-dragger span.item-name {
    line-height: 24px;
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    white-space: nowrap;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nw-fm-tree-item.linked .file-status-ico {
    display: inline-block;
    --mask-color: var(--icon-rest);
    z-index: 98;
    vertical-align: middle;
}
.nw-fm-tree-item .gallery-status-icon {
    display: none;
    --mask-color: var(--secondary-blue);
    z-index: 98;
    --icon-size: 24px;
    vertical-align: middle;
}
.nw-fm-tree-item.on-gallery .gallery-status-icon {
    display: inline-block;
    vertical-align: middle;
}
.nw-fm-tree-item.linked.on-gallery .gallery-status-icon {
    right: 43px;
}
.rtl .nw-fm-tree-item.linked .file-status-ico,
.rtl .nw-fm-tree-item.on-gallery .gallery-status-icon {
    right: auto;
    left: 21px;
}
.rtl .nw-fm-tree-item.linked.on-gallery .gallery-status-icon {
    left: 26px;
}
.nw-fm-tree-item .sprite-fm-mono.icon-takedown {
    display: inline;
    background-color: var(--secondary-red);
    position: absolute;
    right: 21px;
    z-index: 98;
}
.rtl .nw-fm-tree-item .sprite-fm-mono.icon-takedown {
    right: auto;
    left: 21px;
}
.nw-fm-tree-item .sprite-fm-mono.icon-info {
    display: inline;
    background-color: var(--secondary-orange);
    position: absolute;
    right: 21px;
    z-index: 98;
    top: 4px;
}
.nw-fm-tree-folder {
    width: 100%;
}
.lp-myfiles .nw-fm-tree-iconwrap,
.active-folder-link .nw-fm-tree-iconwrap {
    display: inline-block;
    vertical-align: middle;
    position: sticky;
    position: -webkit-sticky;
    right: -1px;
    background: var(--surface-tree-iconwrap);
    padding: 0 16px 0 4px;
}
.lp-myfiles .nw-fm-tree-item.selected .nw-fm-tree-iconwrap,
.lp-myfiles .nw-fm-tree-item:hover .nw-fm-tree-iconwrap,
.lp-myfiles .nw-fm-tree-item.hovered .nw-fm-tree-iconwrap,
.active-folder-link .fm-other-tree-panel .nw-fm-tree-item.selected .nw-fm-tree-iconwrap,
.active-folder-link .fm-other-tree-panel .nw-fm-tree-item:hover .nw-fm-tree-iconwrap,
.active-folder-link .fm-other-tree-panel .nw-fm-tree-item.hovered .nw-fm-tree-iconwrap {
    background: var(--surface-tree-iconwrap-active);
}
.active-folder-link .fm-other-tree-panel .cloud-drive .lp-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--surface-grey-2);
    z-index: 100;
}
.active-folder-link .fm-other-tree-panel .cloud-drive .lp-header > span {
    position: sticky;
    position: -webkit-sticky;
    left: 12px;
    flex-grow: 0;
}
.rtl .active-folder-link .fm-other-tree-panel .cloud-drive .lp-header > span {
    left: auto;
    right: 12px;
}
.active-folder-link .fm-other-tree-panel .content-panel.active.cloud-drive {
    display: inline-block;
    min-width: 100%;
}

/* Special tree icons relates for performance issue */
.nw-fm-tree-folder::before,
.nw-fm-tree-arrow::before,
.file-status-ico::before {
    font-family: 'fm-mono' !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: var(--mask-color);
    display: inline-block;
    vertical-align: top;
    --icon-size: 24px;
}
.nw-fm-tree-folder::before {
    left: 0;
    position: absolute;
}
.rtl .nw-fm-tree-folder::before {
    left: auto;
    right: 0;
}
.nw-fm-tree-arrow {
    width: 16px;
    height: 16px;
}
.nw-fm-tree-arrow::before {
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.rtl .nw-fm-tree-arrow::before {
    transform: rotate(180deg);
}
