body.web-desktop .mega-sheet.journey .sheet {
    max-width: 900px;
    height: 740px;
    padding: 0;
    background: var(--mobile-page-background);
    border: 1px solid var(--mobile-border-subtle);
}
.mega-sheet.journey .sheet .header {
    margin: 0;
    height: 0;
}
.mega-sheet.journey .sheet .header .close {
    top: 16px;
    z-index: 2;
    padding: 0;
}
.mega-sheet.journey .sheet .main,
.mega-sheet.journey .sheet .actions {
    width: 100%;
    padding: 0;
}

.mega-sheet.journey .sheet .content {
    height: 100%;
}

.mega-journey {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.mega-journey .steps {
    width: 248px;
    padding: 48px 24px;
    box-sizing: border-box;
}

.mega-journey .main-content {
    display: flex;
    flex-direction: column;
    padding: 48px 0 40px;
    flex: 1;
    min-width: 0;
    height: 100%;
    border-inline-start: 1px solid var(--mobile-border-subtle);
    box-sizing: border-box;
    justify-content: space-between;
}

.mega-journey .main-content-div {
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mega-journey .main-content .image-wrapper > div {
    border-radius: 0;
    margin-bottom: 20px;
}

.mega-journey .main-content .image-wrapper .green-check {
    background-image: url("../../images/onboarding/green-check-3d.png");
    background-size: contain;
    width: 96px;
    height: 96px;
}

.mega-journey .main-content h1 {
    font: var(--mobile-font-heading-h1);
    margin: 0 0 4px;
}
.mega-journey .main-content h2 {
    color: var(--mobile-text-primary);
    font: var(--mobile-font-heading-h2);
    margin: 4px 0 0;
}

.mega-journey .main-content a {
    color: var(--mobile-link-primary);
}

.mega-journey .main-content p:not(.subtitle) {
    margin-bottom: 0;
}

.mega-journey .main-content p.subtitle {
    font: var(--mobile-font-caption-small-regular);
    color: var(--mobile-text-secondary);
    line-height: 18px;
    letter-spacing: 0.24px;
    margin: 0 0 16px;
}

.mega-journey .main-content .custom-div,
.mega-journey .main-content .custom-div > div {
    display: flex;
    flex-direction: column;
}

.mega-journey .main-content-div > *:not(.custom-div),
.mega-sheet.journey .sheet .actions,
.mega-journey .custom-div > div:not(.no-padding) > *:not(.mega-component) {
    padding: 0 48px;
}
.mega-journey .main-content-div div.ps__rail-y {
    padding: 0;
}
.mega-journey .main-content .actions {
    margin-top: 44px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.mega-journey .main-content .actions button {
    width: auto;
    margin-top: 0;
    margin-inline-start: 8px;
}
.mega-journey .main-content .actions button.slim {
    height: 36px;
}

.pwm-image {
    background: url('../../images/pm/plan-subscription.png') center / cover no-repeat;
    width: 100%;
    height: 200px;
    display: block;
    border-radius: var(--mobile-border-radius-large) var(--mobile-border-radius-large) 0 0;
}

.mega-journey .main-content .actions button.back-button {
    margin-inline-end: auto;
    padding: 0;
}
.mega-journey .main-content .actions button.back-button .primary-text {
    text-decoration: underline;
}
body.ru .mega-journey .main-content .actions button.back-button .primary-text {
    text-underline-offset: 0.24em;
}
.mega-journey .main-content .actions button.primary .right-icon {
    --mask-color: var(--mobile-icon-inverse);
}

@media only screen and (max-width: 1079px) {

    body.web-desktop .mega-sheet.journey .sheet {
        max-width: 600px;
    }

    .mega-journey .steps {
        width: 80px;
    }
}
