.mega-header {
    z-index: auto;
}

.mega-header .top-block,
.mega-header .bottom-block .heading {
    display: none;
}

.mega-header .bottom-block {
    border-bottom: 1px solid var(--mobile-border-strong);
}

.mega-header .bottom-block .block .nav-actions {
    margin-bottom: 0;
}

.mega-header .nav-elem.text-only {
    height: 24px;
    padding: 0;
}

.mega-header .nav-elem.link.text-only span {
    font: var(--mobile-font-label-underline);
}

.mega-header .link.avatar div span {
    text-decoration: none;
}

.mega-header .nav-elem.text-icon {
    width: auto;
    height: auto;
    color: var(--mobile-text-secondary);
}

.mega-header .nav-elem.home i.left-icon,
.mega-top-menu .nav-elem.home i.left-icon {
    --width: 148px;
}
