.has-banner .mega-overlay.active {
    height: calc(100% - 72px);
    top: 72px;
}
.password-item-form .mega-input.has-favicon {
    width: 308px;
}
.password-item-form .favicon.manual-favicon,
.password-item-form .favicon.brand-favicon {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: -58px;
}
button.nav-elem.text-icon.generate-password {
    margin-bottom: 10px;
    color: var(--mobile-link-primary);
    background: none;
    width: 100%;
}
button.nav-elem.text-icon.generate-password span.primary-text {
    font: var(--mobile-font-link-large-semibold);
    text-decoration: underline;
    color: var(--mobile-link-primary);
}
button.nav-elem.normal.text-icon.generate-password:focus span.primary-text {
    color: var(--mobile-button-primary);
}
button.nav-elem.normal.text-icon.generate-password:focus span.primary-text,
button.nav-elem.normal.generate-password:focus .sprite-pm-mono {
    color: var(--mobile-button-primary) !important;
}
button.nav-elem.normal.generate-password:hover .sprite-pm-mono {
    color: var(--mobile-link-primary);
}
.with-top-nav.overlay-wrap .overlay {
    padding: 0;
}
.with-top-nav .header {
    border-bottom: 1px solid var(--mobile-border-strong);
    padding: 12px 24px;
}
.password-item-form .mega-input .password-colorized {
    width: 315px;
}
.password-item-form .mega-input {
    width: 364px;
}
.password-item-form .has-favicon.mega-input.msg .message-container {
    width: 308px;
}
.password-item-form .favicon.brand-favicon .favicon-brand img {
    width: 48px;
    height: 48px;
}

/* Overridden component styles for webclient layout */
.has-banner .mega-overlay.active {
    height: 100%;
    top: 0;
}
.password-item-form .mega-input.has-favicon {
    width: calc(100% - 56px);
}
.password-item-form .has-favicon.mega-input.msg .message-container {
    width: 100%;
    word-break: break-word;
}
.generate-password.nav-elem {
    margin-bottom: 24px;
}
