{
    "TOKEN": "fallback if system environment variable is not set",
    "BASE_URL": "https://rest.api.transifex.com",
    "ORGANISATION": "meganz-1",
    "PROJECT": "webclient-1",
    "RESOURCE": "prod"
}
