/*
 * Breadcrumbs component
*/

.it-breadcrumbs {
    font: var(--text-body-sm); /* Change font here */
    position: relative;
    text-overflow: ellipsis;
}

.it-breadcrumbs .items-body {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.it-breadcrumbs .items-body .item {
    color: var(--main-neutral-secondary);
    display: inline-flex;
}

.it-breadcrumbs .items-body .item:last-child {
    overflow: hidden;
}

.it-breadcrumbs .items-body  .item ~ .item {
    margin-inline-start: 8px;
}

.it-breadcrumbs .items-body .item a,
.it-breadcrumbs .items-body .item a:visited{
    align-items: center;
    color: var(--main-neutral-secondary);
    display: inline-flex;
    max-width: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.it-breadcrumbs .items-body .item a:focus span {
    text-decoration: underline;
}

.it-breadcrumbs .items-body .item a i + span {
    margin-inline-start: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Breadcrumbs dropdown */

.it-breadcrumbs .it-dropdown-body {
    min-width: 152px;
}
