.meetings-call {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;

    &.minimized {
        display: none;
    }

    @import '_stream.scss';
    @import '_sidebar.scss';
}

.local-stream-mirrored video {
    transform: scaleX(-1);
}
