.collapse {
    height: 100%;

    &-head {
        overflow: hidden;
        margin: 0 15px;
        cursor: pointer;

        i {
            display: block;
            float: left;
            --icon-size: 24px;
            margin: -1px 3px 0 0;
            --mask-color: var(--icon-rest);
        }

        h5 {
            display: block;
            float: left;
            margin: 0;
            font: var(--text-body1-bold);
            color: var(--text-color-high);
        }

        .participants-count {
            display: block;
            float: left;
            width: 15px;
            height: 15px;
            margin: 3px 0 0 10px;
            border-radius: 4px;
            text-align: center;
            font: var(--text-body2);
            line-height: 16px;
            background: var(--secondary-blue);
            color: var(--secondary-white);
        }
    }
}
