.meetings-signal-issue {
    position: absolute;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 200px;
    cursor: pointer;

    &.with-small-area {
        width: 10px;
        height: 10px;
        right: 10px;
    }

    .button-group-item & {
        z-index: 1;

        i {
            /* [...] */
        }
    }

    i {
        position: absolute;
        top: -4px;
        right: -18px;
        --icon-size: 24px;
        --mask-color: var(--secondary-orange);
        z-index: 1;

        .in-call &,
        .float-video-overlay & { right: -2px; }
    }

    .signal-issue-background {
        position: absolute;
        top: -3px;
        right: 2px;
        width: 17px;
        height: 17px;
        border-radius: 200px;
        background: #FFF;

        .float-video-overlay & { top: 0; }
    }

    .dropdown.button-group-menu & {
        top: 34px;
        width: 34px;
        z-index: 11;
    }
}

.meetings-signal-container {
    position: relative;
}
