.mode {
    float: left;

    button {
        float: left;
        padding: 0;
        text-align: left;
        border: 0;
        font: var(--text-h3);
        color: var(--secondary-white);
        background: transparent;
        cursor: pointer;

        i {
            float: left;
            margin: 0 8px 0 0;
            --icon-size: 24px;
            --mask-color: var(--icon-rest);
        }

        div {
            display: block;
            float: left;
            width: auto;
            height: auto;
            color: var(--secondary-white);
        }
    }

    &-toggle {
        overflow: hidden;

        i {
            display: block;
            float: left;
            margin: 6px 0 0 10px;
            --icon-size: 16px;
            --mask-color: var(--icon-rest);
        }
    }

    &-menu,
    &-settings {
        display: none;
        position: absolute;
        top: 100%;
        margin: 8px 0 0 0;
        padding: 7px;
        border-radius: 12px;
        border: var(--context-menu-border);
        background: var(--surface-main);
        box-shadow: var(--dropdown-shadow);

        &.expanded { display: block; }

        .mode-option {
            overflow: hidden;
            padding: 8px;
            opacity: 0.7;

            &:hover { opacity: 1; }

            &.active {
                border-radius: 4px;
                background: var(--surface-grey-1);
                opacity: 1;
            }
        }
    }

    &-settings {
        display: block;
        width: 400px;
        right: 40px;
        font: var(--text-body1);
        color: var(--text-color-medium);

        .settings-wrapper {
            padding: 12px;

            strong {
                display: block;
                padding: 0 0 4px 0;
                color: var(--text-color-high);
            }

            small {
                font: var(--text-body2);
            }

            .recurring-radio-buttons {
                margin: 12px 0;

                .radio-txt {
                    padding: 6px 0 0 0;
                    color: var(--text-color-high);
                    cursor: pointer;
                }

                .radioOn,
                .radioOff {
                    margin: 7px 0;
                    margin-inline-end: 12px;
                }
            }
        }

        .settings-close {
            position: absolute;
            top: 8px;
            right: 12px;
            width: 18px;
            height: 18px;

            i {
                --icon-size: 22px;
                --mask-color: var(--icon-rest);
                cursor: pointer;
            }
        }
    }
}
