@keyframes fadeInOutLoopSubtle {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

.participants {
    padding: 12px 0 0 0;
    height: calc(100% - 70px);
    color: var(--text-color-high);

    &-nav {
        overflow: hidden;
        display: flex;
        margin: 0 0 16px 0;
        padding: 8px 16px 0 16px;
        border-bottom: 1px solid var(--stroke-grey-2);
        justify-content: space-around;

        button {
            float: left;
            padding: 0 0 4px 0;
            text-align: left;
            border: 0;
            font: var(--text-h3-bold);
            color: var(--text-color-medium);
            border-bottom: 2px solid transparent;
            background: transparent;
            cursor: pointer;

            &:hover,
            &.active { border-bottom: 2px solid #6FD7FF; }
            &.active { color: var(--secondary-white); }
        }
    }

    &-list {
        height: calc(100% - 70px);

        &.guest {
            overflow: hidden;
            height: calc(100% - 320px);
        }

        &.with-chat-participants {
            /* [...] */

            ul li { padding: 8px 0 0; }
            .avatar-wrapper { margin: 12px 0 0; }
        }

        .call-control-all {
            margin: 0 0 0 12px;

            i {
                --icon-size: 22px;
                --mask-color: var(--secondary-green);
                margin: 2px 6px 0 0;
            }
        }
    }

    ul {
        display: block;
        height: 100%;

        li {
            overflow: hidden;
            display: flex;
            margin: 0 15px;

            .avatar-wrapper {
                border-radius: 4px;
                width: 24px;
                height: 24px;
                margin: 7px 0 0 0;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font: var(--text-body2);
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .name {
                overflow: hidden;
                width: calc(100% - 90px);
                padding-top: 8px;
                padding-inline-start: 10px;

                body.rtl & {
                    float: right;
                }

                span {
                    display: block;
                    float: left;

                    body.rtl & {
                        float: right;
                    }

                    &:first-child {
                        overflow: hidden;
                        max-width: 120px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font: var(--text-body1);
                    }

                    &.user-card-presence {
                      margin: 7px 2px 0 5px;
                    }

                    i {
                        display: block;
                        margin: 0;
                        --icon-size: 18px;
                        --mask-color: var(--icon-rest);
                    }

                    img.emoji.big {
                        width: 20px;
                        height: 20px;
                        margin: 0;
                    }
                }

                .call-state {
                    clear: both;
                    font: var(--text-body2);
                    color: var(--text-color-low);
                }
            }

            .status {
                display: flex;
                align-items: center;
                margin: 5px 0 0 auto;

                body.rtl & {
                    float: left;
                }

                .recording-status {
                    display: block;
                    position: relative;
                    width: 16px;
                    height: 16px;
                    border-radius: 200px;
                    background: var(--secondary-red);
                    animation: fadeInOutLoopSubtle 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;

                    span {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 6px;
                        height: 6px;
                        border-radius: 200px;
                        background: var(--secondary-white);
                    }
                }

                i {
                    display: inline-block;
                    margin-inline-start: 10px;

                    --icon-size: 18px;
                    --mask-color: var(--icon-rest);

                    &.inactive { --mask-color: var(--secondary-red); }
                }
            }

            .call-control {
                margin: 3px 0 0 auto;

                button {
                    margin: auto;
                }
            }
        }
    }

    &-empty {
        margin: 20px;
        text-align: center;

        h3 {
            margin: 8px 0 0 0;
        }

        /* TODO: move to sprite sheet */
        span.empty-check-icon {
            display: block;
            width: 84px;
            height: 84px;
            margin: 0 auto;
            background: url('../images/mega/single-icons/check3d.svg') 0 0 no-repeat;
            background-size: contain;
        }
    }

    .add-participants {
        margin: 20px 0 0 0;
        text-align: center;

        button {
            margin: 0 auto;
        }
    }
}
