div.recording-control {
    position: absolute;
    left: 32px;
    bottom: -250px;
    padding: 0 0 14px 0;
    transition: opacity 500ms ease-in-out, bottom 500ms ease-in-out;
    text-align: center;
    z-index: 13;

    &.recording-fixed {
        bottom: 0;
        margin: 0 0 14px 0;
    }

    .record-label {
        display: block;
        margin: 4px 0 0 0;
        font: var(--text-body2);
        color: var(--secondary-white);
        cursor: pointer;
    }

    .recording-start {
        /* [...] */

        div {
            width: 24px;
            height: 24px;
            border-radius: 200px;
            border: 3px solid var(--secondary-white);

            i {
                display: block;
                width: 10px;
                height: 10px;
                background: var(--secondary-white);
                border-radius: 200px;
            }
        }
    }

    .recording-ongoing {
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 6px;
        box-sizing: border-box;
        font: var(--text-body1);
        background: #333;
        color: var(--secondary-white);

        &.plain-background { background: transparent; }

        span {
            display: inline-block;
            padding: 2px 4px;
            border-radius: 4px;
        }

        .recording-icon {
            display: flex;
            align-items: center;
            font: var(--text-body2);
            background: var(--secondary-red);

            i {
                display: block;
                width: 8px;
                height: 8px;
                margin: 0 0 0 6px;
                border-radius: 200px;
                background: var(--secondary-white);
                animation: fadeInOutLoopSubtle 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;

                @keyframes fadeInOutLoopSubtle {
                    0%   { opacity: 1; }
                    50%  { opacity: 0; }
                    100% { opacity: 1; }
                }
            }
        }

        .recording-toggle {
            margin: 0 0 0 8px;
            padding: 2px 6px;
            cursor: pointer;

            &:hover:not(.disabled) { background: rgba(255, 255, 255, 0.1); }
        }
    }
}
