/**
* Sidebar controls
 */

.sidebar-controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 32px;
    bottom: -250px;
    padding: 0 0 14px 0;
    transition: opacity 500ms ease-in-out, bottom 500ms ease-in-out;
    z-index: 12;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            float: left;
            margin: 0 11px 0 11px;
            text-align: center;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            button {
                color: var(--text-color-high);

                &.selected,
                &.selected:hover {
                    /* [...] */
                }

                i {
                    margin: 0 auto;
                    --icon-size: 24px;
                    --mask-color: var(--secondary-white);
                }
            }
        }

        span.control-label {
            display: block;
            margin: 4px 0 0 0;
            font: var(--text-body2);
            color: var(--secondary-white);
        }

        span.notification-badge {
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 200px;
            text-align: center;
            font: var(--text-body2);

            &.notifications-count {
                top: -2px;
                right: -6px;
                background: var(--surface-error);
                color: var(--secondary-white);
            }

            &.participants-count {
                top: -2px;
                right: 3px;
                line-height: 19px;
                color: var(--secondary-white);
                background: var(--badge-fill);
            }
        }
    }
}
