@use 'sass:meta';

.sidebar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 0;
    height: 100%;

    .sidebar {
        position: relative;
        float: left;
        width: 345px;
        height: calc(100% - 160px);
        margin: -22px 0 0 0;
        border-radius: 12px;
        box-sizing: border-box;
        background: var(--surface-main);
        z-index: 12;

        @include meta.load-css('_collapse.scss');
        @include meta.load-css('_participants.scss');
        @include meta.load-css('_guest.scss');

        &.chat-opened {
            /* [...] */

            @include meta.load-css('_historyPanel.scss');
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: 8px 0;
            }
        }

        //
        // Sidebar streams / Speaker mode
        // --------------------------------------------------------------------

        &-streams-container {
            height: calc(100% - 70px);

            &.guest {
                height: calc(100% - 365px);
            }
        }

        //
        // Sidebar head
        // --------------------------------------------------------------------

        &-head {
            width: 100%;
            padding: 12px 12px 8px;
            box-sizing: border-box;
            border-radius: 12px 12px 0 0;
            background: var(--surface-main);
            z-index: 2;

            h2 {
                margin-top: 0;
                margin-bottom: 0;
                margin-inline-start: 5px;
                color: var(--text-color-high);
            }

            button {
                margin: 0 5px 0 0;

                i {
                    margin: 0 auto;
                    --icon-size: 24px;
                    --mask-color: var(--icon-rest);
                }

                span {
                    position: fixed;
                    bottom: -9999px;
                    visibility: hidden;
                }
            }
        }
    }
}
