.stream-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -250px;
    padding: 0 0 14px 0;
    width: 100%;
    text-align: center;
    transition: opacity 500ms ease-in-out, bottom 500ms ease-in-out;
    z-index: 12;

    .overlayed & {
        bottom: 0;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0 32px 0 0;
            cursor: pointer;

            &.disabled {
                /* [...] */

                button {
                    /* [...] */

                    span { color: var(--text-color-low); }
                }
            }

            &.with-input-selector {
                margin-right: 32px;
            }

            button {
                width: 40px;
                height: 40px;
                cursor: pointer;
                margin: auto;

                &.with-fill {
                    background: var(--secondary-white);
                    i { --mask-color: var(--icon-active); }
                }

                &.end-call {
                    background: #FF333A;
                    color: var(--text-color-high);
                    box-shadow: none;
                    &:hover { background: #FF6560; }

                    i { --mask-color: var(--secondary-white); }
                }


                i {
                    display: block;
                    margin: 0 auto;
                    --icon-size: 24px;
                    --mask-color: var(--secondary-white);
                }
            }

            span {
                display: block;
                margin: 2px 0 0 0;
                font: var(--text-body2);
                color: var(--secondary-white);
            }

            .input-source-opener {
                position: absolute;
                top: 0;
                right: -20px;
                width: 16px;
                height: 60px;
                border-radius: 16px;

                &:hover { background: #333; }
                &:active { background: #444; }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    --icon-size: 24px;
                    --mask-color: var(--secondary-white);
                }
            }
        }
    }

    .stream-debug {
        /* [...] */

        button {
            float: left;
            margin: 0 5px 0 0;

            i {
                --icon-size: 20px;
                --mask-color: var(--secondary-white);
            }

            span {
                text-indent: -9999px;
            }
        }
    }

    .end-options {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);

        &-content {
            padding: 24px;
            min-width: 205px;
            min-height: 130px;
            margin: 0 0 13px 0;
            box-sizing: border-box;
            border-radius: 24px;
            background: var(--surface-main);

            button {
                display: block;
                margin: 0 auto 8px;
                min-width: 150px;

                &:last-child { margin-bottom: 0; }

                span {
                    position: relative;
                    bottom: auto;
                    margin: 0;
                    font: var(--text-body1);
                    visibility: visible;
                }
            }
        }
    }
}

.input-sources {
    &.expanded {
        display: flex;
    }

    flex-direction: column;
    align-items: flex-start;
    padding: 16px 20px;
    display: none;
    position: absolute;
    margin: 8px 0 0 0;
    border-radius: 12px;
    border: var(--context-menu-border);
    background: var(--surface-main);
    box-shadow: var(--dropdown-shadow);
    width: 320px;

    button {
        float: left;
        padding: 0;
        text-align: left;
        border: 0;
        font: var(--text-h3);
        color: var(--secondary-white);
        background: transparent;
        cursor: pointer;
        width: 100%;

        i {
            float: right;
        }
    }
    hr {
        width: 100%;
    }
}
