.stream-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -250px;
    padding: 0 0 24px 0;
    width: 100%;
    text-align: center;
    transition: opacity 500ms ease-in-out, bottom 500ms ease-in-out;
    z-index: 11;

    .overlayed & {
        bottom: 0;
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;

        li {
            position: relative;
            display: inline-block;
            padding: 0 11px 0 11px;

            button {
                cursor: pointer;

                &.end-call {
                    color: var(--text-color-high);

                    i { --mask-color: var(--secondary-white); }
                }

                i {
                    display: block;
                    margin: 0 auto;
                    --icon-size: 32px;
                    --mask-color: var(--icon-active);
                }

                span {
                    position: fixed;
                    bottom: -9999px;
                    visibility: hidden;
                }
            }
        }
    }

    .stream-debug {
        /* [...] */

        button {
            float: left;
            margin: 0 5px 0 0;

            i {
                --icon-size: 20px;
                --mask-color: var(--secondary-white);
            }

            span {
                text-indent: -9999px;
            }
        }
    }

    .end-options {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);

        &-content {
            padding: 24px;
            min-width: 205px;
            min-height: 130px;
            margin: 0 0 13px 0;
            box-sizing: border-box;
            border-radius: 24px;
            background: var(--surface-main);

            button {
                display: block;
                margin: 0 auto 8px;
                min-width: 150px;

                &:last-child { margin-bottom: 0; }

                span {
                    position: relative;
                    bottom: auto;
                    visibility: visible;
                }
            }
        }
    }
}
