.stream-controls,
.float-video-controls {
    .button-group {
        position: relative;

        &-menu {
            display: none;
            position: absolute;
            transform: translateY(-100%);

            &.expanded {
                display: block;
            }

            .button-group-item {
                position: relative;
                margin: 0 0 10px 0;
            }
        }

        .info-indicator {
            position: absolute;
            top: -1px;
            right: 2px;
            width: 12px;
            height: 12px;
            border-radius: 200px;

            &.active { background: #88FF5B; }

            &.warn {
                background: var(--surface-black);

                div {
                    --icon-size: 24px;
                    --mask-color: var(--secondary-orange);
                }
            }
        }
    }
}
