.node-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 8px;
    text-align: right;
    z-index: 2;
    width: max-content;

    &:hover .node-menu-content {
        display: block;
    }

    &-toggle {
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: 5px;
        font: var(--text-body1);
        background: var(--surface-black-bar);
        color: var(--text-color-high);
        cursor: pointer;

        span,
        i {
            display: block;
            float: left;
        }

        span {
            padding: 2px 0 0 0;
            font: var(--text-body1);
            color: var(--text-color-medium);
        }

        i {
            --icon-size: 24px;
            --mask-color: var(--icon-rest);
        }
    }

    &-content {
        display: none;
        padding: 7px 8px 1px 8px;
        text-align: left;
        border-radius: 12px;
        border: var(--context-menu-border);
        background: var(--surface-grey-2);
        box-shadow: var(--dropdown-shadow);
        position: absolute;
        right: 0;
        width: max-content;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0 0 4px 0;
                border-radius: 4px;

                button {
                    color: var(--text-color-high);
                    background: transparent;
                    border: 0 none;
                    font: var(--text-body1);
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover:not(.disabled) {
                        opacity: 1;
                    }

                    &.disabled {
                        opacity: 0.4;
                    }

                    i {
                        display: block;
                        float: left;
                        --icon-size: 24px;
                        --mask-color: var(--icon-rest);
                    }

                    span {
                        display: block;
                        float: left;
                        padding: 3px 0 0 6px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
