/* Cookie dialog */

/* TODO: adapt it to new dialogs styles once it merged */
.cookie-dialog {
    display: flex;
    max-height: calc(100% - 30px);
    max-width: 596px;
    text-align: center;
    margin: 0 !important;
    z-index: 9999 !important;

    /* TODO: Remove once new dialogs are merged */
    width: calc(100% - 30px);
}
.mobile .mega-dialog.cookie-dialog {
    overflow: visible;
    max-width: 596px;
}
.cookie-dialog .content-block {
    border-radius: var(--border-radius);
    display: none;
    flex-direction: column;
    font-size: 0;
    min-height: 0;
    width: 100%;
}
.cookie-dialog .content-block.active {
    display: flex;
}
.cookie-dialog .scrollable-block {
    padding: 0 48px;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.cookie-dialog .step2 .scrollable-block {
    padding: 0 30px;
}

/* Bottom buttons bar */
.cookie-dialog .bottom-buttons {
    background: var(--surface-grey-1);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 24px 48px;
    position: relative;
}
.cookie-dialog .step2 .bottom-buttons {
    padding: 14px 30px;
    height: 60px;
}
.rtl .cookie-dialog .bottom-buttons .right {
    float: left;
}
.rtl .cookie-dialog .bottom-buttons .left {
    float: right;
}
.cookie-dialog .bottom-buttons button {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
}
.cookie-dialog .bottom-buttons button.left {
    margin: 0;
    -webkit-margin-end: 8px;
    margin-inline-end: 8px;
}

/* Cookies banner */
.mega-banner-template.cookie-banner .content {
    min-height: 72px;
}

/* Step 1. Common info */
.cookie-dialog .scrollable-block.big-pad {
    padding: 62px 50px;
}
.cookie-dialog .cookie-icon {
    margin: 0 auto;
    width: 120px;
    --width: 120px;
    height: 120px;
}
.cookie-dialog .header {
    font: var(--text-h2);
    color: var(--text-color-high);
    padding: 24px 0 0 0;
}
.cookie-dialog .common-info {
    font: var(--text-body1);
    color: var(--text-color-medium);
    padding: 30px 0 0 0;
}
.cookie-dialog a.green,
.cookie-dialog a.green:visited {
    color: var(--text-color-success);
    overflow-wrap: break-word;
}

/* Step 2. Cookie Settings */
.cookie-dialog .header.medium {
    font: var(--text-h2);
    padding: 12px 0;
}
.cookie-dialog .step2 .header.medium {
    font: var(--text-h3);
    padding: 29px 0 0 0;
}
.cookie-dialog .settings-tip {
    color: var(--text-color-low);
    display: none;
    font-size: 13px;
    line-height: 20px;
    padding: 0 24px;
    margin: -22px auto 10px auto;
    max-width: 478px;
}
.cookie-dialog .step2 .settings-tip {
    margin-top: 7px;
}
.cookie-dialog .settings {
    border-collapse: collapse;
    display: table;
    width: 100%;
}
.cookie-dialog .settings-row {
    display: table-row;
    border-top: 1px solid var(--stroke-grey-2);
}
.cookie-dialog .settings-row.hidden {
    display: none;
}
.cookie-dialog .settings-row:first-child {
    border: 0;
}
.cookie-dialog .settings-cell {
    display: table-cell;
    line-height: 0;
    padding: 12px 0;
}
.cookie-dialog .settings-cell:first-child {
    text-align: start;
    vertical-align: bottom;
}
.cookie-dialog .settings-cell.saved {
    background: var(--surface-grey-1);
    display: none;
}
.cookie-dialog .settings-header {
    color: var(--text-color-high);
    font-family: var(--text-font-family-semibold);
    font-size: 15px;
    line-height: 22px;
}
.cookie-dialog .settings-text {
    color: var(--text-color-low);
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0 0 0;
}
.cookie-dialog .settings-cell a,
.cookie-dialog .settings-cell a:active {
    color: var(--text-color-low);
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    margin: 4px 0;
    text-decoration: underline;
}
.cookie-dialog .settings-cell a:visited {
    color: var(--text-color-low);
}
.cookie-dialog .toggle-header {
    color: var(--text-color-high);
    display: none;
    font-size: 14px;
    font-family: var(--text-font-family-semibold);
    line-height: 17px;
    min-width: 82px;
    padding: 2px 10px 10px;
}
.rtl .cookie-dialog .mega-switch,
.cookie-dialog .mega-switch {
    float: none;
}
.cookie-dialog .mega-switch.disabled {
    opacity: 0.5;
    cursor: default;
}
.cookie-dialog .settings-links {
    margin: 10px 0 48px 0;
}
.cookie-dialog a.settings-link {
    color: var(--text-color-medium);
    margin: 10px 0 0;
    -webkit-margin-end: 25px;
    margin-inline-end: 25px;
    font-family: var(--text-font-family-semibold);
}
.cookie-dialog a.settings-link:visited {
    color: var(--text-color-medium);
}
.cookie-dialog a.settings-link:active,
.cookie-dialog a.settings-link:visited {
    margin-right: 25px;
}
.cookie-dialog a.settings-link:last-child {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}
.cookie-dialog .tabs {
    display: none;
    font-size: 0;
    padding: 5px 0 0 0;
    white-space: nowrap;
}
.cookie-dialog .settings-tab {
    color: var(--text-color-medium);
    background: var(--surface-grey-1);
    display: inline-block;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    vertical-align: top;
    width: 50%;
}
.cookie-dialog .settings-tab.active {
    border-bottom: 2px solid var(--stroke-success);
    color: var(--text-color-success);
    font-family: var(--text-font-family-semibold);
}

/* Visible Saved settings */
/* Show "Current"/"Saved" headers, Show tip about Saved settings. */
.active-saved-cookies .toggle-header,
.active-saved-cookies .settings-tip {
    display: block;
}
.active-saved-cookies .settings-cell.saved {
    display: table-cell;
}

/* Step 3. Third Party Cookies */
.cookie-dialog .info-block {
    color: var(--text-color-low);
    font-size: 14px;
    line-height: 22px;
    padding: 0 0 52px 0;
    text-align: start;
}
.cookie-dialog .header.small {
    font: var(--text-h3);
    padding: 0 0 4px 0;
}
.cookie-dialog .info-block .category {
    color: var(--text-color-medium);
    padding: 0 0 7px 0;
}
.cookie-dialog .info-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cookie-dialog .info-block li::before {
    content: '\2022';
    display: inline-block;
    vertical-align: top;
    -webkit-margin-end: 4px;
    margin-inline-end: 4px;
}

/* Mobile devices */

/* Mobile devices. Step 1. Common info  */
.mobile .cookie-dialog .scrollable-block.big-pad {
    padding: 40px 30px 20px 30px;
}

/* Mobile devices. Step 2. Cookie settings */
.mobile .cookie-dialog .scrollable-block {
    padding: 0 20px;
}
.mobile .cookie-dialog .settings-links {
    margin-bottom: 0;
}
.mobile .cookie-dialog .toggle-header {
    display: none;
}
.mobile .cookie-dialog .settings-cell.saved {
    background-color: transparent;
}
.mobile .active-saved-cookies .tabs {
    display: block;
}

/* Mobile devices. Step 3. Third Party Cookies */
.mobile .cookie-dialog .info-block {
    padding: 10px 0 28px 0;
}
.mobile .cookie-dialog .bottom-buttons.pad {
    padding-bottom: 30px;
}

/* Mobile devices. Buttons */
.mobile .cookie-dialog .bottom-buttons {
    background-color: transparent;
    box-shadow: none;
    height: auto;
    padding: 26px 16px 12px 16px;
}
.mobile .cookie-dialog .bottom-buttons .mega-button {
    margin-bottom: 8px;
    width: 100%;
}
.mobile .cookie-dialog .bottom-buttons .mega-button,
.mobile .cookie-banner .buttons .mega-button {
    background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(253 253 253) 100%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.07), inset 0 0 0 1px rgb(226 226 226);
    color: #303233;
    line-height: 24px;
    padding: 6px 8px;
    text-decoration: none;
}
.mobile .cookie-dialog .bottom-buttons .mega-button::before {
    display: none;
}
.mobile .cookie-dialog .bottom-buttons .mega-button.positive,
.mobile .cookie-banner .buttons .mega-button.positive {
    background: linear-gradient(180deg, rgb(7 190 177) 0%, rgb(0 191 165) 100%);
    box-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.11), inset 0 2px 1px 0 rgba(255 255 255 / 0.2);
    color: #FFF;
    line-height: 24px;
    padding: 6px 8px;
}
.mobile .cookie-dialog .bottom-buttons .mega-button.m-lnk {
    color: #818993;
    background: none;
    box-shadow: none;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    text-decoration: underline;
}
.mobile .cookie-dialog .bottom-buttons .mega-button.m-lnk::before {
    display: none;
}

/* Low resolution displays */

@media only screen and (max-width: 625px), screen and (max-height: 625px) {

    /* Cookie dialog. Step 1. */
    .cookie-dialog .header,
    .cookie-dialog .header.medium {
        font-family: var(--text-font-family-semibold);
        font-size: 17px;
    }
    .cookie-dialog .common-info {
        font-size: 14px;
        padding: 15px 0 0 0;
    }

    /* Cookie dialog. Step 2. Cookie settings. */
    .cookie-dialog .header.medium {
        padding: 18px 0;
    }
    .cookie-dialog .settings-tip {
        margin-top: -14px;
    }
    .cookie-dialog .settings-header {
        color: var(--text-color-high);
        font-size: 14px;
    }
    .cookie-dialog .settings-row:first-child .settings-cell {
        padding: 12px 0;
    }
    .cookie-dialog .settings-text {
        color: var(--text-color-medium);
        font-size: 13px;
        line-height: 16px;
        padding: 7px 0 0 0;
    }
    .cookie-dialog .settings-cell a,
    .cookie-dialog .settings-cell a:active {
        font-size: 13px;
        line-height: 17px;
    }

    /* Step 3. Third Party Cookies */
    .cookie-dialog .info-block {
        font-size: 12px;
        line-height: 18px;
        padding: 10px 0 52px 0;
        text-align: center;
    }
    .cookie-dialog .header.small {
        font-size: 14px;
        padding: 0 0 5px 0;
    }
    .cookie-dialog .info-block .category {
        color: var(--text-color-high);
        font-size: 13px;
        padding: 0 0 16px 0;
    }
}

/* Hover states */
@media (hover: hover) {
    .cookie-dialog a:hover,
    .cookie-banner .buttons a:hover {
        text-decoration: none;
    }
}
